<template>
  <div class="message">
    <div style='height: 0.2rem;width: 100%;'></div>
    <div class="head">
      <img class='img'
           :src="headimgurl"
           alt="">
      <p class='p'>{{nickname}}</p>
    </div>

    <div class="moddle">
      <div class='list'>
        <p>性别</p>
        <span>{{sex}}</span>
      </div>
      <div class='list'>
        <p>年龄</p>
        <span>{{age}}</span>
      </div>
      <div class='list'>
        <p>来源</p>
        <span>扫一扫</span>
      </div>
    </div>

    <div class='beizhu'>
      <input type="text"
             placeholder="填写备注信息">

    </div>

    <div class="btn"
         @click='shenqing'>
      <p style='background: url("./static/images/huangse.png")'>
        添加到通讯录
      </p>
    </div>

    <div class='tishi'
         v-show='tishi_state'>
      <div>
        <p v-html='tishi_text'></p>
        <span @click='close'>确定</span>
      </div>
    </div>
  </div>
</template>

<script>
import qs from 'qs'
import MD5 from 'js-md5'
import $ from 'jquery'
export default {
  data () {
    return {
      tishi_state: false,
      tishi_text: '',
      nickname: '举手用户',
      sex: '保密',
      age: '保密',
      headimgurl: './static/images/moren.png',
      msg: {}
    }
  },
  methods: {
    shenqing () {
      if (sessionStorage.getItem('saoma_user_id') == localStorage.getItem("userId")) {
        this.tishi_state = true;
        this.tishi_text = '您不能添加自己为好友';
        return;
      } else {
        let vm = this;
        var time = new Date().getTime();
        var obj = {
          friend_id: localStorage.getItem("userId"),
          user_id: sessionStorage.getItem('saoma_user_id'),
          head_url: sessionStorage.getItem('headimgurl'),
          friend_nick: sessionStorage.getItem('nickname'),
          stamp: time,
          sign: MD5(sessionStorage.getItem('saoma_user_id') + '' + localStorage.getItem("userId") + '' + time + '' + localStorage.getItem('oKey'))
        };
        axios.post(api + '/wxmp/info/friends/dofriendsApplyAdd', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            if (res.data.result == 1) {
              this.$router.push({ path: '/friend', query: { zhezhao: false } })
            } else if (res.data.result == 1002) {
              this.tishi_state = true;
              this.tishi_text = '你们已经是好友了';
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    close () {
      if (this.tishi_text == '你们已经是好友了') {
        this.$router.push({ path: '/friend', query: { zhezhao: false } })
      } else {
        this.tishi_state = false;
      }
    }
  },
  created () {
    this.msg = JSON.parse(sessionStorage.getItem('usermessage'));
    console.log(this.msg);
    if (sessionStorage.getItem('saoma_user_id') != null && sessionStorage.getItem('saoma_user_id') != undefined) {
      var time = new Date().getTime();
      var obj = {
        id: sessionStorage.getItem('saoma_user_id'),
        stamp: time,
        sign: MD5(sessionStorage.getItem('saoma_user_id') + '' + time + '' + localStorage.getItem('oKey'))
      };
      axios.post(api + "/wxmp/info/friends/getQrcodeinfo", qs.stringify(obj))
        .then((res) => {
          console.log(res.data.data.nick)

          if (res.data.result == 1) {
            this.nickname = res.data.data.nick;
            this.headimgurl = res.data.data.head_url;
            if (res.data.data.sex == 1) {
              this.sex = '男';
            } else if (res.data.data.sex == 2) {
              this.sex = '女';
            } else {
              this.sex = '保密';
            }
            if (res.data.data.age) {
              this.age = res.data.data.age
            }
          }
        })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  mounted () {
    document.title = '验证信息';
  }
}
</script>

<style scoped lang='scss'>
.message {
  background: #f6f6f6;
  height: 100%;
  .head {
    overflow: hidden;
    height: 1.76rem;
    background: #fff;
    margin: 0 0 0.2rem 0;
    .img {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      margin: 0.28rem;
      float: left;
    }
    .p {
      line-height: 1.76rem;
      float: left;
    }
  }
  .moddle {
    background: #fff;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
    .list {
      line-height: 0.88rem;
      border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: left;
      p {
        width: 1.4rem;
        float: left;
      }
    }
  }
  .beizhu {
    height: 1.02rem;
    background: #fff;
    padding: 0.28rem;
    input {
      width: 100%;
      border: 0;
      outline: 0;
    }
  }
  .btn {
    margin-top: 0.6rem;
    p {
      text-align: center;
      border-radius: 0.12rem;
      width: 7rem;
      line-height: 0.88rem;
      margin-left: 0.25rem;
      font-size: 0.26rem;
    }
  }
}
.tishi {
  width: 100%;
  height: 12.06rem;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  div {
    width: 70%;
    height: 3rem;
    background: #fff;
    border-radius: 0.2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    p {
      padding: 0.1rem 0 0;
      width: 5.04rem;
      height: 1.8rem;
      display: table-cell;
      vertical-align: middle;
      line-height: 0.4rem;
    }
    span {
      display: inline-block;
      width: 2rem;
      line-height: 0.6rem;
      background: #fce244;
      border-radius: 0.2rem;
    }
  }
}
</style>


