<template>
  <div class="friendWrap">
    <ul class="click_model">
      <li class="sao" @click="sao">
        <span class="icon_sao" style="background: url('./static/friend/sys.png') no-repeat center/cover;"></span>
        <p>扫一扫添加好友</p>
      </li>
      <li class="newsFriendPage" @click="getPush">
        <span class="info" style="background: url('./static/friend/xiaoxi.png') no-repeat center/cover;"></span>
        <p>新的好友</p>
        <span class="info_num" v-if="apply_num == 0?false:true">{{apply_num}}</span>
      </li>
    </ul>
    <ul class="friendList">
      <li v-if="nf_flag" class="lis_bg">
        <div
          style="background: url('./static/friend/f_bg.png') no-repeat center/cover;width: 5.76rem;height:2.7rem;margin: auto;"></div>
        <p>您还没有好友哦～赶紧扫码添加好友吧</p>
      </li>
      <li v-for="(item,index) in firendList" :key="index" v-else class="lis">
        <div class="userImg" :style="{'background':'url('+item.head_url+') no-repeat center/cover'}"></div>
        <span class="userName">{{item.friend_nick}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'
  export default {
    name: "friend",
    created() {
      this.getFriendList(this.pageNum);
      this.getPassList();
    },
    mounted() {
      document.title = "我的好友";
      document.getElementsByClassName('friendList')[0].addEventListener('scroll', this.scroll_load);
    },
    data() {
      return {
        nf_flag: false,
        apply_num: '',
        firendList: [
        ],
        pageNum: 1,
        friend_num:0,
        can_award_num:0
      }
    },
    methods: {
      //微信扫一扫
      sao(){
        wx.scanQRCode({
            needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType : ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success : function(res) {
                alert(JSON.stringify(res));
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
            },
            error : function(err){
               if(err.errMsg.indexOf('function_not_exist') > 0){
              alert('版本过低请升级')
            }
            }
        });
      },
      //跳转申请列表
      getPush() {
        this.$router.push({path: '/news_friend'});
      },
      //获取好友列表
      getFriendList(pageNum) {
        let that = this;
        let times = Date.now();
        let obj = {
          user_id: localStorage.getItem("userId"),
          pageNum: pageNum,
          pageSize: 10,
          stamp: times,
          sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/friends/dogetfriendsList', qs.stringify(obj))
          .then(res => {
            console.log(res);
            if (res.data.result == 1) {
              if (res.data.dataNum == 0) {
                that.firendList = [];
                that.nf_flag = true
              }else{
                that.firendList = res.data.dataList;
              }
            }else{
              that.firendList = [];
                that.nf_flag = true
            }
          })
          .catch(error => {
            console.log(error);
          });
      },
      //获取申请好友消息数量
      getPassList() {
        let that = this;
        let times = Date.now();
        let obj = {
          user_id: localStorage.getItem("userId"),
          stamp: times,
          sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/friends/dogetfriendsApplyList', qs.stringify(obj))
          .then(res => {
            console.log(res);
            if (res.data.result == 1) {
              if (res.data.dataNum == 0) {
                that.apply_num = res.data.dataNum;
              } else {
                that.apply_num = res.data.dataList.filter(ele => ele.flag == 0).length;
              }
            } else {

            }
          })
          .catch(error => {
            console.log(error);
          });
      },
      //滚动加载更多列表
      scroll_load() {
        // console.log(document.getElementsByClassName('friendList')[0].scrollTop);
        if (document.getElementsByClassName('friendList')[0].scrollTop > 100 + 355 * (this.pageNum - 1)) {
          this.pageNum++;
          // console.log('触发了' + this.pageNum);
          this.getFriendList(this.pageNum);
        }
      },
    }
  }
</script>

<style scoped lang="scss">
  .friendWrap {
    width: 100%;
    height: 100%;
  }

  .click_model {
    background-color: #f7f7f7;
    padding-bottom: .2rem;
    li {
      height: .9rem;
      background: #fff;
      display: flex;
      align-items: center;
      padding-left: .52rem;
      box-sizing: border-box;
      border-top: 1px solid #f3f3f3;
      position: relative;
      .icon_sao, .info {
        display: block;
        width: .44rem;
        height: .44rem;
        margin-right: .56rem;
      }
      .info_num {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: .38rem;
        width: .36rem;
        height: .36rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e11717;
        font-size: 0.26rem;
        color: #ffffff;
        border-radius: 50%;
      }
    }
  }

  .friendList {
    height: calc(100% - 3.2rem);
    overflow-y: scroll;
    background: #ffffff;
    .lis {
      width: 100%;
      height: 1.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: PingFangSC-Regular;
      font-size: 0.28rem;
      color: #333333;
      padding-left: .33rem;
      box-sizing: border-box;
      border-bottom: 1px solid #f3f3f3;
      position: relative;
      .userImg {
        width: .91rem;
        height: .91rem;
        margin-right: .27rem;
        border-radius: 50%;
      }
      .info_nums {
        font-size: 0.2rem;
        color: #ffffff;
        width: 0.26rem;
        height: 0.26rem;
        background-color: #e11717;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: .12rem;
        left: .91rem;
        border-radius: 50%;
      }
      .userName {
        width: 4.18rem;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }
    }
    .lis_bg {
      width: 100%;
      height: 100%;
      padding-top: 1.32rem;
      box-sizing: border-box;
      p {
        color: #666666;
        text-align: center;
        margin-top: .98rem;
        font-size: .28rem;
      }
    }

  }
</style>
