<template>
    <div>

    </div>
</template>

<script>
    import { Base64 } from "js-base64";
    import qs from 'qs'
    import MD5 from 'js-md5'
    import $ from 'jquery'
    export default {
        data(){
            return {

            }
        },
        methods:{
            get_okey(){
                var time = new Date().getTime();
                var _this = this;
                var obj = {
                    src: 'jushou',
                    stamp: time
                };
                axios.post(api+'/getOpenIDKey',qs.stringify(obj))
                    .then(function(res){
                        console.log('获取opendi等信息')
                        console.log(res)
                        let okey_length = res.data.okey_length;
                        let okey = Base64.decode(res.data.okey).trim().substr(0,okey_length);
                        //okey 解码后多一个空格
                        localStorage.setItem("oKey", okey);
                        localStorage.setItem('wx',res.data.okey.wx);
                        return ;
                    })
                    .then( ()=>{
                        console.log(window.location.href);
                        window.location.href = '/api/toUserInfo.jsp?state=frdMsg&backurl=/wxmp/index.html';
                        // window.location.href = '/wxpm/index.html#/redirect?state=frdMsg'
                        // this.$router.push({path:'/redirect',query:{state:"frdMsg"}});
                    })
                    .catch(function(error){
                        console.log(error)
                    })
            }
        },
        created(){
            var address = window.location.href.split('?')[1];
            //alert(address.split("=")[1])
            
            if(address.split("=")[1]){
                sessionStorage.setItem('saoma_user_id',address.split("=")[1])
                
                this.get_okey();
                
            } else {

            }
        }
    }
</script>