<template>
    <div>

    </div>
</template>

<script>
    // import { Base64 } from "js-base64";
    import qs from 'qs'
    import MD5 from 'js-md5'
    import $ from 'jquery'
    export default {
        data(){
            return{
                nickname: '',
            }
        },
        methods:{
            get_erweima(){
                var time = new Date().getTime();
                var obj = {
                    open_id: localStorage.getItem('open_id'),
                    stamp: time,
                    sign: MD5(localStorage.getItem('open_id')+''+time+''+sessionStorage.getItem('Key'))
                };
                axios.post(host.api+'/wxmp/info/friends/getQrcode',qs.stringify(obj))
                    .then( (res)=>{
                        console.log(res)
                        if(res.data.result == 1){
                            
                        }
                    })
            }
        },
        created(){
            var time = new Date().getTime();
            var obj = {
                open_id: localStorage.getItem('open_id'),
                stamp: time,
                sign: MD5(localStorage.getItem('open_id')+''+time+''+localStorage.getItem('oKey'))
            };
            axios.post(host.api+"/wxmp/info/friends/getQrcodeinfo",qs.stringify(obj))
                .then( (res)=>{
                    
                    if(res.data.result == 1){
                        this.nickname = res.data.data.nick;
                        this.headimgurl = res.data.data.head_url;
                        if(res.data.data.sex == 1){
                            this.sex = '男';
                        } else if(res.data.data.sex == 2){
                            this.sex = '女';
                        } else {
                            this.sex = '保密';
                        }
                        if(res.data.data.age){
                            this.age = res.data.data.age
                        }
                    }
                })
                .catch( (error)=>{
                    console.log(error)
                })
        }
    }
</script>
