<template>
  <div class="new_friend_wrap">
    <ul class="friend_list" v-if="!nf_flag">
      <li v-for="(item,index) in friend_list" :key="index">
        <div class="userImg" :style="{'background':'url('+item.head_url+') no-repeat center/cover'}"></div>
        <span class="info_nums" v-show="item.flag == 0?true:false">1</span>
        <span class="userName">{{item.friend_nick}}</span>
        <div class="pass" @click="passValidation(item.id,index)" v-if="item.flag == 0 ? true:false">通过验证</div>
        <div class="added" v-if="item.flag == 1 ? true:false">已添加</div>
      </li>
    </ul>
    <div class="bgs" v-else>
      <div class="bg_img" style="background: url('./static/friend/nf.png') no-repeat center/cover"></div>
      <p>您还没有新的好友请求哦～</p>
    </div>
  </div>
</template>

<script>
import qs from "qs";
import MD5 from "js-md5";

export default {
  name: "news_friend",
  created() {
    this.getPassList();
  },
  mounted() {
    document.title = "新的朋友";
  },
  data() {
    return {
      nf_flag: false,
      friend_list: [],
      applyList: []
    };
  },
  methods: {
    //通过验证
    passValidation(id, index) {
      let that = this;
      let times = Date.now();
      let obj = {
        id: id,
        flag: 1,
        stamp: times,
        sign: MD5(id + "" + times + "" + localStorage.getItem("Key"))
      };
      axios
        .post(
          api + "/wxmp/info/friends/dopastuserfriendsApply",
          qs.stringify(obj)
        )
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            that.friend_list[index].flag = 1;
          }
        })
        .catch(error => {
          console.log(error);
        });
      console.log(id);
    },
    //获取申请好友消息列表
    getPassList() {
      let that = this;
      let times = Date.now();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: times,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            times +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(
          api + "/wxmp/info/friends/dogetfriendsApplyList",
          qs.stringify(obj)
        )
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.dataNum == 0) {
              that.nf_flag = true;
              that.applyList = res.data.dataNum;
            } else {
              that.friend_list = res.data.dataList;
            }
          } else {
            that.nf_flag = true;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped lang="scss">
.new_friend_wrap {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.friend_list {
  li {
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #333333;
    padding-left: 0.33rem;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    .userImg {
      width: 0.91rem;
      height: 0.91rem;
      margin-right: 0.27rem;
      border-radius: 50%;
    }
    .info_nums {
      font-size: 0.2rem;
      color: #ffffff;
      width: 0.26rem;
      height: 0.26rem;
      background-color: #e11717;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0.12rem;
      left: 0.91rem;
      border-radius: 50%;
    }
    .userName {
      width: 4.18rem;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }
    .pass {
      font-size: 0.26rem;
      line-height: 0.55rem;
      color: #fff;
      padding: 0 0.14rem;
      box-sizing: border-box;
      width: 1.36rem;
      height: 0.55rem;
      background-color: #e8a81e;
      border-radius: 0.1rem;
      position: absolute;
      right: 0.2rem;
      top: 50%;
      transform: translateY(-50%);
    }
    .added {
      position: absolute;
      right: 0.2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.36rem;
      font-family: PingFangSC-Regular;
      font-size: 0.26rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.34rem;
      letter-spacing: 0.01rem;
      color: #999999;
    }
  }
}
.bgs {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  padding-top: 1.84rem;
  box-sizing: border-box;
  .bg_img {
    width: 4.04rem;
    height: 3.14rem;
    margin: auto;
  }
  p {
    color: #666666;
    font-size: 0.32rem;
    text-align: center;
    margin-top: 0.86rem;
  }
}
</style>
