<template>
    <div class="erweima">
        <div class='content'>
            <div class="head">
                <img class='img' :src="img_herder" alt="">
                <p class='p'>{{nick}}</p>
            </div>

            <div class='ma'>
                <img :src="img_erweima" alt="">
                <p class='text' style='line-height: 0.6rem;'>扫一扫二维码，加我为好友</p>
            </div>
        </div>
    </div>
</template>
<script>
import qs from 'qs'
import MD5 from 'js-md5'
import $ from 'jquery'
export default {
    data(){
        return{
            open_id: '',
            img_erweima: '',
            img_herder: './static/images/moren.png',
            nick: '古怪小魔',
            new_query:''
        }
    },
    methods:{
        get_xinxi(){
            var time = new Date().getTime();
            var obj = {
                id: this.open_id,
                stamp: time,
                sign: MD5(this.open_id+''+time+''+localStorage.getItem('oKey'))
            };
            axios.post(host.api+"/wxmp/info/friends/getQrcodeinfo",qs.stringify(obj))
                .then( (res)=>{
                    
                    if(res.data.result == 1){
                        this.nick = res.data.data.nick;
                        this.img_herder = res.data.data.head_url;
                        
                        if(res.data.data.qrcode_url != ''){
                            this.img_erweima = res.data.data.qrcode_url;
                        }
                    }
                })
                .catch( (error)=>{
                    console.log(error)
                })
        }
    },
    created(){
        console.log('aaaaaaaaaaaaaaaaaaaaaaa');
        //获取分享人的openId
        /* 处理微信分享链接 在index.html拼接?from=singlemessage 等标示 */
        var address = '';
        if((/(\?from=singlemessage)|(\?from=timeline)|(\?from=groupmessage)/g).test(window.location.href)){
            address = window.location.href.replace(/(\?from=singlemessage)|(\?from=timeline)|(\?from=groupmessage)/g,'');
            // location.href = address;
        }else{
            address = window.location.href;
        }
        this.open_id = address.split('?')[1].split('=')[1];
        console.log(this.open_id);
    },
    mounted(){
        
    }
}
</script>

<style scoped lang='scss'>
    .erweima{
        position:relative;
        width: 100%; height: 100%; background: rgba(0,0,0,0.8);
        .content{
            position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
            width: 6rem; height: 7.24rem; background: #fff; border-radius: 0.2rem; padding-top: 0.12rem;
            .head{
                overflow: hidden;
                height: 1.4rem;
                background: #fff;
                margin:0 0 0.2rem 0;
                .img{
                    width: 1.2rem; height: 1.2rem; border-radius: 50%;  margin: 0.1rem 0.28rem;
                    float: left;
                }
                .p{
                    line-height: 1.4rem; float: left;
                }
            }
            .ma{
                img{
                    width: 4rem; height: 4rem;
                }
            }
        }
    }
</style>


