<template>
  <div class="wrap">
    <div class="bg"></div>
    <div class="error"
         v-if="error==0">
      <img src="@/../public/static/active314/cancel_fail.png"
           alt
           style="width:2.73rem">
      <p>您不是核销人员！</p>
      <div class="btn"
           @click="close">关闭</div>
    </div>
    <div class="dialog"
         v-if="error==1">
      <div class="chose">请选择钢索</div>
      <div class="list"
           v-for="(etim,index) in  tag_list"
           :key="index"
           @click="choice_result(etim)">{{etim}}</div>
    </div>
    <div class="dialog"
         v-if="error==2">
      <div class="chose"
           style="font-size:0.6rem">您选择的是{{cut_num}}</div>
      <div class="list"
           v-if="is_check==1"
           @click="is_check=2">确认已断</div>
      <div class="list"
           v-if="is_check==2"
           @click="sure_again">再次确认已断</div>
    </div>
    <div class="dialog"
         v-if="error==3">
      <div class="chose"
           style="font-size:0.6rem">{{msg}}</div>

      <div class="list"
           @click="error=1">返回首页</div>
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";

Vue.use(Toast);
export default {
  name: "cancel",
  data () {
    return {
      is_check: 1,

      error: 10,
      check_id: '',
      cut_num: "",
      tag_list: [],
      msg: ""
    };
  },
  created () {
    this.checkReg();
    this.cut_sort();
  },
  methods: {
    //二次确认请求接口
    sure_again () {
      var sort = ''
      if (this.cut_num == 'A钢索') {
        sort = 1
      } else if (this.cut_num == 'B钢索') {
        sort = 2
      } else if (this.cut_num == 'C钢索') {
        sort = 3
      } else if (this.cut_num == 'D钢索') {
        sort = 4
      } else if (this.cut_num == 'E钢索') {
        sort = 5
      }
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        sort: sort,
        check_id: this.check_id,
        stamp: time,
        sign: MD5("drf520" + sort + this.check_id + time + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/car/confirmCut", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.cut_sort();
            this.error = 3;
            this.msg = res.data.msg;
          }
        })
        .catch(function (err) { });
    },
    //第一次确认
    choice_result (index) {
      this.cut_num = index;
      this.error = 2;
    },
    //获取已断钢缆
    cut_sort () {
      this.tag_list = [];
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        stamp: time,
        sign: MD5("drf520" + time + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/user/game/cut/getCutDeviceList", qs.stringify(obj))
        .then(res => {
          let cut_arr = [];
          if (res.data.result == 1) {
            for (let i = 0; i < res.data.dataList.length; i++) {
              if (res.data.dataList[i].end_flag == 0) {
                if (i == 0) {
                  cut_arr.push("A钢索");
                } else if (i == 1) {
                  cut_arr.push("B钢索");
                } else if (i == 2) {
                  cut_arr.push("C钢索");
                } else if (i == 3) {
                  cut_arr.push("D钢索");
                } else if (i == 4) {
                  cut_arr.push("E钢索");
                }
              }
            }

            this.tag_list = cut_arr;
          }
        })
        .catch(function (err) { });
    },
    //判断是否为核销员
    checkReg () {
      let time = new Date().getTime();
      let obj = {
        checker_open_id: localStorage.getItem("open_id"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("open_id") + time + localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/wxmp/user/game/checker/getsearch", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 0) {
            //未注册
            this.error = 0;
            Toast(res.data.msg);
          } else if (res.data.result == 1) {
            //已注册
            this.check_id = res.data.data.id;
            this.error = 1;
          } else if (res.data.result == 5001) {
            this.error = 0;
            Toast("核销员信息错误");
          }
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    close () {
      WeixinJSBridge.call("closeWindow");
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgba(34, 34, 34, 1);

  .dialog {
    width: 100%;
    height: 90%;
    background: #fff;
    font-size: 0.34rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .chose {
      width: 100%;
      text-align: center;
    }
    .list {
      width: 80%;
      height: 1rem;
      line-height: 1rem;
      border-radius: 0.16rem;
      background: #ff6100;
      color: #fff;
      text-align: center;
    }
  }
  .error {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    img {
      width: 2.73rem;
      display: block;
      margin: 2.1rem auto 0.78rem;
    }
    p {
      font-size: 0.4rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 0.56rem;
    }
    .btn {
      width: 6.2rem;
      height: 0.94rem;
      background: rgba(248, 248, 248, 1);
      border-radius: 0.1rem;
      border: 0.02rem solid rgba(5, 5, 5, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3.3rem auto 0;
      font-size: 0.36rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }
  }
}
</style>