<template>
	<div class="lottery_Bg" :style="'background:url('+bg+') no-repeat center/cover;'">
		<div class="sub_skip" @click="sub_skip"></div>
	</div>
</template>

<script>
import qs from 'qs'
import MD5 from 'js-md5'
  export default {
  	name: "lottery_start",
    data() {
      return {
        award_id:2,
        title:"",
        msg:"",
        bg:'./static/images/start.jpg'
      }
    },
    methods: {
      //点击隐藏按钮提交抽奖并跳转
      sub_skip() {
       var times = Date.now();
        var obj = {
          user_id: localStorage.getItem("userId"),
          award_id: this.award_id,
          type: 2,
          stamp: times,
          sign: MD5(this.award_id + '' + localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('oKey'))
        };
        axios.post(api + '/wxmp/log/award/addredAwardRecord', qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
//            this.list = res.data.dataList[0];
              this.title = res.data.data.prize_value+"积分";
              this.$router.push({path:'/lottery_result',query:{Award:this.title,msg:"恭喜你获得",isOk:1}})
              //document.title = this.title;
            }else {
              this.$router.push({path:'/lottery_result',query:{Award:this.title,msg:"很遗憾！未中奖",isOk:0}})
            }


          })
          .catch(error => {
            console.log(error);
          })
      }
    },
    created() {
  	  // this.award_id = this.$route.query.award_id;
    },
    mounted(){
        document.title = '拆红包 赢奖品';

    }
  }
</script>

<style scoped lang="scss">
	.lottery_Bg{
		width: 100%;
		height: 15.8rem;

		overflow: auto;
		position: relative;
		.sub_skip{
			position: absolute;
			top: 7.6rem;
			left: 2.22rem;
			width: 3.04rem;
			height:0.8rem;
		}
	}
</style>
