<template>
  <div id="category">
    <van-search v-model="SearchValue"
                placeholder="请输入商品关键词"
                @search="onSearch"
                shape="round" />

    <div class="tabsbox">
      <van-tabs v-model="active"
                @click="onClick"
                sticky>
        <van-tab v-for="v in titleList"
                 :key="v.id"
                 :title="v.classname">
          <van-list v-model="loading"
                    :finished="finished"
                    @load="onLoad"
                    :immediate-check='false'>
            <good-list :data="GOOD_LIST"
                       v-if="GOOD_LIST_SHOW" />
          </van-list>
        </van-tab>
      </van-tabs>
    </div>
    <tabbar></tabbar>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from 'vue'
import { Tab, Tabs } from 'vant';
import { List } from 'vant';
import { Search } from 'vant';
Vue.use(List)
  .use(Tab)
  .use(Search)
  .use(Tabs);

import Tabbar from "../TabBar.vue";
import GoodList from '../../components/list'
export default {
  name: 'category',
  data () {
    return {
      GOOD_LIST: [],
      GOOD_LIST_SHOW: false,
      list: [],
      loading: false,
      finished: false,
      active: 0,
      pageNum: 1,
      pageSize: 10,
      pageCount: 3,
      SearchValue: '',
      titleList: [
        // {classname:'今日购',id:10058},
        { classname: '一周热销', id: 1 },
        { classname: '本月热销', id: 2 },
      ]
    }
  },
  created () {
    if (sessionStorage.getItem('activeIndex')) {
      this.active = sessionStorage.getItem('activeIndex');
    } else if (this.$route.query.active) {
      this.active = this.$route.query.active;
    }
    // this.GET_CONFIG_GOOD_CLASS();
    this.GET_GOOD_LIST(this.active);
  },
  mounted () {
    document.title = "排行榜";
  },
  methods: {
    /* 滚动加载List */
    onLoad () {
      // 异步更新数据
      if (this.loading) {

        setTimeout(() => {
          // 加载状态结束
          this.loading = false;
          this.pageNum++;
          // 数据全部加载完成
          if (this.pageNum <= this.pageCount) {
            this.GET_GOOD_LIST(this.active);
          } else {
            this.finished = true;
          }

        }, 1000);
      }



    },
    /* tab 点击 */
    onClick (name, title) {
      this.GOOD_LIST = [];
      this.GOOD_LIST_SHOW = false;
      this.pageNum = 1;
      this.pageCount = 3;
      this.finished = false;
      this.GET_GOOD_LIST(this.active);
    },
    /* 获取class列表 */
    GET_GOOD_CLASS (id) {
      console.log(id);
      const time = new Date().getTime();
      const obj = {
        id,
        goods_type: -1,
        pageNum: 1,
        pageSize: 20,
        stamp: time,
        sign: MD5(id + '1' + '20' + time + '' + localStorage.getItem('oKey'))
      };
      axios
        .post(
          api + "/wxmp/info/goods/doGoodsClasslist",
          qs.stringify(obj)
        )
        .then(res => {
          console.log(res.data.result + ' --- doGoodsClasslist');
          if (res.data.result == 1) {
            this.titleList = res.data.dataList.length ? res.data.dataList : this.titleList;
            this.GET_GOOD_LIST(this.active)
          }
        })
    },
    /* 获取class配置 */
    GET_CONFIG_GOOD_CLASS () {
      axios
        .get(
          "./class.json"
        )
        .then(res => {
          if (window.location.href.includes('js')) {
            this.GET_GOOD_CLASS(res.data.js.limited_id);
          } else if (window.location.href.includes('vote')) {
            this.GET_GOOD_CLASS(res.data.vote.limited_id);
          } else if (window.location.href.includes('192')) {
            this.GET_GOOD_CLASS(res.data.vote.limited_id);
          }

        })
    },
    /* 获取商品LIST */
    GET_GOOD_LIST (CLASS_ID) {
      const time = new Date().getTime();
      // CLASS_ID = 1 热销 2 推荐
      const axiosurl = CLASS_ID == 0 ? api + '/wxmp/info/goods/doGoodsClassHotAPIInfolist' : api + '/wxmp/info/goods/doGoodsClassRecommendAPIInfolist';
      const obj = {
        class_id: '-1',
        sortord: 0,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5('-1' + "" + this.pageNum + this.pageSize + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post(
          axiosurl,
          qs.stringify(obj)
        )
        .then(res => {
          // 加载状态结束
          if (this.pageNum == 1) {
            this.GOOD_LIST_SHOW = true;
          }
          this.loading = false;
          if (res.data.result == 1) {
            if (res.data.dataNum) {
              this.pageCount = res.data.pageCount;
              this.GOOD_LIST.push(...res.data.dataList);
            } else {
              this.finished = true;
            }
          } else {
            this.finished = true;
          }
        })
    },
    /* 查询 */
    onSearch () {
      console.log('search');

      sessionStorage.setItem('search', this.SearchValue);
      this.$router.push({ path: "/search" });
    }
  },
  components: {
    GoodList,
    Tabbar
  }
}
</script>
<style scoped lang="scss">
#category {
  width: 100%;
  height: 100%;
  background: #efefef;
  overflow-y: auto;
  /deep/ .van-tab__pane,
  .van-tab__pane-wrapper {
    height: 100%;
    padding-top: 0.1rem;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  /deep/ .van-hairline--top-bottom::after,
  .van-hairline-unset--top-bottom::after {
    border: none;
  }
  /deep/ .van-search {
    background: #fff !important;
  }
  .search {
    border-radius: 0.68rem;
    overflow: hidden;
    padding: 0.2rem 0.32rem 0.2rem;
    input {
      width: 100%;
      height: 0.62rem;
      background: #fff;
      padding-left: 0.2rem;
      font-size: 0.3rem;
      box-sizing: border-box;
      border-radius: 0.68rem;
    }
  }
  .tabsbox {
    height: calc(100% - 2.3rem);
    margin-top: 0.1rem;
  }
}

#category {
  /deep/.van-tabs__nav {
    background: #fff !important;
  }
  /deep/.van-ellipsis {
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333;
  }
  /deep/.van-tabs__line {
    bottom: 14px;
    background-color: #ffda00;
  }
  /deep/.van-tabs__wrap {
    height: auto;
    padding: 0 0.3rem 0;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
  }
  /deep/.van-tabs__content {
    height: calc(100% - 1.02rem);
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    box-sizing: border-box;
  }
  /deep/.van-tabs {
    height: 100%;
  }
  /deep/.van-tabs__nav--line {
    padding-bottom: 0.2rem;
  }
}
input::-ms-input-placeholder {
  text-align: center;
}
input::-webkit-input-placeholder {
  text-align: center;
}
</style>