<template>
  <div class="search_wrap">
    <!-- Search Box -->
    <van-search v-model="SearchValue"
                placeholder="请输入商品关键词"
                @search="onSearch"
                background="#fff"
                shape="round" />
    <div class="weekSale">
      <List :data="goods" />
    </div>
    <!-- <div v-if="noList" style="background:url('./static/goods/goods_no.png') no-repeat center;background-size:4.38rem 3.68rem;width:100%;height:calc(100% - .9rem);"></div> -->
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import List from '../../components/list'
import { Search } from "vant";
Vue.use(Search);
export default {
  name: "search",
  components: {
    List
  },
  data () {
    return {
      SearchValue: "",
      goods: [],
      noList: false
    };
  },
  created () {
    this.SearchValue = sessionStorage.getItem('search');
    this.Search();
  },
  mounted () {
    document.title = "搜索商品";
  },
  destroyed () {
    /* 组件销毁时将 session缓存search字段置空 */
    sessionStorage.setItem('search', '');
  },
  methods: {
    onSearch () {
      /* 搜索商品接口 */
      var time = new Date().getTime();
      var obj = {
        search_name: this.SearchValue,
        pageNum: 1,
        pageSize: 100,
        stamp: time,
        sign: MD5(this.SearchValue + "1" + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post("/api/wxmp/info/goods/getFuzzyGoodsWithoutCMCCList", qs.stringify(obj))
        .then(res => {
          console.log(res.data.result)
          if (res.data.result == 1) {
            if (res.data.dataNum > 0) {
              this.noList = false;
              this.goods = res.data.dataList;
              sessionStorage.setItem('search', this.SearchValue);
            } else {
              this.noList = true;
              this.goods = [];
            }
          }
        })
        .catch(err => { });
    },
    Search () {
      /* 搜索商品接口 加载组件时由于vant组件中的onsearch方法不可调用 故调用此方法 */
      if (this.SearchValue) {
        var time = new Date().getTime();
        var obj = {
          search_name: this.SearchValue,
          pageNum: 1,
          pageSize: 100,
          stamp: time,
          sign: MD5(this.SearchValue + "1" + time + "" + localStorage.getItem("oKey"))
        };
        axios
          .post("/api/wxmp/info/goods/getFuzzyGoodsWithoutCMCCList", qs.stringify(obj))
          .then(res => {
            console.log(res);
            if (res.data.result == 1) {
              if (res.data.dataNum > 0) {
                this.noList = false;
                this.goods = res.data.dataList;
              } else {
                this.noList = true;
                this.goods = [];
              }
              console.log(this.goods);
            }
          })
          .catch(err => { });
      }

    },
    goodSkip (id) {
      this.$router.push({ path: "/shop_details", query: { id: id, aid: -1 } });
    }
  }
};
</script>

<style lang="scss" scoped>
.search_wrap {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  padding-top: 1rem;
  box-sizing: border-box;
  /* Search Box */
  /deep/ .van-search {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .weekSale {
    height: 100%;
    padding: 0.2rem 0 0.32rem;
    overflow-y: scroll;
    box-sizing: border-box;
    // border-top: 0.01rem solid #e0e0e0;
    // border-bottom: 0.01rem solid #e0e0e0;
    .Sale_title {
      margin-bottom: 0.32rem;
      width: 100%;
      height: 0.5rem;
      text-align: left;
      font-size: 0.36rem;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      color: rgba(34, 34, 34, 1);
      line-height: 0.5rem;
    }
    .weekList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      li {
        width: 3.28rem;
        text-align: left;
        margin-bottom: 0.32rem;
        img {
          width: 100%;
          margin-bottom: 0.1rem;
        }
        h6 {
          height: 0.76rem;
          font-size: 0.28rem;
          font-family: PingFangSC-Medium;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        p {
          height: 0.42rem;
          font-size: 0.26rem;
          font-family: PingFangSC-Medium;
          font-weight: 600;
          color: rgba(254, 56, 36, 1);
          line-height: 0.42rem;
        }
      }
    }
  }
}
</style>
