<!--
 * @Author: your name
 * @Date: 2019-11-18 17:35:52
 * @LastEditTime: 2020-05-28 18:10:58
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \hand-up-3.0\src\views\goods\special_area.vue
 -->
<template>
  <div id="special_area">
    <van-swipe :autoplay="5000"
               indicator-color="white">
      <van-swipe-item v-for="v in list"
                      :key="v.id">
        <img :src="v.adv_pic"
             @click="skip(v.adv_url,v.url_type,v.end_time)" />
      </van-swipe-item>
    </van-swipe>
    <div class="contentlist">
      <good-list :data="GOOD_LIST"
                 v-if="GOOD_LIST_SHOW" />
    </div>
    <tabbar></tabbar>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import GoodList from "../../components/list.vue";
import Tabbar from "../TabBar.vue";


import Vue from 'vue';
import { Swipe, SwipeItem } from 'vant';
import { Toast } from 'vant';
Vue.use(Swipe)
  .use(Toast)
  .use(SwipeItem);

export default {
  data () {
    return {
      GOOD_LIST: [],
      GOOD_LIST_SHOW: false,
      list: []
    }
  },
  components: {
    GoodList, Tabbar
  },
  created () {
    if (this.$route.query.class_id) {
      this.GET_GOOD_LIST(this.$route.query.class_id)
    } else {
      this.GET_GOOD_LIST(10055)
    }
    this.SpringSale(this.$route.query.adv_id);
  },
  mounted () {
    document.title = '专区'
  },
  methods: {
    /* 获取商品LIST */
    GET_GOOD_LIST (CLASS_ID) {
      const time = new Date().getTime();
      const obj = {
        class_id: CLASS_ID,
        sortord: 0,
        pageNum: 1,
        pageSize: 100,
        stamp: time,
        sign: MD5(CLASS_ID + "" + 1 + 100 + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post(
          api + "/wxmp/info/goods/doGoodsClassAPIInfolist",
          qs.stringify(obj)
        )
        .then(res => {
          // 加载状态结束
          this.loading = false;
          if (res.data.result == 1) {
            this.GOOD_LIST_SHOW = true;
            if (res.data.dataNum) {
              this.pageCount = res.data.pageCount;
              this.GOOD_LIST.push(...res.data.dataList);
            } else {
              this.finished = true;
            }
          } else {
            this.finished = true;
          }
        })
    },
    SpringSale (index = 5) {
      const time = new Date().getTime();
      let adv_sign = sessionStorage.getItem('advSign') ? sessionStorage.getItem('advSign') : '5'
      const obj = {
        adv_type: index,
        adv_sign,
        adv_state: 1,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(index + "" + "1" + "1" + "10" + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post(
          api + "/wxmp/advertise/advertiseGeneral/doAdvertiseGeneralList",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataNum) {
              this.list = res.data.dataList;
            }

          } else {
            console.log(res.msg)
          }
        })
        .catch(error => {
          if (index == 11) {
            //特价广告  限时特惠
            this.SpringSaleData = localStorage.getItem('SpringSaleData') ? JSON.parse(localStorage.getItem('SpringSaleData')) : this.SpringSale(index);
            this.countDownTime();
          } else if (index == 12) {
            //首页活动  星座 心理测试
            this.horoscopeData = localStorage.getItem('horoscopeData') ? JSON.parse(localStorage.getItem('horoscopeData')) : this.SpringSale(index);
          } else if (index == 13) {
            //举手头条
            this.notice = localStorage.getItem('notice') ? JSON.parse(localStorage.getItem('notice')) : this.SpringSale(index);
          } else if (index == 14) {
            //底部广告
            this.adv_bottom = localStorage.getItem('adv_bottom') ? JSON.parse(localStorage.getItem('adv_bottom')) : this.SpringSale(index);
          } else if (index == 4) {
            //推荐商品  每周特惠
            this.weeklyData = localStorage.getItem('weeklyData') ? JSON.parse(localStorage.getItem('weeklyData')) : this.SpringSale(index);
          } else if (index == 5) {
            //商城首页  banner
            this.bannerData = localStorage.getItem('bannerData') ? JSON.parse(localStorage.getItem('notice')) : this.SpringSale(index);
          }
        });
    },
    skip (url, adv_type, end_time) {
      let times = new Date(end_time.substr(0, 19).replace(/-/g, '/')).getTime();
      if (Date.now() > times) {
        Toast("活动已截止，敬请期待新的特惠活动");
      } else {
        if (adv_type == 0) {
          location.href = url;
        } else if (adv_type == 1) {
          this.$router.push({ path: '/' + url });
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
#special_area /deep/ {
  background: #7c1117;
  width: 100%;
  height: 100%;
  padding-top: 0.2rem;
  box-sizing: border-box;
  > img {
    width: 100%;
  }
  .contentlist {
    height: calc(100% - 4.31rem);
    overflow-y: scroll;
  }
  .van-swipe {
    width: 7rem;
    margin: 0 auto 0.31rem;
    height: 2.8rem;
    padding: 0 0.05rem;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.16rem;
    }
  }
}
</style>
<style lang="scss" scoped>
</style>