<template>
  <div class="err-dialog">
    <div class="con" style="background: url('@/../static/coupon/failed_bg.png') no-repeat center/cover;">
      <p>{{textTiShi}}</p>
      <div class="close" @click="closes">确定</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "errDialog",
    props:{
      types:{
        type: String
      }
    },
    created(){
      console.log(this.types);
      if (this.types == 0){
        this.textTiShi = "请输入优惠券码！";
      } else if(this.types == 5321){
        this.textTiShi = "该优惠券码已兑换，请换一张再来~";
      }else if(this.types == 5322){
        // this.textTiShi = "您输入的优惠券码已过期，换一张再来吧!";
        this.textTiShi = "啊哦~活动已结算，下次记得早点来！";
      }else if(this.types == 5326){
        this.textTiShi = "您输入的优惠券码未到领取时间~";
      }else if(this.types == 5329){
        this.textTiShi = "该类优惠券每人仅限领取一次~";
      }else {
        this.textTiShi = "您输入的优惠券码有误!";
      }
    },
    data(){
      return{
        textTiShi:"",
      }
    },
    methods: {
      closes() {
        this.$emit('closes', false);
        console.log('触发')
      }
    }

  }
</script>

<style lang="scss" scoped>
  .err-dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(51, 51, 51, 0.55);
    .con {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 5.29rem;
      height: 6.5rem;
      p {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        margin: auto;
        font-family: SourceHanSansCN-Regular;
        font-size: 0.24rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.48rem;
        letter-spacing: 0rem;
        color: #616161;
      }
      .close {
        position: absolute;
        bottom: .4rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 4.5rem;
        height: 0.78rem;
        background-image: linear-gradient(0deg,
          #f4b52d 0%,
          #f5cb3d 100%),
        linear-gradient(
            #fa4203,
            #fa4203);
        background-blend-mode: normal,
        normal;
        border-radius: 0.1rem;
        font-family: SourceHanSansCN-Medium;
        font-size: 0.32rem;
        line-height: 0.78rem;
        color: #333333;
      }
    }
  }
</style>
