<template>
    <div class="wrap" style="background-image: url('./static/active314/wechatbg.png');">
        <img :src="qr_img" alt="" class="qr">
        <p  class="p">长按二维码关注{{qr_title}}微信公众号</p>
        <p class="qr_desc" v-html="qr_desc"></p>
        <p class="qr_desc1" :style="{textAlign:qr_desc1.length > 18 ? 'left':'center'}">{{qr_desc1}}</p>
    </div>
</template>
<script>
    export default {
        name: "channel",
        data() {
            return {
                qr_img: '',
                qr_title: '',
                qr_desc: '',
                qr_desc1: ''
            };
        },
        created() {
            if (this.$route.query.title) {
                this.qr_title = this.$route.query.title
            }
            if (this.$route.query.qr_desc) {
                this.qr_desc = this.$route.query.qr_desc
            }
            if (this.$route.query.qr_desc1) {
                this.qr_desc1 = this.$route.query.qr_desc1
            }
            if (this.$route.query.qr) {
                this.qr_img = this.$route.query.qr
            }
        },
        mounted() {
            document.title = '关注公众号';
        },
    }
</script>
<style lang="scss" scoped>
    .wrap {
        width: 100%;
        height: 100%;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 7.5rem 15rem;
        padding-top: 2.88rem;
        box-sizing: border-box;
        .qr {
            width: 3.34rem;
            height: 3.34rem;
            display: block;
            margin: auto;
        }
        .p {
            height: 0.58rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.24rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(45, 44, 44, 1);
            margin-top: 0.32rem;
        }
        .qr_desc {
            width: 100%;
            text-align: center;
            margin-top: .81rem;
            font-size: 0.32rem;
            font-family: PingFangSC-Regular;
            font-weight: 500;
            color: red;
            font-weight: bold;
        }
        .qr_desc1 {
            text-align: left;
            width: 6.28rem;
            font-size: 0.3rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(85, 85, 85, 1);
            line-height: 0.36rem;
            margin: 0  auto;
            margin-top: 0.3rem;
        }
    }
</style>