<template>
  <div class="elec-coupon">
    <div class="hollow-two-circle">
      <!-- <img :src="prizeInfo.prize_pic_gb?prizeInfo.prize_pic_gb:'./static/active314/logo_zhierxing.png'" alt class="prize_Img-logo" /> -->
      <img :src="prizeInfo.prize_pic?prizeInfo.prize_pic:''" alt class="prize_Img" />
    </div>
    <div class="hollow-bottom">
      <h1 class="prize_name">{{prizeInfo.prize_name}}</h1>
      <h2 class="prize_desc" style="text-align:center;">{{prizeInfo.sub_title}}</h2>
      <!-- prize_type 0实物 3优惠券 6外链 9再来一次 15 商城商品 17子弹 18举手会员 19第三方券码(卡密,jsh_ticket_sn.ticket_class=6) 21第三方券码(条码,jsh_ticket_sn.ticket_class=11) 22第三方券码(二维码,jsh_ticket_sn.ticket_class=7) 23移动大礼包 24大富翁 -->
      <!-- 优惠券 -->
      <div class="coupon" v-if="prizeInfo.prize_type == 3 || prizeInfo.prize_type == 15 || prizeInfo.prize_type == 17 || prizeInfo.prize_type == 23 || prizeInfo.prize_type == 24">
        <div class="coupon-btn" @click="UseNow">立即使用</div>
      </div>
      <!-- 优惠券 -->
      <div class="coupon" v-if="prizeInfo.prize_type == 9 ">
        <div class="coupon-btn" @click="goIndex">再玩一次</div>
      </div>
      <!-- 序列号 -->
      <div class="sn" v-if="prizeInfo.prize_type == 19">
        <div class="sn-box">{{DesSN}}</div>
        <p style="color:#FF0000;margin-bottom:0.3rem" v-on:click="copyText(DesSN)">点击复制券码</p>
      </div>
      <!-- 序列号 -->
      <div class="sn" v-if="prizeInfo.prize_type == 8">
        <div class="sn-box">{{prizeInfo.prize_sn}}</div>
        <p style="color:#FF0000;margin-bottom:0.3rem" v-on:click="copyText(prizeInfo.prize_sn)">点击复制券码</p>
      </div>
      <!-- 第三方 二维码 -->
      <div class="qr-code" v-if="prizeInfo.prize_type == 22">
        <img :src="prizeInfo.award_qrcode" alt :class="prizeInfo.is_check==1?'filterGray':''" />
        <p class="prompt">{{prizeInfo.is_check==1?'已核销':'出示二维码，消费时使用'}}</p>
      </div>
      <!-- 二维码 -->
      <div class="qr-code" v-if="prizeInfo.prize_type == 0">
        <img :src="prizeInfo.award_qrcode" alt :class="prizeInfo.is_check==1?'filterGray':''" />
        <p class="prompt">{{prizeInfo.is_check==1?'已核销':'出示二维码，核销时使用'}}</p>
      </div>
      <!-- 使用规则 -->
      <div class="use-rule">
        <h4 class="prize_desc">{{prizeInfo.link_address?"领取地址："+prizeInfo.link_address:''}}</h4>
        <h4 class="prize_desc">{{prizeInfo.id_num?"请本人携带与中奖信息一致的身份证原件领取":''}}</h4>
        <h4 class="prize_name" v-if="prizeInfo.intro">使用规则</h4>
        <h4 class="prize_desc" v-html="prizeInfo.intro"></h4>
      </div>
      <div class="btn-box">
        <div class="btn" @click="goIndex">再来一次</div>
        <div class="btn" v-if="cut_device_tag==''" @click="guess">竞    猜</div>
      </div>
    </div>
    
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
import Des from "@/style/des.js";
Vue.use(Toast);
export default {
  data() {
    return {
      prizeInfo: {},
      Des:Des,
      cut_device_tag:'',
      DesSN:''
    };
  },
  created() {
    
    this.prizeInfo = JSON.parse(sessionStorage.getItem('drf520_p_info'));
    this.cut_device_tag = localStorage.getItem("cut_device_tag")
        ? localStorage.getItem("cut_device_tag")
        : "";
    this.DesSN = Des.decryptByDES(
          this.prizeInfo.prize_sn,
          localStorage.getItem("des")
        )
  },
  mounted() {
    document.title = "奖品详情";
  },
  methods:{
    guess(){
      window.location.href = `/wxmp/?index.html#/guess`;
    },
    copyText(SN) {
        const input = document.createElement("input");
        input.readOnly = 'readonly';
        input.value = SN;
        document.body.appendChild(input);
        input.select();
        input.setSelectionRange(0, input.value.length);
        document.execCommand('Copy');
        document.body.removeChild(input);
        Toast('复制成功');
    },
    /* 使用 */
    UseNow(){
      location.href = JSON.parse(sessionStorage.getItem('drf520_p_info')).back_url?JSON.parse(sessionStorage.getItem('drf520_p_info')).back_url:'/wxmp/#/index';
    },
    /* 使用 */
    goIndex(){
      this.$router.push({path:'/play_index'})
    },
    /* 获取券码信息 */
    getCodeInfo(e_ticket_code){
      let okey = localStorage.getItem("oKey")?localStorage.getItem("oKey"):'LK1SJ7IUUF6IG8';
      let key = localStorage.getItem("Key")?localStorage.getItem("Key"):'jushou2018shrosun';
      const time = Date.now();
      let obj = {
        e_ticket_code: e_ticket_code,
        stamp: time,
        sign: MD5(
          e_ticket_code +""+
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post('/api/rtmart/getBarcode', qs.stringify(obj))
        .then(res => {
          if(res.data.result === 1){
            this.prizeInfo = {...res.data.ticket_sn,prize_type:2,ticket_descr:res.data.ticket.ticket_descr};
          }
        })
        .catch(function(err) {});
    },
  },
  destroyed(){
    // sessionStorage.removeItem('drf520_p_info')
  }
};
</script>

<style lang="scss" scoped>
/* 定义全局变量 */
$hollow_h: 3.14rem;
$hollow_t: 1.23rem;
/* 定义的居中方式 */
@mixin position_center_x() {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@mixin position_center_y() {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
@mixin position_center() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
}
/* 定义圆形 */
@mixin circle($circle) {
  width: $circle;
  height: $circle;
  border-radius: 50%;
}
/* 灰度滤镜 */
@mixin filterGray($percentage){
  -webkit-filter: grayscale($percentage) opacity(60%); /* Chrome, Safari, Opera */
    filter: grayscale($percentage) opacity(60%);
}
.elec-coupon {
  position: relative;
  top: 0;
  height: 100%;
  background: linear-gradient(
    -7deg,
    rgba(59, 168, 174, 1),
    rgba(42, 186, 191, 1)
  );
  background-size: 100% 4rem;
  background-position: 0 0;
  background-repeat: no-repeat;

  .hollow-two-circle {
    width: 6.86rem;
    height: $hollow_h;
    @include position_center_x;
    top: $hollow_t;
    background: radial-gradient(
          circle at right bottom,
          transparent 0.3rem,
          #fff 0
        )
        top right / 51% 2.78rem no-repeat,
      radial-gradient(circle at left bottom, transparent 0.3rem, #fff 0) top
        left / 51% 2.78rem no-repeat,
      radial-gradient(circle at right top, transparent 0.3rem, #fff 0) bottom
        right / 51% ($hollow_h - 2.78rem) no-repeat,
      radial-gradient(circle at left top, transparent 0.3rem, #fff 0) bottom
        left / 51% ($hollow_h - 2.78rem) no-repeat;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.12));
    border-radius: 0.16rem 0.16rem 0 0;
    &::after {
      content: "";
      width: 6.26rem;
      border-top: 0.02rem dashed #e0e0e0;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 2.78rem;
      margin: auto;
    }
    .prize_name{
      font-size:0.5rem;
      font-family:Source Han Sans CN;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:0.56rem;
      @include position_center_x;
      top: 1.38rem;
    }
  }
  .hollow-bottom {
    width: 6.86rem;
    padding-bottom: 0.71rem;
    background: #fff;
    @include position_center_x;
    top: $hollow_t + $hollow_h;
    filter: drop-shadow(0 0.22rem 0.12rem rgba(0, 0, 0, 0.1));
    .prize_name {
      font-size: 0.32rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 0.5rem;
    }
    .prize_desc {
      font-size: 0.28rem;
      font-family: Source Han Sans CN;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      line-height: 0.42rem;
      margin-bottom: 0.1rem;
      text-align: left;
    }
    
    .coupon{
      display: flex;
      justify-content: center;
      align-items: center;
      .coupon-btn{
        width: 3.32rem;
        height: 0.74rem;
        background: rgba(255, 255, 255, 1);
        border: 0.01rem solid rgba(218, 218, 218, 1);
        border-radius: 0.2rem;
        margin: 0.73rem 0 1.29rem;
        font-size: 0.34rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        letter-spacing: 0.05rem;
        line-height: 0.74rem;
      }
    }
    /* sn 序列号 */
    .sn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .sn-box {
        width: 6.3rem;
        height: 0.8rem;
        background: rgba(255, 255, 255, 1);
        border: 0.01rem solid rgba(218, 218, 218, 1);
        border-radius: 0.08rem;
        margin: 0.73rem 0 0.43rem;
        font-size: 0.34rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        letter-spacing: 0.05rem;
        line-height: 0.8rem;
      }
    }
    /* qr-code 二维码 */
    .qr-code {
      width: 5.7rem;
      margin: 0.47rem auto;
      img {
        width: 3.04rem;
        height: 3.04rem;
        margin: auto;
        background: #eee;
        margin-bottom: 0.34rem;
      }
      
    }
    .prompt {
      text-align: center;
      font-size: 0.26rem;
      font-family: Source Han Sans CN;
      font-weight: 300;
      color: rgba(255, 0, 0, 1);
      line-height: 0.5rem;
    }
    .filterGray{
      @include filterGray(100%);
    }
    .use-rule {
      width: 6.34rem;
      padding-top: 0.24rem;
      margin: 0.3rem auto 0;
      border-top: 0.02rem dashed #e0e0e0;
      background: #fff;
    }
  }
  .prize_Img-logo {
    @include circle(1.45rem);
    @include position_center_x;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.06);
  }
  .prize_Img {
    // height: 1.6rem;
    width: 6rem;
    @include position_center_x;
    top: -1.5rem;
  }
  .btn-box{
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0 0.2rem;
    box-sizing: border-box;
    transform: translateY(2rem);
    .btn{
      width: 2.7rem;
      height: 0.7rem;
      line-height: 0.7rem;
      background: #246768;
      color: #fff;
      font-size: 0.3rem;
      border-radius: 0.2rem;
    }
  }
}
</style>