<template>
  <div class="play_num">
    <div class="num_list"
    v-if="cut_device_tag==''"
         @click="go(info,-1)">
      <div class="left">
        <img :src="info.imgurl"
             alt="">
      </div>
      <div class="right">
        <div class="title">{{info.title}}</div>
        <div class="datails">{{info.desc}}</div>
      </div>
      <img src="@/../public/static/active314/more.png"
           alt=""
           class="go_to">
    </div>
    <div class="num_list"
    v-if="cut_device_tag==''"
         @click="go(info2,-1)">
      <div class="left">
        <img :src="info2.imgurl"
             alt="">
      </div>
      <div class="right">
        <div class="title">{{info2.title}}</div>
        <div class="datails">{{info2.desc}}</div>
      </div>
      <img src="@/../public/static/active314/more.png"
           alt=""
           class="go_to">
    </div>
    <div class="num_list"
         v-for="(item,index) in list"
         :key="index"
         @click="go(item,index)">
      <div class="left">
        <img :src="item.imgurl"
             alt="">
      </div>
      <div class="right">
        <div class="title">{{item.title}}</div>
        <div class="datails">{{item.desc}}</div>
      </div>
      <img src="@/../public/static/active314/more.png"
           alt=""
           class="go_to">
    </div>
    <div class="botton_box">
      <div class="botton"
           @click="skip('/play_index')">返回</div>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import { Toast } from 'vant';
import Vue from 'vue'
Vue.use(Toast);
export default {
  name: "get_play_num",
  data () {
    return {
      info: { imgurl: "./static/active314/get_num1.png", title: '举手积分兑换', desc: '动动手指，30积分即可赚一次机会', route: '/exchange',is_show:0 },
      info2: { imgurl: "./static/active314/get_num3.png", title: '举手特殊次数兑换', desc: '使用举手平台购物获得积分，兑换无上限', route: '/sup_exchange',is_show:0 },
      list: [
        { imgurl: "./static/active314/取走.png", title: '取走', desc: '关注公众号“取走”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-取走.png', qr_desc: '关注公众号回复“举手来了”点击链接扫码参与活动', qr_desc1: '“取走”就是“趣”。取走的，是一段段与文化邂逅、嬉戏、共处的时光，是一件件与心情相契、相知、相识的物藏，每个人因这样的际遇，生命里多了一些值得回忆的片段。',is_show:1 },
        { imgurl: "./static/active314/上海移动微厅.png", title: '移动微厅', desc: '关注公众号“上海移动微厅”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-上海移动微厅.png', qr_desc: '进入公众号回复“会员”参与活动<br>关注上海移动微厅，办理PRO会员即可抽奖', qr_desc1: '上海移动指定认证官方服务号，线上办理业务指定入口。一键查询，轻松办理，优惠活动，尽在上海移动微厅，更有上海移动第一手优惠活动抢先发布！',is_show:1 },
        { imgurl: "./static/active314/大润发.png", title: '大润发', desc: '关注公众号“大润发”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-大润发.png', qr_desc: '进入公众号选择关注门店获取参与次数', qr_desc1: '大润发是会员制大型连锁综合超市，截止至2020年1月，共开设414家门店，服务地区覆盖全国29个省市及自治区。关注我们，您可以获得最新的优惠资讯、门店活动及班车查询等便利信息。',is_show:1 },
        { imgurl: "./static/active314/欧尚中国.png", title: '欧尚中国', desc: '关注公众号“欧尚中国”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-欧尚中国.png', qr_desc: '进入公众号选择关注门店获取参与次数', qr_desc1: '在欧尚 您省得更多',is_show:1 },
        { imgurl: "./static/active314/港丽餐厅华东区.png", title: '港丽餐厅华东区', desc: '关注公众号“港丽餐厅华东区”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-港丽餐厅华东区.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '港丽餐厅建立15周年以来，收罗世界美食并加以创新，严选食材，把好吃丰富呈现。不定期推送食客攻略、最新活动等资讯。',is_show:1 },
        { imgurl: "./static/active314/琉璃工房.png", title: 'tittot 琉园', desc: '关注公众号“tittot 琉园”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-琉璃工房.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '琉园是琉璃的园林，以最细致的脱蜡精铸及大匠轮抛工艺，诠释现代东方琉璃之美。「tittot」是中文「剔透」的谐音，用以象征琉璃材质的剔透明亮。',is_show:1 },
        { imgurl: "./static/active314/上海华越家具.png", title: '上海华越家具', desc: '关注公众号“上海华越家具”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-上海华越家具.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '上海华越家具，创建于2001年，位于上海市嘉定区，真正的纯实木家具，力求为每一位顾客带来高品质，高服务，高享受的健康生活！',is_show:1 },
        { imgurl: "./static/active314/燃脂工场.png", title: 'iHIIT燃脂工场', desc: '关注公众号“iHIIT FITNESS”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-iHIIT FITNESS.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: 'iHIIT是以高效燃脂塑形为核心的小团体私教健身品牌，将风靡欧美的HIIT融合跑步机、划船机、战绳、TRX等多样器械进行有氧+力量训练，并独立研发减脂、塑形等多样课程，适合各种运动水平人群。在iHIIT训练1小时，可产生持续后燃效应！',is_show:1 },
        // { imgurl: "./static/active314/都市畅游.png", title: '都市畅游', desc: '关注公众号“都市畅游”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-都市畅游.png', qr_desc: '回复“举手来了”即可参与活动', qr_desc1: 'BUSTOUR敞篷双层观光巴士，3条线路、超过20个站点、24小时运营时段内任意上下车，串联上海最具吸引力的知名景点。',is_show:1 },
        { imgurl: "./static/active314/上海汽车博物馆.png", title: '上海汽车博物馆', desc: '关注公众号“上海汽车博物馆”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-上海汽车博物馆.png', qr_desc: '关注公众号后点击欢迎语末尾链接扫描二维码参与活动', qr_desc1: '中国首家专业汽车博物馆-上海汽车博物馆。 这里是中国最美的古董车展示之地。',is_show:1 },
        { imgurl: "./static/active314/上海虹桥元一希尔顿酒店.png", title: '上海虹桥元一希尔顿酒店', desc: '关注公众号“上海虹桥元一希尔顿酒店”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-上海虹桥元一希尔顿酒店.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '扫扫二维码，掌握最新餐饮资讯. 更多惊喜，更多欢乐，尽在“上海虹桥元一希尔顿酒店”官方微信，赶快添加我们为微信好友吧！',is_show:1 },
        { imgurl: "./static/active314/猫猫酱STUDIO.png", title: '猫猫酱STUDIO', desc: '关注公众号“猫猫酱STUDIO”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-猫猫酱STUDIO.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '猫猫酱沙龙官方旗舰店',is_show:1 },
        
        { imgurl: "./static/active314/好时巧克力.png", title: '好时巧克力', desc: '关注公众号“好时巧克力”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-好时巧克力.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '情人间亲吻一样的浓醇感觉就在好时哦，有趣的福利活动，有颜的代言人，有料的内容，排着队的等你宠幸，什么？最新的活动你还不知道，那你错过了一个亿！',is_show:0 },
        { imgurl: "./static/active314/贝思客.png", title: '贝思客', desc: '关注公众号“贝思客”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-贝思客.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '「Bestcake贝思客」始终坚持“做好吃又贴心的蛋糕”，从原料的选择到烘培技艺，从创新口感到造型设计，处处体现用心。关注贝思客，平常日子，“一口美妙时刻”。',is_show:0 },
        { imgurl: "./static/active314/大隐书局上海.png", title: '大隐书局上海', desc: '关注公众号“大隐书局上海”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-大隐书局上海.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '文艺的补给站，思想的策源地，聚焦都市白领人群，打造书、食、茶、艺的方便之所',is_show:1 },
        { imgurl: "./static/active314/點满籠.png", title: '點满籠', desc: '关注公众号“點满籠”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-点满龙.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '专注正宗，健康品质，经典手工制作港式',is_show:1 },
        { imgurl: "./static/active314/TAYOHYA多样屋.png", title: 'TAYOHYA多样屋', desc: '关注公众号“TAYOHYA多样屋”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-TAYOHYA多样屋.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '美好生活，从心开始。打造全球华人最受欢迎的生活时尚品牌',is_show:0 },
        { imgurl: "./static/active314/焱揽香.png", title: '焱揽香', desc: '关注公众号“焱揽香”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-焱揽香.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '推荐餐厅菜品及特色，促销信息推广',is_show:1 },
        { imgurl: "./static/active314/小猪佩奇.png", title: '小猪佩奇的玩趣世界', desc: '关注公众号“小猪佩奇的玩趣世界”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-小猪佩奇.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '“小猪佩奇的玩趣世界”主题乐园内有十个趣味游戏区，专为学龄前儿童打造，激发孩子们的想象力，在还原动画片的同时，还将设置电影院、礼品店、供全家休息娱乐的便利设施及众多拍照场景，让每个家庭都能享受小猪佩奇的世界。',is_show:1 },
        { imgurl: "./static/active314/上海大饭堂.png", title: '上海大饭堂', desc: '关注公众号“上海大饭堂”，获得1次免费参与机会', route: '/channel', qr: './static/active314/qr-上海大饭堂.png', qr_desc: '关注公众号回复“举手来了”扫描二维码参与活动', qr_desc1: '上海大饭堂是汤豪仕连锁餐饮旗下的落力之作、沪上高性价比餐饮的新地标。 名店总厨构筑的精英团队，不甘与平庸为伍，倾其全力，决意重新铸造上海菜的价值标杆。在“阿拉屋里厢餐厅”，尽享上海味道。',is_show:1 },
      ],
      tot_score: 0,
      cut_device_tag:''
    }
  },
  methods: {
    skip (route) {
      this.$router.push({ path: route })
    },
    go (item, type = -1) {
      if (/https:\//g.test(item.route)) {
        location.href = item.route;
      } else {
        if (type >= 0) {
          this.$router.push({ path: item.route, query: { title: item.title, qr: item.qr, qr_desc: item.qr_desc, qr_desc1: item.qr_desc1 } })
        } else {
          this.$router.push({ path: item.route })
        }

      }
    },
    get_msg () {
      var time = new Date().getTime();
      var obj = {
        id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
          "" +
          time +
          localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
        .then((res) => {
          console.log(res)
          if (res.data.result == 1) {
            console.log('查询成功');
            if (res.data.data.integration != '') {
              var num = res.data.data.integration_d;
              if (num == '') {
                this.tot_score = 0;
              } else {
                this.tot_score = num;
              }
            } else {
              this.tot_score = 0;
            }
          } else if (res.data.result == 1021) {
            //重定向
          } else {
            console.log(res.data.msg)
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
  },
  created () {
    this.get_msg();
    if(localStorage.getItem('cut_device_tag')){
      this.cut_device_tag = localStorage.getItem('cut_device_tag');
      this.list = this.list.filter(res=>{return res.is_show == 1});
    }
  },
  mounted () {
    document.title = "赚次数";
    window.dataForWeixin = {
        appId: "",
        imgUrl: "https://" + window.location.host + "/wxmp/static/active314/400.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=kvindex"),
        title: '砍它！百分百中奖！汽车大奖会不会是你？',
        desc: "“举手来了”第二届火爆进行中！！！",
        fakeid: ""
    };
    window.setShare();
  },
}
</script>

<style scoped  lang="scss">
.play_num {
  width: 100%;
  background: #f9f9f9;
  overflow: hidden;
  text-align: left;
  min-height: calc(100% + 1px);
  box-sizing: border-box;
  padding-bottom: 1.3rem;
  .botton_box {
    width: 100%;
    height: 1.22rem;
    position: fixed;
    left: 0;
    bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }
  .botton {
    width: 6.34rem;
    height: 0.96rem;
    background: #246768;
    border-radius: 0.08rem;
    color: rgba(255, 255, 255, 1);
    font-size: 0.36rem;
    line-height: 0.96rem;
    text-align: center;
  }
  .num_list {
    width: 6.86rem;
    height: 1.51rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0.04rem 0.21rem 0.13rem rgba(207, 207, 207, 0.2);
    border-radius: 0.08rem;
    filter: blur(0);
    margin: 0 auto;
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.24rem;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    .go_to {
      display: flex;
      width: 0.16rem;
      height: 0.25rem;
      position: absolute;
      right: 0.24rem;
      top: 50%;
      transform: translateY(-50%);
    }
    .left {
      width: 0.99rem;
      height: 0.99rem;
      margin-right: 0.34rem;
      img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0.08rem;
      }
    }
    .right {
      flex: 1;
      width: 100%;
      .title {
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        margin-bottom: 0.14rem;
      }
      .datails {
        color: rgba(102, 102, 102, 1);
        font-size: 0.26rem;
        padding-right: 0.2rem;
        box-sizing: border-box;
      }
    }
  }
}
</style>