<template>
  <div class="get_shop_box">
    <div class="top_bg"></div>
    <div class="title"
         v-if="is_big==0">活动奖品领取凭证</div>
    <div class="img_box">
      <img :src="prizeInfo.award_qrcode"
           alt=""
           :class="prizeInfo.is_check==1?'qrcode is_get':'qrcode'">
      <img src="@/../public/static/active314/has_get.png"
           alt=""
           class="no_qrcode"
           v-if="prizeInfo.is_check==1">
    </div>
    <div class="get_fun"
         v-if="is_big==0"
         style="text-align:left;">领奖时出示此二维码，交予工作人员验证请妥善保管，遗失将无法领取奖品。 <span style="color:#FA55A3;">活动结束后一周内仍可领取，详情另询主办方：021-60136136，逾期视为自动放弃。</span>用户领奖时须授予我方肖像权用于图文视频宣传。</div>
    <div class="get_true"
         v-if="prizeInfo.is_check==1">实物奖品须至线下百联广场现场领取</div>
    <div class="botton"
         v-else>
      <div class="left"
           @click="skip('/play_index')">再玩一次</div>
      <div class="right"
           @click="skip('/act_prize')">我的奖品</div>
    </div>
    <div class="float">
      <div class="left">
        <img :src="prizeInfo.prize_pic"
             alt="">
      </div>
      <!-- 广汽本田VE-1 -->
      <div class="right"
           v-if="is_big==0">
        <div class="shop_title van-multi-ellipsis--l2">{{prizeInfo.prize_name}}</div>
        <div class="get_time">领取时间：即日起至活动结束当日</div>
        <div class="get_address">领取地点：活动已结束，4月7日前请询客服电话021-60136136咨询。(周一至周五9:00-18:00)</div>
        <div class="desc">请本人携带与中奖信息一致的身份证原件领取</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "get_shop",
  data () {
    return {
      is_get: true,
      prizeInfo: '',
      is_big: 0
    }
  },
  methods: {
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
  },
  created () {
    if (sessionStorage.getItem('prizeInfo')) {
      this.prizeInfo = JSON.parse(sessionStorage.getItem('prizeInfo'));
    }
  },
  mounted () {
    document.title = "奖品详情";
  },
}
</script>

<style scoped  lang="scss">
.get_shop_box {
  width: 100%;
  height: 100vh;
  min-height: 11.31rem;
  background: #ffffff;
  text-align: left;
  .get_fun {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    color: rgba(85, 85, 85, 1);
    font-size: 0.24rem;
    padding: 0 0.7rem;
    box-sizing: border-box;
  }
  .top_bg {
    width: 100%;
    height: 3.75rem;
    background: linear-gradient(
      132deg,
      rgba(35, 111, 114, 1) 0%,
      rgba(103, 234, 239, 1) 100%
    );
  }
  .title {
    margin-left: 0.32rem;
    margin-top: 1.19rem;
    color: rgba(34, 34, 34, 1);
    font-size: 0.34rem;
    font-weight: bold;
    text-align: left;
  }
  .img_box {
    width: 3.76rem;
    height: 3.76rem;
    margin: 0 auto;
    margin-top: 0.24rem;
    position: relative;
    top: 0;
    left: 0;
  }
  .qrcode {
    display: block;
    width: 3.76rem;
    height: 3.76rem;
    background: #d8d8d8;
  }
  .is_get {
    opacity: 0.5;
  }
  .no_qrcode {
    display: block;
    width: 1.38rem;
    height: 1.1rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
    // opacity: .9;
    z-index: 9999;
  }
  .get_true {
    width: 100%;
    height: 0.72rem;
    text-align: center;
    line-height: 0.72rem;
    border-top: 0.01rem solid rgba(224, 224, 224, 1);
    position: fixed;
    left: 0;
    bottom: 0rem;
    color: rgba(153, 153, 153, 1);
    font-size: 0.26rem;
  }
  .botton {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0.42rem;
    .left,
    .right {
      width: 3.28rem;
      height: 0.88rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      line-height: 0.88rem;
      text-align: center;
    }
  }
  .float {
    width: 6.86rem;
    height: 3.66rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0.04rem 0.21rem 0.13rem rgba(107, 58, 145, 0.07);
    border-radius: 0.16rem;
    filter: blur(0rem);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0.76rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 0.22rem;
    box-sizing: border-box;
    .left {
      img {
        width: 2.02rem;
        height: 2.02rem;
        display: block;
      }
      margin-right: 0.1rem;
    }
    .right {
      text-align: left;
      flex: 1;
      height: 100%;
      padding-top: 0.4rem;
      box-sizing: border-box;
      .shop_title {
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
      }
      .get_time {
        color: rgba(85, 85, 85, 1);
        font-size: 0.26rem;
        margin-top: 0.11rem;
      }
      .get_address {
        color: rgba(85, 85, 85, 1);
        font-size: 0.26rem;
        margin-top: 0.11rem;
      }
      .desc {
        font-size: 0.22rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 0.4rem;
        margin-top: 0.08rem;
      }
    }
  }
}
</style>