 <template>
    <div class="get_shop_box">
        <img src="@/../public/static/active314/get_jushow.png" alt="">
        <div class="get_fun"  v-if="is_big==0" style="text-align:left;">领奖时出示此二维码，交予工作人员验证请妥善保管，遗失将无法领取奖品。 <span style="color:#FA55A3;">活动结束后一周内仍可领取</span>，详情另询主办方，逾期视为自动放弃。用户领奖时须授予我方肖像权用于图文视频宣传。</div>
        <div class="botton">
            <div class="left" @click="skip('/play_index')">再玩一次</div>
            <div class="right" @click="skip('/act_prize')">我的奖品</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "get_shop",
        data(){
            return{
                is_get:true,
                prizeInfo:'',
                is_big:0
            }
        },
        methods:{
            skip(link) {
                if (link == '/guess') {
                    window.location.href = `/wxmp/?index.html#/guess`;
                } else {
                    this.$router.push({path: link})
                }
            },
        },
        created(){
            if(sessionStorage.getItem('prizeInfo')){
                this.prizeInfo  = JSON.parse(sessionStorage.getItem('prizeInfo'));
            }
        },
        mounted(){
            document.title = "奖品详情";
        },
    }
</script>

<style scoped  lang="scss">
    .get_shop_box{
        width: 100%;
        height: 100vh;
        min-height: 11.31rem;
        background: #ffffff;
        text-align: left;
        img{
            width: 100%;
        }
        .get_fun{
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 1.5rem;
            left: 0;
            color:rgba(85,85,85,1);
            font-size:0.24rem;
            padding: 0  0.7rem;
            box-sizing: border-box;
        }
        .botton{
            width: 100%;
            height: 0.88rem;
            padding: 0  0.32rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            left: 0;
            bottom: 0.42rem;
            .left,.right{
                width:3.28rem;
                height:0.88rem;
                background:linear-gradient(133deg,rgba(241,129,194,1) 0%,rgba(167,92,225,1) 100%);
                border-radius:0.08rem;
                color:rgba(255,255,255,1);
                font-size: 0.34rem;
                line-height: 0.88rem;
                text-align: center;
            }
        }
    }
</style>