<template>
    <div class="get_shop_box">
        <img     :src="prizeInfo.prize_pic_gb" alt=""  class="big_bg">
        <div class="plase">券码   <span>{{prizeInfo.prize_sn}}</span></div>
        <div class="tips"><img src="@/../public/static/active314/copy_code.png" alt=""></div>
        <div class="botton">
            <div class="left" @click="skip('/play_index')">再玩一次</div>
            <div class="right" @click="skip('/act_prize')">我的奖品</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "get_shop",
        data(){
            return{
                is_get:true
            }
        },
        methods:{
            skip(link) {
                if (link == '/guess') {
                    window.location.href = `/wxmp/?index.html#/guess`;
                } else {
                    this.$router.push({path: link})
                }
            },
        },
        created(){
            if(sessionStorage.getItem('prizeInfo')){
                this.prizeInfo  = JSON.parse(sessionStorage.getItem('prizeInfo'));
            }
        },
        mounted(){
            document.title = "奖品详情";
        },
    }
</script>

<style scoped  lang="scss">
    .get_shop_box{
        width: 100%;
        height: 100vh;
        background: #ffffff;
        overflow: hidden;
        text-align: left;
        .top_bg{
            width: 100%;
            height:3.58rem;
            background:linear-gradient(133deg,rgba(241,129,194,1) 0%,rgba(167,92,225,1) 100%);
        }
        .botton{
            width: 100%;
            height: 0.88rem;
            padding: 0  0.32rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            left: 0;
            bottom: 0.42rem;
            .left,.right{
                width:3.28rem;
                height:0.88rem;
                background:linear-gradient(133deg,rgba(241,129,194,1) 0%,rgba(167,92,225,1) 100%);
                border-radius:0.08rem;
                color:rgba(255,255,255,1);
                font-size: 0.34rem;
                line-height: 0.88rem;
                text-align: center;
            }
        }
        .plase{
            color:rgba(34,34,34,1);
            font-size: 0.38rem;
            text-align: center;
            font-weight: bold;
            position: absolute;
            top: 3.7rem;
            width: 100%;
        }
        .tips{
            color:rgba(153,153,153,1);
            position: absolute;
            top: 4.3rem;
            width: 100%;
            img{
                display: block;
                width: 1.86rem;
                height: 0.27rem;
                margin: 0  auto;
            }
        }
        .big_bg{
            width: 100%;
            display: block;
        }
    }
</style>