/*
 * @Author: mikey.zhaopeng 
 * @Date: 2020-04-28 10:40:16 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2020-05-17 17:58:32
 */
<template>
  <div class="play_box">
    <div id="game"></div>
    <div id="forhorview">游戏加载中...</div>
    <div class="tips hide">
      <img src="@/../public/static/active314/play_index.gif" alt class="big_img" v-if="!end_flag" />
      <img src="@/../public/static/active314/play_index1.gif" alt class="big_img" v-if="end_flag" />
      <img
        src="@/../public/static/active314/kefu.png"
        alt
        class="help_people"
        v-on:click="is_know=5"
      />
      <div
        class="luck_list"
        v-for="(etim,index) in  new_prize"
        :key="index"
      >恭喜{{etim.link_name.substring(0,1)}}{{etim.id_num.substring(16,17)%2==0?'女士':'先生'}},身份证号{{etim.id_num.substring(0,6)}}********{{etim.id_num.substring(14)}},中奖{{etim.prize_name}}</div>
      <!-- <div class="tishi">现场切割设备紧急维修中，线上可正常选择钢索排序</div> -->
    </div>
    <div class="play_num hide">
      <div class="left">
        <span v-if="end_flag">全部钢索已被砍断</span>
        <div v-show="!end_flag && today_num">
          <span>今日可用次数 {{today_num.today_nums}} / {{today_num.total_nums}} </span>
          <img src="@/../public/static/active314/details.png" alt v-on:click="is_know=1" />
        </div>
        <div v-show="!end_flag && today_num">
          <span>活动现场可用次数：{{curnum}} 次</span>
          <img src="@/../public/static/active314/details.png" alt v-on:click="is_know=18" />
        </div>
      </div>
      <div class="right" @click="skip('/get_play_num')">赚次数</div>
    </div>
    <div class="choice hide">
      <div class="choice_title">
        <div class="left">选择一根钢索</div>
        <div class="right" @click="skip('/act_prize')">
          <span>我的奖品</span>
          <img src="@/../public/static/active314/more_prize.png" alt />
        </div>
      </div>
      <ul>
        <li
          class="play_body"
          v-for="(etim,index) in  choice_num"
          :key="index"
          v-on:click="choice(index,etim,etim.end_flag)"
        >
          <img src="@/../public/static/active314/car.png" alt />
          <div class="cutting_num">
            已切割
            <span>{{etim.cut_count}}</span>次
            <img src="@/../public/static/active314/end_flag.png" alt="" class="end_flag" v-if="etim.end_flag == 1">
          </div>
          <div class="cutting_name" v-if="choice_index==index">{{etim.tag}}</div>
          <div class="cutting_name" v-else style="background:rgba(255,255,255,0.2);">{{etim.tag}}</div>
        </li>
      </ul>
      <img src="@/../public/static/active314/car-line.png" alt style="width:6.52rem;margin:auto;" />

      <div
        class="play_body last_play"
        v-for="(etim,index) in  choice_num1"
        :key="index+4"
        @click="is_know = 'e'"
      >
        <img src="@/../public/static/active314/car.png" alt />
        <div class="cutting_num">
          <span style="color:#246768;font-size:0.3rem;">此条为活动现场牵引索</span>
          <img src="@/../public/static/active314/end_flag.png" alt="" class="end_flag" v-if="etim.end_flag == 1">
        </div>
        <div class="cutting_name" v-if="choice_index==index">{{etim.tag}}</div>
        <div class="cutting_name" v-else style="background:rgba(255,255,255,0.2);">{{etim.tag}}</div>
      </div>
    </div>
    <div class="button hide">
      <div class="left" @click="skip('/video')">直播</div>
      <div class="right" v-if="!cut_device_tag" @click="skip('/guess')">竞猜</div>
    </div>
    <!--次数规则-->
    <div class="rule" v-if="is_know==1">
      <div class="rule_box">
        <div
          class="content"
        >用户可通过线上线下多种方式获取免费参与次数，关注指定微信公众号获得的机会，取关后再关注不可重复获得，各微信公众号具体获取机会方式，详见各微信公众号活动推文。每个ID每日限免费参与5次，免费参与次数如当天不使用，将累加在账户中，活动期内不清零。{{cut_device_tag?'':'若通过举手来了微信平台购买商品及'}}满足各品牌规定的线下门店消费金额获得的特殊机会，不包括在每日5次限额之内，可每日不限量使用。</div>
        <div class="know" v-on:click="is_know=0">我知道了</div>
      </div>
    </div>
    <!--现场活动 次数规则-->
    <div class="rule" v-if="is_know==18">
      <div class="rule_box" style="height:4rem">
        <div
          class="content"
        >在大润发&欧尚门店单次消费满58元，可获得1次参与次数，单张购物小票可最多可换取3次参与次数</div>
        <div class="know" v-on:click="is_know=0">我知道了</div>
      </div>
    </div>
    <!--选择引索-->
    <div class="rule" v-if="is_know==2">
      <div class="ys_choice">
        <div class="ys_title">选择{{choice_content}}钢索</div>
        <div class="botton">
          <div class="left" v-on:click="close">换一根</div>
          <div class="right" v-on:click="play_car">确认</div>
        </div>
      </div>
    </div>
    <!--次数不够-->
    <div class="rule" v-if="is_know==3">
      <div class="no_enough" style="height:4rem;">
        <div class="ys_title" style="height:100%;padding:0 0.2rem;box-sizing:border-box;text-align:center;">
          <div>您今日的游戏次数已用完！<br>每日限使用5次免费次数，未使用的免费次数可累积日后使用，您也可通过线下门店消费{{cut_device_tag?'':'或举手积分兑换方式'}}获取今日额外次数。</div>
        </div>
        <div class="botton">
          <div class="left" v-on:click="is_know=0">关闭</div>
          <div class="right" @click="skip('/get_play_num')">赚次数</div>
        </div>
      </div>
    </div>
    <!--排队-->
    <!-- <div class="rule" v-if="is_know==4">
      <div class="line">
        <div class="line_num">
          您的编号为
          <span>{{tag_number}}</span>
        </div>
        <div class="wait">前方现场正在排队，请您耐心等待</div>
        <div class="know" v-on:click="guess_prize">我要抽奖</div>
      </div>
    </div>-->
    <!--联系-->
    <div class="rule" v-if="is_know==5">
      <div class="line">
        <div class="line_num">活动热线：021-60136136</div>
        <div class="wait">活动期间客服服务时间：9:00-20:00</div>
        <div class="know" v-on:click="is_know=0">知道了</div>
      </div>
    </div>
    <!--虚拟钢筋-->
    <div class="rule" v-if="is_know=='e'">
      <div class="line" style="height:3rem;">
        <div class="line_num" style="font-size:0.3rem">
          此钢索为现场用户专属，请至
          <br />活动主会场：上海市杨浦区黄兴路1618号大润发外广场活动现场参与活动。
        </div>
        <div class="know" v-on:click="is_know=0">知道了</div>
      </div>
    </div>
    <!--填写信息-->
    <div class="rule" v-if="is_know==7">
      <div class="info_box">
        <div class="info_title">填写个人信息</div>
        <input type="text" placeholder="名字" v-on:blur="sure" v-model="user.name" />
        <input
          type="tel"
          placeholder="手机号"
          v-on:blur="sure_mobie"
          v-model="user.mobie"
          maxlength="11"
        />
        <input
          type="text"
          placeholder="身份证号"
          v-on:blur="sure_id_num"
          v-model="user.id_num"
          v-on:input="idcard"
        />
        <div class="id_num_trip">
          我们将会对您的个人信息保密，请您放心填写
          <br />*请填写本人身份证信息，确定后不可更改。
        </div>
        <div class="submit" v-on:click="sbumie_sure(1)">提交</div>
      </div>
    </div>
    <!--确认信息-->
    <div class="rule" v-if="is_know==8">
      <div class="info_box">
        <div class="info_title">确认个人信息</div>
        <input type="text" placeholder="名字" v-model="user.name" readonly="readonly" />
        <input type="number" placeholder="手机号" v-model="user.mobie" readonly="readonly" />
        <input type="text" placeholder="身份证号" v-model="user.id_num" readonly="readonly" />
        <div class="id_num_trip">*请填写本人身份证信息，确定后不可更改。</div>
        <div class="sure" v-on:click="user_sure_submit()">确认</div>
        <div class="update" v-on:click="is_know=7">修改信息</div>
      </div>
    </div>
    <!--中奖-->
    <div class="rule" v-if="is_know==15">
      <div
        style="background-image:url('./static/active314/prize_success_bg.png');background-size:7.5rem 8.04rem;background-repeat:no-repeat;height:10.9rem;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;"
      >
        <img
          src="@/../public/static/active314/prize_error_btn.png"
          alt
          style="width:4.31rem;position:absolute;top:7.98rem;left:0;right:0;margin: 0 auto;"
          @click="close1"
        />
        <img
          src="@/../public/static/active314/prize_success_btn.png"
          alt
          style="width:4.31rem;position:absolute;top:9.31rem;left:0;right:0;margin: 0 auto;"
          @click="ViewNowPrize(prize_list)"
        />

        <img
          src="@/../public/static/active314/guess_close.png"
          alt
          style="width:0.59rem;height:0.59rem;position:absolute;top:0.82rem;right:1.39rem;"
          @click="close1"
        />
        <img :src="prize_list[0].logo_url?prize_list[0].logo_url:''" alt="" style="width:2.66rem;height:0.66rem;position:absolute;top:2.92rem;right:0;left:0;margin:auto;">
        <!-- 两个奖品 -->
        <div class="prize_two">
          <div class="first" v-for="item in prize_list" :key="item.id">
            <img :src="item.prize_pic" alt />
            <p>{{item.prize_name?item.prize_name:''}}</p>
          </div>
        </div>
        <p
          style="position:absolute;top:10.5rem;left:0;right:0;margin: 0 auto;font-size:0.24rem;color:#fff;text-align:center;"
        >奖品可在首页“我的奖品”里查看</p>
      </div>
    </div>
    <!-- 抽奖错误提示 -->
    <div class="rule" v-if="is_know==16">
      <div
        style="background-image:url('./static/active314/prize_error_bg.png');background-size:7.5rem 7.5rem;background-repeat:no-repeat;height:9.33rem;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;"
      >
        <img
          src="@/../public/static/active314/prize_error_btn.png"
          alt
          style="width:4.31rem;position:absolute;top:7.78rem;left:0;right:0;margin: 0 auto;"
          @click="close"
        />
        <img
          src="@/../public/static/active314/guess_close.png"
          alt
          style="width:0.59rem;height:0.59rem;position:absolute;top:0.82rem;right:1.39rem;"
          @click="close1"
        />
        <p class="title" style="top:3.8rem;font-size:0.36rem;">{{error_msg}}</p>
      </div>
    </div>
    <!--指引-->
    <div class="rule" v-if="is_know==11">
      <div class="one" v-if="next_step==1">
        <img src="@/../public/static/active314/suoyin.png" alt class="suoyin" />
        <div class="next" v-on:click="next(2)"></div>
        <div class="just" v-on:click="just()"></div>
      </div>
      <div class="two" v-if="next_step==2">
        <img src="@/../public/static/active314/jiangpin.png" alt class="jiangpin" />
        <div class="next" v-on:click="next(3)"></div>
        <div class="just" v-on:click="just()"></div>
      </div>
      <div class="three" v-if="next_step==3">
        <img src="@/../public/static/active314/cishu.png" alt class="cishu" />
        <div class="next" v-on:click="next(4)"></div>
        <div class="just" v-on:click="just()"></div>
      </div>
      <div class="four" v-if="next_step==4">
        <img src="@/../public/static/active314/zhidao.png" alt class="zhidao" />
        <div class="next" v-on:click="just"></div>
      </div>
    </div>
    <!--选择引索-->
    <div class="rule" v-if="is_know==12">
      <div class="ys_choice">
        <div class="ys_title">{{choice_content}}钢索已被切断，请重新选择</div>
        <div class="botton">
          <div class="left" v-on:click="close">关闭</div>
          <div class="right" v-on:click="close">换一根</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import Des from "@/style/des.js";
import { Toast } from "vant";
Vue.use(Toast);
export default {
  name: "play_index",
  data() {
    return {
      is_get_info: true,
      cut_device_tag: "",
      error_msg: "",
      end_flag: true,
      timer: null,
      is_go_out: "确认领取",
      luck: 0,
      is_know: 0,
      choice_num: [],
      choice_num1: [],
      choice_index: 10, //选择的下标
      next_step: 1, //指引步数
      choice_content: "", //选择引索（A,B,C,D,E）
      today_num: [], //当前次数
      total: "", //剩余总次数
      curnum: "", //活动现场次数
      tag_number: "",
      prize_id: "", //抽奖id
      prize_list: [{}], //奖品信息
      prize_data: "", //奖品信息
      user: { name: "", mobie: "", id_num: "" },
      new_prize: [{ link_name: "", id_num: "", prize_name: "" }],
      cutCurValidate: {
        AllCutOver: function(CutData, validateKey, validateValue) {
          const MEETArray = CutData.filter(element => {
            return element[validateKey] === validateValue;
          });
          return MEETArray.length === CutData.length ? true : false;
        }
      }
    };
  },
  methods: {
    checkIDCard(idcode) {
      // 加权因子
      var weight_factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
      // 校验码
      var check_code = ["1", "0", "X", "9", "8", "7", "6", "5", "4", "3", "2"];

      var code = idcode + "";
      var last = idcode[17]; //最后一个

      var seventeen = code.substring(0, 17);

      // ISO 7064:1983.MOD 11-2
      // 判断最后一位校验码是否正确
      var arr = seventeen.split("");
      var len = arr.length;
      var num = 0;
      for (var i = 0; i < len; i++) {
        num = num + arr[i] * weight_factor[i];
      }

      // 获取余数
      var resisue = num % 11;
      var last_no = check_code[resisue];

      // 格式的正则
      // 正则思路
      /*
      第一位不可能是0
      第二位到第六位可以是0-9
      第七位到第十位是年份，所以七八位为19或者20
      十一位和十二位是月份，这两位是01-12之间的数值
      十三位和十四位是日期，是从01-31之间的数值
      十五，十六，十七都是数字0-9
      十八位可能是数字0-9，也可能是X
      */
      var idcard_patter = /^[1-9][0-9]{5}([1][9][0-9]{2}|[2][0][0|1][0-9])([0][1-9]|[1][0|1|2])([0][1-9]|[1|2][0-9]|[3][0|1])[0-9]{3}([0-9]|[X])$/;

      // 判断格式是否正确
      var format = idcard_patter.test(idcode);

      // 返回验证结果，校验码和格式同时正确才算是合法的身份证号码
      return last === last_no && format ? true : false;
    },
    idcard() {
      if (this.user.id_num.length > 18)
        this.user.id_num = this.user.id_num.slice(0, 18);
    },
    //普通
    sure() {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
    },
    //手机验证
    sure_mobie() {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
      if (
        !/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(
          this.user.mobie
        )
      ) {
        Toast("手机格式错误");
      }
    },
    //身份证号验证
    sure_id_num() {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
      if (!this.checkIDCard(this.user.id_num)) {
        Toast("身份证格式错误");
      }
    },
    //指引-下一步
    next(index) {
      this.next_step = index;
    },
    //指引-跳过
    just() {
      this.is_know = 0;
      $(".play_box").css({ height: "15rem", overflow: "auto" });
      localStorage.setItem("is_zhiyin", "1");
    },
    //选择引索
    choice(index, etim, end_flag) {
      //  $('#game').show();
      // game.state.start('Game');
      // return false
      this.choice_index = etim.sort;
      console.log("choice -> etim", etim);
      this.choice_content = etim.tag;

      /* if (this.choice_content == 'A') {
        this.is_know = 'A';
        this.choice_index = 10;
        return false;
      }
      if (this.choice_content == 'B') {
        this.is_know = 'B';
        this.choice_index = 10;
        return false;
      }
      if (this.choice_content == 'C') {
        this.is_know = 'C';
        this.choice_index = 10;
        return false;
      }
      if (this.choice_content == 'D') {
        this.is_know = 'D';
        this.choice_index = 10;
        return false;
      }
      if (this.choice_content == 'E') {
        this.is_know = 'E';
        this.choice_index = 10;
        return false;
      } */

      if (this.end_flag) {
        switch (this.choice_content) {
          case "A":
            this.is_know = "A";
            this.choice_index = 10;
            return false;
            break;
          case "B":
            this.is_know = "B";
            this.choice_index = 10;
            return false;
            break;
          case "C":
            this.is_know = "C";
            this.choice_index = 10;
            return false;
            break;
          case "D":
            this.is_know = "D";
            this.choice_index = 10;
            return false;
            break;
          case "E":
            this.is_know = "E";
            this.choice_index = 10;
            return false;
            break;
        }
      } else {
        if (this.today_num.today_nums == 0) {
          this.is_know = 3;
          this.choice_index = 10;
        } else {
          if (end_flag == 0) {
            //可以排队抽奖
            this.is_know = 2;
          } else if (end_flag == 1) {
            //某根钢索已切断
            this.is_know = 12;
            this.choice_index = 10;
          }
        }
      }
    },
    //关闭遮糟
    close() {
      $("#game").hide();
      this.is_know = 0;
      this.choice_index = 10;
    },
    //关闭遮糟
    close1() {
      $("#game").hide();
      this.is_know = 0;
      this.choice_index = 10;
      if(window.bgMusic){
        window.bgMusic.pause();
      }
    },
    //查询砍车进度
    get_car_info() {
      let flag = 1;
      let vm = this;
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        stamp: time,
        sign: MD5("drf520" + time + localStorage.getItem("Key"))
      };
      axios
        .post(
          dataApi + "/wxmp/user/game/cut/getCutDeviceList",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            vm.choice_num = res.data.dataList.slice(0, 4);
            vm.choice_num1 = res.data.dataList.slice(4, 5);
            this.end_flag = this.cutCurValidate.AllCutOver(
              vm.choice_num,
              "end_flag",
              "1"
            );
            for(let i=0;i<4;i++){
                console.log(res.data.dataList[i].tag + "===>" + res.data.dataList[i].order_count);
              }
          }
        })
        .catch(function(err) {});
      this.timer = setInterval(() => {
        let time = new Date().getTime();
        let obj = {
          game_code: "drf520",
          stamp: time,
          sign: MD5("drf520" + time + localStorage.getItem("Key"))
        };
        axios
          .post(
            dataApi + "/wxmp/user/game/cut/getCutDeviceList",
            qs.stringify(obj)
          )
          .then(res => {
            if (res.data.result == 1) {
              vm.choice_num = res.data.dataList.slice(0, 4);
              vm.choice_num1 = res.data.dataList.slice(4, 5);
              vm.end_flag = vm.cutCurValidate.AllCutOver(
                vm.choice_num,
                "end_flag",
                "1"
              );
              if (vm.end_flag) {
                clearInterval(vm.timer);
              }
              for(let i=0;i<4;i++){
                console.log(res.data.dataList[i].tag + "===>" + res.data.dataList[i].order_count);
              }
            }
          })
          .catch(function(err) {Toast('数据请求超时,请稍后再试~')});
      }, 12000);
    },
    //查询当前剩余砍车次数
    get_user_info() {
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            "drf520" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(
          awardApi + "/wxmp/user/game/cut/getusergametimesdate",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            this.today_num = res.data;
            this.total =
              res.data.gameCutUser.game_times -
              res.data.gameCutUser.game_suc_times;
            this.curnum =
              res.data.offline_nums;
          }
        });
    },
    //查询近期中奖信息
    get_befor_prize() {
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        stamp: time,
        sign: MD5("drf520" + time + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/user/game/cut/getNewAwards", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.new_prize = res.data.dataList;
            if (this.new_prize.length) {
              this.startAnimation();
            }
          }
        })
        .catch(function(err) {});
    },
    //砍车
    play_car() {
      // this.is_know = 0;
      // $("#game").show();
      // game.state.start("Game");
      // $('.jinbi').addClass('anima');
      // return false
      if (!this.is_get_info) {
        return false;
      }
      this.is_get_info = false;

      const cut_device_tag = localStorage.getItem("cut_device_tag")
        ? localStorage.getItem("cut_device_tag")
        : "";
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        sort: this.choice_index,
        cut_device_tag: cut_device_tag,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          "drf520" +
            localStorage.getItem("userId") +
            "" +
            this.choice_index +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(orderApi + "/wxmp/user/game/cut/doCutNew", qs.stringify(obj))
        .then(res => {
          this.is_know = 0;
          if (res.data.result == 6225) {
            //已经断了
            Toast("已经断了");
            this.is_know = 12;
          } else if (res.data.result == 6231 || res.data.result == 6230) {
            //今日次数用完
            this.is_know = 3;
            Toast("今日次数已用完");
          } else if (res.data.result == 1) {
            this.get_user_info();
            
            this.is_know = 4;
            this.tag_number = res.data.data.tag + res.data.data.order_num;
            this.prize_id = res.data.data.id;
            if (res.data.if_award == 1) {
              $("#game").show();
              game.state.start("Game");
              this.play();
              this.is_know = 0;
              this.prize_data = res.data.award;
            }
            this.play_car1();
          }
          this.is_get_info = true;
          this.choice_index = 10;
        })
        .catch(function(err) {});
    },
    //砍车
    play_car1() {
      let time = new Date().getTime();
      let obj = {
        ip: "218.78.209.100",
        mac: "21:34:43:D8:UE:09",
        sort: this.choice_index * 1 + 1,
        num: 1,
        lastid: sessionStorage.getItem("lastid"),
        stamp: time,
        sign: MD5(
          "218.78.209.100" +
            "21:34:43:D8:UE:09" +
            (this.choice_index * 1 + 1) +
            1 +
            sessionStorage.getItem("lastid") +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post("/api/car/getCutInfo", qs.stringify(obj))
        .then(res => {
          sessionStorage.setItem("lastid", res.data.lastid);
        })
        .catch(function(err) {});
    },
    //抽奖
    guess_prize() {
      if (!this.is_get_info) {
        return false;
      }
      $("#game").show();
      game.state.start("Game");
      const cut_device_tag = sessionStorage.getItem("cut_device_tag")
        ? sessionStorage.getItem("cut_device_tag")
        : "";
      this.is_get_info = false;
      let that = this;
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        user_id: localStorage.getItem("userId"),
        id: this.prize_id,
        cut_device_tag: cut_device_tag,
        stamp: time,
        sign: MD5(
          "drf520" +
            localStorage.getItem("userId") +
            this.prize_id +
            "" +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(awardApi + "/wxmp/user/game/cut/doCutAwardNew", qs.stringify(obj))
        .then(res => {
          this.is_get_info = true;
          this.is_know = 0;
          this.prize_data = res.data;
        })
        .catch(function(err) {});
    },
    /* 查看优惠券按钮 */
    ViewNowPrize(prizeInfo) {
      if (window.bgMusic) {
        window.bgMusic.pause();
      }
      this.$router.push({ path: "/act_prize" });
      return false;
      if (prizeInfo.length > 1) this.$router.push({ path: "/act_prize" });
      switch (prizeInfo[0].prize_type) {
        case 0:
          /* 实物 填写信息后跳转详情页 判断是否大奖 跳转大奖页面 */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 3:
          /* 优惠券 举手优选优惠券 VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 6:
          /* 外链 直接外链 */
          location.href = prizeInfo.back_url;
          break;
        case 9:
          /* 再来一次 不做详情跳转 */
          // location.href = prizeInfo.back_url;
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          // 再来一次
          break;
        case 17:
          /* 子弹优惠券 VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 18:
          /* 举手会员 VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 19:
          /* 第三方券码（卡密ticket_class == 6） VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 21:
          /* 第三方券码（条码ticket_class == 11） VueRouter: /elec-coupon */
          localStorage.setItem(
            "e_ticket_code",
            prizeInfo.ticket_sn.e_ticket_code
          );
          this.$router.push({ path: "/elec-coupon" });
          break;
        case 22:
          /* 第三方券码（二维码ticket_class == 7） VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 23:
          /* 移动大礼包69元pro会员三选一 跳转移动购买付款链接 */
          //移动大礼包 判断是否填过手机号 先填手机号再跳转
          if (prizeInfo.link_mobile === "") {
            this.update_info(prizeInfo, 7);
          } else {
            const DES_MOBILE = Des.encryptByDES(
              prizeInfo.link_mobile,
              localStorage.getItem("des")
            );
            location.href =
              prizeInfo.back_url + "?mobile=" + encodeURI(DES_MOBILE);
          }
          break;
        case 24:
          /* 大富翁优惠券 跳转大富翁游戏兑换 骰子 */
          location.href = prizeInfo.back_url;
          break;
      }
    },
    //跳转
    skip(link) {
      if (link == "/guess") {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link });
      }
    },
    //提交信息确认
    sbumie_sure(index) {
      if (index == 1) {
        //实物

        if (
          !/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(
            this.user.mobie
          )
        ) {
          Toast("手机格式错误");
          return false;
        }

        if (!this.checkIDCard(this.user.id_num)) {
          Toast("身份证格式错误");
          return false;
        }
        if (this.user.name == "") {
          Toast("请输入名字");
          return false;
        }
        if (this.user.mobie == "") {
          Toast("请输入手机号");
          return false;
        }
        if (this.user.id_num == "") {
          Toast("请输入身份证号");
          return false;
        }
        if (
          this.user.name != "" &&
          this.user.mobie != "" &&
          this.user.id_num != ""
        ) {
          this.is_know = 8;
        }
      } else if (index == 2) {
        //爱奇艺
        if (
          !/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(
            this.user.mobie
          )
        ) {
          Toast("手机格式错误");
          return false;
        }
        if (this.user.mobie == "") {
          Toast("请输入手机号");
          return false;
        }
        if (this.user.mobie != "") {
          this.is_know = 14;
        }
      }
    },
    aqy_update() {
      let time = new Date().getTime();
      let obj = {
        id: this.prize_list.id,
        link_mobile: this.user.mobie,
        stamp: time,
        sign: MD5(this.user.mobie + "" + time + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/user/game/cut/checkIqiyiMobile", qs.stringify(obj))
        .then(res => {
          console.log(res);
          sessionStorage.setItem("prizeInfo", JSON.stringify(res.data.date));
          if (res.data.result == 5921) {
            this.$router.push({ path: "/push_fail" });
          } else if (res.data.result == 1) {
            this.$router.push({ path: "/push_suc" });
          } else if (res.data.result == 5922) {
            this.$router.push({ path: "/push_fail" });
          }
        })
        .catch(function(err) {});
    },
    //提交信息
    user_sure_submit() {
      if (!this.is_get_info) {
        Toast("耐心等待哦");
        return false;
      }
      this.is_get_info = false;
      let time = new Date().getTime();
      let obj = {
        id: this.prize_list.id,
        user_id: localStorage.getItem("userId"),
        id_num: this.user.id_num,
        link_mobile: this.user.mobie,
        link_name: this.user.name,
        stamp: time,
        sign: MD5(
          this.prize_list.id +
            "" +
            localStorage.getItem("userId") +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/wxmp/user/game/cut/modAwardinfo", qs.stringify(obj))
        .then(res => {
          console.log(res);

          if (res.data.result == 1) {
            sessionStorage.setItem("prizeInfo", JSON.stringify(res.data.date));
            if (this.prize_list.prize_type == 5) {
            } else {
              this.is_get_info = true;
              this.ViewNowPrize(res.data.date);
            }
          }
        })
        .catch(function(err) {});
    },
    startAnimation() {
      if (!$(".luck_list").length) {
        return false;
      }
      let that = this;
      let an_luck = setInterval(function() {
        //设置2000毫秒重复运行

        $($(".luck_list")[that.luck]).animate(
          { opacity: "1" },
          2000,
          function() {
            $($(".luck_list")[that.luck]).animate(
              { opacity: "0" },
              2000,
              function() {
                $($(".luck_list")[that.luck]).hide();
                that.luck++;
                if (that.luck == that.new_prize.length) {
                  clearInterval(an_luck);
                }
              }
            );
          }
        );
      }, 5000);
    },
    play() {
      (function loop() {
        window.bgMusic.play();
        window.bgMusic.addEventListener(
          "ended",
          function() {
            loop();
          },
          false
        );
      })();
    }
  },
  created() {
    
    this.cut_device_tag = localStorage.getItem("cut_device_tag")
      ? localStorage.getItem("cut_device_tag")
      : "";
    this.get_car_info();
    this.get_user_info();
    this.get_befor_prize();
    // this.play_car1();
  },
  mounted() {
    document.title = "举手来了";
    window.dataForWeixin = {
        appId: "",
        imgUrl: "https://" + window.location.host + "/wxmp/static/active314/400.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=kvindex"),
        title: '砍它！百分百中奖！汽车大奖会不会是你？',
        desc: "“举手来了”第二届火爆进行中！！！",
        fakeid: ""
    };
    window.setShare();
    // this.stopDrop();
    window.Vue = this;
    (window.isStart = false),
      (window.music = []),
      window.gameWidth,
      window.gameHeight,
      window.isLoad,
      (window.initScreen = function() {
        //初始化html  font-size
        $("html")[0].style.setProperty(
          "font-size",
          (gameWidth / 375) * 312.5 + "%"
        );
      });
    window.bgMusic = null;
    window.gold_down = null;
    window.gold_turn = null;
    window.mouse_bite = null;
    window.mouse_climb = null;
    function setSize() {
      if (window.innerHeight > 812) {
        console.log(5);
        window.gameHeight = 667;
        window.gameWidth = 375;
      } else {
        console.log(6);
        window.gameHeight = window.innerHeight;
        window.gameWidth = window.innerWidth > 750 ? 750 : window.innerWidth;
      }
      window.gameScale = gameWidth / 750;
    }
    function winOrientation() {
      if (
        window.innerWidth > window.innerHeight &&
        navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)
      ) {
        document
          .getElementById("forhorview")
          .style.setProperty("display", "flex");
        document.getElementById("forhorview").innerHTML = "请把手机竖着玩呐~~";
      } else {
        scrollY();
      }
    }

    function loadJS(fun) {
      var a = document.createElement("script");
      a.src = "./static/520/js/phaser.min.js";
      document.head.appendChild(a);
      a.onload = function() {
        var b = document.createElement("script");
        b.src = "./static/520/js/load.js";
        document.head.appendChild(b);
        b.onload = function() {
          var c = document.createElement("script");
          c.src = "./static/520/js/game_old.js";
          document.head.appendChild(c);
          c.onload = function() {
            fun();
          };
        };
      };
    }

    //随机数
    function l(a, b) {
      a = Math.round(a);
      b = Math.round(b);
      return Math.round((b - a) * Math.random()) + a;
    }
    function ranArr(a, b) {
      return Math.random() > 0.5 ? -1 : 1;
    }
    setSize();
    initScreen();
    winOrientation();
    window.onresize = function() {
      console.log("***");
      setSize();
      initScreen();
      //winOrientation();
    };

    window.addEventListener(
      "onorientationchange" in window ? "orientationchange" : "resize",
      function() {
        if (window.orientation === 180 || window.orientation === 0) {
          scrollY();
        }
        if (window.orientation === 90 || window.orientation === -90) {
          document
            .getElementById("forhorview")
            .style.setProperty("display", "flex");
          document.getElementById("forhorview").innerHTML =
            "请把手机竖着玩呐~~";
        }
      },
      false
    );

    function scrollY() {
      if (window.isLoad) {
        // location.reload()
      } else {
        window.isLoad = true;
      }
      document.getElementById("forhorview").innerHTML = "游戏正在加载...";
      var ua = navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        window.bgMusic = new Audio("./static/520/music/bg.mp3");
        window.gold_down = new Audio("./static/520/music/gold_down.mp3");
        window.gold_turn = new Audio("./static/520/music/gold_turn.mp3");
        window.mouse_bite = new Audio("./static/520/music/mouse_bite.mp3");
        window.mouse_climb = new Audio("./static/520/music/mouse_climb.mp3");
        loadJS(function() {
          console.log("------------");
          game.state.add("Load", Load);
          game.state.add("Game", MyGame);
          game.state.start("Load");
          document
            .getElementById("forhorview")
            .style.setProperty("display", "none");
        });
      } else {
        window.bgMusic = new Audio("./static/520/images/music/bg.mp3");
        window.bgMusic.loop = "loop";
        window.bgMusic.play();
        window.gold_down = new Audio("./static/520/music/gold_down.mp3");
        window.gold_turn = new Audio("./static/520/music/gold_turn.mp3");
        window.mouse_bite = new Audio("./static/520/music/mouse_bite.mp3");
        window.mouse_climb = new Audio("./static/520/music/mouse_climb.mp3");

        loadJS(function() {
          console.log("------------");
          game.state.add("Load", Load);
          game.state.add("Game", MyGame);
          game.state.start("Load");
          document
            .getElementById("forhorview")
            .style.setProperty("display", "none");
        });
      }
    }
    
  },
  destroyed() {
    clearInterval(this.timer);
    window.game = null;
  }
};
</script>

<style scoped lang="scss">
.play_box {
  width: 100%;
  background: #8dbec0;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
  padding-top: 0.15rem;
  text-align: left;
  .tips {
    width: 7.04rem;
    height: 3.94rem;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    // .tishi{
    //     width: 100%;
    //     font-size: 0.28rem;
    //     text-align: center;
    //     position: absolute;
    //     left: 0;
    //     color: #FF6100;
    //     bottom: 0;
    // }
    .luck_list {
      width: fit-content;
      height: 0.42rem;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0.24rem;
      position: absolute;
      left: 0;
      top: 0.31rem;
      padding: 0 0.16rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.24rem;
      line-height: 0.42rem;
      opacity: 0;
      z-index: 99;
    }
    .big_img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .help_people {
      width: 0.45rem;
      height: 0.45rem;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .play_num {
    width: 7.04rem;
    height: 1.28rem;
    background: linear-gradient(
      -7deg,
      rgba(59, 168, 174, 1),
      rgba(42, 186, 191, 1)
    );
    border-radius: 0.16rem;
    margin: 0 auto;
    margin-top: 0.16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.3rem 0 0.24rem;
    box-sizing: border-box;
    .left {
      color: rgba(255, 255, 255, 1);
      font-size: 0.32rem;
      div {
        display: flex;
        align-items: center;
        justify-content: start;
      }
      img {
        width: 0.34rem;
        height: 0.34rem;
        display: block;
        margin-left: 0.07rem;
      }
    }
    .right {
      width: 1.72rem;
      height: 0.64rem;
      background: #158385;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.3rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .choice {
    width: 7.02rem;
    // height: 6.57rem;
    background: #ffffff;
    border-radius: 0.16rem;
    margin: 0 auto;
    margin-top: 0.16rem;
    padding: 0.3rem 0;
    overflow: hidden;
    .choice_title {
      width: 100%;
      padding: 0 0.28rem 0 0.24rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.46rem;
      .left {
        color: #246768;
        font-size: 0.34rem;
      }
      .right {
        width: fit-content;
        color: #246768;
        font-size: 0.32rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          width: 0.11rem;
          height: 0.18rem;
          display: block;
          margin-left: 0.16rem;
        }
      }
    }
    .play_body {
      width: 100%;
      height: 0.75rem;
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0.31rem;
      img {
        width: 5.83rem;
        height: 0.83rem;
        display: block;
      }
      .cutting_num {
        width: 3.29rem;
        color: #333;
        font-size: 0.3rem;
        height: 0.75rem;
        line-height: 0.69rem;
        text-align: center;
        position: absolute;
        top: 0;
        left: 1.98rem;
        .end_flag{
          width: 1.01rem;
          height: 0.8rem;
          position: absolute;
          top: -0.05rem;
          right: 0;
          transform: translateX(50%);
        }
      }
      .cutting_name {
        width: 0.92rem;
        height: 0.74rem;
        background: linear-gradient(
          203deg,
          rgba(250, 85, 163, 1) 0%,
          rgba(241, 140, 158, 1) 100%
        );
        border-radius: 0.08rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.42rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    ul {
      li:nth-child(1) .cutting_name {
        background: #d4d0a0 !important;
        color: #fff;
        border: 0.01rem solid #d4d0a0;
      }
      li:nth-child(2) .cutting_name {
        background: #b28850 !important;
        color: #fff;
        border: 0.01rem solid #b28850;
      }
      li:nth-child(3) .cutting_name {
        background: #a40000 !important;
        color: #fff;
        border: 0.01rem solid #a40000;
      }
      li:nth-child(4) .cutting_name {
        background: #aaaaaa !important;
        color: #fff;
        border: 0.01rem solid #aaaaaa;
      }
    }
    .last_play {
      margin-top: 0.29rem;
      margin-bottom: 0;
      .cutting_name {
        background: #00a0e9 !important;
        color: #fff;
        border: 0.01rem solid #00a0e9;
      }
    }
  }
  .button {
    width: 100%;
    height: 1.64rem;
    padding: 0 0.57rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .left,
    .right {
      width: 2.87rem;
      height: 0.74rem;
      background: #246768;
      border-radius: 0.1rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      text-align: center;
      line-height: 0.74rem;
    }
  }
  .rule {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    .title {
      font-size: 0.32rem;
      font-family: Source Han Sans CN;
      font-weight: 500;
      color: rgba(212, 0, 0, 1);
      line-height: 0.39rem;
      position: absolute;
      width: 3.52rem;
      top: 3.3rem;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }
    .prize_one {
      width: 3rem;
      position: absolute;
      top: 2.9rem;
      left: 0;
      right: 0;
      margin: auto;
      p {
        width: 2.99rem;
        font-size: 0.3rem;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: rgba(212, 0, 0, 1);
        line-height: 0.45rem;
        text-align: center;
      }
      img {
        width: 2.12rem;
        height: 2.12rem;
        margin: auto;
      }
    }
    .prize_two {
      position: absolute;
      width: 3.62rem;
      top: 3.2rem;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: space-around;

      .first {
        width: 3.5rem;
        color: #d40000;
        text-align: center;
        font-size: 0.24rem;
        img {
          width: 3.5rem;
          height: 3.5rem;
        }
        p {
          margin-top: -0.7rem;
          padding: 0 0.1rem;
          box-sizing: border-box;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box; //作为弹性伸缩盒子模型显示。
          -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
          -webkit-line-clamp: 2; //显示的行
        }
      }
    }
    .rule_box {
      width: 5.3rem;
      height: 6.37rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow: hidden;
      border-radius: 0.1rem;
      .content {
        width: 100%;
        height: 4.93rem;
        padding: 0 0.44rem;
        box-sizing: border-box;
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        line-height: 0.48rem;
        overflow-y: scroll;
        margin-top: 0.47rem;
      }
      .know {
        width: 100%;
        height: 0.96rem;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        color: rgba(250, 85, 163, 1);
        font-size: 0.36rem;
        font-weight: 600;
        line-height: 0.96rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .ys_choice {
      width: 5.6rem;
      height: 2.2rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .ys_title {
        width: 100%;
        height: 1.19rem;
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        text-align: center;
        line-height: 1.19rem;
      }
      .botton {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 1rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          font-weight: 600;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
    .no_enough {
      width: 5.6rem;
      height: 2.65rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .ys_title {
        width: 100%;
        height: 1.64rem;
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        text-align: center;
        line-height: 0.5rem;
        margin-top: 0.4rem;
      }
      .botton {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 1rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          font-weight: 600;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
    .line {
      width: 5.6rem;
      height: 2.65rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .line_num {
        width: 100%;
        color: rgba(53, 53, 53, 1);
        font-size: 0.34rem;
        text-align: center;
        margin-top: 0.36rem;
        span {
          color: rgba(250, 85, 163, 1);
          font-weight: 600;
        }
      }
      .wait {
        color: rgba(102, 102, 102, 1);
        font-size: 0.3rem;
        margin-top: 0.24rem;
        text-align: center;
      }
      .know {
        width: 100%;
        height: 1rem;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        color: rgba(250, 85, 163, 1);
        font-weight: 600;
        font-size: 0.34rem;
        line-height: 1rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .prize_box {
      width: 5.28rem;
      height: 6.75rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.08rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      img {
        width: 2.61rem;
        height: 2.61rem;
        display: block;
        margin: 0 auto;
        margin-top: 0.97rem;
      }
      .prize_title {
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        width: 100%;
        text-align: center;
        margin-top: 0.5rem;
      }
      .sure {
        width: 3.49rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.38rem;
        color: rgba(255, 255, 255, 1);
        line-height: 0.8rem;
        font-size: 0.3rem;
        text-align: center;
      }
      .close {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -1.2rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.8rem;
        text-align: center;
        z-index: 9999;
        color: #ffffff;
      }
    }
    .info_box {
      width: 5.05rem;
      height: 6.89rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.08rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      .id_num_trip {
        width: 100%;
        padding: 0 0.24rem;
        box-sizing: border-box;
        text-align: left;
        font-size: 0.26rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        margin: 0.25rem 0 0;
      }
      .info_title {
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        width: 100%;
        text-align: center;
        margin-top: 0.45rem;
        font-weight: bold;
        margin-bottom: 0.7rem;
      }
      input {
        display: block;
        width: 4.97rem;
        height: 0.78rem;
        /*line-height: 0.78rem;*/
        margin: 0 auto;
        border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        padding: 0 0.17rem;
        box-sizing: border-box;
        background: #ffffff;
      }
      input::placeholder {
        color: rgba(153, 153, 153, 1);
      }
      .submit {
        width: 3.49rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.3rem;
        text-align: center;
        line-height: 0.8rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.36rem;
      }
      .sure {
        width: 3.9rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 0.3rem;
        text-align: center;
        line-height: 0.8rem;
        margin: 0 auto;
        // margin-top: 0.1rem;
      }
      .update {
        width: 3.9rem;
        height: 0.8rem;
        box-sizing: border-box;
        border-radius: 0 0.08rem;
        border: 0.01rem solid rgba(151, 151, 151, 1);
        background: #ffffff;
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        line-height: 0.78rem;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.25rem;
      }
    }
    .prize_false {
      width: 5.28rem;
      height: 6.75rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.08rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      img {
        width: 3.43rem;
        height: 3.43rem;
        display: block;
        margin: 0 auto;
        margin-top: 0.21rem;
      }
      .prize_title {
        padding: 0 0.19rem;
        box-sizing: border-box;
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        width: 100%;
        text-align: center;
        margin-top: 0.26rem;
      }
      .sure {
        width: 3.49rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.38rem;
        color: rgba(255, 255, 255, 1);
        line-height: 0.8rem;
        font-size: 0.3rem;
        text-align: center;
      }
      .close {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -1.2rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.8rem;
        text-align: center;
        z-index: 9999;
        color: #ffffff;
      }
    }
    .gift {
      width: 100%;
      display: block;
    }
    .one {
      width: 4.1rem;
      height: 3.42rem;
      position: absolute;
      top: 7.2rem;
      right: 0.55rem;
      .suoyin {
        width: 4.1rem;
        height: 3.42rem;
        display: block;
      }
      .next {
        width: 2rem;
        height: 0.8rem;
        position: absolute;
        top: 2.55rem;
        left: 0.83rem;
      }
      .just {
        width: 1rem;
        height: 0.8rem;
        position: absolute;
        top: 2.55rem;
        left: 3.2rem;
      }
    }
    .two {
      width: 4.79rem;
      height: 3.41rem;
      position: absolute;
      top: 6.3rem;
      right: 0.99rem;
      .jiangpin {
        width: 4.79rem;
        height: 3.41rem;
        display: block;
      }
      .next {
        width: 2rem;
        height: 0.8rem;
        position: absolute;
        top: 2.55rem;
        left: 1.54rem;
      }
      .just {
        width: 1rem;
        height: 0.8rem;
        position: absolute;
        top: 2.55rem;
        left: 3.8rem;
      }
    }
    .three {
      width: 6.1rem;
      height: 3.81rem;
      position: absolute;
      top: 5rem;
      right: 0.36rem;
      .cishu {
        width: 6.1rem;
        height: 3.81rem;
        display: block;
      }
      .next {
        width: 2rem;
        height: 0.8rem;
        position: absolute;
        top: 2.98rem;
        left: 2.8rem;
      }
      .just {
        width: 1rem;
        height: 0.8rem;
        position: absolute;
        top: 2.98rem;
        left: 5rem;
      }
    }
    .four {
      width: 3.11rem;
      height: 3.82rem;
      position: absolute;
      top: 0.6rem;
      right: 0.8rem;
      .zhidao {
        width: 3.11rem;
        height: 3.82rem;
        display: block;
      }
      .next {
        width: 2rem;
        height: 0.8rem;
        position: absolute;
        top: 2.98rem;
        left: 0.1rem;
      }
    }
    .ipone_box {
      width: 6.37rem;
      height: 3.29rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 0.08rem;
      .title {
        width: 100%;
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        text-align: center;
        margin-top: 0.26rem;
      }
      input {
        width: 5.23rem;
        height: 0.62rem;
        border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
        display: block;
        margin: 0 auto;
        margin-top: 0.37rem;
        font-size: 0.3rem;
      }
      input::placeholder {
        color: rgba(153, 153, 153, 1);
      }
      .submit {
        width: 4.2rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        margin: 0 auto;
        margin-top: 0.46rem;
        font-size: 0.3rem;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        line-height: 0.8rem;
      }
    }
    .ys_choice_aqy {
      width: 5.6rem;
      height: 2.2rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .ys_title {
        width: 100%;
        height: 1.19rem;
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        text-align: center;
        line-height: 1.19rem;
      }
      .ipone_chose {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 1rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          font-weight: 600;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
  }
  img {
    display: block;
  }
  #game {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    // transform: rotateY(0);
  }

  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  #forhorview {
    position: absolute;
    font-size: 0.5rem;
    text-align: center;
    line-height: 100%;
    color: #ffffff;
    background: #3ba8ae;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .jinbi {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 276px;
    z-index: -1000;
    opacity: 0;
  }
  .anima {
    opacity: 1;
    transition: all 2.6s;
    z-index: 99999;
    transform: rotateY(2520deg);
  }
}

@media only screen and (max-device-height: 736px) {
  .play_box {
    height: auto;
  }
}
</style>