<template>
  <div class="exchange">
    <div class="title">
      <img src="@/../public/static/active314/duihuan.png"
           alt="">
      <div>举手特殊次数兑换</div>
    </div>
    <div class="input">
      <div v-on:click="reduce">-</div>
      <input type="tel"
             v-model="change_num"
             v-on:blur="sure"
             @input="change_num=change_num.replace(/[^\d]/g,'')">
      <div v-on:click="plus">+</div>
    </div>
    <div class="rule">
      <div>兑换1次机会，消耗30积分</div>
      <div>我的积分：{{tot_score}}分</div>
    </div>
    <div class="button">
      <div class="left"
           @click="skip('/index')">去逛逛</div>
      <div class="right"
           v-on:click="trip_sure(change_num)">兑换</div>
    </div>
    <div class="play_fun">
      <div class="name">玩法介绍</div>
      <li>凡在举手优选购买商品，可以获取与购物金额数量相等的积分（例：购买100元商品赠送100积分）。</li>
      <li>购买商品所获得的积分，30举手积分可兑换1次“吾爱神州行 大润发&欧尚助你赢”活动特殊参与机会。每次兑换1次起兑，兑换次数无上限，使用次数无上限。</li>
      <li>特殊机会不计入每日5次限额之内。一旦消耗积分兑换次数，若活动结束前未使用次数，积分恕不退还，敬请谅解。</li>
    </div>
    <div class="go_to_play"
         @click="skip('/play_index')">进入活动</div>
    <div class="no_enough"
         v-if="is_nough==1">
      <div class="box">
        <div class="ys_title">您的积分不够了，可去举手优选购买商品赚取积分，1元=1积分。</div>
        <div class="ipone_chose">
          <div class="left"
               v-on:click="is_nough=0">关闭</div>
          <div class="right"
               v-on:click="get_point">赚积分</div>
        </div>
      </div>
    </div>
    <div class="no_enough"
         v-if="is_nough==2">
      <div class="ys_choice">
        <div class="no_title">{{two_sure}}</div>
        <div class="botton">
          <div class="left"
               v-on:click="is_nough=0">关闭</div>
          <div class="right"
               v-on:click="get_play_num(change_num)">确认</div>
        </div>
      </div>
    </div>
    <div class="success"
         v-if="success">
      <div class="content"
           style="background-image:url('./static/active314/314suc_content.png')">
        <p>恭喜您，兑换成功</p>
        <div class="cou"
             style="background-image:url('./static/active314/314suc_coupon.png')">
          <div class="left">+{{change_num}}</div>
          <div class="right">恭喜您获得{{change_num}}次机会</div>
        </div>
        <div class="btn"
             @click="skip('/play_index')">进入活动</div>
      </div>
    </div>
  </div>
</template>

<script>
import Des from '@/style/des.js'
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from 'vant';
Vue.use(Toast);
export default {
  name: "exchange",
  data () {
    return {
      change_num: 1,
      success: false,
      is_nough: 0,
      tot_score: 0,
      two_sure: '是否消耗18838积分，兑换29次机会'
    }
  },
  methods: {
    get_point () {
      this.$router.push({ path: '/index' })
    },
    sure () {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
    },
    reduce () {
      this.change_num = parseInt(this.change_num) - 1
      if (this.change_num <= 0) {
        this.change_num = 1
      }
    },
    plus () {
      var num = Math.floor(this.tot_score / 30)
      if (num == 0) {
        return false;
      }
      this.change_num = parseInt(this.change_num) + 1
      if (this.change_num > num) {
        this.change_num = num
      }
    },
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
    trip_sure (num) {
      if (num * 30 > this.tot_score) {
        this.is_nough = 1;
        return false;
      } else {
        this.is_nough = 2;
        this.two_sure = `是否消耗${num * 30}积分，兑换${num}次机会`
      }

    },
    get_play_num (num) {
      this.is_nough = 0;
      let time = new Date().getTime();
      let obj = {
        game_code: 'drf520',
        user_id: localStorage.getItem("userId"),
        stamp: time,
        num,
        exchange_type: 1,
        sign: MD5(localStorage.getItem("userId") + '' + 'drf520' + time + 'LK1SJ7IUUF6IG8')
      };
      axios.post(api + '/wxmp/user/game/cut/exchangebyintegration', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            this.success = true;
            if (res.data.integration_sp != '') {
              var num = Des.decryptByDES(res.data.integration_sp, localStorage.getItem('des'));
              if (num == '') {
                this.tot_score = 0;
              } else {
                this.tot_score = num;
              }
            } else {
              this.tot_score = 0;
            }
          }
        })
        .catch(function (err) {

        })
    },
    get_msg () {
      var time = new Date().getTime();
      var obj = {
        id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
          "" +
          time +
          localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
        .then((res) => {
          console.log(res)
          if (res.data.result == 1) {
            console.log('查询成功');
            if (res.data.data.integration_sp != '') {
              var num = Des.decryptByDES(res.data.data.integration_sp, localStorage.getItem('des'));
              console.log("get_msg -> num", num)

              if (num == '') {
                this.tot_score = 0;
              } else {
                this.tot_score = num;
              }
            } else {
              this.tot_score = 0;
            }
          } else if (res.data.result == 1021) {
            //重定向
          } else {
            console.log(res.data.msg)
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
  },
  created () {
    this.get_msg()
  },
  mounted () {
    document.title = "举手特殊次数兑换";
  },
}
</script>

<style scoped  lang="scss">
.exchange {
  width: 100%;
  min-height: calc(100% + 1px);
  overflow: hidden;
  background: #ffffff;
  text-align: left;
  .title {
    width: 6.66rem;
    height: 1.95rem;
    background: rgba(77, 108, 213, 0.084);
    border-radius: 0.08px;
    margin: 0 auto;
    margin-top: 0.35rem;
    display: flex;
    align-items: center;
    img {
      width: 1.09rem;
      height: 1.24rem;
      display: block;
      margin-right: 0.32rem;
      margin-left: 0.49rem;
    }
    div {
      color: rgba(51, 51, 51, 1);
      font-size: 0.34rem;
    }
  }
  .input {
    width: 100%;
    height: 0.74rem;
    padding: 0 0.83rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.68rem;
    div {
      width: 0.85rem;
      height: 0.74rem;
      border: 0.01rem solid rgba(224, 224, 224, 1);
      box-sizing: border-box;
      line-height: 0.7rem;
      text-align: center;
      font-size: 0.5rem;
      color: rgba(51, 51, 51, 1);
    }
    input {
      width: 3.42rem;
      height: 0.74rem;
      border: 0.01rem solid rgba(224, 224, 224, 1);
      box-sizing: border-box;
      text-align: center;
      color: rgba(51, 51, 51, 1);
      font-size: 0.34rem;
    }
  }
  .rule {
    width: 100%;
    padding: 0 0.32rem;
    box-sizing: border-box;
    margin-top: 0.26rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(51, 51, 51, 1);
    font-size: 0.26rem;
  }
  .button {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.46rem;
    .left,
    .right {
      width: 3.28rem;
      height: 0.88rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      line-height: 0.88rem;
      text-align: center;
    }
  }
  .play_fun {
    width: 100%;
    height: auto;
    padding: 0 0.37rem;
    box-sizing: border-box;
    border-top: 0.16rem solid rgba(244, 244, 244, 1);
    margin-top: 0.65rem;
    .name {
      color: rgba(51, 51, 51, 1);
      font-size: 0.34rem;
      font-weight: bold;
      margin-bottom: 0.16rem;
      margin-top: 0.31rem;
    }
    li {
      color: rgba(51, 51, 51, 1);
      font-size: 0.28rem;
      margin-bottom: 0.24rem;
      line-height: 0.4rem;
    }
  }
  .no_enough {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    .box {
      width: 5.6rem;
      height: 3.06rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .ys_title {
        width: 100%;
        height: 1.45rem;
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        text-align: center;
        line-height: 0.5rem;
        padding: 0 0.34rem;
        box-sizing: border-box;
        margin-top: 0.3rem;
      }
      .ipone_chose {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 1rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
    .ys_choice {
      width: 5.6rem;
      height: 2.46rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .no_title {
        width: 100%;
        height: 1.45rem;
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        text-align: center;
        line-height: 1.45rem;
      }
      .botton {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 1rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          font-weight: 600;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
  }
  .go_to_play {
    width: 6.34rem;
    height: 0.96rem;
    background: #246768;
    border-radius: 0.08rem;
    margin: 0 auto;
    margin-top: 0.38rem;
    color: rgba(255, 255, 255, 1);
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.96rem;
  }
  .success {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .content {
      width: 5.62rem;
      height: 7.85rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      p {
        width: 100%;
        text-align: center;
        font-size: 0.36rem;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: rgba(255, 119, 137, 1);
        padding-top: 3.4rem;
        margin-bottom: 0.69rem;
      }
      .cou {
        width: 4.57rem;
        height: 1.48rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .left {
          width: 1.3rem;
          font-size: 0.6rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
        }
        .right {
          width: calc(100% - 1.3rem);
          font-size: 0.32rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
        }
      }
      .btn {
        width: 4rem;
        height: 0.8rem;
        background: rgba(36, 103, 104, 1);
        border: 0px solid rgba(238, 238, 233, 1);
        border-radius: 0.1rem;
        font-size: 0.32rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        margin: 0.52rem auto 0.56rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
</style>