<template>
  <div class="get_shop_box">
    <div class="top_bg"></div>
    <div class="content">
      <img :src="prizeInfo.prize_pic_gb"
           alt=""
           class="bg_img">
      <img :src="prizeInfo.award_qrcode"
           alt=""
           class="two">
    </div>
    <div class="botton">
      <div class="left"
           @click="skip('/play_index')">再玩一次</div>
      <div class="right"
           @click="skip('/act_prize')">我的奖品</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "get_shop",
  data () {
    return {
      is_get: true
    }
  },
  methods: {
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
  },
  created () {
    if (sessionStorage.getItem('prizeInfo')) {
      this.prizeInfo = JSON.parse(sessionStorage.getItem('prizeInfo'));
    }
  },
  mounted () {
    document.title = "奖品详情";
  },
}
</script>

<style scoped lang="scss">
.get_shop_box {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
  text-align: left;
  .top_bg {
    width: 100%;
    height: 3.58rem;
    background: linear-gradient(
      132deg,
      rgba(35, 111, 114, 1) 0%,
      rgba(103, 234, 239, 1) 100%
    );
  }
  .botton {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0.42rem;
    .left,
    .right {
      width: 3.28rem;
      height: 0.88rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      line-height: 0.88rem;
      text-align: center;
    }
  }
  .content {
    width: 6.86rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0.53rem;
    .bg_img {
      width: 6.86rem;
      display: block;
    }
    .two {
      width: 3.28rem;
      height: 3.28rem;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 4.2rem;
    }
  }
}
</style>