<template>
  <div class="container">
    <div class="video_box">
      <div class="player">
        <video-player class="video-player vjs-custom-skin"
                      ref="videoPlayer"
                      :playsinline="true"
                      :options="playerOptions">
        </video-player>
      </div>
    </div>
    <div class="box">
      <div class="son"
           v-for="(item,index) in choice_num"
           :key="index"><span></span>{{item.tag}} : {{item.cut_count}}</div>
    </div>
    <div class="change">
      <div class="super_prize">超级大奖：新能源汽车</div>
      <div class="change_hander"
           v-on:click="hander_tap(is_header==1?2:1)">
        <img src="@/../public/static/active314/change.png"
             alt="">
        <span>切换摄像头</span>
      </div>
      <div class="hander">
        <div class="hander_one"
             v-bind:class="{'hander_red':is_header==1}"
             v-on:click="hander_tap(1)">摄像头1</div>
        <div class="hander_two"
             v-bind:class="{'hander_red':is_header==2}"
             v-on:click="hander_tap(2)">摄像头2</div>
      </div>
      <div class="use_toast">*大奖为汽车使用权</div>
      <div class="use_toast"
           style="bottom:0.1rem">*直播系统根据用户网络情况不同会有不同延迟</div>
    </div>
    <div class="botton">
      <div class="left"
           @click="skip('/play_index')">再玩一次</div>
      <div class="right"
          v-if="!cut_device_tag"
           @click="skip('/guess')">竞猜</div>
    </div>

  </div>
</template>



<script>
import MD5 from "js-md5";
import qs from "qs";
import videojs from 'video.js'
import 'videojs-flash'
import 'video.js/dist/video-js.css'
import 'vue-video-player/src/custom-theme.css'
import { videoPlayer } from 'vue-video-player'
export default {
  name: 'videojs',
  components: {
    videoPlayer
  },
  data () {
    return {
      is_header: 1,
      videoSrc: '',
      choice_num: [],
      active: -1,
      playerOptions: {
        poster: './static/active314/Mask.png',
        live: true,
        autoplay: false, // 如果true，浏览器准备好时开始播放
        muted: false, // 默认情况下将会消除任何音频
        loop: false, // 是否视频一结束就重新开始
        preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
        aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
        fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
        // controlBar: {
        //     timeDivider: false,
        //     durationDisplay: false,
        //     remainingTimeDisplay: false,
        //     currentTimeDisplay: false, // 当前时间
        //     volumeControl: false, // 声音控制键
        //     playToggle: false, // 暂停和播放键
        //     progressControl: true, // 进度条
        //     fullscreenToggle: false // 全屏按钮
        // },
        // techOrder: ['html5', 'flash'], // 兼容顺序
        // flash: {
        //   hls: {
        //     withCredentials: false
        //   },
        //   swf: SWF_URL
        // },
        // sources: [{
        //   type: 'video/mp4',
        //   src: 'http://js.51takeit.com/wxmp/act/huigu20190314/2019jushou结案0408.mp4' // 视频地址-改变它的值播放的视频会改变
        //   // https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm
        //   // http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4
        // }],
        sources: [{
          type: 'application/x-mpegURL',
          src: 'https://live.51takeit.com/live/jushouav1.m3u8' // 视频地址-改变它的值播放的视频会改变
          // https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm
          // http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4
        }],
        notSupportedMessage: '直播尚未开始，请耐心等待' // 允许覆盖Video.js无法播放媒体源时显示的默认信息。
      }
    }
  },
  methods: {
    //查询砍车进度
    get_car_info () {
      let vm = this;
      let time = new Date().getTime();
      let obj = {
        game_code: 'drf520',
        stamp: time,
        sign: MD5('drf520' + time + localStorage.getItem('Key'))
      };
      // axios.post(api + '/wxmp/user/game/cut/getCutDeviceList', qs.stringify(obj))
      axios.post('/api/wxmp/user/game/cut/getCutDeviceList', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            vm.choice_num = res.data.dataList.slice(0,4);
          }
        })
        .catch(function (err) {

        })
      this.timer = setInterval(function () {
        let time = new Date().getTime();
        let obj = {
          game_code: 'drf520',
          stamp: time,
          sign: MD5('drf520' + time + localStorage.getItem('Key'))
        };
        // axios.post(api + '/wxmp/user/game/cut/getCutDeviceList', qs.stringify(obj))
        axios.post('https://data.51takeit.com/api/wxmp/user/game/cut/getCutDeviceList', qs.stringify(obj))
          .then((res) => {
            if (res.data.result == 1) {
              vm.choice_num = res.data.dataList.slice(0,5);
               for(let i=0;i<4;i++){
                console.log(res.data.dataList[i].tag + "===>" + res.data.dataList[i].order_count);
              }
            }
          })
          .catch(function (err) {

          })
      }, 50000)
    },
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
    hander_tap (index) {
      if (index == 1) {
        this.is_header = index
        this.playerOptions.sources = [{
          type: 'application/x-mpegURL',
          src: 'https://live.51takeit.com/live/jushouav1.m3u8' // 视频地址-改变它的值播放的视频会改变
          // https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm
          // http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4
        }]
        console.log(this.playerOptions.sources);
      } else if (index == 2) {
        this.is_header = index
        this.playerOptions.sources = [{
          type: 'application/x-mpegURL',
          src: 'https://live.51takeit.com/live/jushouav2.m3u8' // 视频地址-改变它的值播放的视频会改变
          // https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm
          // http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4
        }]
        console.log(this.playerOptions.sources);
      }
    }
  },
  created () {
    this.get_car_info();
    this.cut_device_tag = localStorage.getItem("cut_device_tag")
    ? localStorage.getItem("cut_device_tag")
    : "";
  },
  mounted () {
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
    var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    if (isAndroid) {
      this.playerOptions.autoplay = false;
    }
    if (isIOS) {
      this.playerOptions.autoplay = true;
    }
    document.title = "举手来了 现场直播";
  },
  destroyed () {
    clearInterval(this.timer)
  }
}
</script>

<style scoped lang="scss">
.video-js {
  width: 100%;
  height: 100%;
}
.no-video {
  display: flex;
  height: 100%;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  background: #9dd6d8;
  height: auto;
  padding-top: 0.15rem;
  padding-bottom: 0.25rem;
  text-align: center;
  .video_box {
    width: 7.04rem;
    height: 3.94rem;
    margin: 0 auto;
  }
  .change {
    width: 7.02rem;
    height: 5.27rem;
    background: linear-gradient(
      127deg,
      rgba(35, 111, 114, 1) 0%,
      rgba(103, 234, 239, 1) 99%
    );
    border-radius: 0.15rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 0.58rem;
    .super_prize {
      width: 100%;
      height: 1.04rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.32rem;
      border-bottom: 0.01rem solid rgba(224, 224, 224, 0.198);
      line-height: 1.04rem;
      text-align: left;
      padding-left: 0.29rem;
      box-sizing: border-box;
    }
    .change_hander {
      display: flex;
      align-items: center;
      /*justify-content: space-between;*/
      margin-left: 0.28rem;
      margin-top: 0.37rem;
      img {
        display: block;
        height: 0.56rem;
        width: 0.56rem;
        margin-right: 0.14rem;
      }
      span {
        color: rgba(255, 255, 255, 1);
        font-size: 0.36rem;
      }
    }
    .hander {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 0.58rem;
      .hander_one,
      .hander_two {
        width: 1.99rem;
        height: 1.99rem;

        background: rgba(255, 255, 255, 0.2237);
        border-radius: 50%;
        color: rgba(255, 255, 255, 1);
        font-size: 0.42rem;
        line-height: 1.99rem;
        text-align: center;
      }
      .hander_red {
        background: rgba(15, 222, 169, 1);
      }
    }
    .use_toast {
      width: 100%;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      font-size: 0.24rem;
      position: absolute;
      bottom: 0.4rem;
      left: 0;
    }
  }
  .botton {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.35rem;
    .left,
    .right {
      width: 3.28rem;
      height: 0.88rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      line-height: 0.88rem;
      text-align: center;
    }
  }
}
.box {
  width: 7.04rem;
  height: 2.42rem;
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  // position: absolute;
  // top: 0.15rem;
  // left: 0.22rem;
  margin: 0.16rem auto 0.37rem;
  overflow: hidden;
  background: linear-gradient(
    150deg,
    rgba(35, 111, 114, 1) 0%,
    rgba(103, 234, 239, 1) 100%
  );
  border-radius: 0.16rem;
  padding: 0.12rem 0.56rem;
  box-sizing: border-box;
  .son {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    color: #fff;
    border-radius: 0.3rem;
    font-size:0.32rem;
    font-family:Source Han Sans CN;
    font-weight:400;
  }
  .son:nth-child(2n){
    padding-left: 0.15rem;
  }
  span {
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    border-radius: 0.08rem;
    margin-right: 0.1rem;
    
  }
  :nth-last-child(1) span {
    background: rgba(0, 160, 233, 1) !important;
    color: rgba(255, 255, 255, 1);
  }
  :nth-last-child(2) span {
    background: rgba(170, 170, 170, 1) !important;
    color: rgba(255, 255, 255, 1);
  }
  :nth-last-child(3) span {
    background: rgba(164, 0, 1, 1) !important;
    color: rgba(255, 255, 255, 1);
  }
  :nth-last-child(4) span {
    background: rgba(224, 182, 126, 1) !important;
    color: rgba(51, 51, 51, 1);
  }
  :nth-last-child(5) span {
    background: rgba(255, 255, 255, 1) !important;
    color: rgba(51, 51, 51, 1);
  }
}
</style>