<template>
    <div class="wrap">
        <img v-for="img in imageList" v-lazy="img" :key="img">
        <div class="btn" @click="GetIndex">返回</div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import {Lazyload} from 'vant';

    Vue.use(Lazyload);
    export default {
        name: "prizelist",
        data() {
            return {
                imageList: [
                    "./static/active314/a_01.png",
                    "./static/active314/a_02.png",
                    "./static/active314/a_03.png"
                ]
            }
        },
        methods: {
            GetIndex() {
                this.$router.back()
            }
        },
        mounted(){
            document.title = "活动门店地址";
            window.dataForWeixin = {
                appId: "",
                imgUrl: "https://" + window.location.host + "/wxmp/static/active314/400.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
                link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=kvindex"),
                title: '砍它！百分百中奖！汽车大奖会不会是你？',
                desc: "“举手来了”第二届火爆进行中！！！",
                fakeid: ""
            };
            window.setShare();
        }
    }
</script>
<style lang="scss" scoped>
    .wrap {
        width: 100%;
        min-height: calc(100% + 1px);
        box-sizing: border-box;
        img {
            width: 100%;
            display: block;
        }
        img:last-child {
            margin-bottom: .5rem;
        }
        .btn {
            position: fixed;
            bottom: .16rem;
            left: 0;
            right: 0;
            width: 6.2rem;
            height: 0.94rem;
            background: #246768;
            border-radius: 0.1rem;
            margin: auto;
            line-height: .94rem;
            font-size: 0.34rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
        }
    }
</style>