<!--
 * @Author: your name
 * @Date: 2019-11-09 16:04:31
 * @LastEditTime : 2020-01-07 18:08:15
 * @LastEditors  : sueRimn
 * @Description: In User Settings Edit
 * @FilePath: \hand-up-3.0\src\App.vue
 -->
<template>
  <div id="app">
    <!-- key值绑定解决了同一路由不同参数跳转时页面不刷新的问题 -->
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>
 
<style lang="scss">
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  padding-bottom: constant(safe-area-inset-bottom);
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}
img {
  display: block;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}
input {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
}
.back_applet {
  position: fixed;
  bottom: 20%;
  right: 0.3rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.3rem;
  /*display: none;*/
  img {
    width: 100%;
    height: 100%;
    display: block;
    border: 0.04rem solid rgba(10, 232, 223, 0.51);
    border-radius: 50%;
    box-sizing: border-box;
  }
}
#app {
  height: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 0.26rem;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}
p {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-moz-scrollbar {
  width: 0px;
  height: 0px;
}
::scrollbar {
  width: 0px;
  height: 0px;
}
.van-dialog.dialogConfirm {
  width: 72%;
  /deep/ .van-dialog__content {
    .van-dialog__message {
      padding: 0.54rem 0.3rem;
      text-align: center;
      font-size: 0.28rem;
      line-height: normal;
      color: rgba(250, 85, 163, 1);
    }
  }
}
</style>
