<template>
  <div class="wrap"
       :style="{overflow: dialog?'hidden':'auto'}">
    <div class="sn box">
      <label for="sn">注册码</label>
      <input type="text"
             v-model="sn"
             id="sn">
    </div>
    <div class="name box">
      <label for="name">姓名</label>
      <input type="text"
             v-model="name"
             placeholder="请输入姓名"
             id="name">
    </div>
    <div class="tel box">
      <label for="tel">手机号</label>
      <input type="number"
             v-model="tel"
             placeholder="请输入手机号"
             id="tel"
             maxlength="11">
    </div>
    <div class="btn"
         @click="register">立即注册</div>
    <div class="dialog"
         v-if="dialog"
         @click="close(success)">
      <img src="@/../public/static/active314/push_suc.png"
           alt=""
           v-if="success">
      <img src="@/../public/static/active314/push_fail.png"
           alt=""
           v-if="fail">
      <img src="@/../public/static/active314/canceled.png"
           alt=""
           v-if="got">
      <p v-if="success">注册成功</p>
      <p v-if="fail">注册失败</p>
      <p v-if="got">已是核销员</p>
      <div class="close"
           @click="closeBrowser">关闭</div>
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from 'vant';
Vue.use(Toast);
export default {
  name: "reg",
  data () {
    return {
      sn: "",
      name: "",
      tel: "",
      check_code: "",
      dialog: false,
      success: false,
      fail: false,
      got: false,
    };
  },
  created () {
    if (sessionStorage.getItem('check_code')) {
      this.check_code = sessionStorage.getItem('check_code');
      this.checkReg();
    }
  },
  methods: {
    checkReg () {
      let time = new Date().getTime();
      let obj = {
        checker_open_id: localStorage.getItem('open_id'),
        stamp: time,
        sign: MD5(localStorage.getItem('open_id') + time + localStorage.getItem('oKey'))
      };
      axios.post(api + '/wxmp/user/game/checker/getsearch', qs.stringify(obj))
        .then((res) => {
          console.log(res);
          if (res.data.result == 0) {
            //未注册
            // Toast(res.data.msg)
          } else if (res.data.result == 1) {
            //已注册
            Toast(res.data.msg)
            this.dialog = true;
            this.got = true;
          } else if (res.data.result == 5001) {
            Toast("核销员信息错误")
          }
        })
        .catch(function (err) {
          console.log(err);
        })
    },
    closeBrowser () {
      WeixinJSBridge.call('closeWindow');
    },
    register () {
      let time = new Date().getTime();
      let obj = {
        checker_open_id: localStorage.getItem('open_id'),
        sn: this.sn,
        checker_name: this.name,
        checker_mobile: this.tel,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(this.sn + localStorage.getItem('open_id') + time + localStorage.getItem('oKey'))
      };
      axios.post(api + '/wxmp/user/game/checker/doAdd', qs.stringify(obj))
        .then((res) => {
          console.log(res);
          if (res.data.result == 1) {
            this.dialog = true;
            this.success = true;
          } else if (res.data.result == 5505) {
            //已注册
            this.dialog = true;
            this.got = true;
          } else if (res.data.result == 5505) {
            this.dialog = true;
            this.fail = true;
          } else if (res.data.result == 5504) {
            Toast('注册码错误');
          }
        })
        .catch(function (err) {
          console.log(err);
        })
    },
    close (success) {
      if (success) {
        // this.$router.push({path:'/cancelprize'})
      } else {
        this.dialog = false;
        this.success = false;
        this.fail = false;
        this.got = false;
        this.sn = '';
        this.name = '';
        this.tel = '';
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  p {
    font-size: 0.4rem;
    font-family: PingFangSC-Regular;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
  }
  img {
    width: 2.73rem;
    height: 2.1rem;
    display: block;
    margin: 1.1rem auto 0.78rem;
  }
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    .close {
      width: 6.2rem;
      height: 0.94rem;
      background: rgba(248, 248, 248, 1);
      border-radius: 0.1rem;
      border: 0.02rem solid rgba(5, 5, 5, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem auto 0;
      font-size: 0.36rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }
  }
  .box {
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100% - 0.3rem);
    height: 0.88rem;
    margin-left: 0.3rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid rgba(229, 229, 229, 1);
  }
  label {
    width: 1.2rem;
    height: 100%;
    display: block;
    text-align: left;
    font-size: 0.34rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
  }
  input {
    width: 5.8rem;
    border: none;
    background: none;
    height: 0.88rem;
    box-sizing: border-box;
    padding-left: 0.78rem;
    font-size: 0.32rem;
  }
  .btn {
    width: 6.2rem;
    height: 0.94rem;
    background: #246768;
    border-radius: 0.1rem;
    font-size: 0.34rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.4rem auto;
  }
}
</style>