<template>
  <div class="wrapper">
      <img src="@/../public/static/active314/liuyuan.png" alt="">
  </div>
</template>

<script>
export default {
  components:{},
  props:{},
  data(){
    return {
    }
  },
  watch:{},
  computed:{},
  methods:{},
  created(){},
  mounted(){}
}
</script>
<style lang="scss" scoped>
.wrapper{
    width: 100%;
    img{
        width: 100%;
        display: block;
    }
}
</style>