 <template>
  <div class="my_prize">
    <div class="tap">
      <div class="tap_left" v-on:click="tabActive(1)">
        <span :style="{color:is_big==1?'#246768':'rgba(153, 153, 153, 1)'}">现场奖品</span>
        <div v-if="is_big==1"></div>
      </div>
      <div class="tap_right" v-on:click="tabActive(0)">
        <span :style="{color:is_big==0?'#246768':'rgba(153, 153, 153, 1)'}">线上奖品</span>
        <div v-if="is_big==0"></div>
      </div>
    </div>
    <template v-if="prize_list.length>0">
      <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
        <div class="prize_list" v-for="(etim,index)  in  prize_list" :key="index">
          <div class="left">
            <img :src="etim.prize_pic" alt v-if="etim.award_id>0" />
            <img src="@/../public/static/active314/no_prize.png" alt v-else />
          </div>
          <div class="center">
            <div class="bottom">{{etim.prize_name}}</div>
            <div class="top" v-if="!is_big">切割编号：{{etim.cut_tag}}{{etim.cut_order_num}}</div>
          </div>
          <!-- 实物 -->
          <template v-if="etim.prize_type==0">
            <!-- 没有信息 -->
            <div
              class="right"
              v-show="etim.link_mobile=='' && etim.is_check==0 && etim.prize_info_type > 1"
              v-on:click="update_info(etim,7)"
            >填写信息</div>
            <div
              class="right"
              v-show="etim.prize_info_type <= 1"
              v-on:click="ViewNowPrize(etim)"
            >查看详情</div>
            <div
              class="right"
              v-show="etim.link_mobile!=='' && etim.is_check==0"
              v-on:click="ViewNowPrize(etim)"
            >查看详情</div>
            <!--有信息  已经领取-->
            <div
              class="right_one"
              v-if="etim.link_mobile!=''  &&  etim.is_check==1"
              v-on:click="ViewNowPrize(etim)"
            >已经领取</div>
          </template>
          <!-- 移动 -->
          <template v-else-if="etim.prize_type==23">
            <!-- 没有信息 -->
            <div
              class="right"
              v-show="etim.link_mobile=='' && etim.is_check==0"
              v-on:click="update_info(etim,7)"
            >填写信息</div>
            <div
              class="right"
              v-show="etim.link_mobile!=='' && etim.is_check==0"
              v-on:click="ViewNowPrize(etim)"
            >查看详情</div>
            <!--有信息  已经领取-->
            <div
              class="right_one"
              v-if="etim.link_mobile!=''  &&  etim.is_check==1"
              v-on:click="ViewNowPrize(etim)"
            >已经领取</div>
          </template>
          <div class="right" v-else v-on:click="ViewNowPrize(etim)">查看详情</div>
        </div>
      </van-list>
    </template>
    <div class="new_no_prize" v-if="is_hava_list==1">
      <img src="@/../public/static/active314/new_no_prize.png" alt />
      <!--<div class="jump_active"  @click="skip('/play_index')">立即参与</div>-->
    </div>
    <!--实物-->
    <div class="rule" v-if="is_know==6">
      <div class="prize_box">
        <img :src="prize_list_now.prize_pic" alt />
        <div class="prize_title">恭喜你获得{{prize_list_now.prize_name}}一份</div>
        <div class="sure" v-on:click="sure_get">确认领取</div>
        <div class="close" v-on:click="cloce_go">×</div>
      </div>
    </div>
    <!--填写信息-->
    <div class="rule" @click="close"  v-if="is_know==7">
      <div class="info_box" @click.stop>
        <div class="info_title">填写信息</div>
        <p
          v-if="prizeInfo.prize_info_type==4 || prizeInfo.prize_info_type==5"
          style="font-size:0.28rem;color:#333;width:5.58rem;margin:0 auto 0.28rem;"
        >选择奖品领取门店</p>
        <div v-if="prizeInfo.prize_info_type==4 || prizeInfo.prize_info_type==5" class="store">
          <select name id="storeName" @change="selectStoreAddress($event)">
            <option
              :value="item.storeName"
              v-for="(item) in storeList"
              :key="item.storeNum"
            >{{item.storeName}}</option>
          </select>
          <p id="address">{{user.address?user.address:''}}</p>
        </div>
        <input
          type="text"
          v-if="prizeInfo.prize_info_type > 2"
          placeholder="名字"
          v-on:blur="sure"
          v-model="user.name"
        />
        <input
          type="tel"
          v-if="prizeInfo.prize_info_type > 1"
          placeholder="手机号"
          v-on:blur="sure_mobie"
          v-model="user.mobie"
          maxlength="11"
        />
        <input
          type="text"
          v-if="prizeInfo.prize_info_type==6 || prizeInfo.prize_info_type==5"
          placeholder="身份证号"
          v-on:blur="sure_id_num"
          v-model="user.id_num"
          v-on:input="idcard"
        />
        <div class="id_num_trip">*我们将会对您的个人信息保密，请您放心填写</div>
        <div class="submit" v-on:click.stop="sbumie_sure(1)">提交</div>
      </div>
    </div>
    <!--确认信息-->
    <div class="rule" v-if="is_know==8">
      <div class="info_box">
        <div class="info_title">确认个人信息</div>
        <div v-if="prizeInfo.prize_info_type==4 || prizeInfo.prize_info_type==5" class="store">
          <p id="address">{{user.address?user.address:storeList[storeActive].address}}</p>
        </div>
        <input
          type="text"
          v-if="prizeInfo.prize_info_type > 2"
          disabled
          placeholder="名字"
          v-on:blur="sure"
          v-model="user.name"
        />
        <input
          type="tel"
          disabled
          placeholder="手机号"
          v-on:blur="sure_mobie"
          v-model="user.mobie"
          maxlength="11"
        />
        <input
          type="text"
          disabled
          v-if="prizeInfo.prize_info_type==6 || prizeInfo.prize_info_type==5"
          placeholder="身份证号"
          v-on:blur="sure_id_num"
          v-model="user.id_num"
          v-on:input="idcard"
        />
        <div class="btnBox">
          <div class="sure" v-on:click="user_sure_submit()">确认</div>
          <div class="update" v-on:click="is_know=7">修改信息</div>
        </div>
      </div>
    </div>
    <!--虚拟-->
    <div class="rule" v-if="is_know==9">
      <div class="prize_false">
        <img :src="prize_list_now.prize_pic" alt />
        <div class="prize_title">恭喜您获得{{prize_list_now.prize_name}}。</div>
        <div class="sure" v-on:click="sure_get">确认领取</div>
        <div class="close" v-on:click="cloce_go">×</div>
      </div>
    </div>
    <!--中奖-->
    <div class="rule" v-if="is_know==15">
      <div
        style="background-image:url('./static/active314/prize_success_bg.png');background-size:7.5rem 9.33rem;height:9.33rem;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;"
      >
        <img
          src="@/../public/static/active314/prize_success_btn.png"
          alt
          style="width:4.31rem;position:absolute;top:7.78rem;left:0;right:0;margin: 0 auto;"
          @click="skip('/act_prize')"
        />
        <img
          src="@/../public/static/active314/guess_close.png"
          alt
          style="width:0.59rem;height:0.59rem;position:absolute;top:0.82rem;right:1.39rem;"
          @click="close"
        />
        <!-- 一个奖品 -->
        <div v-if="prize_list_now.length == 1" class="prize_one">
          <p>获得</p>
          <p>{{prize_list_now[0].prize_name}}</p>
          <img :src="prize_list_now[0].prize_pic" alt />
        </div>
        <!-- 两个奖品 -->
        <div v-if="prize_list_now.length > 1" class="prize_two">
          <div class="first">
            <p>获得</p>
            <p>{{prize_list_now[0].prize_name}}</p>
            <img :src="prize_list_now[0].prize_pic" alt />
          </div>
          <div class="second">
            <p>{{prize_list_now[1]?prize_list_now[1].prize_name:'举手优选会员月卡'}}</p>
            <img :src="prize_list_now[1]?prize_list_now[1].prize_pic:''" alt />
          </div>
        </div>
        <p
          style="position:absolute;top:9.02rem;left:0;right:0;margin: 0 auto;font-size:0.24rem;color:#fff;text-align:center;"
        >奖品可在首页“我的奖品”里查看</p>
      </div>
    </div>
    <!--举手优选会员月卡-->
    <div class="rule"  v-if="is_know==12">
      <div class="ys_choice" style="height:3rem">
        <div class="ys_title"  style="height:2rem;line-height:2rem;">请至“举手优选”查看</div>
        <div class="botton" style="border-radius: 0.16rem;">
          <div style="width:100%;height:100%;text-align:center;color:#fa55a3;line-height:1rem;" v-on:click="skip('/index')">进入举手优选</div>
        </div>
      </div>
    </div>
    <div class="botton">
      <div class="left" @click="skip('/play_index')">{{no_prize_trip}}</div>
      <div class="right" v-if="!cut_device_tag" @click="skip('/guess')">竞猜</div>
    </div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import Des from "@/style/des.js";
import { Toast } from "vant";
import { List } from "vant";
import { Overlay } from 'vant';
Vue.use(Toast)
.use(List);
export default {
  name: "my_prize",
  data() {
    return {
      no_prize_trip: "再玩一次",
      timer: null,
      is_get_info: true,
      Complete: false,
      finished: false,
      loading: false,
      pageNum: 1,
      pageSize: 20,
      prize_list: [],
      prizeInfo: {},
      cut_device_tag: "",
      storeActive: 0,
      storeList: [
        {
          logo: "大润发",
          storeNum: "2",
          storeName: "杨浦店",
          address: "杨浦区黄兴路1618号"
        }
      ],
      update_id: "",
      is_know: 0,
      choice_num: [],
      prize_list_now: [], //奖品信息
      user: { name: "", mobie: "", id_num: "", address: "" },
      is_big: 0,
      is_hava_list: 0
    };
  },
  methods: {
    tabActive(is_big){
      clearTimeout(this.timer)
      this.is_big = is_big;
      this.Complete = false;
      this.finished = false;
      this.loading = false;
      this.pageNum = 1;
      this.prize_list = [];
      document.documentElement.scrollTo = 0;
      this.get_prize_list(is_big);
    },
    onLoad() {
      // 异步更新数据
      // setTimeout 仅做示例，真实场景中一般为 ajax 请求
      console.log(0)
      this.pageNum++;
      if (!this.Complete) {
        
        this.timer = setTimeout(() => {
          // 加载状态结束
          this.loading = false;
          this.get_prize_list(this.is_big);
        }, 1000);
      }
    },
    /* 查看优惠券按钮 */
    ViewNowPrize(prizeInfo) {
      console.log("ViewNowPrize -> prizeInfo", prizeInfo);
      this.prizeInfo = prizeInfo;
      sessionStorage.setItem("drf520_p_info", JSON.stringify(prizeInfo));
      switch (prizeInfo.prize_type * 1) {
        case 0:
          /* 实物 填写信息后跳转详情页 判断是否大奖 跳转大奖页面 */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 3:
          /* 优惠券 举手优选优惠券 VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 6:
          /* 外链 直接外链 */
          location.href = prizeInfo.back_url;
          break;
        case 8:
          /* 序列码  */
          // location.href = prizeInfo.back_url;
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          // 再来一次
          break;
        case 9:
          /* 再来一次 不做详情跳转 */
          // location.href = prizeInfo.back_url;
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          // 再来一次
          break;
        case 15:
          /* 举手商品 VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 17:
          /* 子弹优惠券 VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 18:
          /* 举手会员 VueRouter: /elec-coupon-comprehensive */
          // this.$router.push({ path: "/elec-coupon-comprehensive" });
          this.is_know = 12;
          break;
        case 19:
          /* 第三方券码（卡密ticket_class == 6） VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 21:
          /* 第三方券码（条码ticket_class == 11） VueRouter: /elec-coupon */
          localStorage.setItem(
            "e_ticket_code",
            prizeInfo.e_ticket_code
          );
          this.$router.push({ path: "/elec-coupon" });
          break;
        case 22:
          /* 第三方券码（二维码ticket_class == 7） VueRouter: /elec-coupon-comprehensive */
          this.$router.push({ path: "/elec-coupon-comprehensive" });
          break;
        case 23:
          /* 移动大礼包69元pro会员三选一 跳转移动购买付款链接 */
          //移动大礼包 判断是否填过手机号 先填手机号再跳转
          if (prizeInfo.link_mobile === "") {
            this.update_info(prizeInfo, 7);
          } else {
            const DES_MOBILE = Des.encryptByDES(
              prizeInfo.link_mobile,
              localStorage.getItem("des")
            );
            location.href =
              prizeInfo.back_url + "?mobile=" + encodeURI(DES_MOBILE);
          }
          break;
        case 24:
          /* 大富翁优惠券 跳转大富翁游戏兑换 骰子 */
          location.href = prizeInfo.back_url;
          break;
      }
    },
    /* 选择门店 */
    selectStoreAddress(e) {
      this.storeActive = e.target.selectedIndex ? e.target.selectedIndex : 0;
      this.user.address = this.storeList[this.storeActive].address;
    },
    //关闭遮糟
    close() {
      // $("#game").hide();
      this.is_know = 0;
      this.choice_index = 10;
    },
    cloce_go() {
      this.is_know = 0;
      this.$router.go(0);
    },
    checkIDCard(idcode) {
      // 加权因子
      var weight_factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
      // 校验码
      var check_code = ["1", "0", "X", "9", "8", "7", "6", "5", "4", "3", "2"];

      var code = idcode + "";
      var last = idcode[17]; //最后一个

      var seventeen = code.substring(0, 17);

      // ISO 7064:1983.MOD 11-2
      // 判断最后一位校验码是否正确
      var arr = seventeen.split("");
      var len = arr.length;
      var num = 0;
      for (var i = 0; i < len; i++) {
        num = num + arr[i] * weight_factor[i];
      }

      // 获取余数
      var resisue = num % 11;
      var last_no = check_code[resisue];

      // 格式的正则
      // 正则思路
      /*
      第一位不可能是0
      第二位到第六位可以是0-9
      第七位到第十位是年份，所以七八位为19或者20
      十一位和十二位是月份，这两位是01-12之间的数值
      十三位和十四位是日期，是从01-31之间的数值
      十五，十六，十七都是数字0-9
      十八位可能是数字0-9，也可能是X
      */
      var idcard_patter = /^[1-9][0-9]{5}([1][9][0-9]{2}|[2][0][0|1][0-9])([0][1-9]|[1][0|1|2])([0][1-9]|[1|2][0-9]|[3][0|1])[0-9]{3}([0-9]|[X])$/;

      // 判断格式是否正确
      var format = idcard_patter.test(idcode);

      // 返回验证结果，校验码和格式同时正确才算是合法的身份证号码
      return last === last_no && format ? true : false;
    },
    idcard() {
      if (this.user.id_num.length > 18)
        this.user.id_num = this.user.id_num.slice(0, 18);
    },
    //详情跳转
    select_details(index, type) {
      if (index == "chou") {
      } else {
        sessionStorage.setItem(
          "prizeInfo",
          JSON.stringify(this.prize_list[index])
        );
      }
      if (type == 0) {
        //实物跳转
        this.$router.push({ path: "/get_shop" });
      } else if (type == 3) {
        //跳转举手优惠卷
        this.$router.push({ path: "/jushou" });
      } else if (type == 6) {
        //外链
        this.$router.push({ path: "/outer_chain" });
      } else if (type == 9) {
        //再来一次
        this.$router.push({ path: "/again" });
      } else if (type == 17) {
        //子弹优惠券
        this.$router.push({ path: "/screen" });
      } else if (type == 18) {
        //举手会员卡
        this.$router.push({ path: "/get_jushou" });
      } else if (type == 19) {
        //举手现金
        this.$router.push({ path: "/get_code_free" });
      } else if (type == 21) {
        //第三方券码(条码,jsh_ticket_sn.ticket_class=11)
        this.$router.push({ path: "/get_code_free" });
      } else if (type == 22) {
        //第三方券码(二维码,jsh_ticket_sn.ticket_class=7)
        this.$router.push({ path: "/get_code_free" });
      } else if (type == 23) {
        //移动大礼包 判断是否填过手机号 先填手机号再跳转
        if (this.prize_list[index].link_mobile === "") {
          this.is_know = 7;
        } else {
          const DES_MOBILE = Des.decryptByDES(
            this.prize_list[index].link_mobile,
            localStorage.getItem("des")
          );
          location.href = "/wxmp/act/2020/05/520/getshop.html";
        }
      } else if (type == 24) {
        //大富翁
        this.$router.push({ path: "/get_code_free" });
      } else if (type == 14) {
        //车
        this.$router.push({ path: "/get_car" });
      }
    },
    //填写信息
    update_info(etim, index) {
      sessionStorage.setItem("prizeInfo", JSON.stringify(etim));
      this.prizeInfo = etim;
      this.update_id = etim.id;
      this.is_know = index;
      this.user.address = this.storeList[this.storeActive].address;
    },
    sure() {
      var bfscrolltop = document.body.scrollTop;
      $(window).scrollTop(0);
      // document.body.scrollTop = bfscrolltop;
    },
    //手机验证
    sure_mobie() {
      this.sure();
      if (
        !/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(
          this.user.mobie
        )
      ) {
        Toast("手机格式错误");
      }
    },
    //身份证号验证
    sure_id_num() {
      this.sure();
      if (!this.checkIDCard(this.user.id_num)) {
        Toast("身份证格式错误");
      }
    },
    //获取奖品list
    get_prize_list(is_big) {
      // is_big 0线上 1线下
      // this.prize_list = [];
      this.Complete = true;
      if (is_big) {
        var is_big = is_big;
        this.is_big = is_big;
      } else {
        var is_big = 0;
        this.is_big = 0;
      }
      
      console.log("get_prize_list -> this.is_big", this.is_big)
      let time = new Date().getTime();
      let obj = {
        award_period: "drf520",
        is_big: is_big,
        user_id: localStorage.getItem("userId"),
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          "drf520" +
            "" +
            localStorage.getItem("userId") +
            "" +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(dataApi + "/wxmp/log/award/getCutPrizeList", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 0) {
            if(this.prize_list.length == 0){
              this.is_hava_list = 1;
              this.no_prize_trip = "立即参与";
            }else{
              this.finished = true;
            }
            
          } else if (res.data.result == 1) {
            this.Complete = false;
            this.loading = false;
            this.is_hava_list = 0;
            this.no_prize_trip = "再玩一次";
            this.prize_list = [...this.prize_list, ...res.data.dataList];
          } else {
            this.Complete = false;
            this.is_hava_list = 1;
          }
        })
        .catch(function(err) {});
    },
    //抽奖
    guess_prize(id) {
      let api = "https://award.51takeit.com";
      let that = this;
      let time = new Date().getTime();
      let obj = {
        id: id,
        stamp: time,
        sign: MD5(id + "" + time + "" + localStorage.getItem("Key"))
      };
      axios
        .post("/api/wxmp/user/game/cut/doGameCutAward", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            // this.is_know = 10
            if (res.data.data.prize_type == 0) {
              //实物
              setTimeout(function() {
                that.is_know = 15;
                that.prize_list_now = res.data.dataList;
                sessionStorage.setItem(
                  "prizeInfo",
                  JSON.stringify(that.prize_list_now)
                );
              }, 1000);
            } else {
              setTimeout(function() {
                that.is_know = 15;
                that.prize_list_now = res.data.dataList;
                sessionStorage.setItem(
                  "prizeInfo",
                  JSON.stringify(that.prize_list_now)
                );
              }, 1000);
            }
            this.get_prize_list(this.is_big);
          } else {
            this.guess_prize(id);
          }
        })
        .catch(function(err) {});
    },
    //确认领取(中奖)
    sure_get() {
      if (this.prize_list_now.prize_type == 0) {
        //实物,填写信息
        this.is_know = 7;
      } else if (this.prize_list_now.prize_type == 5) {
        //爱奇艺
        this.is_know = 13;
      } else {
        //去详情
        this.ViewNowPrize("chou", this.prize_list_now.prize_type);
      }
    },
    //跳转
    skip(link) {
      if (link == "/guess") {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link });
      }
    },
    //提交信息确认
    sbumie_sure(index) {
      console.log("sbumie_sure -> this.user.name", this.user.name == "");
      /* 姓名+手机号 */

      if (this.user.mobie == "") {
        Toast("请输入手机号");
        return false;
      }
      if (
        !/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(
          this.user.mobie
        )
      ) {
        Toast("手机格式错误");
        return false;
      }
      if (this.prizeInfo.prize_info_type == 4) {
        /* 姓名+手机号+地址 */
        if (this.user.name == "") {
          Toast("请输入名字");
          return false;
        }
        if (this.user.address == "") {
          Toast("请选择门店地址");
          return false;
        }
        if (
          this.user.name != "" &&
          this.user.mobie != "" &&
          this.user.address != ""
        ) {
          this.is_know = 8;
        }
      } else if (this.prizeInfo.prize_info_type == 5) {
        /* 姓名+手机号+身份证+地址 */
        if (this.user.name == "") {
          Toast("请输入名字");
          return false;
        }
        if (!this.checkIDCard(this.user.id_num)) {
          Toast("身份证格式错误");
          return false;
        }
        if (this.user.id_num == "") {
          Toast("请输入身份证号");
          return false;
        }
        if (this.user.address == "") {
          Toast("请选择门店地址");
          return false;
        }
        if (
          this.user.name != "" &&
          this.user.mobie != "" &&
          this.user.id_num != "" &&
          this.user.address != ""
        ) {
          this.is_know = 8;
        }
      } else if (this.prizeInfo.prize_info_type == 6) {
        /* 姓名+手机号+身份证 */
        if (this.user.name == "") {
          Toast("请输入名字");
          return false;
        }
        if (this.user.id_num == "") {
          Toast("请输入身份证号");
          return false;
        }
        if (!this.checkIDCard(this.user.id_num)) {
          Toast("身份证格式错误");
          return false;
        }
        if (
          this.user.name != "" &&
          this.user.mobie != "" &&
          this.user.id_num != ""
        ) {
          this.is_know = 8;
        }
      } else if (this.prizeInfo.prize_info_type == 2) {
        /* 手机号 */
        if (this.user.mobie != "") {
          this.is_know = 8;
        }
      } else {
        if (this.user.name == "") {
          Toast("请输入名字");
          return false;
        }
        /* 姓名+手机号 */
        if (this.user.name != "" && this.user.mobie != "") {
          this.is_know = 8;
        }
      }
    },
    //提交信息
    user_sure_submit() {
      if (!this.is_get_info) {
        return false;
      }
      this.is_get_info = false;
      let time = new Date().getTime();
      let obj = {
        id: this.update_id,
        user_id: localStorage.getItem("userId"),
        id_num: this.user.id_num,
        link_address: this.user.address,
        link_mobile: this.user.mobie,
        link_name: this.user.name,
        stamp: time,
        sign: MD5(
          this.update_id +
            "" +
            localStorage.getItem("userId") +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(awardApi + "/wxmp/user/game/cut/modAwardinfo", qs.stringify(obj))
        .then(res => {
          console.log(res);
          this.is_know = 0;
          if (res.data.result == 1) {
            sessionStorage.setItem("prizeInfo", JSON.stringify(res.data.date));
            // let  str=JSON.parse(sessionStorage.getItem('prizeInfo'))
            this.is_get_info = true;
            this.ViewNowPrize(res.data.date);
          } else {
            Toast("提交信息失败");
          }
        })
        .catch(function(err) {});
    }
  },
  created() {
    this.cut_device_tag = localStorage.getItem("cut_device_tag")
      ? localStorage.getItem("cut_device_tag")
      : "";
      console.log("created -> sessionStorage.getItem('is_big')", sessionStorage.getItem('is_big'))
      if(sessionStorage.getItem('is_big')){
        this.is_big = sessionStorage.getItem('is_big');
      }
    this.get_prize_list(this.is_big);
    
  },
  mounted() {
    document.title = "我的奖品";
    window.dataForWeixin = {
        appId: "",
        imgUrl: "https://" + window.location.host + "/wxmp/static/active314/400.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=kvindex"),
        title: '砍它！百分百中奖！汽车大奖会不会是你？',
        desc: "“举手来了”第二届火爆进行中！！！",
        fakeid: ""
    };
    window.setShare();
  },
  destroyed(){
    /* 处理再次 */
    sessionStorage.removeItem('is_big');
  }
};
</script>

<style scoped lang="scss">
.my_prize {
  width: 100%;
  padding-bottom: 1.46rem;
  padding-top: 1.11rem;
  text-align: left;
  min-height: calc(100% + 1px);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  .tap {
    width: 7.5rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    .tap_left,
    .tap_right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      padding: 0.2rem 0;
      box-sizing: border-box;
      span {
        font-size: 0.3rem;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: rgba(36, 103, 104, 1);
        margin: 0 auto 0.25rem;
      }
      div {
        width: 100%;
        height: 0.06rem;
        background: #246768;
      }
    }
  }
  .prize_list {
    width: 100%;
    height: 1.36rem;
    border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      width: 1.57rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 1rem;
        display: block;
      }
    }
    .center {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      .top {
        color: rgba(85, 85, 85, 1);
        font-size: 0.26rem;
      }
      .bottom {
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
      }
    }
    .right {
      width: 1.74rem;
      height: 0.64rem;
      border-radius: 0.08rem;
      border: 0.01rem solid rgba(250, 85, 163, 1);
      margin-right: 0.24rem;
      color: rgba(250, 85, 163, 1);
      // font-weight: 600;
      font-size: 0.3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .right_one {
      width: 1.74rem;
      height: 0.64rem;
      border-radius: 0.08rem;
      background: rgba(209, 212, 218, 0.25);
      border: 0.01rem solid rgba(209, 212, 218, 1);
      margin-right: 0.24rem;
      color: rgba(51, 51, 51, 1);
      font-size: 0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .new_no_prize {
    img {
      width: 4.11rem;
      height: 4.18rem;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
    }
    .jump_active {
      width: 3.9rem;
      height: 0.8rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.3rem;
      line-height: 0.8rem;
      text-align: center;
      margin: 0 auto;
      margin-top: 1.76rem;
    }
  }
  .botton {
    width: 100%;
    height: 1.46rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #ffffff;
    .left,
    .right {
      width: 3.28rem;
      height: 0.88rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      line-height: 0.88rem;
      text-align: center;
    }
  }
  .rule {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    .prize_one {
      width: 3rem;
      position: absolute;
      top: 2.9rem;
      left: 0;
      right: 0;
      margin: auto;
      p {
        width: 2.99rem;
        font-size: 0.3rem;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: rgba(212, 0, 0, 1);
        line-height: 0.45rem;
        text-align: center;
      }
      img {
        width: 2.12rem;
        height: 2.12rem;
        margin: auto;
      }
    }
    .prize_two {
      position: absolute;
      top: 2.8rem;
      width: 3rem;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      .first {
        padding-bottom: 0.08rem;
        p {
          width: 3rem;
          font-size: 0.26rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: rgba(212, 0, 0, 1);
          line-height: 0.39rem;
        }
        img {
          width: 1.5rem;
          height: 1.5rem;
          margin: auto;
        }
      }
      .second {
        border-top: 0.02rem solid #ecd9b7;
        p {
          width: 3rem;
          font-size: 0.24rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(212, 0, 0, 1);
          line-height: 0.4rem;
        }
        img {
          width: 1.29rem;
          height: 0.71rem;
          margin: auto;
          background: #aaaaaa;
        }
      }
    }
    .rule_box {
      width: 5.3rem;
      height: 6.37rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow: hidden;
      border-radius: 0.1rem;
      .content {
        width: 5.3rem;
        height: 5.4rem;
        padding: 0.47rem 0.47rem 0 0.47rem;
        box-sizing: border-box;
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        line-height: 0.48rem;
      }
      .know {
        width: 100%;
        height: 0.96rem;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        color: rgba(250, 85, 163, 1);
        font-weight: 600;
        font-size: 0.36rem;
        line-height: 0.96rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .ys_choice {
      width: 5.6rem;
      height: 2.2rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .ys_title {
        width: 100%;
        height: 1.19rem;
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        text-align: center;
        line-height: 1.19rem;
      }
      .botton {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 1rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          font-weight: 600;
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
    .line {
      width: 5.6rem;
      height: 2.65rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .line_num {
        width: 100%;
        color: rgba(53, 53, 53, 1);
        font-size: 0.34rem;
        text-align: center;
        margin-top: 0.36rem;
        span {
          color: rgba(250, 85, 163, 1);
          font-weight: 600;
        }
      }
      .wait {
        color: rgba(102, 102, 102, 1);
        font-size: 0.3rem;
        margin-top: 0.24rem;
        text-align: center;
      }
      .know {
        width: 100%;
        height: 1rem;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        color: rgba(250, 85, 163, 1);
        font-weight: 600;
        font-size: 0.34rem;
        line-height: 1rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .prize_box {
      width: 5.28rem;
      height: 6.75rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.08rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      img {
        width: 3rem;
        display: block;
        margin: 0 auto;
        margin-top: 0.97rem;
      }
      .prize_title {
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        width: 100%;
        text-align: center;
        margin-top: 0.5rem;
      }
      .sure {
        width: 3.49rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.38rem;
        color: rgba(255, 255, 255, 1);
        line-height: 0.8rem;
        font-size: 0.3rem;
        text-align: center;
      }
      .close {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -1.2rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.8rem;
        text-align: center;
        z-index: 9999;
        color: #ffffff;
      }
    }
    .info_box {
      width: 6rem;
      height: 7.8rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.08rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      .store {
        width: 5.58rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.3rem;
        text-align: center;
      }
      #storeName {
        width: 1.69rem;
        height: 0.76rem;
        background: rgba(248, 248, 248, 1);
        border: 0.02rem solid rgba(5, 5, 5, 0.101961);
        border-radius: 0.1rem;
        font-size: 0.28rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
      #address {
        width: 3.74rem;
        height: 0.76rem;
        background: rgba(248, 248, 248, 1);
        border: 0.02rem solid rgba(5, 5, 5, 0.101961);
        border-radius: 0.1rem;
        font-size: 0.28rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
      }
      .id_num_trip {
        width: 100%;
        padding: 0 0.24rem;
        box-sizing: border-box;
        text-align: left;
        font-size: 0.26rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        margin: 0.25rem 0;
      }
      .info_title {
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        width: 100%;
        text-align: center;
        margin-top: 0.34rem;
        font-weight: bold;
        margin-bottom: 0.39rem;
      }
      input {
        display: block;
        width: 5.58rem;
        height: 0.78rem;
        /*line-height: 0.78rem;*/
        margin: 0 auto 0.3rem;
        background: rgba(248, 248, 248, 1);
        border: 0.02rem solid rgba(5, 5, 5, 0.101961);
        border-radius: 0.1rem;
        font-size: 0.28rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        padding: 0 0.17rem;
        box-sizing: border-box;
      }
      input::placeholder {
        color: rgba(153, 153, 153, 1);
      }
      .submit {
        width: 2.87rem;
        height: 0.74rem;
        background: #246768;
        border-radius: 0.2rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.34rem;
        text-align: center;
        line-height: 0.74rem;
        margin: auto;
      }
      .btnBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .sure {
        width: 40%;
        height: 0.8rem;
        background: #246768;
        border-radius: 0.08rem;
        color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 0.3rem;
        text-align: center;
        line-height: 0.8rem;
        margin: 0 auto;
        // margin-top: 0.3rem;
      }
      .update {
        width: 40%;
        height: 0.8rem;
        box-sizing: border-box;
        border-radius: 0 0.08rem;
        border: 0.01rem solid rgba(151, 151, 151, 1);
        background: #ffffff;
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        line-height: 0.78rem;
        text-align: center;
        margin: 0.1rem auto;
      }
    }
    .prize_false {
      width: 5.28rem;
      height: 6.75rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.08rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      img {
        width: 3.43rem;
        height: 3.43rem;
        display: block;
        margin: 0 auto;
        margin-top: 0.21rem;
      }
      .prize_title {
        padding: 0 0.19rem;
        box-sizing: border-box;
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        width: 100%;
        text-align: center;
        margin-top: 0.26rem;
      }
      .sure {
        width: 3.49rem;
        height: 0.8rem;
        background: #246768;
        border-radius: 0.08rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.38rem;
        color: rgba(255, 255, 255, 1);
        line-height: 0.8rem;
        font-size: 0.3rem;
        text-align: center;
      }
      .close {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -1.2rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.8rem;
        text-align: center;
        z-index: 9999;
        color: #ffffff;
      }
    }
    .gift {
      width: 100%;
      display: block;
    }
    .ipone_box {
      width: 6.37rem;
      height: 3.29rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 0.08rem;
      .title {
        width: 100%;
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        text-align: center;
        margin-top: 0.26rem;
      }
      input {
        width: 5.23rem;
        height: 0.62rem;
        border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
        display: block;
        margin: 0 auto;
        margin-top: 0.37rem;
        font-size: 0.3rem;
      }
      input::placeholder {
        color: rgba(153, 153, 153, 1);
      }
      .submit {
        width: 4.2rem;
        height: 0.8rem;
        background: #246768;
        border-radius: 0.08rem;
        margin: 0 auto;
        margin-top: 0.46rem;
        font-size: 0.3rem;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        line-height: 0.8rem;
      }
    }
    .ys_choice_aqy {
      width: 5.6rem;
      height: 2.2rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.16rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      .ys_title {
        width: 100%;
        height: 1.19rem;
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        text-align: center;
        line-height: 1.19rem;
      }
      .ipone_chose {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 1rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
  }
  #game {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  #forhorview {
    position: absolute;
    font-size: 0.5rem;
    text-align: center;
    line-height: 100%;
    color: #ffffff;
    background: #8dbec0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .jinbi {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 276px;
    z-index: -1000;
    opacity: 0;
  }
  .anima {
    opacity: 1;
    transition: all 2.6s;
    z-index: 99999;
    transform: rotateY(2520deg);
  }
}
</style>