<template>
  <div class="push_suc">
    <img src="@/../public/static/active314/push_suc.png"
         alt="">
    <div class="suc">提交成功</div>
    <div class="tips">您可至上海电信网上营业厅办理</div>
    <div class="button"
         v-on:click="get_des">去办理</div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
export default {
  name: "push_suc",
  data () {
    return {
      prizeInfo: '',
    }
  },
  methods: {
    //查询加密
    get_des () {
      let time = new Date().getTime();
      let json_obg = {
        mobileNum: this.prizeInfo.link_mobile,
        chn: "hz_lswh",
        reqTime: time + '',
      };

      let obj = {
        link_mobile: this.prizeInfo.link_mobile,
        iqiyireq: Base64.encode(JSON.stringify(json_obg)),
        stamp: time,
        sign: MD5(this.prizeInfo.link_mobile + '' + time + localStorage.getItem('Key'))
      };
      axios.post(api + '/wxmp/user/game/cut/iQIYIDesEncode', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            console.log(res);
            console.log(this.prizeInfo.link_mobile);
            // window.location.href =  `https://l.sh.189.cn/illbeta147/coopAccess?req=${res.data.req}`
            window.location.href = `https://l.sh.189.cn/coopAccess?req=${res.data.req}`
          }
        })
        .catch(function (err) {

        })
    },
  },
  created () {
    if (sessionStorage.getItem('prizeInfo')) {
      this.prizeInfo = JSON.parse(sessionStorage.getItem('prizeInfo'));
    }
  }
}
</script>

<style scoped  lang="scss">
.push_suc {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
  text-align: center;
  img {
    width: 1.86rem;
    height: 1.44rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.97rem;
  }
  .suc {
    color: rgba(34, 34, 34, 1);
    font-size: 0.4rem;
    width: 100%;
    margin-top: 0.6rem;
    text-align: center;
    font-weight: bold;
  }
  .tips {
    color: rgba(51, 51, 51, 1);
    font-size: 0.36rem;
    width: 100%;
    margin-top: 0.6rem;
    text-align: center;
  }
  .button {
    width: 6.34rem;
    height: 0.96rem;
    background: #246768;
    border-radius: 0.08rem;
    color: rgba(255, 255, 255, 1);
    line-height: 0.96rem;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0.42rem;
    color: rgba(255, 255, 255, 1);
    font-size: 0.36rem;
    text-align: center;
  }
}
</style>