<template>
  <div class="push_fail">
    <img src="@/../public/static/active314/push_fail.png"
         alt=""
         class="fail_img">
    <div class="suc">办理失败</div>
    <div class="tips">无法领取该奖品</br>您可以获得再来一次的机会</div>

    <img src="@/../public/static/active314/get_one.png"
         alt=""
         class="get_one">
    <div class="tips_if">仅限中国电信上海公司2019年1月手机国内上网使用流量大于500M的用户领取，每个手机号码限领一份。</div>
    <div class="botton">
      <div class="left"
           @click="skip('/play_index')">再玩一次</div>
      <div class="right"
           @click="skip('/act_prize')">我的奖品</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "push_fail",
  methods: {
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
  },
}
</script>

<style scoped   lang="scss">
.push_fail {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
  text-align: left;
  .fail_img {
    width: 1.86rem;
    height: 1.44rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.97rem;
  }
  .suc {
    color: rgba(34, 34, 34, 1);
    font-size: 0.4rem;
    width: 100%;
    margin-top: 0.6rem;
    text-align: center;
    font-weight: bold;
  }
  .tips {
    color: rgba(51, 51, 51, 1);
    font-size: 0.36rem;
    width: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0 0.36rem 0 0.42rem;
    box-sizing: border-box;
  }
  .tips_if {
    color: #c4c4c4;
    font-size: 0.3rem;
    width: 100%;
    margin-top: 0.6rem;
    text-align: left;
    padding: 0 0.36rem 0 0.42rem;
    box-sizing: border-box;
  }
  .get_one {
    width: 5.4rem;
    height: 1.74rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.94rem;
  }
  .botton {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0.42rem;
    .left,
    .right {
      width: 3.28rem;
      height: 0.88rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      line-height: 0.88rem;
      text-align: center;
    }
  }
}
</style>