<template>
  <div id="index-wrap">
    <!-- Search Module -->
    <van-search
      v-model="value"
      show-action
      shape="round"
      placeholder="请输入搜索关键词"
      style="padding-left:0.33rem;padding-right:0.17rem;"
      @search="onSearch"
    >
      <template #action>
        <van-icon
          @click="routePush({path:'/vip_buy'})"
          name="./static/index/vip@2x.png"
          size="0.42rem"
          style="display:flex;"
        />
      </template>
    </van-search>
    <!-- Swiper Module -->
    <van-swipe class="swiper" :lazyRender="true" :autoplay="6000">
      <van-swipe-item @click="GoRoute(item)" v-for="item in swiperAdvertismentList" :key="item.id">
        <img :src="item.adv_pic" alt style="width:100%;height:100%" />
      </van-swipe-item>
    </van-swipe>
    <!-- Advertisment Recommend Module -->
    <div class="plate-item">
      <div class="plate-item_title-background_image">活动推荐</div>
      <div class="advertisment">
        <div class="left van-hairline--right" @click="GoRoute(horoscopeData)">
          <van-image :src="horoscopeData.adv_pic">
            <template v-slot:error>加载失败</template>
          </van-image>
        </div>
        <div class="right">
          <div
            class="item item-top van-hairline--bottom"
            v-if="CountDownData"
            @click="ViewProduct(CountDownData)"
          >
            <div class="coutdown" v-if="CountDownData">
              <!-- 限时抢购 -->
              <van-count-down class="coutdown-plugins" :time="time" format="DD:HH:mm:ss">
                <!-- slot -->
                <template v-slot="timeData">
                  <van-icon
                    name="clock-o"
                    size="0.3rem"
                    color="#871F1D"
                    style="margin-right:0.04rem;font-weight:600;"
                    :style="{'color':imgColor}"
                  />
                  <span
                    style="margin-right:0.08rem;font-size:0.26rem;font-family:Source Han Sans CN;font-weight:600;"
                  >限时抢购</span>
                  <!-- <span class="coutdown-item"
                        v-if="timeData.days >= 1">{{ timeData.days }} 天</span>
                  {{timeData.days>=1 ? ':':''}}-->
                  <span class="coutdown-item">{{ timeData.hours+timeData.days*24 }}</span>
                  {{":"}}
                  <span class="coutdown-item">{{ timeData.minutes }}</span>
                  <!-- {{timeData.days>=1 ? '':':'}} -->
                  <span class="coutdown-item">{{ timeData.seconds }}</span>
                </template>
              </van-count-down>
            </div>
            <van-image :src="CountDownData.countdown_pic">
              <template v-slot:error>加载失败</template>
            </van-image>
            <h3 class="item-name van-ellipsis" v-if="CountDownData">{{CountDownData.act_name}}</h3>
            <p
              v-if="CountDownData"
              style="font-size:0.23rem;color:#E90000;position:absolute;bottom:0.12rem;text-align:center;width:100%;"
            >
              <span style="font-size:0.19rem;">¥</span>
              {{(CountDownData.prize/100).toFixed(2)}}
              <del
                style="color:#999999;font-size:0.19rem;"
              >¥{{(CountDownData.goods_cost/100).toFixed(2)}}</del>
            </p>
          </div>
          <div class="item item-top van-hairline--bottom" v-else>
            <van-image src="./static/index/countdown.jpg" />
          </div>
          <div class="item" @click="GoRoute(horoscopeData1)">
            <van-image :src="horoscopeData1.adv_pic">
              <template v-slot:error>加载失败</template>
            </van-image>
          </div>
        </div>
      </div>
    </div>
    <!-- Goods Module -->
    <template v-if="GoodsRecommendList.length">
      <div v-for="val in GoodsRecommendList" :key="val.class_id">
        <div v-if="val.dataList.length" class="plate-item">
          <div class="plate-item_title-background_image">{{val.descr}}</div>
          <van-grid style="padding:0;" :column-num="3" :border="false" gutter="0.12rem">
            <van-grid-item
              v-for="(item,index) in val.dataList"
              :key="index"
              class="goods-grid-item"
              style="margin-top:0;margin-bottom:0.6rem;"
              @click="ViewProduct(item)"
            >
              <van-image :src="item.title_url" lazy-load class="image">
                <template v-slot:error>加载失败</template>
              </van-image>
              <div class="van-ellipsis goods-grid-item-act_name">{{item.act_name}}</div>
              <div class="goods-grid-item-price">
                <div class="price">
                  <span>¥</span>
                  {{(item.prize/100).toFixed(2)}}
                </div>
                <div class="vip-price" v-if="item.vip_prize*1">
                  ¥{{(item.vip_prize/100).toFixed(2)}}
                  <img
                    src="@/../public/static/goods/vip.png"
                    class="vip-icon"
                    alt="vip"
                  />
                </div>
                <div class="vip-price" v-else></div>
                <!-- 查看更多 -->
              </div>
            </van-grid-item>
          </van-grid>
          <img
            src="@/../public/static/index/more.png"
            alt="查看更多"
            @click="routePush({path:'/goodslist',query:{class_id:val.class_id}})"
            style="width:1.42rem;height:0.26rem;margin:auto;"
          />
        </div>
      </div>
    </template>
    <div style="width:100%;height:1rem;"></div>
    <!-- 兼容移动app 内嵌fixed的问题 -->
    <div v-if="apptype=='shydhn'" style="width:100%;height:0.88rem;"></div>
    <!-- 过度效果外壳 -->
    <transition name="van-fade">
      <!-- 活动弹窗 -->
      <van-overlay :show="show">
        <div style="height:4.6rem;"></div>
        <img
          src="@/../public/static/index/gift1.png"
          style="width:3.96rem;height:3.21rem;margin:auto;"
          alt="新人专享"
        />
        <img
          src="@/../public/static/index/gift1-btn.png"
          style="width:4.26rem;height:0.76rem;margin:0.33rem auto 0.43rem;"
          alt="立即领取"
          @click="skipLocation()"
        />
        <img
          src="@/../public/static/index/close_round_btn.png"
          style="width:0.55rem;height:0.55rem;margin:auto;"
          alt="关闭"
          @click="closeShow(1)"
        />
      </van-overlay>
    </transition>
    <tabbar></tabbar>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
// import rgbaster from 'rgbaster'//图片主色提取包
import Tabbar from "./TabBar.vue";
// import util from '../style/utils.js'
import Storage from '../style/Storage.js'

import Vue from "vue";
import { Popup } from "vant";
import { Search } from "vant";
import { Toast } from "vant";
import { CountDown } from "vant";
import { Swipe, SwipeItem } from "vant";
import { Grid, GridItem } from "vant";
import { Overlay } from "vant";
import { Image } from "vant";
import { Lazyload } from "vant";
import { Icon } from 'vant';
Vue.use(Lazyload, {
  lazyComponent: true
});
Vue.use(Popup)
  .use(Icon)
  .use(Search)
  .use(Toast)
  .use(CountDown)
  .use(Swipe)
  .use(SwipeItem)
  .use(Grid)
  .use(GridItem)
  .use(Overlay)
  .use(Image);
export default {
  name: "index",
  components: { Tabbar },
  data() {
    return {
      show: true,
      visible: false,
      value: "",
      apptype: "",
      CountDownData: "", //倒计时数据
      time: "0",
      imgColor: "#B00000",
      titleBackground: "./static/index/title-bg.png",
      GoodsRecommendList: [],
      horoscopeData: {},
      horoscopeData1: {},
      swiperAdvertismentList: []
    };
  },
  created() {
    /shydhn/g.test(window.navigator.userAgent)
      ? (this.apptype = "shydhn")
      : (this.apptype = "");
    /* 判断是否点击过弹窗 */
    // if (localStorage.getItem('新人大礼包关闭日期') && localStorage.getItem('新人大礼包关闭日期') == new Date().getDate()) { this.show = false }
    if (
      localStorage.getItem("新人大礼包") &&
      localStorage.getItem("新人大礼包") == 2
    ) {
      this.show = false;
    }

    this.getAdvertismentModule(5); //广告 首页banner
    this.getAdvertismentModule(10); //广告 活动推荐左侧
    this.getAdvertismentModule(12); //广告 活动推荐右侧
    this.getLimitGoodModule(); //倒计时数据
    this.getGoodsModule(); //商品模块
  },
  mounted() {
    document.title = "举手优选";
    const local = new Storage({ type:'local', time: 20000});
    local.setItem('abc','555')
    console.log("mounted -> local", local)
    
  },
  methods: {
    GoRoute(value) {
      if (!value.end_time) {
        return false;
      }
      let times = new Date(
        value.end_time.substr(0, 19).replace(/-/g, "/")
      ).getTime();
      if (Date.now() > times) {
        Toast("活动已截止，敬请期待新的特惠活动");
      } else {
        if (value.url_type == 0) {
          location.href = value.adv_url;
        } else if (value.url_type == 1) {
          this.$router.push({ path: value.adv_url });
        }
      }
    },
    /* View Product 查看商品 */
    ViewProduct(ProductVal) {
      if (!ProductVal.id) {
        return false;
      }
      if (ProductVal.id === -1) {
        location.href = ProductVal.goods_url;
      } else {
        this.routePush({ path: "/shop_details", query: { id: ProductVal.id } });
      }
    },
    /* 跳转站内路由 */
    routePush(routeObject) {
      this.$router.push(routeObject);
    },
    /* 搜索框 */
    onSearch(val) {
      // Toast(val);
      sessionStorage.setItem("search", val);
      this.$router.push({ path: "/search" });
    },
    /* 关闭弹窗 */
    closeShow(type) {
      // 1当天关闭 2永久关闭
      if (type === 1) {
        this.show = false;
        localStorage.setItem("新人大礼包", 2);
      }
      if (type === 2) {
        this.show = false;
        localStorage.setItem("新人大礼包", 2);
        this.$router.push({ path: "/NewcomerGiftPack" });
      }
    },
    /* 立即领取 */
    skipLocation() {
      this.closeShow(2);
    },
    /* 执行promise.allSettled(prmoise对象数组) */
    /* 获取商品 模块数据列表 */
    getGoodsModule() {
      axios.get("/wxmp/api/area_index.json").then(response => {
        this.GoodsRecommendList = response.data.dataList.map(v => {
          return v;
        });
        this.sub_url = response.data.sub_url;
      });
    },
    /* 获取广告 */
    getAdvertismentModule(type) {
      var time = new Date().getTime();
      let adv_sign = sessionStorage.getItem("advSign")
        ? sessionStorage.getItem("advSign") * 1
        : 0;
      var obj = {
        adv_type: type,
        adv_sign,
        adv_state: 1,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(
          type +
            "" +
            "1" +
            "1" +
            "10" +
            time +
            "" +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(
          api + "/wxmp/advertise/advertiseGeneral/doAdvertiseGeneralList",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataNum > 0) {
              if (type == 12) {
                //首页活动  星座 心理测试
                this.horoscopeData = res.data.dataList[0];
                localStorage.setItem(
                  "horoscopeData",
                  JSON.stringify(this.horoscopeData)
                );
              } else if (type == 5) {
                //商城首页  banner
                this.swiperAdvertismentList = [...res.data.dataList].filter(
                  ele => {
                    return (
                      Date.now() >
                        new Date(
                          ele.begin_time.substr(0, 19).replace(/-/g, "/")
                        ).getTime() &&
                      Date.now() <
                        new Date(
                          ele.end_time.substr(0, 19).replace(/-/g, "/")
                        ).getTime()
                    );
                  }
                );
                localStorage.setItem(
                  "swiperAdvertismentList",
                  JSON.stringify(this.swiperAdvertismentList)
                );
              } else if (type == 10) {
                //活动广告
                this.horoscopeData1 = res.data.dataList[0];
                localStorage.setItem(
                  "horoscopeData1",
                  JSON.stringify(this.horoscopeData1)
                );
              }
            }
          } else {
            console.log(res.msg);
          }
        })
        .catch(error => {
          if (type == 12) {
            //首页活动  星座 心理测试
            this.horoscopeData = localStorage.getItem("horoscopeData")
              ? localStorage.getItem("horoscopeData")
              : {};
          } else if (type == 5) {
            //商城首页  banner
            this.swiperAdvertismentList = localStorage.getItem(
              "swiperAdvertismentList"
            )
              ? localStorage.getItem("swiperAdvertismentList")
              : [];
          } else if (type == 10) {
            //活动
            this.horoscopeData1 = localStorage.getItem("horoscopeData1")
              ? localStorage.getItem("horoscopeData1")
              : [];
          }
        });
    },
    /* 获取限时抢购商品数据 */
    getLimitGoodModule() {
      let time = Date.now();
      let adv_sign = sessionStorage.getItem("advSign")
        ? sessionStorage.getItem("advSign") * 1
        : 0;
      const SORTTYPE = 0;
      var obj = {
        sortord: SORTTYPE, //0后台指定查询方式 1所有倒计时商品按ID正序 2所有倒计时商品按ID倒序 3所有倒计时商品随机 4推荐倒计时商品按ID正序 5推荐倒计时商品按ID倒叙 6推荐倒计时商品随机 7热门倒计时商品按ID正序 8热门倒计时商品按ID倒叙 9热门倒计时商品随机
        stamp: time,
        sign: MD5(SORTTYPE + "" + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post("/api/wxmp/info/goods/getCountdownGoods", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.CountDownData = res.data.data;
            this.time =
              new Date(
                this.CountDownData.end_time.substr(0, 19).replace(/-/g, "/")
              ).getTime() - Date.now();
          } else {
            // Toast(res.data.result + res.data.msg)
          }
        });
    }
    /* 跳转对应商品分类列表 */
  }
};
</script>

<style lang="scss" scoped>
#index-wrap {
  background: #f0f0f0;
  height: 100%;
  overflow-y: scroll;
  /* 板块格子 */
  .plate-item {
    width: 100%;
    background: #fff;
    padding: 0.5rem 0.32rem 0.42rem 0.32rem;
    box-sizing: border-box;
    margin-bottom: 0.2rem;
    .plate-item_title-background_image {
      width: 3.64rem;
      height: 0.34rem;
      margin: 0 auto 0.5rem;
      background-image: url("@/../../../public/static/index/title-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      font-size: 0.36rem;
      line-height: 1;
      font-family: Source Han Sans CN;
      font-weight: 500;
      color: rgba(46, 46, 46, 1);
    }
    /* 活动推荐格子 */
    .advertisment {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      height: 6.74rem;
      .left {
        width: 3.43rem;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .right {
        width: 3.43rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .item {
          height: 50%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .item-name {
            position: absolute;
            bottom: 0.34rem;
            height: 0.5rem;
            color: #333333;
            font-size: 0.3rem;
            font-family: Source Han Sans CN;
            font-weight: 500;
          }
        }
        .item-top {
          height: 50%;
          position: relative;
          .coutdown {
            position: absolute;
            top: 0.14rem;
            left: 0;
            z-index: 99;
            width: 100%;
            height: calc(100% - 3rem);
            padding: 0 0 0 0.31rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            .coutdown-plugins {
              display: flex;
              align-content: baseline;
              align-items: center;
              .coutdown-item {
                margin: 0 0.04rem;
                width: 0.34rem;
                height: 0.34rem;
                line-height: 0.34rem;
                display: inline-block;
                font-size: 0.2rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                text-align: center;
                background-color: #4d4d4d;
                border-radius: 0.08rem;
                &:nth-child(3) {
                  margin-right: 0;
                }
              }
            }
          }
          h3 {
            width: 100%;
            font-size: 0.3rem;
            font-family: Source Han Sans CN;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
            padding: 0 0.2rem;
            box-sizing: border-box;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    /* 商品格子 */
    .goods-grid-item {
      .goods-grid-item-act_name {
        width: 2.16rem;
        padding: 0 0.1rem;
        margin: 0.2rem auto 0.1rem;
        box-sizing: border-box;
        font-size: 0.26rem;
        font-family: SourceHanSansCN-Regular;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        text-align: left;
        height: 0.56rem;
      }
      .goods-grid-item-price {
        width: 2.16rem;
        padding: 0 0.05rem;
        box-sizing: border-box;
        text-align: left;
        .price {
          font-size: 0.29rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(233, 0, 0, 1);
          span {
            font-size: 0.23rem;
          }
        }
        .vip-price {
          font-size: 0.23rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(45, 45, 45, 1);
          // line-height: 0.3rem;
          height: 0.3rem;
        }
        .vip-icon {
          display: inline-block;
          width: 0.33rem;
          height: 0.16rem;
        }
      }
      &:nth-child(3n) {
        padding: 0 !important;
        padding-left: 0.01rem !important;
      }

      /deep/ .van-grid-item__content {
        padding: 0;
      }
      .image {
        width: 2.16rem;
        height: 2.16rem;
        border-radius: 0.1rem 0.1rem 0 0;
        overflow: hidden;
      }
    }
  }
  /* swiper banner */
  .swiper {
    height: 7.76rem;
    background: #fff4e9;
    margin-bottom: 0.2rem;
  }
  /deep/ .van-swipe__indicator {
    background-color: #ffffff;
  }
  /deep/ .van-swipe__indicator--active {
    background-color: #b00000;
  }
  /deep/ .van-image {
    width: 100%;
    height: 100%;
  }
  /deep/ .van-overlay {
    z-index: 100;
  }
}
</style>