<template>
    <div class="getBox">
        <div class="bg"></div>
        <div class="content">
            <div class="user">
              <img :src="userInfo.head_url" alt="">
              <p>{{userInfo.nick}}</p>
            </div>
            <p class="money">送你一张<span>{{projectList.fri_prize}}</span>元优惠券</p>
            <div class="coupon">
                <div class="num">
                  <p class="amount">￥<span style="font-size:0.53rem;">{{projectList.fri_prize}}</span></p>
                  <p>{{projectList.friend_coupon_name}}</p>
                </div>
                <div class="couponDeatil">
                  <p>{{projectList.fri_prize}}元优惠券</p>
                  <p>全场可用</p>
                  <p><span>{{projectList.fri_begin_use_time}}</span>-<span>{{projectList.fri_end_use_time}}</span></p>
                </div>
                <img v-show="isGetcop" class="getbg" src="@/../public/static/share/get.png" alt="">
            </div>
            <p class="look">优惠券可在“我的-优惠券”查看</p>
            <button v-if="!isGetcop" id="goInvite" @click="getCoupon">立即领取</button>
            <button v-if="isGetcop" id="goInvite" @click="justUse">立即使用</button>
        </div>
    </div>
</template>
<script>
import {Base64} from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import moment from 'moment'
export default {
  name:"friendGet",
  data() {
    return {
      isGetcop:false,// 是否领取优惠券
      projectList:{}, // 活动
      userInfo:{} //用户信息
    }
  },
  created() {
    if(localStorage.getItem("friendGet")){
      this.isGetcop=true
    } else{
      this.isGetcop=false
    }
    this.userInfo=JSON.parse(sessionStorage.getItem('usermessage'))
  },
  mounted() {
    document.title = "分享好友得优惠券";
    this.projectList=this.$store.state.changeDa
    this.helpmsg()
  },
  methods: {
    helpmsg(){
        var time = new Date().getTime();
        var obj = {
          sign: MD5(localStorage.getItem("userId") + '' + time + '' + localStorage.getItem('oKey')),
          stamp: time,
          user_id:localStorage.getItem("userId"),
          act_id:this.projectList.id,
          is_org:0,
          org_user_id:localStorage.getItem("userId"),
          id:localStorage.getItem("helpid"),
          user_head_url:JSON.parse(sessionStorage.getItem('usermessage')).head_url,
          nick:JSON.parse(sessionStorage.getItem('usermessage')).nick
        };
        axios.post('/api/wxmp/shareCoupon/joinShareCoupon', qs.stringify(obj))
          .then((res) => {
            if (res.data.result == 1) {
            }
          })
          .catch((error) => {
            console.log(error);
          })
    },
    // 领取优惠券
    getCoupon(){
      this.isGetcop=true
      localStorage.setItem("friendGet",true)
    },
    // 立即使用
    justUse(){
      this.$router.push({path:"/index"})
    }
  },
}
</script>
<style lang="scss" scoped>
  .getBox{
    width: 100%;
    height: 100%;
    background: RGBA(246, 72, 65, 1);
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(0,0,0,1);
    .bg{
        width: 100%;
        height:6.38rem;
        background: url("../../../../public/static/share/couponBg.png") no-repeat center;
        background-size: 100% 100%;
      }
      .content{
        position: relative;
        top:-1.7rem;
        left:0.49rem;
        width:6.52rem;
        height:6.70rem;
        background:rgba(255,255,255,1);
        box-shadow:0px 0px 0.18px 0px rgba(139,129,128,0.1);
        border-radius:0.20rem;
        .user{
          position: absolute;
          left:2.55rem;
          top:-0.66rem;
          img{
            width: 1.41rem;
            height:1.41rem;
            border-radius: 50%;
          }
          p{
            font-size:0.26rem;
            margin-top:0.1rem;
            color:rgba(102,102,102,1);
          }
        }
        .money{
          padding-top:1.6rem;
          font-size:0.34rem;
        }
        .look{
          font-size:0.30rem;
          color:rgba(102,102,102,1);
        }
        .coupon{
          text-align: left;
          position: relative;
          display: flex;
          text-align: left;
          width:5.5rem;
          height:1.8rem;
          background: url("../../../../public/static/share/textBg.png") no-repeat center;
          background-size: 100% 100%;
          border-radius:0.05rem;
          margin:0.1rem 0rem 0.2rem 0.51rem;
          img{
            position: absolute;
            width: 1.28rem;
            height:1.28rem;
            right:0.1rem;
            bottom: 0.15rem;
          }
          .num{
            width: 1.9rem;
            text-align: center; 
            color:rgba(196,78,72,1);
            font-size:0.22rem;
            .amount{
              font-size:0.28rem;
              padding-top:0.3rem;
              height: 0.8rem;
            }
            p:nth-child(2){
              line-height: 0.2rem;
            }
          } 
          .couponDeatil{
            p:nth-child(1){
              font-size:0.24rem;
              padding-top:0.35rem;
            }
            p:nth-child(2),p:nth-child(3){
              line-height:0.35rem;
              font-size:0.18rem;
              color:rgba(128,128,128,1);
            }
          }
          .getbg{
            width: 1.02rem;
            height:1.04rem;
          }
        }
        #goInvite{
          width:5.12rem;
          height:0.9rem;
          background:linear-gradient(153deg,rgba(255,210,0,1) 0%,rgba(252,202,55,1) 100%);
          border-radius:0.10rem;
          font-size:0.36rem;
          color:rgba(0,0,0,1);
          display: block;
          margin:0 auto;
          margin-top:0.6rem;
        }
      }
  }
</style>