<template>
    <div class="listwrapper">
        <ul v-for="(item,key) in couponList" :key="key">
          <li @click="couponDetail(key)">
            <img class="bg" src="@/../public/static/share/couponListbg.png" alt="">
            <img v-if="!isEnd" class="smallIcon" src="@/../public/static/share/ing.png" alt="">
            <img v-else class="smallIcon" src="@/../public/static/share/projectEnd.png" alt="">
          </li>
        </ul>
    </div>
</template>
<script>
import {Base64} from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import moment from 'moment'
export default {
  name:"shareList",
  data() {
    return {
      isEnd:false,// 活动是否结束
      couponList:[]
    }
  },
  mounted() {
    document.title = "活动中心";
    this.getProject()
  },
  methods: {
    // 活动信息
    getProject(){
      var time = new Date().getTime();
      var obj = {
        sign: MD5(time + '' + localStorage.getItem('oKey')),
        stamp: time
      };
      axios.post('/api/wxmp/shareCoupon/findShareCouponConfig', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            res.data.datalist.forEach((item,key)=>{
              item.org_begin_use_time=moment(item.org_begin_use_time).format('YYYY-MM-DD');
              item.org_end_use_time=moment(item.org_end_use_time).format('YYYY-MM-DD');
              item.fri_begin_use_time=moment(item.fri_begin_use_time).format('YYYY-MM-DD');
              item.fri_end_use_time=moment(item.fri_end_use_time).format('YYYY-MM-DD');
              if(time>new Date().getTime(item.end_time)){
                this.isEnd=true
              }else if(new Date().getTime(item.begin_time)<time<new Date().getTime(item.end_time)){
                this.isEnd=false
              }
            })
            this.couponList=res.data.datalist
          }
        })
        .catch((error) => {
          console.log(error);
        })
    },
    couponDetail(ind){
      if(!this.isEnd){
        this.$store.commit('changeData',this.couponList[ind])
        this.$router.push({name:'invite'})
      }else{
        return false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
    .listwrapper{
      width: 100%;
      height:100%;
      ul{
        li{
          position: relative;
          width: 6.86rem;
          height:2.6rem;
          margin:0.3rem 0.32rem;
          .bg{
            width: 6.86rem;
            height:2.6rem;
          }
          .smallIcon{
            position: absolute;
            width: 1.04rem;
            height: 1.04rem;
            right:0rem;
            top:0rem;
          }
        }
      }
    }
</style>