<template>
    <div class="address" @click="close($event)">
        <div class="list">
            <div class="list_name">收货人</div>
            <input type="text" placeholder="请填写收货人姓名" v-model="address_name">
        </div>
        <div class="list">
            <div class="list_name">手机号码</div>
            <input type="number" placeholder="请填写收货人手机号码" v-model="address_ipone" @blur='Reg_phone' @input="phone">
        </div>
        <div class="list" v-on:click="time_click">
            <div class="list_name">所在地区</div>
            <div class="list_title">{{area_value}}</div>
            <img src="../../../public/static/user/more.png" alt="" class="update">
        </div>
        <textarea name="comment" id="" v-model="introduct" placeholder="请输入详细地址"></textarea>
        <div class="save"  @click="sub">保存</div>
        <van-popup v-model="show" position="bottom" :overlay="false"  @click='close'>
            <van-area :area-list="areaList" title="请选择区域" @confirm="confirm"/>
        </van-popup>
    </div>
</template>

<script>
    import Vue from "vue"; 

    import area from '@/style/area'
    import {Area} from 'vant';
    Vue.use(Area);

    import {Popup} from 'vant';
    Vue.use(Popup);

    import { Toast } from "vant";

    import {Base64} from "js-base64";
    import MD5 from "js-md5";
    import qs from "qs";


    export default {
        name: "user_info",
        data() {
            return {
                show: false,
                areaList: area,
                area_value: '',
                introduct: '',
                address_name: '',
                address_ipone: '',
                link_province:'',
                link_city:'',
                link_district:'',
                is_default:'',
                id:'',
                mobile:'',
            }
        },
        methods: {
            phone(){
                if(this.address_ipone.length>11)this.address_ipone=this.address_ipone.slice(0,11)
            },
            close(index){
                if($(index.target).attr('class')=='van-popup van-popup--bottom'){
                    this.show = false;
                }
            },
            Reg_phone() {
                if(!(/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(this.address_ipone))){
                    Toast("手机格式错误");
                }
            },
            time_click() {
                this.show = true
            },
            confirm(res) {
                console.log(res);
                this.link_province=res[0].name;
                this.link_city=res[1].name;
                this.link_district=res[2].name;
                this.area_value = res[0].name + ' ' + res[1].name + ' ' + res[2].name
                this.show = false;
            },
            sub() {
                if(this.area_value==""){
                    Toast("地址不能为空");
                    return false;
                }
                if(this.address_name==""){
                    Toast("姓名不能为空");
                    return false;
                }
                if(this.address_ipone==""){
                    Toast("手机号不能为空");
                    return false;
                }
                if(this.introduct==""){
                    Toast("详细地址不能为空");
                    return false;
                }
                if(!(/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(this.address_ipone))){
                    Toast("手机格式错误");
                    return false;
                }
                var time = new Date().getTime();
                if(this.$route.query.index=='1'){
                    var obj = {
                        user_id: localStorage.getItem("userId"),
                        link_name: this.address_name,
                        link_mobile: this.address_ipone,
                        link_address: encodeURI(this.introduct),
                        link_province: this.link_province,
                        link_city: this.link_city,
                        link_district: this.link_district,
                        stamp: time,
                        sign: MD5(localStorage.getItem("userId") + '' + this.address_ipone + '' + time + '' + localStorage.getItem('oKey'))
                    };
                    axios.post(api + '/wxmp/info/userLink/addUserLink', qs.stringify(obj))
                        .then((res) => {
                            console.log(res)
                            if (res.data.result == 1) {
                                if(this.$route.query.order_id){
                                    let oid = this.$route.query.order_id;
                                    this.$router.push({path: '/usera/address',query:{order_id:oid}});
                                }else{
                                    this.$router.push({path: '/receiving_address'});
                                }
                                
                                
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                }else{
                    var obj = {
                        id: this.id,
                        user_id: localStorage.getItem("userId"),
                        link_name: this.address_name,
                        link_mobile: this.address_ipone,
                        link_address: encodeURI(this.introduct),
                        link_province: this.link_province,
                        link_city: this.link_city,
                        link_district: this.link_district,
                        stamp: time,
                        sign: MD5(this.id + '' + this.address_ipone + '' + time + '' + localStorage.getItem('oKey'))
                    };
                    axios.post(api + '/wxmp/info/userLink/modUserLink', qs.stringify(obj))
                        .then((res) => {
                            console.log(res)
                            if (res.status==200) {
                                if(this.$route.query.order_id){
                                    let oid = this.$route.query.order_id;
                                    this.$router.push({path: '/usera/address',query:{order_id:oid}});
                                }else{
                                    this.$router.push({path: '/receiving_address'});
                                }
                            } else {

                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                }
            },
        },
        created() {
            document.setTitle('填写地址信息');
            if(this.$route.query.index=='1'){

            }else{
                var str = JSON.parse(sessionStorage.getItem('update_address'));
                if (str) {
                    this.area_value = str.link_province+' '+str.link_city+' '+str.link_district;
                    this.introduct =str.link_address;
                    this.address_name = str.link_name;
                    this.address_ipone = str.link_mobile;
                    this.link_province=str.link_province;
                    this.link_city=str.link_city;
                    this.link_district=str.link_district;
                    this.id=str.id;
                    this.mobile=str.mobile;
                    // this.is_default
                }
            }
        },
        mounted(){
            document.title = '填写地址信息';
        }
    }
</script>

<style scoped lang="scss">
    .address {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(248, 248, 250, 1);
        .list {
            width: 100%;
            height: auto;
            padding: 0.24rem 0.32rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
            background: #ffffff;
            position: relative;
            top: 0;
            left: 0;
            .list_name {
                color: rgba(102, 102, 102, 1);
                font-size: 0.3rem;
            }
            .list_title {
                color: rgba(51, 51, 51, 1);
                font-size: 0.3rem;
                font-weight: bold;
                margin-left: 0.42rem;
            }
            .update {
                width: 0.14rem;
                height: 0.25rem;
                display: block;
                position: absolute;
                right: 0.33rem;
            }
            input {
                height: 99%;
                width: 65%;
                position: absolute;
                left: 1.9rem;
                top: 0;
                border: 0;
                padding: 0;
                margin: 0;
                font-size: 0.3rem;
                font-weight: bold;
                color: rgba(51, 51, 51, 1);
            }
            input::-webkit-input-placeholder {
                color: rgba(153, 153, 153, 1);
                font-size: 0.3rem;
                font-weight: normal;
            }
        }
        /deep/ .van-popup {
            width: 100%;
            height: 100%;
            position: fixed;
            bottom: 0;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            flex-direction: column;
            justify-content: flex-end;
            .van-area {
                width: 100%;
            }
            .van-picker__cancel {
                opacity: 0;
            }
            .van-hairline--top-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .van-picker__confirm {
                    width: 1.02rem;
                    height: 0.47rem;
                    background: rgba(255, 218, 0, 1);
                    color: rgba(51, 51, 51, 1);
                    font-size: 0.3rem;
                    line-height: 0.5rem;
                    padding: 0;
                    margin-right: 0.29rem;
                }
            }

        }
        textarea {
            resize: none;
            outline: none;
            border: none;
            padding: 0.17rem 0.30rem 0.17rem 0.3rem;
            box-sizing: border-box;
            width: 100%;
            height: 1.88rem;
            font-size: 0.3rem;
            color: rgba(51, 51, 51, 1);
            display: block;
            font-weight: bold;
        }
        textarea::-webkit-input-placeholder {
            color: rgba(153, 153, 153, 1);
            font-size: 0.3rem;
            font-weight: normal;
        }
        .save {
            width: 5rem;
            height: 0.88rem;
            background: linear-gradient(161deg, rgba(250, 217, 97, 1) 0%, rgba(255, 210, 0, 1) 100%);
            border-radius: 0.08rem;
            margin: 0 auto;
            margin-top: 1.08rem;
            color: rgba(51, 51, 51, 1);
            font-size: 0.32rem;
            text-align: center;
            line-height: 0.88rem;
        }
        .yidong {
            width: 100%;
            height: 0.88rem;
            font-size: 0.3rem;
            background: linear-gradient(161deg, rgba(250, 217, 97, 1) 0%, rgba(255, 210, 0, 1) 100%);
            color: rgba(51, 51, 51, 1);
            line-height: 0.88rem;
            text-align: center;
            position: fixed;
            bottom: 0.88rem;
            left: 0;
            z-index: 999;
        }
    }
</style>