<template>
    <div class="coupon">
        <div class="top">
            <van-tabs v-model="active" swipeable>
                <div class="duihuan">
                    <input type="text" placeholder="请输入兑换码" v-model="couponCode">
                    <div class="duihuan_botton" @click="getCoupon">兑换</div>
                </div>
                <van-tab v-for="(value,value_index) in tap_list" :title="value.tabname" :key="value_index">
                    <div class="code_list"  v-if="active==value_index && value.list.length!=0" >
                        <div class="list" 
                        :style="'background:url('+
                        (item.conpon_type == 2?'./static/user/sale_yellow.png':(item.prize == 0?'./static/user/sale_bule.png':'./static/user/sale_red.png'))
                        +') no-repeat center/cover;'" 
                            v-for="(item,index) in value.list" 
                            :key="index"
                            v-if="value_index == 0">
                            <div class="left">
                                <div class="code_title">{{item.coupon_name}}</div>
                                <div class="code_time">使用期限：{{item.begin_use_time.replace(/-/g,'.').slice(0,11)}}~{{item.end_use_time.replace(/-/g,'.').slice(0,11)}}</div>
                                <div class="code_use" >
                                    <span style="color:rgba(153,153,153,1);font-size:0.22rem;">{{item.coupon_desc}}</span>
                                    
                                </div>
                            </div>
                            <div class="right" @click="useCoupon(item.id)">
                                <div class="code_name" v-if="item.conpon_type == 2">折扣</div>
                                <div class="code_num" v-if="item.conpon_type == 2">{{(100-item.discount*1)/10}}折</div>
                                <div class="code_name" v-if="item.conpon_type == 1">{{item.point == "0"?'现金':"积分"}}</div>
                                <div class="code_num" v-if="item.conpon_type == 1">{{item.point == "0"?'¥'+item.prize/100:item.point}}</div>
                                <div class="code_name" v-if="item.conpon_type == 3">{{item.point == "0"?'现金':"积分"}}</div>
                                <div class="code_num" v-if="item.conpon_type == 3">{{item.point == "0"?'¥'+item.prize/100:item.point}}</div>
                                <span style="color:#fff;font-size:0.24rem;width:1.16rem;height:.34rem;border-radius:.34rem;background:rgba(255,255,255,.4);position:absolute;bottom:.12rem;left:0;right:0;margin:auto;">去使用></span>
                            </div>
                        </div>
                        <div class="list" style="background-image: url('./static/user/sale_use.png')"
                         v-else-if="value_index== 1">
                            <div class="left">
                                <div class="code_title">{{item.coupon_name}}</div>
                                <div class="code_time">使用期限：{{item.begin_use_time.replace(/-/g,'.').slice(0,11)}}~{{item.end_use_time.replace(/-/g,'.').slice(0,11)}}</div>
                                <!-- <div class="code_use  code_use_past">去使用&nbsp;&nbsp;></div> -->
                            </div>
                            <div class="right">
                                <div class="code_name" v-if="item.conpon_type == 2">折扣</div>
                                <div class="code_num" v-if="item.conpon_type == 2">{{(100-item.discount*1)/10}}折</div>
                                <div class="code_name" v-if="item.conpon_type == 1">{{item.point == "0"?'现金':"积分"}}</div>
                                <div class="code_num" v-if="item.conpon_type == 1">{{item.point == "0"?'¥'+item.prize/100:item.point}}</div>
                            </div>
                        </div>
                        <div class="list"
                        :style="'background:url('+
                        (item.conpon_type == 2?'./static/user/sale_yellow.png':(item.prize == 0?'./static/user/sale_bule.png':'./static/user/sale_red.png'))
                        +') no-repeat center/cover;'" 
                         v-else-if="value_index== 2">
                            <div class="left">
                                <div class="code_title">{{item.coupon_name}}</div>
                                <div class="code_time">使用期限：{{item.begin_use_time.replace(/-/g,'.').slice(0,11)}}~{{item.end_use_time.replace(/-/g,'.').slice(0,11)}}</div>
                                <!-- <div class="code_use  code_use_past">去使用&nbsp;&nbsp;></div> -->
                            </div>
                            <div class="right">
                                <div class="code_name" v-if="item.conpon_type == 2">折扣</div>
                                <div class="code_num" v-if="item.conpon_type == 2">{{(100-item.discount*1)/10}}折</div>
                                <div class="code_name" v-if="item.conpon_type == 1">{{item.point == "0"?'现金':"积分"}}</div>
                                <div class="code_num" v-if="item.conpon_type == 1">{{item.point == "0"?'¥'+item.prize/100:item.point}}</div>
                            </div>
                        </div>
                        <div class="list" style="background-image: url('./static/user/sale_past.png')" 
                        v-else-if="value_index==3">
                            <div class="left">
                                <div class="code_title">{{item.coupon_name}}</div>
                                <div class="code_time">使用期限：{{item.begin_use_time.replace(/-/g,'.').slice(0,11)}}~{{item.end_use_time.replace(/-/g,'.').slice(0,11)}}</div>
                                <!-- <div class="code_use  code_use_past">去使用&nbsp;&nbsp;></div> -->
                            </div>
                            <div class="right">
                                <div class="code_name" v-if="item.conpon_type == 2">折扣</div>
                                <div class="code_num" v-if="item.conpon_type == 2">{{(100-item.discount*1)/10}}折</div>
                                <div class="code_name" v-if="item.conpon_type == 1">{{item.point == "0"?'现金':"积分"}}</div>
                                <div class="code_num" v-if="item.conpon_type == 1">{{item.point == "0"?'¥'+item.prize/100:item.point}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="no_code" v-if="active==value_index && value.list.length==0">
                        <img src="../../../public/static/user/sale_none.png" alt="">
                    </div>
                </van-tab>
            </van-tabs>
        </div>
        <div
        @click="noUseCoupon"
        v-if="tap_list[0].list"
         style="position:fixed;bottom:0;z-index:999;width:100%;height:.88rem;background:linear-gradient(154deg,rgba(255,210,0,1) 0%,rgba(252,202,55,1) 100%);font-size:0.32rem;font-family:PingFangSC-Medium;line-height:.88rem;font-weight:500;letter-spacing:.01rem;">暂不使用优惠券</div>
            <success v-if="Dialogs" :info="info" :couponCode="couponCode" v-on:closed="closed" v-on:closeDia="closeDia"></success>
    </div>
</template>

<script>
    import qs from 'qs'
    import MD5 from 'js-md5'
    import Success from './coupon/dialog.vue'
    import {Tab, Tabs} from 'vant';
    import { Toast } from "vant";
    import Vue from "vue";

    Vue.use(Tab).use(Tabs).use(Toast)

    export default {
        name: "coupon",
        components: {
            Success
            },
        data() {
            return {
                active: 0, //判断tap点击
                tap_list: [{tabname:"",list:[]}],
                couponCode:'',
                info: {},
                Dialogs:false
            }
        },
        created(){
            document.setTitle('优惠券');
            this.getCouponList();
        },
        mounted(){
            document.title = '优惠券';
        },
        methods:{
            //跳回订单页
            getPush(Id) {
                this.$router.push({path:'/sub_order',query:{aid:'-1',coupon_id:Id}})
                // window.location.href = decodeURIComponent(sessionStorage.getItem('gourl'));
            },
            //立即使用
            useCoupon(Id){
                var time = new Date().getTime();
                var obj = {
                    id: Id,
                    stamp: time,
                    sign: MD5(Id+''+time+''+localStorage.getItem('oKey'))
                };
                axios.post(api+'/wxmp/info/coupon/UserSessionSetIDAPI',qs.stringify(obj))
                .then( (res)=>{
                    console.log(res)
                    if(res.data.result == 1){
                        this.getPush(Id);
                    }
                })
                .catch( (error)=>{
                    console.log(error)
                })
            },
            closeDia(){
                this.Dialogs = false;
            },
            //关成功弹框
            closed(closed) {
                console.log(closed);
                this.Dialogs = false;
                this.couponCode = '';
                switch(closed.types){
                    case 5321:Toast("该优惠券码已兑换，请换一张再来~");
                    break;
                    case 5322:Toast("啊哦~活动已结算，下次记得早点来！");
                    break;
                    case 5326:Toast("您输入的优惠券码未到领取时间~");
                    break;
                    case 5329:Toast("该类优惠券每人仅限领取一次~");
                    break;
                    default:Toast("您输入的优惠券码有误!");
                    break;
                }
            },
            //获取优惠券列表
            getCouponList() {
                let vm = this;
                let time = Date.now();
                 let obj = {
                    user_id: localStorage.getItem("userId"),
                    stamp: time,
                    sign: MD5(localStorage.getItem("userId") + '' + time + '' + localStorage.getItem('oKey'))
                    };
                axios.post( api + "/wxmp/info/coupon/UserCouponUseTypeAPI", qs.stringify(obj))
                .then(res => {
                    if (res.data.result == 1) {
                    let list = [];
                        //未使用
                        if (res.data.UnusedList == '') {
                            list.push({tabname:"未使用",list:[]})
                        // vm.couponList = [];
                        } else {
                            list.push({tabname:"未使用",list:res.data.UnusedList})
                        }
                    
                        //已使用
                        if (res.data.UsedList == '') {
                            list.push({tabname:"已使用",list:[]})
                        } else {
                            list.push({tabname:"已使用",list:res.data.UsedList})
                        }
                   
                        //使用中
                        if (res.data.InuseList == '') {
                            list.push({tabname:"使用中",list:[]})
                        } else {
                            list.push({tabname:"使用中",list:res.data.InuseList})
                        }
                    
                        //已过期
                        if (res.data.ExpiredList == '') {
                            list.push({tabname:"已过期",list:[]})
                        } else {
                            list.push({tabname:"已过期",list:res.data.ExpiredList})
                        }
                        this.tap_list = list;
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            },
            //兑换优惠券
            getCoupon() {
                let vm = this;
                if(vm.couponCode.trim() == ''){
                    Toast("请输入优惠券码！");
                }else {
                let time = Date.now();
                let obj = {
                    sn: vm.couponCode,
                    stamp: time,
                    sign: MD5( vm.couponCode + time + '' + localStorage.getItem('oKey'))
                };
                axios.post(api + "/wxmp/info/coupon/SnInfoCouponAPI", qs.stringify(obj))
                    .then(res => {
                        console.log(res.data.result);
                        if (res.data.result == 1) {
                            vm.info = res.data.data;
                            vm.Dialogs = true;
                        }else{
                            Toast("您输入的优惠券码有误!");
                            vm.couponCode = '';
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
                }

            },
            //暂不使用
            noUseCoupon(){
                var time = new Date().getTime();
                var obj = {
                    stamp: time,
                    sign: MD5(time+''+localStorage.getItem('oKey'))
                };
                axios.post(api+'/wxmp/info/coupon/UserSessiondelIDAPI',qs.stringify(obj))
                .then( (res)=>{
                    console.log(res)
                    if(res.data.result == 1){
                      this.getPush();
                    }
                })
                .catch( (error)=>{
                    console.log(error)
                })
            },
        }
    }
</script>

<style scoped lang="scss">
    .top {
        font-family: 'PingFang SC';
        width: 100%;
        background: #ffffff;
        position: relative;
        top: 0;
        left: 0;
        /*padding: 0  1.75rem;*/
        box-sizing: border-box;
        /deep/ .van-tabs {
            padding-top: 1rem;
            .van-tabs__wrap {
                width: 100%;
                height: 1rem;
                position: fixed;
                right: 0;
                left: 0;
                margin: 0 auto;
                top: 0;
                z-index: 9999999999;
                background: #ffffff;
                .van-tabs__nav--line {
                    margin: 0 auto;
                    height: 1rem;
                    padding-bottom: 0;
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                    .van-tabs__line {
                        height: 0.06rem;
                        background-color: #FFDA00;
                        // width: 62.5px !important;
                        // transform: translateX(38.25px) !important;
                        z-index: 10;
                        bottom: 0.3rem;
                    }
                    .van-tab--active {
                        font-size: 0.36rem;
                        color: #222222;
                        font-weight: bold;
                    }
                    .van-tab {
                        font-size: 0.34rem;
                        color: #222222;
                        z-index: 20;
                        background-color: transparent;
                        padding: 0;
                    }
                }
            }
            .van-hairline--top-bottom::after {
                border-width: 0px 0;
            }
        }
        .duihuan {
            /*width: 100%;*/
            height: 1.44rem;
            margin: 0 0.32rem 0 0.39rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
                border: 0;
                padding: 0;
                margin: 0;
                width: 5.38rem;
                height: 0.72rem;
                box-sizing: border-box;
                background: rgba(244, 244, 244, 1);
                border-radius: 0.04rem;
                padding-left: 0.46rem;
                ::placeholder {
                    color: rgba(153, 153, 153, 1);
                    font-size: 0.28rem;
                }
            }
            .duihuan_botton {
                width: 1.16rem;
                height: 0.66rem;
                background: rgba(255, 218, 0, 1);
                border-radius: 0.04rem;
                color: rgba(34, 34, 34, 1);
                font-size: 0.3rem;
                text-align: center;
                line-height: 0.66rem;
                font-weight: 400;
            }
        }
        .code_list {
            width: 100%;
            // min-height: 12.24rem;
            padding-bottom: .98rem;
            background: rgba(248, 248, 250, 1);
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            box-sizing: border-box;
            .list {
                width: 6.69rem;
                height: 2.05rem;
                background-size: cover;
                background-position: center;
                margin-top: 0.22rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .left {
                    width: 4.85rem;
                    height: 100%;
                    overflow: hidden;
                    .code_title {
                        color: rgba(34, 34, 34, 1);
                        font-size: 0.34rem;
                        margin-top: 0.3rem;
                        margin-left: 0.32rem;
                        font-weight: bold;
                        text-align: left;
                    }
                    .code_time {
                         color: #666666;
                        font-size: 0.26rem;
                        margin-top: 0.1rem;
                        margin-bottom: .23rem;
                        margin-left: 0.32rem;
                        text-align: left;
                    }
                    .code_use {
                        border-top: 0.01rem solid #E0E0E0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #333333;
                        font-size: 0.24rem;
                        padding-top: .15rem;
                        margin-top: .15rem;
                        margin-left: 0.32rem;
                        text-align: right;
                        font-weight: 500;
                    }
                    .code_use_past{
                        color:rgba(209,212,218,1);
                    }
                }
            }
            .right {
                position: relative;
                flex: 1;
                height: 100%;
                overflow: hidden;
                .code_name {
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.3rem;
                    margin-top: 0.26rem;
                    margin-left: 0.21rem;
                    text-align: left;
                }
                .code_num {
                    color: rgba(255, 255, 255, 1);
                    font-size: 0.5rem;
                    text-align: center;
                    line-height: 1.05rem;
                }
            }
        }
        .no_code{
            width: 4.03rem;
            height: 3.52rem;
            margin: 0  auto;
            margin-top: 1.24rem;
            img{
                width: 100%;

            }
        }
    }

</style>