<template>
  <div class="get_points">
    <div class="descr_img"
         style="background-image: url('./static/user/bg_points.png')">
      <div class="descr_name">积分规则</div>
      <div class="descr">完成每日任务赢取相应积分奖励，超过该任务每日上限后不再累加积分。</div>
    </div>
    <div class="list_name">赚取积分</div>
    <div class="list_box">
      <div class="list"
           v-for="(item,index)  in  points_list"
           :key="index"
           v-if="item.task_type!='0'">
        <div class="left">
          <img :src="item.task_pic"
               alt>
        </div>
        <div class="center">
          <div class="center_name">{{item.task_name}}</div>
          <div class="center_descr">{{item.task_desc}}</div>
          <div class="speed"
               v-if="item.task_num!=1">
            <div class="bg_hui">
              <div class="bg_yellow"
                   :style="{width:(item.task_sort/item.task_num)*100+'%'}"></div>
            </div>
            <div class="speed_pro">
              <span>{{item.task_sort}}</span>
              /{{item.task_num}}
            </div>
          </div>
        </div>
        <div class="right">
          <div class="stadus"
               v-if="!item.is_complete"
               @click="get_init(item.task_link,item.task_type)">赚积分</div>
          <div class="stadus_succ"
               v-else>已完成</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
export default {
  name: "get_points",
  data () {
    return {
      points_list: []
    };
  },
  created () {
    // this.get_msg();
    this.get_points_list();
    document.setTitle("任务中心");
  },
  mounted () {
    document.title = "任务中心";
    window.dataForWeixin = {
      appId: "",
      imgUrl: "", // get_post_weixin_thumb 为微信机器人高级版中的函数
      link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode('https://js.51takeit.com/wxmp/index.html#/get_points'),
      title: "任务中心",
      desc: "举手上新改版，快来尝试新的体验吧",
      fakeid: ""
    };
    window.setShare();
  },
  methods: {
    //获取任务列表
    get_points_list () {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
          time +
          "" +
          localStorage.getItem("oKey")
        )
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/doTaskListAPI", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            this.points_list = res.data.dataList;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    //获取user_id
    get_msg () {
      var time = new Date().getTime();
      var obj = {
        open_id: localStorage.getItem("open_id"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("open_id") +
          "" +
          time +
          localStorage.getItem("Key")
        )
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/log/user/getCheckUserRegWxID", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            localStorage.setItem("userId", res.data.data.id);
            this.get_points_list();
          } else {
            console.log(res.data.msg);
            this.uppload_openid();
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    //任务跳转
    get_init (link, type) {
      if (type == "1") {
        this.sao();
      } else {
        console.log(link.split("?")[1]);
        if (link != "") {
          if (link.split("?")[1]) {
            this.$router.push({ path: `/${link.split("?")[0]}` });
            sessionStorage.setItem("active", link.split("?")[1].split("=")[1]);
          } else {
            this.$router.push({ path: `/${link}` });
          }
        }
      }
    },
    //微信扫一扫
    sao () {
      wx.scanQRCode({
        desc: "scanQRCode desc",
        needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
        success: function () {
          // 回调
          // window.location.href = '/wxmp/index.html#/redirect?state=smoke';
        },
        error: function (res) {
          alert(3);
          if (res.errMsg.indexOf("function_not_exist") > 0) {
            alert("版本过低请升级");
          }
        }
      });
    }
  }
};
</script>

<style scoped lang="scss">
.descr_img {
  width: 7.1rem;
  height: 2.36rem;
  /*background:rgba(255,255,255,1);*/
  /*box-shadow: 0px 0.04rem 0.06rem 0.06rem rgba(72, 73, 76, 0.09);*/
  /*border-radius: 0.04rem;*/
  margin: 0 auto;
  margin-top: 0.32rem;
  display: block;
  background: #ffffff;
  padding: 0 0.4rem;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  .descr_name {
    color: rgba(34, 34, 34, 1);
    font-size: 0.34rem;
    margin-top: 0.26rem;
    font-weight: bold;
  }
  .descr {
    margin-top: 0.16rem;
    line-height: 0.4rem;
  }
}

.list_name {
  color: rgba(51, 51, 51, 1);
  font-size: 0.34rem;
  text-align: left;
  padding-left: 0.32rem;
  margin-top: 0.52rem;
  box-sizing: border-box;
  font-weight: bold;
}

.list_box {
  box-sizing: border-box;
  padding-left: 0.32rem;
  .list {
    width: 100%;
    border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
    padding-right: 0.34rem;
    padding-top: 0.24rem;
    padding-bottom: 0.37rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.26rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .center {
      /*width: 50%;*/
      flex: 1;
      .center_name {
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        text-align: left;
        font-weight: bold;
      }
      .center_descr {
        color: rgba(153, 153, 153, 1);
        font-size: 0.26rem;
        text-align: left;
        margin-top: 0.11rem;
      }
      .speed {
        display: flex;
        align-items: center;
        margin-top: 0.18rem;
        .bg_hui {
          width: 1.76rem;
          height: 0.11rem;
          background: rgba(232, 232, 231, 1);
          border-radius: 0.06rem;
          position: relative;
          top: 0;
          left: 0;
          margin-right: 0.19rem;
          .bg_yellow {
            height: 0.11rem;
            background: rgba(254, 178, 40, 1);
            border-radius: 0.06rem;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .speed_pro {
          color: rgba(153, 153, 153, 1);
          font-size: 0.24rem;
          span {
            color: rgba(252, 104, 38, 1);
          }
        }
      }
    }
    .right {
      .stadus {
        width: 1.2rem;
        height: 0.52rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          159deg,
          rgba(255, 119, 29, 1) 0%,
          rgba(245, 71, 59, 1) 100%
        );
        border-radius: 0.31rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.28rem;
      }
      .stadus_succ {
        width: 1.2rem;
        height: 0.52rem;
        background: rgba(209, 212, 218, 1);
        border-radius: 0.31rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.28rem;
        text-align: center;
        line-height: 0.52rem;
      }
    }
  }
}
</style>