<template>
  <div class="wrapper">
    <div>
      <van-search v-model="SearchValue"
                  @search="onSearch"
                  placeholder="请输入搜索内容"
                  shape="round" />
    </div>
    <ul class="goodslist"
        v-if="GOOD_LIST.length">
      <li class="goodslist-item"
          v-for="item in GOOD_LIST"
          :key="item.id"
          @click="GoodDetail(item.goods_item.id)">
        <img :src="item.goods_item.title_url"
             alt=""
             class="goodsImg">
        <div class="right">
          <div class="right-content">
            <div class="goods-name van-ellipsis">{{item.goods_item.act_name}}</div>
            <div class="goods-desc van-multi-ellipsis--l2">{{item.goods_item.descr}}</div>
            <div class="goods-price"><span>¥</span>{{(item.goods_item.prize/100).toFixed(2)}}<div v-if="item.goods_item.vip_prize*1"
                   class="vip-price">{{(item.goods_item.vip_prize/100).toFixed(2)}} <img src="@/../public/static/goods/vip.png" /> </div>
            </div>
          </div>
          <div class="right-button">
            <img src="@/../public/static/user/del.png"
                 alt=""
                 @click.stop="delGood(item.goods_item.id)">
          </div>

        </div>
      </li>
    </ul>
    <div class="no-collect"
         v-else>
      <img src="@/../public/static/user/no-collect.png"
           style="width:4.09rem;height:3.64rem;margin:1.69rem auto;"
           alt="">
      <p class="text">你还没有收藏商品，去逛逛吧~</p>
      <div class="button"
           @click="go('/goodslist')">去逛逛</div>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from 'vue';
import { Swipe, SwipeItem } from 'vant';
import { Toast } from 'vant';
import { Overlay } from 'vant';
import { Search } from 'vant';
import { Dialog } from 'vant';
Vue.use(Swipe)
  .use(Toast)
  .use(Overlay)
  .use(Search)
  .use(SwipeItem);
export default {
  components: {},
  props: {},
  data () {
    return {
      SearchValue: "",
      GOOD_LIST: "",
    }
  },
  watch: {},
  computed: {},
  methods: {
    go (route) {
      this.$router.push({ path: route })
    },
    /* 查询 */
    onSearch () {
      sessionStorage.setItem("search", this.SearchValue);
      this.$router.push({ path: '/search' })
    },
    /* 获取商品LIST */
    GET_GOOD_LIST () {
      console.log(1111);
      const time = new Date().getTime();
      // CLASS_ID = 1 热销 2 推荐
      const axiosurl = "/api/wxmp/favorites/getGoodsFavoritesList";
      let order_id = this.oid;
      const obj = {
        user_id: localStorage.getItem('userId'),
        pageNum: 1,
        pageSize: 100,
        stamp: time,
        sign: MD5(localStorage.getItem('userId') + "" + time + "" + localStorage.getItem("Key"))
      };
      axios.post(axiosurl, qs.stringify(obj))
        .then(res => {
          this.GOOD_LIST_SHOW = true;
          if (res.data.result == 1 && res.data.dataList) {
            this.GOOD_LIST = [...res.data.dataList];
            this.GOOD_LIST_SHOW = true;
          } else {
            this.GOOD_LIST = [];
          }
        })
    },
    GoodDetail (id) {
      this.$router.push({ path: '/shop_details', query: { id: id } })
    },
    delGoodHandel (id) {
      const time = new Date().getTime();
      // CLASS_ID = 1 热销 2 推荐
      const axiosurl = "/api/wxmp/favorites/delGoodsFavorites";
      const obj = {
        user_id: localStorage.getItem('userId'),
        goods_id: id,
        stamp: time,
        sign: MD5(id + '' + localStorage.getItem('userId') + "" + time + "" + localStorage.getItem("Key"))
      };
      axios.post(axiosurl, qs.stringify(obj))
        .then(res => {
          this.GET_GOOD_LIST();
        })
    },
    delGood (id) {
      Dialog.confirm({
        message: '确认删除此收藏商品？',
        confirmButtonText: '删除',
        confirmButtonColor: '#B00000',
      }).then(() => {
        // on confirm
        this.delGoodHandel(id)
      }).catch(() => {
        // on cancel
      });

    }
  },
  created () {
    this.GET_GOOD_LIST();
  },
  mounted () { }
}
</script>
<style lang="scss" scoped>
.wrapper {
  .goodslist {
    padding-top: 0.2rem;
    .goodslist-item {
      padding: 0 0.32rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 2.38rem;
      .goodsImg {
        width: 2.16rem;
        height: 2.16rem;
      }

      .right {
        width: calc(100% - 2.35rem);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding-top: 0.14rem;
        margin-left: 0.19rem;
        text-align: left;
        border-top: 0.01rem solid #ebebeb;
        .right-content {
          width: calc(100% - 1rem);
          .goods-name {
            font-size: 0.32rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
          }
          .goods-desc {
            font-size: 0.24rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: rgba(128, 128, 128, 1);
            margin-top: 0.08rem;
            margin-bottom: 0.12rem;
          }
          .goods-price {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            align-content: center;
            font-size: 0.34rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: rgba(233, 0, 0, 1);
            span {
              font-size: 0.32rem;
            }
            .vip-price {
              margin-left: 0.15rem;
              display: flex;
              justify-content: flex-start;
              align-items: baseline;
              align-content: center;
              font-size: 0.28rem;
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: rgba(45, 45, 45, 1);
              img {
                width: 0.46rem;
                height: 0.21rem;
                margin-left: 0.08rem;
              }
            }
          }
        }
        .right-button {
          width: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            margin-top: 0.3rem;
            width: 0.51rem;
            height: 0.51rem;
          }
        }
      }
      &:first-child .right {
        border-top: none;
      }
    }
  }
  .no-collect {
    .text {
      margin-top: 0.67rem;
      margin-bottom: 0.63rem;
      font-size: 0.28rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(128, 128, 128, 1);
    }
    .button {
      width: 2.9rem;
      height: 0.82rem;
      background: rgba(255, 210, 0, 1);
      border-radius: 0.41rem;
      font-size: 0.36rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 0.82rem;
      margin: auto;
    }
  }
}
</style>