<template>
    <div class="collect">
        <div class="collect_list">
            <div class="list" v-for="(value,index)  in  collect_list" :key="index" @click="jump(value.article_id)">
                <img   :src="value.article_title_pic" alt=""  v-if="value.article_title_pic!=''">
                <div>{{value.article_title}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import MD5 from "js-md5";
    import qs from "qs";
    import Vue from "vue";

    export default {
        name: "my_collect",
        data() {
            return {
                collect_list: [],
            }
        },
        methods: {
            get_collect_list() {
                var time = new Date().getTime();
                var obj = {
                    user_id: localStorage.getItem("userId"),
                    stamp: time,
                    sign: MD5(localStorage.getItem("userId") + time + localStorage.getItem('oKey'))
                };
                axios.post(api + '/wxmp/info/article/getarticleCollectList', qs.stringify(obj))
                    .then((res) => {
                        console.log(res)
                        if (res.data.result == 1) {
                            this.collect_list = res.data.dataList;
                        } else {

                        }
                    })
                    .catch((res) => {
                        console.log(error)
                    })
            },
            jump(id) {
                this.$router.push({name: 'article_detail', query: {id}});
            }
        },
        created() {
            this.get_collect_list();
            document.setTitle('我的收藏');
        },
        mounted(){
            document.title = '我的收藏';
        }
    }
</script>

<style scoped lang="scss">
    .collect {
        width: 100%;
        min-height: 100%;
        background: #ffffff;
        .collect_list {
            width: 100%;
            height: auto;
            overflow: auto;
            .list {
                border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
                width: 100%;
                padding: 0 0.32rem;
                box-sizing: border-box;
                height: auto;
                margin-top: 0.24rem;
                img {
                    display: block;
                    width: 100%;
                    height: 3.4rem;
                }
                div {
                    color: rgba(34, 34, 34, 1);
                    font-size: 0.3rem;
                    text-align: left;
                    margin-top: 0.24rem;
                    margin-bottom: 0.24rem;
                    font-weight: bold;
                }
            }
        }
    }
</style>