<template>
  <div class="wrapper">
      <div class="box">
          <div class="top" >
            <div class="left">
              <div class="title">总提成金额</div>
              <div class="money">¥ {{AllyUserData.commission_fee?(AllyUserData.commission_fee / 100).toFixed(2):0.00}}</div>
            </div>
            <div class="btn"><img src="@/../public/static/goods/balance-btn.png" alt="" style="width:2.19rem;height: 0.91rem;" @click="toRoute('/WeChat')"></div>
          </div>
      </div>
    
    <div class="content">
        <div class="content_title"><h4>我的分销商品</h4></div>
        <van-empty
        v-if="!AllyList.length"
        class="custom-image"
        image="./static/goods/empty-image.png"
        />
        <div class="list" v-if="AllyList.length">
            <div class="list-item" v-for="item in AllyListResult" :key="item.id">
                <div class="act_name">{{item.act_name}}</div>
                <p><van-icon name="./static/goods/icon-time.png" /> 时间 : {{item.pay_time}}</p>
                <div class="prize-box">
                    <p><van-icon name="./static/goods/icon-prize.png" /> 总金额 : <span class="red_text"> ¥ {{item.total_fee}}</span></p>
                    <p><van-icon name="./static/goods/icon-ally.png" /> 提成金额 : <span class="red_text"> ¥ {{item.ally_total}}</span></p>
                </div>
            </div>
        </div>
        <van-button round class="bottom-button" color="#FFD200" style="color:#333" @click="toRoute('/goodsListShare')">查看可销售商品</van-button>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from "vue";
import { Swipe, SwipeItem } from "vant";
import { Toast } from "vant";
import { Overlay } from "vant";
import { Search } from "vant";
import { Icon } from "vant";
import { Image as VanImage } from 'vant';
import { Lazyload } from 'vant';
import { Empty } from 'vant';
Vue.use(Swipe)
  .use(Toast)
  .use(Icon)
  .use(Overlay)
  .use(Search)
  .use(Lazyload)
  .use(Empty)
  .use(VanImage)
  .use(SwipeItem);
export default {
  data() {
    return {
      sub_url: "",
      apptype: "",
      ally_total: "",
      AllyList: [],
      active: 0,
      dialog: false,
      AllyUserData:''
    };
  },
  created() {
    if (!this.$store.state.AllyUserData) {
      this.searchAllybyUser();
    } else if (localStorage.getItem('userId') !== this.$store.state.AllyUserData.user_id) {
      this.searchAllybyUser();
    } else {
      this.AllyUserData = this.$store.state.AllyUserData
    }
    this.getAllyOrders();
  },
  mounted() {
    document.title = "我的分销";
  },
  methods: {
    /* 查询是否合伙人 */
    searchAllybyUser () {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId")+ ''+ time + localStorage.getItem('Key'))
      };
      axios
        .post(
          api + "/wxmp/userally/getAllybyUser",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            // 查询成功
            this.$store.commit('changeAllyUserData',res.data.data)
            this.AllyUserData = this.$store.state.AllyUserData
          } else if (res.data.result == 2000) {
            console.log(res.data.msg);
            this.$router.push({path:'/redirect',query:{state: this.$route.name}})
            // 用户不存在
          } else if (res.data.result == 2002) {
            console.log(res.data.msg);
            this.$router.push({path:'/Partner'})
            // 不是合伙人
          } else {
            // 其它错误
            console.log(res.data.msg) 
          }
        })
        .catch(error => {});
    },
    /* 查询 */
    onSearch() {
      sessionStorage.setItem("search", this.SearchValue);
      this.$router.push({ path: "/search" });
    },
    setActive(v, i) {
      this.CUR_GOODSlIST = this.GOODSlIST[i]
      this.active = i;
    },
    /* banner 跳转 */
    skip1(url, url_type, end_time) {
      if (!end_time) {
        return false;
      }
      let times = new Date(end_time.substr(0, 19).replace(/-/g, "/")).getTime();
      if (Date.now() > times) {
        Toast("活动已截止，敬请期待新的特惠活动");
      } else {
        if (url_type == 0) {
          location.href = url;
        } else if (url_type == 1) {
          this.$router.push({ path: url });
        }
      }
    },
    /* 提成订单列表数据 */
    getAllyOrders() {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId")+ ''+ time + localStorage.getItem('Key'))
      };
      axios
        .post(
          api + "/wxmp/userally/getAllyOrders",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            // 查询成功
            if (res.data.dataList) {
                this.AllyList = [...res.data.dataList]
            }
          } else if (res.data.result == 2000) {
            console.log(res.data.msg);
            // 用户不存在
          } else if (res.data.result == 2002) {
            console.log(res.data.msg);
            // 不是合伙人
          } else {
            // 其它错误
            console.log(res.data.msg) 
          }
        })
        .catch(error => {});
    },
    isWeiXin() {
      var ua = window.navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        return true;
      } else {
        return false;
      }
    },
    /* 商品跳转 */
    goUrl(e) {
      if (e.id !== -1) {
        this.$router.push({ path: "/shop_details", query: { id: e.id } });
      } else {
        location.href = e.goods_url;
      }
    },
    toRoute(path) {
      this.$router.push({path:path})
    }
  },
  computed: {
      AllyListResult: function () {
          this.AllyList.forEach((val)=>{ val.pay_time = val.pay_time.substr(0,11);val.total_fee = (val.total_fee / 100).toFixed(2);val.ally_total = (val.ally_total / 100).toFixed(2)})
          return this.AllyList;
      }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #F0F0F0;
  /deep/ .custom-image .van-empty__image {
    width: 2.65rem;
    height: 3.53rem;
  }
  .bottom-button {
    width:6.3rem;
    height:0.9rem;
    font-size:0.36rem;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(0,0,0,1)!important;
    margin-top: 0.33rem;
  }
  .box{
      width: 100%;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      margin-bottom: 0.22rem;
      background: #fff;
  }
  .top{
    width: 6.96rem;
    height: 2.8rem;
    padding: 0.4rem 0.22rem 0.3rem 0.4rem;
    box-sizing: border-box;
    margin: auto;
    background-image: url('../../../public/static/goods/bg.png');
    background-size: cover;
    background-position: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title{
      font-size:0.24rem;
      font-family:Source Han Sans CN;
      font-weight:400;
      color:rgba(51,51,51,1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        display: flex;
        align-items: center;
        i{
          margin-left: 0.08rem;
        }
      }
    }
    .money{
      margin-bottom: 0.16rem;
      font-size:0.6rem;
      font-family:Source Han Sans CN;
      font-weight:bold;
      color:rgba(51,51,51,1);
      text-align: left;
    }
    .btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      img{
        margin-right: -0.14rem;
      }
    }
  }
  /* goods */
  .content {
    width: 100%;
    height: calc(100% - 3.66rem);
    -webkit-overflow-scrolling: touch;
    background: #fff;
    .content_title{
        width: 100%;
        padding: 0.29rem 0.3rem;
        h4{
            width: 100%;
            font-size:0.3rem;
            font-family:Source Han Sans CN;
            font-weight:400;
            color:rgba(220,165,0,1);
            line-height:0.48rem;
            border-left: 0.06rem solid #DCA500;
            
            text-align: left;
            margin: auto;
            padding-left: 0.2rem;
            box-sizing: border-box;
            
        }
    }
    .list{
        width: 100%;
        height: calc(100% - 2.66rem);
        border-top: 0.02rem solid #EBEBEB;
        overflow-y: scroll;
        .list-item{
            width: 100%;
            padding: 0.32rem 0.38rem;
            box-sizing: border-box;
            font-size:0.26rem;
            font-family:Source Han Sans CN;
            font-weight:400;
            color:rgba(0,0,0,1);
            border-bottom: 0.02rem solid #EBEBEB;
            i{
                margin-right: 0.13rem;
            }
            p{
                text-align: left;
                margin-top: 0.21rem;
                display: flex;
                align-items: center;
            }
            .act_name{
                text-align: left;
                font-size:0.32rem;
                font-family:Source Han Sans CN;
                font-weight:400;
                color:rgba(0,0,0,1);
            }
            .red_text{
                color: #E90000;
                font-size:0.26rem;
                font-family:Source Han Sans CN;
                font-weight:400;
            }
            .prize-box{
                display: flex;
                justify-content: flex-start;
                p{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 50%;
                }
            }
        }
    }
  }

  .GOODS_LIST {
    height: calc(100% - 2.26rem);
    overflow-y: scroll;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
  }
  .GOODS_LIST .goodsbox {
    display: flex;
    width: 5.24rem;
    height: 1.85rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    outline: none;
    margin: auto;
    position: relative;
  }
  .GOODS_LIST .goodsbox:last-child {
    border-bottom: none;
  }
  .GOODS_LIST .goodsImg {
    width: 1.68rem;
    height: 1.68rem;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    .lable_icon {
      position: absolute;
      top: 0;
      left: 0.16rem;
      width: 0.36rem;
    }
  }

  .goodsInfo {
    width: calc(100% - 1.84rem);
    height: 100%;
    padding-top: 0.1rem;
    margin-left: 0.16rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #ebebeb;
  }
  .goodstitle {
    font-size: 0.26rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #000000;
    line-height: 0.36rem;
  }
  .goods-desc {
    color: #808080;
    font-size: 0.22rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
  }
  .goodsprice {
    width: 2.78rem;
    height: 0.72rem;
    font-size: 0.22rem;
    font-family: Source Han Sans CN;
    letter-spacing: 0;
    color: #e90000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
    margin-top: 0.24rem;
  }
  .goodsprice p {
    font-size: 0.3rem;
    margin-right: 0.1rem;
  }
  .goodsprice .vip-price {
    font-size: 0.24rem;
    color: #2d2d2d;
  }
  .goodsprice p span {
    width: 100%;
    height: 100%;
    font-size: 0.22rem;
  }
  /* TABBAR */
  .tabbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.01rem solid #c4c4c4;
    height: 1.16rem;
    background: #fff;
  }
  .tabbar li {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tabbar li img {
    width: 0.44rem;
    height: 0.44rem;
    margin-bottom: 0.1rem;
  }
  .tabbar li span {
    color: #333;
    line-height: 1;
    font-size: 12px;
  }
  .van-search {
    padding: 0.17rem 0.63rem 0.27rem;
  }
  .van-search__content {
    background-color: #f8f8f8;
    padding-left: 0.24rem;
  }
  .van-field__control {
    font-size: 0.24rem;
  }
}
</style>