<template>
  <div class="receiving">
    <van-list v-model="loading"
              :finished="finished"
              @load="onLoad">
      <div class="list"
           v-for="(item,index)  in  address_list"
           :key="index">
        <div class="list_name">
          <div>{{item.link_name}}</div>
          <div>{{item.link_mobile}}</div>
        </div>
        <div class="list_descr"
             v-on:click="chose_rec(item.id,item.is_default)"> {{item.link_province}} {{item.link_city}}
          {{item.link_district}} {{item.link_address}}
        </div>
        <div class="operation">
          <div class="operation_left">
            <img src="../../../public/static/user/small_chose.png"
                 alt=""
                 class="chose_img"
                 v-if="acvite==item.id">
            <div class="select_true"
                 v-else
                 v-on:click="chose_rec(item.id,item.is_default)"></div>
            <div>默认地址</div>
          </div>
          <div class="operation_right">
            <img src="../../../public/static/user/small_update.png"
                 alt=""
                 class="update_img"
                 v-on:click="update_address(item)">
            <img src="../../../public/static/user/small_delete.png"
                 alt=""
                 class="detel_img"
                 v-on:click="del_address(item.id,index)">
          </div>
        </div>
      </div>
    </van-list>
    <van-popup v-model="show"
               :overlay="false">
      <div class="two_sure">
        <div class="title">删除本地址</div>
        <div class="bottom">
          <div class="left"
               v-on:click="show=false">取消</div>
          <div class="right"
               v-on:click="is_del">确定</div>
        </div>
      </div>
    </van-popup>
    <div class="new_address"
         :class="apptype==''?'sub_order':'yidong'"
         v-on:click="new_add_address()">新增收货地址</div>
    <div class="no_address"
         v-if="address_list.length=='0'">
      <img src="../../../public/static/user/my_adress.png"
           alt="">
    </div>
  </div>
</template>

<script>
import { Popup } from 'vant';

Vue.use(Popup);
import { List } from 'vant';

Vue.use(List);


import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";

export default {
  name: "receiving_address",
  data () {
    return {
      acvite: '',
      show: false,
      pageNum: 0,
      pageSize: 10,
      address_list: [],
      apptype: '',
      del_id: '',
      del_index: '',
      loading: false,
      finished: false,
      finishLoad: true,
    }
  },
  methods: {
    onLoad () {
      // this.pageNum = 0;
      // 异步更新数据
      this.pageNum++;
      // 加载状态结束
      this.loading = false;
      if (this.finishLoad) {
        this.get_list();
      } else {
        this.finished = true;
      }
    },
    //设置默认
    chose_rec (index, is_default) {
      console.log(is_default);
      // if(is_default==0){
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        id: index,
        stamp: time,
        sign: MD5(index + '' + time + '' + localStorage.getItem('oKey'))
      };
      axios.post(api + '/wxmp/info/userLink/modUserLinkDefault', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            this.acvite = index;
            // this.address_list = [];
            // this.get_list();
          }
        })
        .catch(error => {
          console.log(error);
        })
      // }


    },
    //删除二次确认
    is_del () {
      var id = this.del_id;
      var index = this.del_index
      var time = new Date().getTime();
      var obj = {
        id: id,
        stamp: time,
        sign: MD5(id + '' + time + '' + localStorage.getItem('oKey'))
      };
      axios.post(api + '/wxmp/info/userLink/delUserLink', qs.stringify(obj))
        .then((res) => {
          console.log(res);
          if (res.data.result == 1) {
            this.address_list.splice(index, 1);
            this.show = false;
          } else {

          }
        })

    },
    //删除地址
    del_address (id, index) {
      this.del_id = id;
      this.del_index = index;
      this.show = true;
    },
    //获取数据列表
    get_list () {
      let vm = this;
      var times = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: times,
        sign: MD5(localStorage.getItem("userId") + this.pageNum + this.pageSize + times + localStorage.getItem('oKey'))
      };
      axios.post(api + '/wxmp/info/userLink/getUserLinkList', qs.stringify(obj))
        .then((response) => {
          console.log(response);
          if (response.data.result == 1) {
            if (response.data.dataList.length < this.pageSize) {
              this.finishLoad = false;
            } else {
              this.finishLoad = true;
            }
            for (let i = 0; i < response.data.dataList.length; i++) {
              this.address_list.push(response.data.dataList[i]);
            }


            // this.address_list = response.data.dataList;
            if (this.address_list) {
              var address_id = this.address_list.filter((value, index) => {
                if (value.is_default == '1') {
                  return value;
                }
              })
            } else {
              this.address_list = [];
            }

            if (address_id && address_id.length == '1') {
              this.acvite = address_id[0].id;
            }
          } else {
            this.finished = true;
          }
        })
    },
    //新增地址
    new_add_address () {
      this.$router.push({ path: `/address`, query: { index: '1' } });
    },
    //修改地址
    update_address (item) {
      var str = JSON.stringify(item);
      sessionStorage.setItem('update_address', str);
      this.$router.push({ path: `/address`, query: { index: '2' } });
    }

  },
  created () {
    /shydhn/g.test(window.navigator.userAgent) ? this.apptype = 'shydhn' : this.apptype = '';
    // this.get_list();
    document.setTitle('选择地址');
  },
  mounted () {
    document.title = '选择地址';
  }
}
</script>

<style scoped lang="scss">
.receiving {
  width: 100%;
  min-height: 100vh;
  background: rgba(244, 244, 244, 1);
  .list {
    background: #ffffff;
    padding: 0 0.32rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: left;
    margin-bottom: 0.16rem;
    padding-top: 0.22rem;
    .list_name {
      color: rgba(34, 34, 34, 1);
      font-size: 0.3rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }
    .list_descr {
      color: rgba(34, 34, 34, 1);
      font-size: 0.3rem;
      margin-top: 0.24rem;
      line-height: 0.4rem;
    }
    .operation {
      display: flex;
      width: 100%;
      height: 0.88rem;
      margin-top: 0.32rem;
      border-top: 0.01rem solid RGBA(224, 224, 224, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(102, 102, 102, 1);
      font-size: 0.24rem;
      .operation_left,
      .operation_right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .select_true {
        width: 0.28rem;
        height: 0.28rem;
        border: 0.01rem solid RGBA(121, 121, 121, 1);
        border-radius: 100%;
        margin-right: 0.1rem;
      }
      .update_img {
        display: block;
        width: 0.31rem;
        height: 0.37rem;
      }
      .detel_img {
        display: block;
        width: 0.35rem;
        height: 0.35rem;
        margin-left: 0.54rem;
      }
      .chose_img {
        width: 0.28rem;
        height: 0.28rem;
        margin-right: 0.1rem;
      }
    }
  }
  /deep/ .van-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    .two_sure {
      margin-top: 3.77rem;
      width: 4.36rem;
      .title {
        width: 100%;
        height: 0.99rem;
        background: rgba(249, 249, 249, 1);
        border-radius: 0.18rem 0.18rem 0 0;
        background: #ffffff;
        border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
        color: rgba(0, 0, 0, 1);
        font-size: 0.32rem;
        text-align: center;
        line-height: 0.99rem;
      }
      .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .left {
          width: 50%;
          height: 0.88rem;
          background: rgba(249, 249, 249, 1);
          border-radius: 0 0 0 0.18rem;
          background: #ffffff;
          border-right: 0.01rem solid RGBA(224, 224, 224, 1);
          color: rgba(153, 153, 153, 1);
          font-size: 0.28rem;
          text-align: center;
          line-height: 0.88rem;
        }
        .right {
          width: 50%;
          height: 0.88rem;
          background: rgba(249, 249, 249, 1);
          border-radius: 0 0 0.18rem 0;
          background: #ffffff;
          border-right: 0.01rem solid RGBA(224, 224, 224, 1);
          color: rgba(0, 122, 255, 1);
          font-size: 0.28rem;
          text-align: center;
          line-height: 0.88rem;
        }
      }
    }
  }
  .new_address {
    width: 7.5rem;
    height: 0.88rem;
    background: linear-gradient(
      161deg,
      rgba(250, 217, 97, 1) 0%,
      rgba(255, 210, 0, 1) 100%
    );
    color: rgba(34, 34, 34, 1);
    font-size: 0.3rem;
    line-height: 0.88rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .yidong {
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    color: rgba(51, 51, 51, 1);
    line-height: 0.88rem;
    text-align: center;
    position: fixed;
    bottom: 0.88rem;
    left: 0;
    z-index: 999;
    background: #fccb2f;
  }
  .no_address {
    width: 100%;
    min-height: 16.24rem;
    background: #ffffff;
    overflow: hidden;
    img {
      width: 4.09rem;
      height: 3.7rem;
      margin: 1.92rem auto 0;
    }
  }
}
</style>