<template>
  <div class="order_box">
    <van-tabs
      v-model="active"
      swipeable
      @click="getRou"
    >
      <van-tab
        v-for="index in tabList"
        :title="index"
        :key="index"
      >
      </van-tab>
    </van-tabs>
    <van-list
      v-model="loading"
      :finished="finished"
      @load="onLoad"
      style="padding-top:.88rem;"
    >
      <div
        class="order_list"
        v-for="(etim,index)  in  order_list"
        :key="index"
      >
        <div class="stuts">
          <div class="left">订单号：{{etim.id}}</div>
          <div
            class="right"
            v-if="is_goto_time[index]=='0'  &&  etim.is_pay=='0'"
          >未支付</div>
          <div
            class="right"
            v-if="is_goto_time[index]=='1'  &&  etim.is_pay=='0'"
          >付款超时</div>
          <div
            class="right"
            v-if="etim.is_pay=='8'"
          >已取消</div>
          <div
            class="right"
            v-if="etim.is_pay=='1'"
          >待发货</div>
          <div
            class="right"
            v-if="etim.is_pay=='2'"
          >已发货</div>
        </div>
        <div class="shop_list">
          <div
            class="list_details"
            v-for="(shop_etim,shop_index)  in  etim.goodsRecord"
            :key="shop_index"
            @click="goto_buy(shop_etim.goods_id)"
          >
            <div class="left">
              <img
                :src="shop_etim.title_url"
                alt=""
              >
            </div>
            <div class="right">
              <div class="name">{{shop_etim.act_name}}</div>
              <div class="num">数量{{shop_etim.sell_num}}</div>
              <div v-if="is_goto_time[index]=='0'  &&  etim.is_pay=='0'"></div>
              <div
                class="again"
                v-else
                @click="goto_buy(shop_etim.goods_id)"
              >再次购买</div>
            </div>
          </div>
        </div>
        <div class="summary">合计：<span>{{order_prize[index]}}</span>共{{etim.sell_num}}件商品</div>
        <div
          class="button_list"
          v-if="etim.is_pay!='8'"
        >
          <div
            class="white_pay"
            v-if="etim.is_pay=='2'"
            @click="showExpress(etim.id)"
          >查看物流</div>
          <div
            class="white_pay"
            v-if="is_goto_time[index]=='0'  &&  etim.is_pay=='0'"
            @click="cancel(etim.id)"
          >取消订单</div>
          <div
            class="white_pay"
            @click="goto_details(etim.id,is_goto_time[index],etim.is_pay)"
          >查看详情</div>
          <div
            class="yellow_pay"
            v-if="is_goto_time[index]=='0'  &&  etim.is_pay=='0'"
            @click="goto_details(etim.id,is_goto_time[index],etim.is_pay)"
          >立即支付</div>
        </div>
      </div>
    </van-list>
  </div>
</template>

<script>
    import {DatetimePicker} from "vant";
    import {Base64} from "js-base64";
    import MD5 from "js-md5";
    import qs from "qs";
    import Vue from "vue";
    import {Toast} from "vant";
    import {List} from 'vant';

    Vue.use(Toast)
        .use(List);

    export default {
        name: "wait_payment",
        data() {
            return {
                pageNum: 0,
                pageSize: 20,
                order_list: [],
                is_goto_time: [],
                order_prize: [],
                loading: false,
                finished: false,
                finishLoad: true,
                tabList:["待支付","已付款","已发货","已取消"],
                is_pay: 1,
                active: 1
            }
        },
        methods: {
            getRou(index,title){
                console.log(index);
                this.pageNum = 1;
                this.pageSize = 20;
                if(index == 0){
                    this.is_pay = 0;
                }else if(index == 1){
                    this.is_pay = 1;
                }else if(index == 2){
                    this.is_pay = 2;
                }else if(index == 3){
                    this.is_pay = 8;
                }
                this.order_list = [];
                this.get_order_list();
            },
            cancel(id){
                let time = new Date().getTime();
                let obj = {
                    user_id: localStorage.getItem("userId"),
                    id,
                    stamp: time,
                    sign: MD5(localStorage.getItem("userId") +''+ id +''+ time +''+ localStorage.getItem("Key")
                    )
                };
                axios
                    .post(api + "/wxmp/info/order/doGoodsOrderCancel", qs.stringify(obj))
                    .then(res => {
                        if(res.data.result=='1'){
                            this.$router.go(0)
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            onLoad() {
                // this.pageNum = 0;
                // 异步更新数据
                this.pageNum++;
                // 加载状态结束
                this.loading = false;
                if (this.finishLoad) {
                    this.get_order_list();
                } else {
                    this.finished = true;
                }
            },
            contrastTime(evalue) {
                var arr = evalue.substr(0, 19).split(/[- : \/]/);
                var dB = new Date(arr[0], arr[1]-1, arr[2], arr[3], arr[4], arr[5]);
                var d = new Date();
                if (Date.parse(d) > Date.parse(dB)) {
                    //时间戳对比
                    return 1;
                }
                return 0;
            },
            get_order_list() {
                let time = new Date().getTime();
                let obj = {
                    user_id: localStorage.getItem("userId"),
                    is_pay: this.is_pay,
                    pageNum: this.pageNum,
                    pageSize: this.pageSize,
                    stamp: time,
                    sign: MD5(localStorage.getItem("userId") + '' + this.is_pay+ '' + this.pageNum + this.pageSize + time + localStorage.getItem("Key")
                    )
                };
                axios
                    .post(api + "/wxmp/info/order/doGoodsOrderList", qs.stringify(obj))
                    .then(res => {
                        if (res.data.result == 1) {
                            this.is_goto_time = [];
                            this.order_prize = [];
                            if (res.data.dataList.length < this.pageSize) {
                                this.finishLoad = false;
                            } else {
                                this.finishLoad = true;
                            }
                            for (let i = 0; i < res.data.dataList.length; i++) {
                                this.order_list.push(res.data.dataList[i]);
                            }
                            for (let i = 0; i < this.order_list.length; i++) {
                                let stush = this.contrastTime(this.order_list[i].last_pay_time)
                                this.is_goto_time.push(stush);
                            }
                            for (let i = 0; i < this.order_list.length; i++) {
                                let price = '';
                                if (this.order_list[i].total_point == '0') {
                                    //积分为零
                                    price = `￥${((this.order_list[i].total_fee * 1 + this.order_list[i].total_postage * 1) * 0.01).toFixed(2)}`
                                } else {
                                    if ((this.order_list[i].total_fee * 1 + this.order_list[i].total_postage * 1) * 0.01 == '0') {
                                        price = `${this.order_list[i].total_point}积分`
                                    } else {
                                        price = `￥${((this.order_list[i].total_fee * 1 + this.order_list[i].total_postage * 1) * 0.01).toFixed(2)}+${this.order_list[i].total_point}积分`
                                    }
                                }
                                this.order_prize.push(price);
                            }
                        } else {
                            this.finished = true;
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            //查看详情
            goto_details(oid,is_time,is_pay) {
                if(is_time=='0'  &&  is_pay=='0'){
                    window.location.href=`/wxmp/?index.html#/pay_order?id=${oid}`;
                }else{
                    window.location.href=`/wxmp/?index.html#/order_details?id=${oid}`;
                }
            },
            //再次购买
            goto_buy(id) {
                this.$router.push({ path: `/shop_details` ,query:{id:id}});
            },
            //查看物流
            showExpress(oid) {
                this.$router.push({ path: `/logistics` ,query:{oid:oid}});
                // location.href = '/wxmp/shop/express.jsp?oid=' + oid;
            }
        },
        created() {
            // this.get_order_list();
        },
        mounted() {
            document.title = "订单";
        },
    }
</script>

<style scoped lang="scss">
    .order_box{
        width: 100%;
        height: 100%;
        /deep/ .van-tabs__nav--card{
            margin: 0;
        }
         /deep/ .van-tabs {
                padding-top: 0;
             .van-tabs__wrap {
                height: 0.88rem;
                 position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 999999;
                .van-tabs__nav--line {
                    width: 100%;
                    height: 100%;
                    padding-bottom: 0;
                    /*padding: 0  0.62rem;*/
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                    .van-tabs__line {
                        height: 0.08rem;
                        background-color: #FFDA00;
                        /*width: 0.8rem!important;*/
                        z-index: 10;
                        bottom: 0.25rem;
                    }
                     .van-tab--active {
                        font-size: 0.3rem;
                        color: #222222;
                        font-weight: bold;
                    }
                    .van-tab {
                        font-size: 0.3rem;
                        color: #222222;
                        z-index: 20;
                        background-color: transparent;
                        padding: 0;
                    }
                }
            }
        }
        .order_list{
            padding: 0  0.32rem;
            box-sizing: border-box;
            border-bottom: 0.16rem  solid  rgba(244,244,244,1);
            .stuts{
                width: 100%;
                height: 0.81rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left{
                    color:rgba(153,153,153,1);
                    font-size: 0.24rem;
                }
                .right{
                    color:rgba(34,34,34,1);
                    font-size: 0.26rem;
                }
            }
            .shop_list{
                .list_details{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 0.24rem;
                    .left{
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 0.04rem;
                        margin-right: 0.2rem;
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: yellow;
                        }
                    }
                    .right{
                        flex: 1;
                        height: 1.5rem;
                        display: flex;
                        align-items: left;
                        justify-content: space-between;
                        flex-direction: column;
                        text-align: left;
                        position: relative;
                        top: 0;
                        left: 0;
                        .name{
                            color:rgba(51,51,51,1);
                            font-size: 0.3rem;
                            text-overflow: -o-ellipsis-lastline;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            /*! autoprefixer: off */
                            -webkit-box-orient: vertical;
                            /* autoprefixer: on */
                        }
                        .num{
                            color:rgba(102,102,102,1);
                            font-size: 0.24rem;
                        }
                        .again{
                            width:1.44rem;
                            height:0.56rem;
                            border-radius:0.04rem;
                            border:0.01rem solid rgba(224,224,224,1);
                            text-align: center;
                            line-height: 0.58rem;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            color:rgba(51,51,51,1);
                            font-size: 0.28rem;
                        }
                    }
                }
            }
            .summary{
                width: 100%;
                height: 0.82rem;
                display: flex;
                align-items: center;
                color:rgba(102,102,102,1);
                font-size: 0.26rem;
                span{
                    color:rgba(34,34,34,1);
                    font-size: 0.32rem;
                    font-weight: bold;
                    margin-right: 0.08rem;
                }
            }
            .button_list{
                width: 100%;
                height: 1.06rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-top: 0.01rem  solid rgba(224,224,224,1);
                div{
                    margin-left: 0.16rem;
                }
                .yellow_pay{
                    width: 1.44rem;
                    height: 0.56rem;
                    background:rgba(255,218,0,1);
                    border-radius: 0.04rem;
                    color:rgba(51,51,51,1);
                    font-size: 0.28rem;
                    text-align: center;
                    line-height: 0.56rem;
                }
                .white_pay{
                    width:1.44rem;
                    height:0.56rem;
                    border-radius:0.04rem;
                    border:0.01rem solid rgba(224,224,224,1);
                    text-align: center;
                    line-height: 0.56rem;
                    color:rgba(51,51,51,1);
                    font-size: 0.28rem;
                    box-sizing: border-box;
                }
            }
        }
    }
</style>