<template>
  <div class="prize_wrap">
    <!-- 奖品弹窗iphone -->
      <div class="close" style='z-index:999' @click="close()"><img :src="list.close" alt="" ></div>
      <div class="box1" style="background: url('@/../static/images/box1.png') center/cover;">
        <div class="img"><img :src="prise.image" alt=""></div>
        <div class="txt"><p>{{prise.title}}</p></div>
      </div>
      <div class="yes"><img :src="list.yes" alt="" @click='sure_add'></div>
  </div>
</template>

<script>
  // import base from 'js-base64'
  import qs from 'qs'
  import MD5 from 'js-md5'
  export default {
    name: "prize_dialog",
    props: {

    },
    data() {
      return {
        closes: false,
        list: {
          box1: "./static/images/box1.png",
          close: "./static/images/close.png",
          yes: "./static/images/btn_2.png",
        },
        prise: {title: '来晚一步红包派完了', image: './static/images/weizhongjiang.png'},//领奖的数据
      }
    },
    methods:{
      sure_add(){
        this.$router.push({path:"/topic"})
      },
      close(){
        this.$emit('close', this.closes)
      },
      //获取抽奖信息
      get_prise_msg() {
        var time = new Date().getTime();
        var obj = {
          stamp: time,
          sign: MD5(time + '' + localStorage.getItem('oKey'))
        };
        axios.post(api + '/wxmp/log/award/doApiAwardConfigInfo', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            if (res.data.result == 1) {
              this.choujiang(res.data.data.id)//也就是awardId
            } else {
              this.is_wrap1 = true;
            }
          })

      },
      //发起请求抽奖方法
      choujiang(awardId) {
        var _this = this;
        var time = new Date().getTime();
        var obj = {
          award_id: awardId,
          type: 0,
          open_id: localStorage.getItem('open_id'),
          stamp: time,
          sign: MD5(awardId + '' + 0 + '' + localStorage.getItem('open_id') + '' + time + '' + localStorage.getItem('oKey'))
        };

        axios.post(api + '/wxmp/log/award/addAwardRecord', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            // alert(res.data.result);
            if (res.data.result == 1) {
              console.log('发起请求成功')
              sessionStorage.setItem('choujiangnum', '1')
              _this.prise = {title:res.data.data.desc,image:res.data.data.prize_pic};
              sessionStorage.setItem('prise_id', res.data.data.id);//抽奖记录表的Id
            } else {
              this.prise.image = '/wxmp/static/images/weizhongjiang.png';
              this.prise.title = '来晚一步红包派完了';
              console.log('发起请求失败')
            }
          })
          .catch((error) => {
            console.log(error)
          })
      },
    },
    created(){
      this.get_prise_msg();
      console.log("抽奖")
    }
  }
</script>

<style scoped lang="scss">
  /*过渡动画结束*/
  .bounce-enter-active {
    animation: bounce-in .5s;
  }

  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  /*过渡动画结束*/
  .prize_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 918;
    .box1{
      overflow: hidden;
      width: 100%;
      height: 4.3rem;
      margin: 2.8rem auto 0;
      background-size: 100% 100%;
      .img {
        width: 2rem;
        margin: .8rem auto 0;
        img{
          width: 100%;
        }
      }
      .txt {
        width: 100%;
        position: absolute;
        right: 0;
        top: 6.45rem;
        z-index: 928;
        p {
          font-size: 0.24rem;
          color: #d97c00;
        }

      }
    }
    .close {
      width: 0.52rem;
      height: 0.52rem;
      position: absolute;
      right: 1.15rem;
      top: 2.75rem;
      img{
        width: 100%;
      }
    }
    .yes {
      width: 2.86rem;
      height: 0.8rem;
      position: absolute;
      left: 2.32rem;
      top: 7.6rem;
      img{
        width: 100%;
      }
    }
  }
</style>
