<template>
  <div class="smoke_wrap">
    <div class="title_pic"><img :src="topic.topic_title_pic" alt=""></div>
    <div class="bg" style="background: url('@/../static/smoke/smoke_bg.png') no-repeat center/cover;"></div>
    <div class="count_down" v-if="count_down">{{cunt_time > 0 ?
      (cunt_time>=10?cunt_time:'0'+cunt_time)+'秒内投入烟蒂入箱':'已超时，请重新扫描'}}
    </div>
    <div class="vote_success" v-if="vote_success">投票成功</div>
    <div class="topic_title" v-if="!more">{{topic_title?topic_title:'正在加载中，请稍后...'}}</div>
    <!--查询到丢烟头显示-->
    <div class="btn_box " v-if="voted && !more">
      <div class="yes" v-for="(item,index) in topic.jsh_topic_opt" :key="index"
           :style="{background:'url('+ (active==item.id?activeBtn:defaultBtn) +') no-repeat center/cover'}"
           @click="changeOpt(item.id)">
        <p>{{item.opt_title}}</p>
      </div>
    </div>
    <!--是否加码-->
    <div class="topic_title" v-if="more">您已参加过此话题投票是否继续加码?</div>
    <div class="btn_box jiama" v-if="more">
      <div class="yes" :style="{background:'url('+ activeBtn +') no-repeat center/cover'}" @click="reds(0)">
        <p>Yes</p>
      </div>
      <div class="yes" :style="{background:'url('+ defaultBtn +') no-repeat center/cover'}" @click="reds(1)">
        <p>No</p>
      </div>
    </div>


    <!--投票成功-->
    <div class="vote_success_result" v-if="vote_success">
      <div class="left">Yes</div>
      <div class="center">
        <div class="left_sort" :style="{width:select1+'%',background:'#ec5b59'}"><span
          style="background: url('@/../static/smoke/sort_03.png') no-repeat center/cover;"></span></div>
        <div class="right_sort" :style="{width:select2+'%',background:'#109bff'}"><span
          style="background: url('@/../static/smoke/sort_04.png') no-repeat center/cover;"></span></div>
      </div>
      <div class="right">No</div>
      <div class="bottom">
        <div class="b_left">{{select1}}%</div>
        <div class="b_center"
             style="width: 2.1rem;height: .6rem;background: #2e7bf4;border-radius: .1rem;line-height: .6rem"
             @click="choujiang">领红包
        </div>
        <div class="b_right">{{select2}}%</div>
      </div>
    </div>
    <!--未投烟头-->
    <div class="btn_success" v-if="!voted">
      <div class="rest" :style="{background:'url('+ activeBtn +') no-repeat center/cover'}" @click="sao()">
        <p>重新扫描</p>
      </div>
    </div>
    <!--更多话题 不能投票显示-->
    <div class="five" v-if="five">每天最多投递5次</div>
    <div class="two" v-if="two">2小时内只能投一次</div>
    <div class="btn_success" v-if="five||two">
      <div class="rest" :style="{background:'url('+ activeBtn +') no-repeat center/cover'}" @click="goTopic">
        <p>更多话题</p>
      </div>
    </div>
    <div class="tishi" v-if="!vote_success">
      提示：扫码后请将烟头投入装置中完成投票，超过60s需要重新扫码完成投票，投票完成有惊喜等着你哦~
    </div>
    <transition name="bounce">
      <prize-dialog v-if="Dialogs" v-on:close="close"></prize-dialog>
    </transition>
  </div>
</template>

<script>
  import {Base64} from 'js-base64'
  import qs from 'qs'
  import MD5 from 'js-md5'
  import $ from 'jquery'
  import prizeDialog from './prize_dialog.vue'

  export default {
    components: {
      prizeDialog
    },
    data() {
      return {
        Dialogs: false,
        voted: false,
        active: -1,
        activeBtn: '@/../static/smoke/btn_active.png',
        defaultBtn: '@/../static/smoke/btn.png',
        count_down: true,
        vote_success: false,
        five: false,
        two: false,
        prize_number: '0',
        cunt_time: 60,
        num_time: 60,
        topic_title: '',
        topic_title_pic: false,
        is_wrap: true,
        is_wrap1: false,
        changeRed: 0,
        more: false,
        topic: {},
        select1: 50,
        select2: 50
      };
    },
    methods: {
      close(closes) {
        this.Dialogs = closes;
      },
      choujiang() {
        this.Dialogs = true;
      },
      goTopic() {
        this.$router.push({path: '/index'});
      },
      changeOpt(id) {
        this.active = id;
        this.go();
      },
      reds: function (index) {
        console.log(index);
        if (index == 1) {
          //切换话题
          this.get_change_topic();
          this.cunt_time = 60;
          this.get_downline_result();
        }
        this.statusRest();
        this.count_down = true;

      },
      //提交投票结果，即更改投票选项；要先判断有没有投过票再去提交
      go() {
        let vm = this;
        var time = new Date().getTime();
        var obj = {
          id: vm.vote_result.id,
          new_id: vm.active,
          stamp: time,
          sign: MD5(vm.vote_result.id + '' + vm.active + '' + time + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/log/vote/modDeviceVoteOpt', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            if (res.data.result == 1) {
              // 投票成功
              this.get_select();
              this.statusRest();
              this.voted = true;
              this.vote_success = true;
            } else {
              console.log(res.data.msg)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      },
      //获取投票结果
      get_select() {
        var time = new Date().getTime();
        var obj = {
          topic_id: sessionStorage.getItem('smoke_title_id'),
          stamp: time,
          sign: MD5(sessionStorage.getItem('smoke_title_id') + '' + time + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/log/vote/getOptCount', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            if (res.data.result == 1) {
              var sum = parseInt(res.data.data.count1) + parseInt(res.data.data.count2);
              if (sum > 0) {
                this.select1 = parseInt(res.data.data.count1) * 100 / sum;
                this.select2 = parseInt(res.data.data.count2) * 100 / sum;
              } else {
                this.select1 = 50;
                this.select2 = 50;
              }
            } else {
              console.log(res.data.msg)
            }
          })
      },
      //切换话题
      get_change_topic() {
        var time = new Date().getTime();
        var obj = {
          id: this.topic.id,
          imei: Base64.encode(sessionStorage.getItem('imei')),
          open_id: localStorage.getItem('open_id'),
          stamp: time,
          sign: MD5(this.topic.id + localStorage.getItem('open_id') + '' + time + localStorage.getItem('oKey'))
        };
        axios.post(api + '/wxmp/log/topic/changeDeviceTopic', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            if (res.data.result == 1) {
              console.log('重置话题成功')
              this.topic = res.data.data;
              this.statusRest();
            } else if (res.data.result == 4428) {
              alert(res.data.msg)
            } else {
              console.log(res.data.msg)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      },
      //获取当期话题
      get_topic() {
        var time = new Date().getTime();
        var obj = {
          class_id: '-1',
          imei: Base64.encode(sessionStorage.getItem('imei')),
          stamp: time,
          sign: MD5('-1' + time + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/topic/topicOfflineInfo', qs.stringify(obj))
          .then((res) => {
            console.log(res);
            if (res.data.result == 1) {
              // console.log('查询成功')
              sessionStorage.setItem('smoke_title_title', res.data.data.topic_title);
              this.topic_title = res.data.data.topic_title;
              this.topic = res.data.data;
              // sessionStorage.setItem('smoke_title_id', res.data.data.id);
              // sessionStorage.setItem('smoke_title_img', res.data.data.topic_title_pic);
              // sessionStorage.setItem('select1_id', res.data.data.jsh_topic_opt[0].id);
              // sessionStorage.setItem('select1_opt_title', res.data.data.jsh_topic_opt[0].opt_title);
              // sessionStorage.setItem('select2_id', res.data.data.jsh_topic_opt[1].id);
              // sessionStorage.setItem('select2_opt_title', res.data.data.jsh_topic_opt[1].opt_title);
              this.topic_title_pic = res.data.data.topic_title_pic;
            } else {
              console.log(res.data.msg)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      },
      //获取丢烟头的结果
      get_result(xunhuan) {
        var time = new Date().getTime();
        var obj = {
          topic_id: this.topic.id,
          // open_id: localStorage.getItem('open_id'),
          user_id: localStorage.getItem("userId"),
          stamp: time,
          sign: MD5(this.topic.id + '' + time + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/log/vote/getDeviceVote', qs.stringify(obj))
          .then((res) => {
            if (res.data.result == 1) {
              //获取成功;保存投票结果,然后判断是否可投票
              this.vote_result = res.data.data;
              sessionStorage.setItem('user_selected', res.data.data.topic_opt_id);
              sessionStorage.setItem('xuanzedeopt', res.data.data.opt_sort);
              sessionStorage.setItem('jilu_id', res.data.data.id);
              sessionStorage.setItem('yantou_id', res.data.data.id);
              clearInterval(xunhuan);
              this.statusRest();
              this.voted = true;
              this.active = res.data.data.topic_opt_id;
              this.changeRed = res.data.data.opt_sort;
              this.isVote();
            }
          })
      },
      //状态重置函数
      statusRest() {
        this.more = false;
        this.count_down = false;
        this.vote_success = false;
        this.five = false;
        this.two = false;
        this.voted = false;
      },
      //验证是否超过五次机会
      get_downline_result() {
        var _this = this;
        var time = new Date().getTime();
        var obj = {
          user_id: localStorage.getItem("userId"),
          // open_id: localStorage.getItem('open_id'),
          stamp: time,
          // sign: MD5(localStorage.getItem('open_id') + '' + time + '' + localStorage.getItem('Key'))
          sign: MD5(localStorage.getItem("userId") + '' + time + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/log/vote/checkVote', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            if (res.data.result == 4719) {
              //可以投票
              var xunhuan = setInterval(function () {
                _this.cunt_time--;
                //获取投票结果
                _this.get_result(xunhuan);
                if (_this.cunt_time < 1) {
                  _this.cunt_time = 0;
                  clearInterval(xunhuan);
                }
              }, 1000)

            } else if (res.data.result == 4717) {
              //超过五次
              _this.statusRest();
              this.five = true;
            } else if (res.data.result == 4718) {
              //两小时
              _this.statusRest();
              this.two = true;
            }
          })
      },
      //验证用户是否投过票
      isVote() {
        let vm = this;
        var time = new Date().getTime();
        var obj = {
          user_id: localStorage.getItem("userId"),
          topic_id: vm.topic.id,
          stamp: time,
          sign: MD5(localStorage.getItem("userId") + '' + this.topic.id + '' + time + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/log/vote/doVoteSearchdata', qs.stringify(obj))
          .then((res) => {
            console.log(res)
            if (res.data.result == 1) {
              //投过票
              if (res.data.dataNum > 1) {
                //加码投票
                this.statusRest();
                this.voted = true;
                this.more = true;
              }
            }
          })
      },
      sao() {
        wx.scanQRCode({
          desc: 'scanQRCode desc',
          needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
          scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
          success: function (res) {
            // 回调
            //window.location.href = ref;
          },
          error: function (res) {
            if (res.errMsg.indexOf('function_not_exist') > 0) {
              alert('版本过低请升级')
            }
          }
        });
      },
      /* 获取用户信息 */
      getUserData() {
        var time = new Date().getTime();
        var obj = {
          open_id: localStorage.getItem("open_id"),
          stamp: time,
          sign: MD5(
            localStorage.getItem("open_id") +
              "" +
              time +
              localStorage.getItem("Key")
          )
        };
        axios
          .post(api + "/wxmp/log/user/getCheckUserRegWxID", qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              sessionStorage.setItem('userId',res.data.data.id);
            } else {
              console.log(res.data.msg);
            }
          })
          .catch(error => {
            console.log(error);
          });
      },
    },
    created() {
      this.getUserData();/* 获取用户信息 存储 sessionStorage userId */
      this.get_topic();
      // 获取是否可以投票
      this.get_downline_result();
    },
    mounted() {
      document.title = '举手';
    }
  };

</script>

<style scoped lang='scss'>
  .smoke_wrap {
    width: 100%;
    height: 100%;
    min-height: 11.3rem;
    background: #2d7af0;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 11.3rem;
    }
    .title_pic {
      position: absolute;
      top: 2.32rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 5.48rem;
      height: 3.31rem;
      z-index: 99;
      border-radius: .38rem;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .count_down, .five, .two, .vote_success {
      font-size: .4rem;
      line-height: .84rem;
      color: #ffffff;
      position: absolute;
      top: 6.14rem;
      left: 1.1rem;
      width: 4.86rem;
      height: .84rem;
      border-radius: .84rem;
      box-shadow: 0 0 .1rem #ffffff inset;
    }
    .vote_success {
      width: 4rem;
      left: 1.8rem;
    }
    .vote_success_result {
      width: 6.13rem;
      height: 1.88rem;
      background: #ffffff;
      border-radius: .1rem;
      position: absolute;
      top: 9.26rem;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: .19rem .29rem .13rem .29rem;
      font-size: .3rem;
      color: #ffffff;
      text-align: center;
      line-height: .8rem;
      box-sizing: border-box;
      .left {
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background: linear-gradient(to bottom right, #fdaf8e, #ec5b59);
        box-shadow: 0 0 .1rem #ec5b59;
      }
      .center {
        width: calc(100% - 1.6rem);
        height: .08rem;
        display: flex;
        margin-top: .4rem;
        .left_sort, .right_sort {
          height: 100%;
          padding: 0;
          span {
            width: .05rem;
            height: 100%;
            padding: 0;
            margin: 0;
            border: none;
          }
        }
        .left_sort {
          display: flex;
          justify-content: flex-end;
        }
        .right_sort {
          display: flex;
          justify-content: flex-start;
        }
      }
      .right {
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background: linear-gradient(to bottom right, #9ed6ff, #109bff);
        box-shadow: 0 0 .1rem #109bff;
      }
      .bottom {
        padding: 0 .29rem;
        box-sizing: border-box;
        position: absolute;
        bottom: .13rem;
        left: 0;
        width: 100%;
        height: calc(100% - 1.13rem);
        display: flex;
        justify-content: space-between;
        .b_left, .b_right {
          font-size: .24rem;
          color: #333333;
          width: .8rem;
          line-height: .6rem;
        }
        .b_center {
          margin-top: .18rem;
          box-shadow: 0 0 .1rem #109bff;
        }
      }
    }
    .topic_title {
      position: absolute;
      top: 7.18rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 6.13rem;
      font-size: .34rem;
      line-height: .48rem;
      color: #333333;
      padding-top: .36rem;
      padding-left: .4rem;
      box-sizing: border-box;
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .btn_box {
      position: absolute;
      top: 9.07rem;
      left: 1.48rem;
      width: 5.22rem;
      height: .96rem;
      display: flex;
      justify-content: space-between;
      .yes, .no {
        width: 2.25rem;
        height: .96rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        p {
          text-align: center;
          width: 2.11rem;
          height: .76rem;
          line-height: .76rem;
          color: #fff;
          font-size: .4rem;
        }
      }
    }
    .btn_success {
      position: absolute;
      top: 9.07rem;
      left: 1.48rem;
      width: 5.22rem;
      height: .96rem;
      display: flex;
      justify-content: flex-end;
      .rest {
        width: 2.25rem;
        height: .96rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        p {
          text-align: center;
          width: 2.11rem;
          height: .76rem;
          line-height: .76rem;
          color: #fff;
          font-size: .32rem;
        }
      }
    }
    .tishi {
      padding: .2rem 0;
      box-sizing: border-box;
      line-height: .42rem;
      width: 6.7rem;
      margin: auto;
      position: absolute;
      top: 10.04rem;
      left: 0;
      right: 0;
      text-align: left;
      font-size: .24rem;
      color: #ffffff;
    }
    .wrap1 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      left: 0;
      top: 0;
      .box1 {
        overflow: hidden;
        width: 100%;
        height: 4.3rem;
        margin: 2.8rem auto 0;
        background: url("/wxmp/static/images/box1.png") center/100% 100%;
        background-size: 100% 100%;
        .img {
          width: 2rem;
          margin: .8rem auto 0;

        }
        .txt {
          width: 100%;
          position: absolute;
          right: 0;
          top: 6.43rem;
          p {
            font-size: 0.24rem;
            color: #d97c00;
          }

        }

      }
      .close {
        width: 0.52rem;
        height: 0.52rem;
        position: absolute;
        right: 1.15rem;
        top: 2.75rem;
      }
      .yes {
        width: 2.86rem;
        height: 0.8rem;
        position: absolute;
        left: 2.32rem;
        top: 7.6rem;
      }
    }
  }


</style>


