<template>
  <div class="help-wrap">
    <div class="rule-btn"
         @click="getRule">规则</div>
    <img src="@/../public/static/active314/help_bg.png"
         alt=""
         style="width: 100%;height: 7.6rem">
    <div class="help-cutdown"
         style="background-image: url('@/../static/active314/title_bg.png');">今日剩余助力时间 <span>{{hour}}</span>:<span>{{minute}}</span>:<span>{{second}}</span> &nbsp;&nbsp;</div>
    <div class="text">已收到 {{points}} 热力值，获得 {{shere_adds}} 次机会</div>
    <div class="progress">
      <van-progress :percentage="(points/800)*100"
                    color="#75F0F4"
                    :show-pivot='false' />
      <p style="margin-top: .3rem;color: #fff;font-size:0.28rem;text-align:left;"><span style="margin-left: .25rem;">50</span><span style="margin-left: 0.85rem;">200</span><span style="margin-left: 4.5rem;">800</span></p>
    </div>
    <div class="btn-box">
      <div class="btn"
           @click="getShare">立即分享</div>
      <div class="btn"
           @click="getIndex">进入活动</div>
    </div>
    <div class="help-list-title"
         style="background-image: url('@/../static/active314/title_bg.png');">好友助力记录</div>
    <div class="help-list-info">
      <van-list v-model="loading"
                :error.sync="error"
                error-text="请求失败，点击重新加载"
                :finished="finished"
                :offset="100"
                :finished-text="list.lenght? '没有更多人了':'还没有其他人为你贡献热力值哦，快去呼唤小伙伴为你助力吧！'"
                @load="onLoad"
                loading-text="数据加载中"
                :immediate-check="false">
        <div class="list-item"
             v-for="(item,index) in list"
             :key="index">
          <img :src="item.help_headimg?item.help_headimg:'/wxmp/static/active314/default.png'"
               alt=""
               style="width: .6rem;height: .6rem;display: block;">
          <span class="nick_name"
                style="width: 2.94rem;">{{item.help_nickname?item.help_nickname:'举手用户'}}</span>
          <span class="num">{{item.add_point}}分</span>
        </div>
      </van-list>
    </div>
    <div class="mark"
         v-show="mark">
      <div class="rule"
           v-show="rule">
        <h3>助力规则</h3>
        <ul>
          <li>
            <p>关注【举手来了】微信公众号，进入“世纪之恋，为爱举手” 活动，首页点击“赚次数”，选择“好友助力”，即可发起自己的助力。</p>
          </li>
          <li>
            <p>邀请好友助力，热力值满50、200、800各可获得1次免费参与机会，每天最多获得3次机会，自动计入账户。每个好友当日只可助力1次。</p>
          </li>
          <li>
            次日0:00热力值清零，需重新发起助力，已助力过的好友可再次助力。已获得的机会累计在账户中，不过期。
          </li>
        </ul>
        <p class="desc">活动最终解释权归主办方所有</p>
        <div class="close"
             style="background:url('@/../static/active314/close.png') no-repeat center/cover;margin: .93rem auto;width: .39rem;height: .39rem;"
             @click="closeRule"></div>
      </div>
      <div class="share"
           v-if="share"
           style="width: 4.35rem;height: 2.16rem;position: absolute;top: 0;bottom: 0;right: 0;left:0;margin: auto">
        <img src="@/../public/static/active314/share.png"
             alt=""
             style="width: 4.35rem;margin-bottom: .76rem">
        <img src="@/../public/static/active314/close_share_btn.png"
             alt=""
             style="width: 2.34rem;height: .9rem;"
             @click="closeShare">
      </div>
    </div>

  </div>
</template>

<script>
import Vue from 'vue'
import { Progress } from 'vant';
import { List } from 'vant';
import { Toast } from 'vant';
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
Vue.use(Progress).use(List).use(Toast);
export default {
  name: "index",
  data () {
    return {
      mark: false,
      rule: false,
      dialog: false,
      success: false,
      share: false,
      nickname: 'xxx',
      points: 0,
      hour: '',
      minute: '',
      second: '',
      game_code: 'drf520',
      pageNum: 1,
      pageSize: 5,
      list: [],
      loading: false,
      finished: false,
      finishLoad: true,
      error: false,
      shere_adds: 0,
      is_help: 0
    }
  },
  created () {
    this.cutDown();
    this.getInfo();
  },
  mounted () {
    console.log(localStorage.getItem("userId"));
    console.log("https://" + window.location.host + "/wxmp/index.html#/redirect?state=HelpShare&help_user_id=" + localStorage.getItem("userId"));
    window.dataForWeixin = {
      appId: "",
      imgUrl: "https://" + window.location.host + "/wxmp/static/active314/shareImg.png", // get_post_weixin_thumb 为微信机器人高级版中的函数
      link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=HelpShare&help_user_id=" + localStorage.getItem("userId")),
      title: '为爱举手，请你也来',
      desc: "为我助力，赢取广汽Honda VE-1使用权！",
      fakeid: ""
    };
    window.setShare();
    console.log(window.dataForWeixin)
    document.title = "为爱举手，请你也来";
  },
  methods: {
    onLoad () {
      let vm = this;
      setTimeout(function () {
        console.log('进来了');
        vm.pageNum++;
        // 加载状态结束
        vm.loading = false;
        if (vm.finishLoad) {
          vm.getInfo();
        } else {
          vm.finished = true;
        }
      }, 2000);
    },
    //倒计时
    cutDown () {
      //获取当前时间
      var date = new Date();
      var now = date.getTime();
      //设置截止时间
      var t = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + (date.getDate() + 1);
      var endDate = new Date(t);
      var end = endDate.getTime();
      //时间差
      var leftTime = end - now;
      //定义变量 d,h,m,s保存倒计时的时间
      if (leftTime >= 0) {
        // var d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
        this.hour = Math.floor(leftTime / 1000 / 60 / 60 % 24) >= 10 ? Math.floor(leftTime / 1000 / 60 / 60 % 24) : '0' + Math.floor(leftTime / 1000 / 60 / 60 % 24);
        this.minute = Math.floor(leftTime / 1000 / 60 % 60) >= 10 ? Math.floor(leftTime / 1000 / 60 % 60) : "0" + Math.floor(leftTime / 1000 / 60 % 60);
        this.second = Math.floor(leftTime / 1000 % 60) >= 10 ? Math.floor(leftTime / 1000 % 60) : "0" + Math.floor(leftTime / 1000 % 60);
      }
      //递归每秒调用countTime方法，显示动态时间效果
      setTimeout(this.cutDown, 1000);
    },
    getRule () {
      this.mark = true;
      this.rule = true;
    },
    closeRule () {
      this.mark = false;
      this.rule = false;
    },
    closeDialog () {
      this.mark = false;
      this.dialog = false;
    },
    closeSuccess () {
      this.mark = false;
      this.success = false;
    },
    closeShare () {
      this.mark = false;
      this.share = false;
    },
    getShare () {
      this.mark = true;
      this.share = true;
    },
    getIndex () {
      this.$router.push({ path: '/kvindex' })
    },
    getInfo () {
      this.loading = true;
      let time = new Date().getTime();
      let obj = {
        game_code: this.game_code,
        user_id: localStorage.getItem("userId"),
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5(this.game_code + localStorage.getItem("userId") + time + localStorage.getItem('oKey'))
      }
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/user/game/cuthelp/getlist', qs.stringify(obj))
        .then(res => {
          console.log(res);
          this.loading = false;
          if (res.data.result === 1) {
            this.points = res.data.share_point;
            this.shere_adds = res.data.shere_adds;
            if (res.data.dataNum === 0) {
              this.finished = true;
            } else {
              this.list.push(...res.data.dataList);
            }
          } else {
            this.list = [];
            this.error = true;
          }
        })
        .catch(err => {
          console.log(err);
          this.error = true;
        })
    }
  }
}
</script>

<style scoped lang="scss">
.help-wrap {
  width: 100%;
  background: linear-gradient(180deg, #007274 0%, rgba(141, 190, 192, 1) 100%);
  overflow: auto;
  box-sizing: border-box;
  min-height: calc(100% + 1px);
  /deep/ .van-progress {
    background: #30686a;
    height: 0.19rem;
    width: 6.85rem;
    margin: auto;
  }
  /deep/ .van-list__finished-text {
    color: #ffffff;
    text-align: left;
    line-height: 0.48rem;
    font-size: 0.3rem;
  }
  .mark {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    .rule {
      position: absolute;
      left: 0;
      right: 0;
      top: 2.19rem;
      margin: auto;
      width: 5.5rem;
      height: 7.12rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.1rem;
      padding-top: 0.22rem;
      box-sizing: border-box;
      ul {
        text-align: left;
        padding-left: 0.2rem;
        box-sizing: border-box;
        font-size: 0;
        li {
          margin: 0 auto 0.22rem;
          list-style: disc;
          width: 4.66rem;
          font-size: 0.3rem;
          font-family: PingFangSC-Regular;
          color: rgba(34, 34, 34, 1);
          line-height: 0.36rem;
        }
      }
      h3 {
        font-size: 0.34rem;
        font-family: PingFangSC-Regular;
        font-weight: 600;
        color: rgba(34, 34, 34, 1);
        position: relative;
        z-index: 66;
        margin-bottom: 0.26rem;
      }
      h3::before {
        content: "";
        display: block;
        width: 1.5rem;
        height: 0.11rem;
        background: rgba(252, 189, 22, 1);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
      }
      .desc {
        text-align: center;
        font-size: 0.28rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 0.48rem;
      }
    }
    .dialog {
      position: absolute;
      left: 0;
      right: 0;
      top: 2.62rem;
      width: 4.91rem;
      height: 5.35rem;
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
      h6 {
        font-size: 0.28rem;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        margin-bottom: 0.71rem;
      }
      h2 {
        text-align: center;
        padding-top: 0.7rem;
        font-size: 0.4rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 0.48rem;
        margin-bottom: 0.49rem;
      }
      h3 {
        text-align: center;
        padding-top: 0.7rem;
        font-size: 0.4rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 0.48rem;
        margin-bottom: 0.8rem;
      }
      p {
        font-size: 0.34rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 0.48rem;
      }
    }
  }
  .rule-btn {
    text-align: center;
    width: 0.95rem;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #fff;
    font-size: 0.24rem;
    background: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position: fixed;
    top: 2.13rem;
    right: 0;
  }
  .help-cutdown {
    width: 6.66rem;
    height: 0.37rem;
    margin: 0 auto 0.49rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffefe;
    font-size: 0.3rem;
    font-weight: 400;
    font-family: PingFangSC-Regular;
    line-height: 0.58rem;
    span {
      font-size: 0.32rem;
      font-weight: 500;
    }
  }
  .help-list-title {
    width: 6.66rem;
    height: 0.37rem;
    margin: 0 auto 0.47rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 0.34rem;
    font-weight: 500;
    font-family: PingFangSC-Regular;
    line-height: 0.58rem;
    span {
      font-size: 0.32rem;
      font-weight: 500;
    }
  }
  .text {
    text-align: left;
    color: #ffffff;
    font-size: 0.3rem;
    width: 6.85rem;
    margin: 0 auto 0.47rem;
  }
  .progress {
    width: 6.85rem;
    margin: 0 auto 0.34rem;

    span {
      position: relative;
    }
    span::after {
      content: "";
      width: 0.02rem;
      height: 0.1rem;
      display: block;
      margin: auto;
      position: absolute;
      top: -0.3rem;
      left: 0;
      right: 0;
      background: #fff;
    }
  }
  .btn-box {
    padding: 0 0.36rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0.8rem;
    .btn {
      width: 2.87rem;
      height: 0.74rem;
      background: rgba(36, 103, 104, 1);
      border-radius: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.34rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 0.74rem;
    }
  }
  .help-list-info {
    margin-top: 0.33rem;
    padding: 0 0.71rem;
    box-sizing: border-box;
    .list-item {
      width: 100%;
      height: 0.6rem;
      margin-bottom: 0.24rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      font-size: 0.28rem;
      img {
        margin-right: 0.19rem;
        border-radius: 50%;
      }
      .nick_name {
        margin-right: 1.6rem;
        text-align: left;
      }
    }
  }
}
</style>