<template>
  <div class="logistics"
       v-if="is_have_list">
    <div class="top">
      <div class="left_img">
        <img :src="goods_details.title_url"
             alt="">
      </div>
      <div class="right">
        <div>{{goods_details.act_name}}</div>
        <div>{{goods_details.expess_name}}:{{goods_details.expess_sn}}</div>
      </div>
    </div>
    <div class="bottom">
      <div class="list"
           v-for="(etim,index)  in  logistics_list"
           :key="index">
        <div class="left">
          <div>{{day_list[index].day_str}}</div>
          <div>{{day_list[index].time_str}}</div>
          <div></div>
        </div>
        <div class="right">{{etim.AcceptStation}}</div>
      </div>
    </div>
  </div>
  <div class="logistics_else"
       v-else>
    <img src="@/../public/static/shop/wuliu.png"
         alt="">
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";

Vue.use(Toast);

export default {
  data () {
    return {
      logistics_list: [],
      day_list: [],
      goods_details: [],
      is_have_list: false
    }
  },
  methods: {
    get_logistics (id) {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem('userId'),
        id: id,
        stamp: time,
        sign: MD5(localStorage.getItem('userId') + '' + id + '' + time + '' + localStorage.getItem('Key'))
      };
      axios.post(api + '/wxmp/info/order/doGoodsOrderExpress', qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.day_list = [];
            this.logistics_list = this.filterObjectNull(res.data.data.reverse());

            if (!this.logistics_list.length > 0) {
              this.is_have_list = false
            } else {
              this.is_have_list = true
            }
            this.goods_details = res.data.goodsOrderdata;
            for (let i = 0; i < this.logistics_list.length; i++) {
              let str = this.logistics_list[i].AcceptTime.split(' ');
              let obj = {
                day_str: str[0].substring(5),
                time_str: str[1].substring(0, 5),
              }
              this.day_list.push(obj)
            }
          }
        })
    },
    filterObjectNull (arr) {
      return arr.filter(el => {
        return typeof el != "object" || Array.isArray(el) || Object.keys(el).length > 0;
      })
    }
  },
  created () {
    let id = this.$route.query.oid;
    this.get_logistics(id)
  }
}
</script>
<style scoped lang="scss">
.logistics_else {
  width: 100%;
  min-height: 100vh;
  background: rgba(244, 244, 244, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    width: 4.54rem;
    height: 4.4rem;
  }
}
.logistics {
  width: 100%;
  min-height: 100vh;
  background: rgba(244, 244, 244, 1);
  .top {
    width: 100%;
    height: 1.82rem;
    background: #ffffff;
    padding: 0.24rem 0.32rem;
    box-sizing: border-box;
    display: flex;
    .left_img {
      margin-right: 0.24rem;
      img {
        width: 1.34rem;
        height: 1.34rem;
        background: rgba(216, 216, 216, 1);
        border-radius: 0.04rem;
        display: block;
      }
    }
    .right {
      flex: 1;
      height: 100%;
      overflow: hidden;
      text-align: left;
      div:first-child {
        font-size: 0.32rem;
        color: rgba(51, 51, 51, 1);
        margin-top: 0.07rem;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
      }
      div:last-child {
        font-size: 0.28rem;
        color: rgba(102, 102, 102, 1);
        margin-top: 0.27rem;
      }
    }
  }
  .bottom {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 0.16rem;
    background: #ffffff;
    padding: 0.4rem;
    .list {
      display: flex;
      .left {
        margin-right: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        div:nth-child(1) {
          font-size: 0.28rem;
          color: rgba(51, 51, 51, 1);
        }
        div:nth-child(2) {
          font-size: 0.24rem;
          color: rgba(102, 102, 102, 1);
          margin-top: 0.03rem;
        }
        div:nth-child(3) {
          margin-top: 0.08rem;
          width: 0.01rem;
          height: 0.32rem;
          border-right: 0.01rem solid rgba(151, 151, 151, 1);
        }
      }
      .right {
        text-align: left;
        flex: 1;
        font-size: 0.26rem;
        color: rgba(119, 119, 119, 1);
      }
    }
    .list:nth-child(1) .right {
      font-size: 0.26rem;
      color: rgba(51, 51, 51, 1);
    }
    .list:nth-child(1) .left div:nth-child(1) {
      color: rgba(51, 51, 51, 1);
    }
    .list:last-child .left div:nth-child(3) {
      display: none;
    }
  }
}
</style>
