<template>
    <div class="order_details">
        <div class="top">
            <div class="order_suc" v-if="order_details.is_pay=='2'">
                <img src="@/../public/static/shop/yi-fa.png" alt>
                <div>订单已发货</div>
            </div>
            <div class="order_suc" v-if="order_details.is_pay=='8'">
                <img src="@/../public/static/shop/qu_xiao.png" alt>
                <div>订单已取消</div>
            </div>
            <div class="order_suc" v-if="order_details.is_pay=='1'">
                <img src="@/../public/static/shop/dai_fa.png" alt>
                <div>订单待发货</div>
            </div>
            <div class="order_suc" v-if="order_details.is_pay=='0' &&  is_goto_time=='1'">
                <img src="@/../public/static/shop/chaoshi.png" alt>
                <div>付款超时</div>
            </div>
        </div>
        <div class="address">
            <div class="user_name">用户名:{{order_details.username}}{{order_details.mobile}}</div>
            <div class="user_address">收货地址:{{order_details.province}}
                {{order_details.city}}
                {{order_details.district}} {{order_details.address}}
            </div>
        </div>
        <div class="shop_list">
            <div class="list" v-for="(etim,index) in  order_details.recordarray" :key="index"
                 @click="goto_buy(etim.goods_id)">
                <div class="pay_left">
                    <img :src="etim.title_url" alt="">
                </div>
                <div class="pay_right">
                    <div class="pay_right_descr">
                        <div class="name">{{etim.act_name}}</div>
                    </div>
                    <div class="pay_right_time">
                        <div>{{create_time[index]}}</div>
                        <div>{{order_prize[index]}}</div>
                    </div>
                    <div class="pay_right_num">数量{{etim.sell_num}}</div>
                </div>
            </div>
        </div>
        <div class="shop_details">
            <div class="list">
                <div class="list_name">商品总额</div>
                <div class="list_num">{{shop_price}}</div>
            </div>
            <div class="list">
                <div class="list_name">运费</div>
                <div class="list_num">{{shop_postage}}</div>
            </div>
            <div class="list">
                <div class="list_name">积分</div>
                <div class="list_num">{{order_details.total_point}}分</div>
            </div>
            <div v-if="order_details.is_pay=='8'  ||  order_details.is_pay=='0'">
            </div>
            <div class="list" v-else>
                <div class="list_name">优惠</div>
                <div class="list_num">{{order_details.coupon_name?order_details.coupon_name:'无'}}</div>
            </div>
            <div v-if="order_details.is_pay=='8'  ||  order_details.is_pay=='0'">
            </div>
            <div class="list" v-else>
                <div class="list_name">积分抵扣</div>
                <div class="list_num">{{order_details.deduction_point}}分</div>
            </div>
            <div class="all">
                <div class="all_name">总价（含运费）</div>
                <div class="all_num">{{price}}</div>
            </div>
        </div>
        <div class="order_details">
            <div class="order_details_list">
                <div>订单编号</div>
                <div>{{order_details.id}}</div>
            </div>
            <div class="order_details_list" v-if="order_details.is_pay=='8'  ||  order_details.is_pay=='0'">
            </div>
            <div class="order_details_list" v-else>
                <div>支付方式</div>
                <div>微信支付</div>
            </div>
            <div class="order_details_list" v-if="order_details.is_pay=='8'  ||  order_details.is_pay=='0'">
            </div>
            <div class="order_details_list" v-else>
                <div>支付时间</div>
                <div>{{pay_time}}</div>
            </div>
        </div>
    </div>
</template>
<script>
    import MD5 from "js-md5";
    import qs from "qs";
    import Vue from "vue";
    import {Toast} from "vant";

    Vue.use(Toast);

    export default {
        data() {
            return {
                order_details: [],
                order_prize: [],  //商品价钱
                create_time: [],  //商品事件
                price: '', //总价
                shop_price: '',  //商品总额
                shop_postage: '',  //商品运费
                is_goto_time: '',  //订单是否超时
            }
        },
        methods: {
            contrastTime(evalue) {
                var arr = evalue.substr(0, 19).split(/[- : \/]/);
                var dB = new Date(arr[0], arr[1] - 1, arr[2], arr[3], arr[4], arr[5]);
                var d = new Date();
                if (Date.parse(d) > Date.parse(dB)) {
                    //时间戳对比
                    return 1;
                }
                return 0;
            },
            get_order_detaild(id) {
                let time = new Date().getTime();
                let obj = {
                    user_id: localStorage.getItem('userId'),
                    id,
                    stamp: time,
                    sign: MD5(id + '' + time + localStorage.getItem('Key')
                    )
                };
                axios.post(api + '/wxmp/info/order/doGoodsOrderRecord', qs.stringify(obj))
                    .then(res => {
                        if (res.data.result == '1') {
                            this.order_details = res.data.data;
                            this.shop_price = `￥${((this.order_details.total_fee * 1) * 0.01).toFixed(2)}`
                            this.shop_postage = `￥${((this.order_details.total_postage * 1) * 0.01).toFixed(2)}`
                            this.is_goto_time = this.contrastTime(this.order_details.last_pay_time)
                            let order_list = res.data.data.recordarray;
                            for (let i = 0; i < order_list.length; i++) {
                                this.create_time.push(order_list[i].create_time.split(" ")[0]);
                                let price = '';
                                if (order_list[i].point == '0') {
                                    //积分为零
                                    price = `￥${((order_list[i].prize * 1) * 0.01).toFixed(2)}`
                                } else {
                                    if ((order_list[i].prize * 1) * 0.01 == '0') {
                                        price = `${order_list[i].point}积分`
                                    } else {
                                        price = `￥${((order_list[i].prize * 1) * 0.01).toFixed(2)}+${order_list[i].point}积分`
                                    }
                                }
                                this.order_prize.push(price);
                            }
                            if (this.order_details.total_point == '0') {
                                //积分为零
                                this.price = `￥${((this.order_details.total_fee * 1 + this.order_details.total_postage * 1) * 0.01).toFixed(2)}`
                            } else {
                                if ((this.order_details.total_fee * 1 + this.order_details.total_postage * 1) * 0.01 == '0') {
                                    this.price = `${this.order_details.total_point}积分`
                                } else {
                                    this.price = `￥${((this.order_details.total_fee * 1 + this.order_details.total_postage * 1) * 0.01).toFixed(2)}+${this.order_details.total_point}积分`
                                }
                            }

                        }
                    })
            },
            goto_buy(id) {
                this.$router.push({path: `/shop_details`, query: {id: id}});
            },
        },
        created() {
            let id = this.$route.query.id;
            this.get_order_detaild(id)
        },
        computed: {
            pay_time() {
                if (this.order_details.pay_time) {
                    let str_pay_time = this.order_details.pay_time.split('.')[0];
                    return str_pay_time;
                }
            },
        }
    }
</script>
<style scoped lang="scss">
    .order_details {
        width: 100%;
        background: RGBA(244, 244, 244, 1);
        .top {
            width: 100%;
            height: 1.49rem;
            background: #ffffff;
            border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
            .order_suc {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img {
                    display: block;
                    width: 0.75rem;
                    height: 0.94rem;
                    margin-right: 0.44rem;
                    margin-left: 0.36rem;
                }
                div {
                    font-size: 0.34rem;
                    color: rgba(34, 34, 34, 1);
                }
            }
        }
        .address {
            background: #ffffff;
            padding: 0.32rem;
            box-sizing: border-box;
            text-align: left;
            border-bottom: 0.16rem solid RGBA(244, 244, 244, 1);
            .user_name {
                color: rgba(102, 102, 102, 1);
                font-size: 0.28rem;
                margin-bottom: 0.15rem;
            }
            .user_address {
                color: rgba(102, 102, 102, 1);
                font-size: 0.28rem;
                line-height: 0.40rem;
            }
        }
        .shop_list {
            background: #ffffff;
            width: 100%;
            padding-left: 0.32rem;
            box-sizing: border-box;
            border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
            .list {
                flex: 1;
                height: 1.79rem;
                display: flex;
                padding: 0.27rem 0.32rem 0.28rem 0;
                box-sizing: border-box;
                text-align: left;
                border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
                .pay_left {
                    width: 1.24rem;
                    height: 1.24rem;
                    margin-right: 0.17rem;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: yellow;
                    }
                }
                .pay_right {
                    height: 100%;
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .pay_right_descr {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: rgba(34, 34, 34, 1);
                        font-size: 0.30rem;
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        /*! autoprefixer: off */
                        -webkit-box-orient: vertical;
                        /* autoprefixer: on */
                    }
                    .pay_right_time {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: rgba(153, 153, 153, 1);
                        font-size: 0.22rem;
                        div:last-child {
                            color: rgba(34, 34, 34, 1);
                            font-size: 0.30rem;
                        }
                    }
                    .pay_right_num {
                        color: rgba(102, 102, 102, 1);
                        font-size: 0.24rem;
                    }
                }
            }
            .list:last-child {
                border-bottom: 0;
            }

        }
        .shop_details {
            background: #ffffff;
            width: 100%;
            padding-left: 0.34rem;
            box-sizing: border-box;
            overflow: hidden;
            padding-top: 0.24rem;
            border-bottom: 0.16rem solid RGBA(244, 244, 244, 1);
            .list {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 0.33rem;
                box-sizing: border-box;
                color: rgba(102, 102, 102, 1);
                font-size: 0.28rem;
                margin-bottom: 0.16rem;
            }
            .all {
                margin-top: 0.24rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 0.90rem;
                border-top: 0.01rem solid RGBA(224, 224, 224, 1);
                font-size: 0.30rem;
                color: rgba(102, 102, 102, 1);
                padding-right: 0.33rem;
                box-sizing: border-box;
                .all_num {
                    color: rgba(254, 56, 36, 1);
                    font-size: 0.30rem;
                }
            }
        }
        .order_details {
            background: #ffffff;
            width: 100%;
            padding: 0.24rem 0.29rem;
            box-sizing: border-box;
            .order_details_list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 0.50rem;
                color: rgba(153, 153, 153, 1);
                font-size: 0.28rem;
            }
        }
    }
</style>