<template>
    <div class="pay_suc">
        <img  src="@/../public/static/shop/suc_pay.png" alt>
        <div class="pay_staus">支付成功</div>
        <div class="pay_des">您购买的商品将会在48小时内发出。</div>
        <!--<div class="pay_tell">如有任何疑问可致电“举手”客服咨询</div>-->
        <!--<div class="pay_phone">电话：021—61352691(工作日9:00-18:00)</div>-->
        <div>
            <img src="@/../public/static/shop/WeChat.png" alt="" style="display: block;width: 2.6rem;height: 2.6rem;background: #eee;margin-top: .2rem;">
            <p style="display: block;color:#eb9100;height: .8rem;width:6.8rem;margin: .1rem auto 0;font-size: .26rem;line-height: .4rem;">请长按上方二维码关注“举手来了”公众号 <br>查询您的订单信息和更多会员优惠！</p>
        </div>
        <div class="btnbox">
            <div class="btn_look"  v-if="button_des"  @click="goto_order_list()">查看我的订单</div>
            <div class="btn_look"  v-else  @click="more_active()">更多活动</div>
            <div class="return_index"  @click="return_index()">返回首页</div>
        </div>
        
        <van-divider :style="{ color: '#000000',fontSize:'.3rem',fontFamily:'Source Han Sans CN', borderColor: '#DDDDDD', padding: '0 16px',marginBottom: '.26rem'}">精品推荐</van-divider>
        <good-list :data="GOOD_LIST" v-if="GOOD_LIST_SHOW" />
    </div>
</template>

<script>
    import { Base64 } from "js-base64";
    import MD5 from "js-md5";
    import qs from "qs";
    import Vue from "vue";
    import { Toast } from "vant";
    import { Divider } from "vant";

    Vue.use(Toast).use(Divider);
import GoodList from '../../components/list'
    export default {
        components:{
			GoodList
		},
        data() {
            return {
                button_des:true,
                applet_forward_url:'',
                GOOD_LIST:[],
                GOOD_LIST_SHOW: false,
            }
        },
        methods: {
            //返回首页
            return_index(){
                this.$router.push({path:"/index"});
            },
            //查看我的订单
            goto_order_list(){
                // this.$router.push({path:"/all_order",query:{active:1}});
                this.$router.push({path: `/all_order`, query: {active: 1}});
            },
            /* 获取商品LIST */
			GET_GOOD_LIST(){
                console.log(1111);
				const time = new Date().getTime();
				// CLASS_ID = 1 热销 2 推荐
				const axiosurl = api + '/wxmp/info/goods/getOrderRecommendGoods';
                let order_id = '41450';
				const obj = {
					order_id: order_id,
					stamp: time,
					sign: MD5(order_id + time + "" + localStorage.getItem("oKey") )
				};
				axios.post( axiosurl, qs.stringify(obj) )
					.then(res=>{
                        this.GOOD_LIST_SHOW = true;
						if(res.data.result == 1 && res.data.dataNum){
							this.GOOD_LIST = [...res.data.dataList];
                            this.GOOD_LIST_SHOW = true;
						}else {
							this.GOOD_LIST = [];
						}
					})
			},
        },
        created(){
            if(this.$route.query.applet_forward_url){
                this.button_des=true;
                this.applet_forward_url=this.$route.query.applet_forward_url;
            }
            this.GET_GOOD_LIST();
        },
        mounted() {
            document.title = '支付成功！';
        },
    }
</script>
<style scoped lang="scss">
    .pay_suc{
        width: 100%;
        height: 100vh;
        background: #ffffff;
        overflow: auto;
        text-align: center;
        img{
            display: block;
            width: 1.86rem;
            height: 1.44rem;
            margin:  0  auto;
            margin-top: 0.2rem;
        }
        .pay_staus{
            font-size:0.40rem;
            color:rgba(34,34,34,1);
            font-weight: bold;
            margin-top: 0.33rem;
        }
        .pay_des{
            font-size:0.32rem;
            color:rgba(102,102,102,1);
            margin-top: 0.3rem;
        }
        .pay_tell{
            color: rgba(153, 153, 153, 1);
            font-size: 0.26rem;
            margin-top: 0.21rem;
        }
        .pay_phone{
            color: rgba(76, 174, 235, 1);
            font-size: 0.24rem;
            margin-top: 0.15rem;
        }
        
        .btnbox{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 0.46rem;
            width: 100%;
            font-size: .28rem;
            font-family:Source Han Sans CN;
            .return_index{
                width:2.2rem;
                height:0.60rem;
                border-radius:0.45rem;
                border:0.01rem solid rgba(151,151,151,1);
                color:rgba(34,34,34,1);
                line-height: 0.60rem;
            }
            .btn_look{
                width:2.2rem;
                height:0.60rem;
                background:linear-gradient(154deg,rgba(255,210,0,1) 0%,rgba(252,202,55,1) 100%);
                border-radius:0.45rem;
                color:rgba(34,34,34,1);
                line-height: 0.60rem;
            }
        }
        
    }
    ul.con{
        height:auto;
    }
</style>