<template>
  <!-- 通过订单Id  直接调用payOrder 进入微信支付流程 已完成 H5微信支付流程改造 -->
  <div class="pay">
    <img src="@/../public/static/shop/loading-white.gif"
         alt="">
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from 'vue';
import { Toast } from 'vant';
Vue.use(Toast);
export default {
  name: "pay",
  data () {
    return {
      back_trade_no: '',
      back_url: '',
      oid: ''
    }
  },
  mounted () {
    document.title = '正在支付';
    let vm = this;
    this.oid = sessionStorage.getItem('oid') ? Base64.decode(sessionStorage.getItem('oid')) : '';
    this.back_url = sessionStorage.getItem('back_url') ? sessionStorage.getItem('back_url') : '';
    console.log(this.oid, this.back_url);
    setTimeout(() => {
      vm.order_pay(this.oid);
    }, 2000)

  },
  destroyed () {
    sessionStorage.removeItem('back_url');
  },
  methods: {
    order_stush (oid) {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem('userId'),
        oid: oid,
        stamp: time,
        sign: MD5(localStorage.getItem('userId') + '' + oid + '' + time + localStorage.getItem('Key')
        )
      };
      axios.post('/api/wxmp/info/order/orderPayType', qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            console.log('orderPayType <==> is_pay', res.data.is_pay);
            if (res.data.is_pay == 1 || res.data.is_pay == 2) {
              sessionStorage.setItem('is_pay_suc', 1)
              window.location.href = this.back_url;
            } else {
              setTimeout(() => {
                this.order_stush(oid);
              }, 1000);
            }
          }
        })
    },
    order_pay (oid) {
      let vm = this;
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem('userId'),
        oid: oid,
        stamp: time,
        sign: MD5(localStorage.getItem('userId') + '' + oid + '' + time + localStorage.getItem('Key')
        )
      };
      axios.post('/api/wxmp/info/order/payOrder', qs.stringify(obj))
        .then(res => {
          console.log(res)
          if (res.data.result == 1) {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
              WeixinJSBridge.invoke(
                "getBrandWCPayRequest", {
                "appId": res.data.appId,
                "timeStamp": res.data.timeStamp,
                "nonceStr": res.data.nonceStr,
                "package": res.data.package,
                "signType": res.data.signType,
                "paySign": res.data.paySign
              },
                function (response) {
                  console.log(response)
                  if (response.err_msg == "get_brand_wcpay_request:ok") {
                    console.log('payOrder <==> wait_pay', res.data.wait_pay);
                    if (res.data.wait_pay) {
                      vm.order_stush(oid);
                    } else {
                      sessionStorage.setItem('is_pay_suc', 1)
                      window.location.href = vm.back_url;
                    }
                  }
                }
              );
            } else {
              sessionStorage.setItem('mweb_url', res.data.mweb_url)
              this.$router.push({ path: '/h5waitorderpay', query: { id: this.id } })
            }

          } else {
            Toast('支付失败！');
            sessionStorage.setItem('is_pay_suc', 0)
            window.location.href = vm.back_url;
          }
        })

    }
  }
}
</script>
<style lang="scss" scoped>
.pay {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
  }
}
</style>
