<template>
  <div class="index-wrap"
       :class="apptype==''?'':'shydhn'">
    <!-- 顶部操作栏 -->
    <div class="top">
      <div class="top_left">
        <van-icon name="shopping-cart-o"
                  size=".34rem" />
        <div class="top_title">我的购物车</div>
      </div>
      <div class="manage_btn"
           @click="edit">{{subshow?'完成':'编辑'}}</div>
    </div>
    <!-- 商品列表 -->
    <div class="card"
         v-if="shopcar_list.length">
      <van-list v-model="loading"
                :finished="finished"
                @load="onLoad">
        <van-swipe-cell :right-width="65"
                        v-for="(item,index) in shopcar_list"
                        :key="index">
          <van-cell-group>
            <van-checkbox v-model="selected[index]"
                          checked-color="#FFD200"
                          @change="checked1"></van-checkbox>
            <div class="goods_img"
                 @click="goodSkip(item.goods.id)">
              <img :src="item.goods.title_url"
                   alt="">
            </div>
            <div class="goods_info">
              <div class="info_t"
                   @click="goodSkip(item.goods.id)">
                <div class="title">{{item.goods.act_name}}</div>
              </div>
              <div class="info_b">
                <div class="tag"
                     v-if="item.goods.tag_title">{{item.goods.tag_title}}</div>
                <div class="tag_no"
                     v-else></div>
                <div class="price_wrap">
                  <div class="price_point">
                    <div>
                      <span style="font-size:.2rem;">{{item.goods.prize*1?"¥":""}}</span><span>{{item.goods.prize*1?(item.goods.prize/100).toFixed(2):""}}{{item.goods.prize==0||item.goods.point==0?'':"+"}}{{item.goods.point*1?(item.goods.point>10000?item.goods.point/10000+"w":item.goods.point)+"积分":""}}
                      </span>
                    </div>
                    <span v-if="item.goods.is_vip*1 > 0 && item.goods.vip_prize*1 && item.goods.vip_prize*1 < item.goods.prize*1"
                          style="font-size:.2rem;">{{item.goods.vip_prize*1?"¥":""}}</span>
                    <span v-if="item.goods.is_vip*1 > 0 && item.goods.vip_prize*1 && item.goods.vip_prize*1 < item.goods.prize*1"
                          style='font-weight:400;font-size:.3rem;'>{{item.goods.vip_prize*1?(item.goods.vip_prize/100).toFixed(2):""}}{{item.goods.vip_prize==0||item.goods.vip_point==0?'':"+"}}{{item.goods.vip_point*1?(item.goods.vip_point>10000?item.goods.vip_point/10000+"w":item.goods.vip_point)+"积分":""}}</span>
                    <img v-if="item.goods.is_vip*1 > 0 && item.goods.vip_prize*1 && item.goods.vip_prize*1 < item.goods.prize*1"
                         src="@/../public/static/goods/vip.png"
                         alt=""
                         style="width:.4rem;height:.2rem;display:inline-block;margin-left:.08rem;">
                  </div>
                  <div class="operate">
                    <div class="lump reduce btn"
                         :class="item.shoppingCar.sell_num==1?'disabled':''"
                         @click="handleReduce(index,item.shoppingCar.id)">－</div>
                    <input type="text"
                           title=""
                           v-model="item.shoppingCar.sell_num"
                           class="lump num"
                           @blur="sellNum(index,item.shoppingCar.id)">
                    <div class="lump add btn"
                         :class="item.shoppingCar.sell_num==99?'disabled':''"
                         @click="handleAdd(index,item.shoppingCar.id)">＋</div>
                  </div>
                </div>
              </div>
            </div>
          </van-cell-group>
          <template slot="right">
            <span @click="deleteSection(item.shoppingCar.id,index)">删除</span>
          </template>
        </van-swipe-cell>
      </van-list>
    </div>
    <!-- 空购物车 -->
    <div class="card_no"
         v-else>
      <img src="@/../public/static/shop/shopcarno.png"
           alt=""
           style="width:3.67rem;">
    </div>
    <div class="weekSale">
      <div style="background-image:url('./static/goods/recommend.png');width:3.36rem;height:0.29rem;background-size:3.36rem 0.29rem;margin:0 auto 0.4rem;"></div>
      <goods-List :data="tuijian"
                  v-if="tuijian.length" />
    </div>
    <!-- 兼容移动app 内嵌fixed的问题 -->
    <div v-if="apptype=='shydhn'"
         style="width:100%;height:0.88rem;"></div>

    <!-- 删除 二次确认框 -->
    <van-dialog v-model="show"
                show-cancel-button
                :before-close="beforeClose">
      确认将这{{orderDel.length}}件商品删除？
    </van-dialog>
    <!-- 底部结算 bar -->
    <van-submit-bar button-type="warning"
                    :button-text="'去结算('+(allNUM.length?allNUM.length:0)+')'"
                    @submit="onSubmit"
                    v-if="!subshow&&shopcar_list.length">
      <input v-model="alls"
             hidden>
      <van-checkbox v-model="a"
                    checked-color="#FFD200"
                    @change="checked">全选</van-checkbox>
      <span slot=""
            style="width:3rem;text-align:left;">
        <span class="heji">合计：</span><span class="van-submit-bar__price">{{totalPoint==0? '':(totalPoint)+'积分'}}{{totalPoint==0 || totalPrize==0 ? '':'+'}}{{totalPrize==0? '':'¥'+totalPrize.toFixed(2)}}</span></span>
    </van-submit-bar>
    <!-- 底部全部删除 bar -->
    <van-submit-bar v-if="subshow&&shopcar_list.length"
                    button-type="danger"
                    button-text="删除"
                    @submit="onSubmit1">
      <input v-model="alls"
             hidden>
      <van-checkbox v-model="a"
                    checked-color="#FFD200"
                    @change="checked">全选</van-checkbox>
      <span slot=""
            style="width: 3rem;text-align:left;">
        <span class="heji">合计：</span><span class="van-submit-bar__price">{{totalPoint==0? '':(totalPoint)+'积分'}}{{totalPoint==0 || totalPrize==0 ? '':'+'}}{{totalPrize==0? '':'¥'+totalPrize.toFixed(2)}}</span></span>
    </van-submit-bar>
    <!-- tabBar -->
    <tabbar></tabbar>
    <!-- 结束 -->
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Tabbar from "../TabBar.vue";
import GoodsList from "../../components/goodsModel.vue";
import Vue from "vue";
  import { Checkbox, CheckboxGroup } from "vant";
  import { SubmitBar } from "vant";
  import { SwipeCell } from "vant";
  import { Cell, CellGroup } from "vant";
  import { Dialog } from "vant";
  import { Icon } from "vant";
  import { Button } from "vant";
  import { Toast } from "vant";
  import { List } from 'vant';
  import { Divider } from 'vant';

Vue.use(Checkbox)
  .use(CheckboxGroup)
  .use(SubmitBar)
  .use(SwipeCell)
  .use(Button)
  .use(Cell)
  .use(CellGroup)
  .use(Icon)
  .use(Dialog)
  .use(Divider)
  .use(Toast)
  .use(List);
export default {
  name: "shop",
  components: {
    Tabbar, GoodsList
  },
  created () {
    /shydhn/g.test(window.navigator.userAgent) ? this.apptype = 'shydhn' : this.apptype = '';
    this.shopcar_list = []
    this.getShopList(1);
    this.goods_qingdan();
  },
  mounted () {
    document.title = "购物车"
    window.dataForWeixin = {
      appId: "",
      imgUrl: '', // get_post_weixin_thumb 为微信机器人高级版中的函数
      link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode('https://js.51takeit.com/wxmp/index.html'),
      // link: 'https://js.51takeit.com/wxmp/index.html',
      title: "举手优选",
      desc: "",
      fakeid: ""
    };
    window.setShare();
  },
  data () {
    return {
      apptype: '',
      loading: false,
      finished: false,
      price: 3050,
      a: false,
      shopcar_list: [],//购物车数据
      show: false,
      selected: [],
      all: false,
      prize: 0,
      point: 0,
      timer: null,//定时器对象
      orderDel: [],
      delArrayList: [],//删除转接数组 临时存储 (购物车数据)
      delArraySelect: [],//删除转接数组 临时存储(购物车选择状态)
      delAll: false,//全删
      delIndex: -1,
      subshow: false,
      finishLoad: false,
      pageNum: 0,
      pageCount: 3,
      tuijian: []
    };
  },
  methods: {
    sellNum (index, id) {
      if (this.shopcar_list[index].shoppingCar.sell_num < 1) {
        this.shopcar_list[index].shoppingCar.sell_num = 1
        //  Toast('商品数量至少为1')
      }
      if (this.shopcar_list[index].shoppingCar.sell_num > 99) {
        this.shopcar_list[index].shoppingCar.sell_num = 99;
        //  Toast('商品数量最多99件')
      }
      this.submitNum(index, id);
    },
    //滚动加载
    onLoad () {
      // 异步更新数据
      if (this.loading) {
        setTimeout(() => {
          // 加载状态结束
          this.loading = false;
          this.pageNum++;
          // 数据全部加载完成
          if (this.pageNum <= this.pageCount) {
            this.getShopList(this.pageNum);
          } else {
            this.finished = true;
          }
        }, 500);
      }

    },
    //编辑
    edit () {
      this.subshow = !this.subshow;
    },
    // 全选
    checked () {
      if (this.shopcar_list.length == 0) {
        Toast('购物车没有商品 请添加商品');
        this.a = false;
        return false;
      }
      if (this.a) {
        //全选  为真
        for (let i = 0; i < this.selected.length; i++) {
          this.selected.splice(i, 1, this.a);
        }
      } else {
        if (this.selected.indexOf(false) == -1) {
          for (let i = 0; i < this.selected.length; i++) {
            this.selected.splice(i, 1, false);
          }
        } else {
          return false;
        }
      }
    },
    //单选
    checked1 () {
      if (this.selected.indexOf(false) == -1 && this.selected.length != 0) {
        this.a = true;
      }
    },
    //获取购物车数据
    getShopList (pageNum) {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        pageNum: pageNum,
        pageSize: 30,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
          "" +
          pageNum +
          "30" +
          time +
          "" +
          localStorage.getItem("oKey")
        )
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/doShoppingCartList", qs.stringify(obj))
        .then(res => {
          this.selected = [];
          if (res.data.result == 1) {
            if (res.data.data.length <= 20) {
              this.loading = false;
              this.finished = true;
            } else {
              this.finishLoad = true;
            }
            for (let i = 0; i < res.data.data.length; i++) {
              this.shopcar_list.push(res.data.data[i]);
              // console.log(this.shopcar_list);
              this.selected.push(false);
            }
          } else {
            // this.shopcar_list = [];
            this.finished = true;
          }
        });
    },
    beforeClose (action, done) {
      /* 关闭提示框 */
      let vm = this;
      if (action === "confirm") {
        var time = new Date().getTime();
        var obj = {
          idlist: vm.orderDel.toString(),
          stamp: time,
          sign: MD5(vm.orderDel.toString() + time + "" + localStorage.getItem("oKey"))
        };
        // eslint-disable-next-line no-undef
        axios.post(api + "/wxmp/doShoppingCartDel", qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              if (vm.delIndex != -1) {
                vm.selected.splice(vm.delIndex, 1);
                vm.shopcar_list.splice(vm.delIndex, 1);
              } else {
                vm.selected = vm.delArraySelect;
                vm.shopcar_list = vm.delArrayList;
              }
              done();
            } else {
              done();
              Toast('网络异常，删除失败');
            }
          });
        setTimeout(function () {
          vm.orderDel = [];
          vm.delIndex = -1;
          this.delAll = false;
        }, 400)
      } else {
        done();
        setTimeout(function () {
          vm.orderDel = [];
          vm.delIndex = -1;
        }, 400)
      }
    },
    //数量加减
    handleReduce (index, id) {
      if (this.shopcar_list[index].shoppingCar.sell_num === 1) return;
      this.shopcar_list[index].shoppingCar.sell_num--;
      this.submitNum(index, id);
    },
    handleAdd (index, id) {
      if (this.shopcar_list[index].shoppingCar.sell_num === 99) return;
      this.shopcar_list[index].shoppingCar.sell_num++;
      this.submitNum(index, id);
    },
    //提交订单
    onSubmit () {
      let order = [];
      let num = 0;
      for (let i = 0; i < this.shopcar_list.length; i++) {
        // console.log(this.selected[i]);
        if (this.selected[i]) {
          // order[num] = {
          //   gid: this.shopcar_list[i].shoppingCar.goods_id * 1,
          //   num: this.shopcar_list[i].shoppingCar.sell_num * 1,
          //   cid:-1
          // };
          order[num] = {
            goods_id: this.shopcar_list[i].shoppingCar.goods_id * 1,
            goods_num: this.shopcar_list[i].shoppingCar.sell_num * 1,
            car_id: this.shopcar_list[i].shoppingCar.id * 1
          };
          num++;
        }
      }
      if (order.length == 0) {
        //未选择结算商品
        Toast("请选择需要结算的商品~");
      } else {
        //跳转订单页面
        sessionStorage.setItem('order_list', Base64.encode(JSON.stringify(order)));
        this.$router.push({ path: "/sub_order" });
      }
    },
    // 修改数量
    submitNum (index, id) {
      if (this.shopcar_list[index].shoppingCar.sell_num <= 0) {
        this.shopcar_list[index].shoppingCar.sell_num = 1;
        return;
      } else {
        let vm = this;
        clearTimeout(this.timer);
        this.timer = setTimeout(function () {
          let time = new Date().getTime();
          let obj = {
            id: id,
            sell_num: vm.shopcar_list[index].shoppingCar.sell_num,
            stamp: time,
            sign: MD5(
              id +
              "" +
              vm.shopcar_list[index].shoppingCar.sell_num +
              "" +
              time +
              localStorage.getItem("oKey")
            )
          };
          // eslint-disable-next-line no-undef
          axios.post(api + "/wxmp/doUserShoppingCartModNum", qs.stringify(obj))
            .then(res => {
              console.log(res);
            })
            .catch(error => {
              console.log(error);
            });
        }, 500);
      }
    },
    onSubmit1 () {
      /* 全删 */
      this.delAll = true;
      this.show = true;
      this.delArraySelect = []
      this.delArrayList = []
      for (let i = 0; i < this.shopcar_list.length; i++) {
        if (this.selected[i]) {
          this.orderDel.push(this.shopcar_list[i].shoppingCar.id);
        } else {
          this.delArraySelect.push(this.selected[i]);
          this.delArrayList.push(this.shopcar_list[i]);
        }
      }
    },
    // 删除
    deleteSection (id, index) {
      this.show = true;
      if (index != -1) {
        this.orderDel.push(id);
        this.delIndex = index;
      }
    },
    //相关推荐
    goods_qingdan () {
      var time = new Date().getTime();
      var obj = {
        Class_id: -1,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5('-1' + '' + '1' + '10' + time + '' + localStorage.getItem('oKey'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/info/goods/doGoodsClassRecommendAPIInfolist', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            if (res.data.dataNum != 0) {  //存在商品
              this.tuijian = res.data.dataList;
            }
          } else {
            // eslint-disable-next-line no-undef
            console.error('相关推荐 数据出错 ===>' + res.data.msg)
          }
        })
        .catch(error => {
          // eslint-disable-next-line no-undef
          console.error(error)
        })
    },
    goodSkip (id) {
      /* 商品跳转 */
      // window.location.href = '/wxmp/shop/Productdetails.html?id='+id+'&aid=-1';
      this.$router.push({ path: "/shop_details", query: { id: id, aid: -1 } });
    }
  },
  computed: {
    totalPrize () {
      /* 计算总价 */
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.prize = 0;
      for (let i = 0; i < this.shopcar_list.length; i++) {
        if (this.selected[i]) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.prize += this.shopcar_list[i].goods.prize * this.shopcar_list[i].shoppingCar.sell_num;
        }
      }
      return this.prize / 100;
    },
    totalPoint () {
      /* 计算总积分 */
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.point = 0;
      for (let i = 0; i < this.shopcar_list.length; i++) {
        if (this.selected[i]) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.point += this.shopcar_list[i].goods.point * this.shopcar_list[i].shoppingCar.sell_num;
        }
      }
      return this.point;
    },
    alls () {
      /* 全选按钮计算 */
      if (this.selected.indexOf(false) == -1 && this.selected.length != 0) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.a = true;
      } else {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.a = false;
      }
      return this.all;
    },
    allNUM () {
      /* 全选按钮计算 */
      return this.selected.filter(v => { return v === true });
    }
  }
};
</script>
<style lang="scss" scoped>
.index-wrap {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  padding-top: 1rem;
  padding-bottom: 2.2rem;
  box-sizing: border-box;
  overflow: scroll;
  .top {
    padding-left: 0.38rem;
    padding-right: 0.32rem;
    box-sizing: border-box;
    width: 7.5rem;
    height: 0.8rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0.02rem 0.06rem 0rem rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    .img {
      // background: url("/static/tabbar/shopping_nor.png") no-repeat center/cover;
      background: url("/wxmp/static/tabbar/shopping_nor.png") no-repeat
        center/cover;
      width: 0.4rem;
      height: 0.4rem;
      margin-right: 0.24rem;
    }
    .top_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .top_title {
      font-size: 0.26rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      margin-left: 0.2rem;
      line-height: 1;
      // margin-right: 4.2rem;
    }
    .manage_btn {
      font-size: 0.26rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }
  }
  .card {
    width: 100%;
    /deep/ .van-list {
      // height: 18rem;
      width: 100%;
    }
    /deep/ .van-cell-group {
      padding: 0.21rem 0.32rem;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .van-checkbox {
        width: 0.36rem;
        height: 100%;
        margin-right: 0.25rem;
        line-height: 0.34rem;
        text-align: center;
      }
      .goods_img {
        width: 1.64rem;
        height: 1.64rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 0.16rem;
          background: #f0f0f0;
        }
      }
      .goods_info {
        width: 4.4rem;
        height: 100%;
        padding-left: 0.23rem;
        padding-top: 0.2rem;
        box-sizing: border-box;
        .title {
          width: 4.41rem;
          height: 0.8rem;
          font-size: 0.26rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);
          line-height: 0.4rem;
          text-align: left;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .info_b {
          padding-top: 0.07rem;
          box-sizing: border-box;
          .tag {
            width: fit-content;
            background: rgba(244, 244, 244, 1);
            border-radius: 0.04rem;
            font-size: 0.22rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 0.3rem;
            padding: 0 0.2rem;
            box-sizing: border-box;
          }
          .tag_no {
            width: fit-content;
            height: 0.29rem;
            line-height: 0.3rem;
          }
          .price_wrap {
            margin-top: 0.17rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price_point {
              text-align: left;
              width: 3rem;
              height: 0.45rem;
              font-size: 0.3rem;
              font-family: PingFangSC;
              font-weight: 600;
              color: #ff0000;
              // line-height: 0.45rem;
            }
            .operate {
              width: 1.26rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 0.44rem;
              border: 0.01rem solid #797979;
              box-sizing: border-box;
              overflow: hidden;
              .lump {
                position: relative;
                width: 0.42rem;
                height: 0.42rem;
                text-align: center;
                border: none;
                color: #333333;
                font-size: 0.3rem;
                line-height: 0.42rem;
              }
              .num {
                background: #f2f2f2;
                z-index: 777;
                border-bottom: 0.01rem solid #797979;
              }
              .reduce {
                border-right: 0.01rem solid #797979;
                z-index: 888;
              }
              .add {
                border-left: 0.01rem solid #797979;
                z-index: 888;
              }
              .lump.disabled {
                color: #d1d4da;
              }
            }
          }
        }
      }
    }
  }
  .card_no {
    width: 100%;
    // height: 100%;ss
    padding-top: 1.27rem;
    padding-bottom: 2.8rem;
    box-sizing: border-box;
    background: #fff;
    .weekSale {
      padding: 0.2rem 0.32rem 0.32rem;
      box-sizing: border-box;
      .Sale_title {
        margin-bottom: 0.32rem;
        width: 100%;
        height: 0.5rem;
        text-align: left;
        font-size: 0.36rem;
        font-family: PingFangSC-Medium;
        font-weight: 600;
        color: rgba(34, 34, 34, 1);
        line-height: 0.5rem;
      }
      .weekList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 2rem;
        li {
          width: 3.28rem;
          text-align: left;
          margin-bottom: 0.32rem;
          img {
            width: 100%;
            margin-bottom: 0.1rem;
            height: 3.28rem;
            border-radius: 0.08rem;
          }
          h6 {
            height: 0.76rem;
            font-size: 0.28rem;
            font-family: PingFangSC-Medium;
            font-weight: 600;
            color: rgba(51, 51, 51, 1);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          p {
            height: 0.42rem;
            font-size: 0.26rem;
            font-family: PingFangSC-Medium;
            font-weight: 600;
            color: rgba(254, 56, 36, 1);
            line-height: 0.42rem;
          }
        }
      }
    }
    img {
      width: 100%;
      margin: auto;
    }
  }
  .heji {
    font-size: 0.24rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }
  .weekSale {
    padding-top: 0.31rem;
    padding-bottom: 0.29rem;
    border-radius: 0.16rem;
    // background: #fff;
    margin-top: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #dddddd40;
  }
  /deep/ .van-divider {
    margin: 0;
  }
  /deep/ .van-checkbox__label {
    font-size: 0.24rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }
  /deep/ .van-swipe-cell {
    height: 2.86rem;
    border-radius: 0.16rem;
    margin-bottom: 0.2rem;
  }
  /deep/ .van-swipe-cell__wrapper {
    height: 100%;
    box-shadow: 0.1rem 0.1rem 0.2rem #dddddd40;
  }
  /deep/ .van-swipe-cell__right {
    font-size: 0.3rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    width: 1.3rem;
    height: 100%;
    background: rgba(255, 59, 48, 1);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /deep/ .van-cell {
    height: 2.56rem;
    padding: 0;
  }
  /deep/ .van-submit-bar {
    bottom: 1.17rem;
    height: 0.88rem;
    box-sizing: border-box;
    .van-submit-bar__bar {
      height: 100%;
      box-sizing: border-box;
      justify-content: space-between;
      .van-submit-bar__price {
        font-size: 0.26rem;
      }
      .van-submit-bar__text {
        display: none;
      }
    }
  }
  /deep/ .van-checkbox {
    display: flex;
    align-items: center;
    .van-checkbox__icon .van-icon {
      width: 0.34rem;
      height: 0.34rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
    .van-checkbox__icon {
      width: 0.34rem;
      height: 0.34rem;
      box-sizing: border-box;
    }
  }
  /deep/ .van-checkbox__icon--checked .van-icon {
    background: #222;
    border: 0.01rem solid #222;
    width: 0.34rem;
    height: 0.34rem;
    box-sizing: border-box;
  }
  /deep/ .van-icon::before {
    // font-size: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.32rem;
    height: 0.32rem;
    box-sizing: border-box;
  }
  /deep/ .van-button--large {
    font-size: 0.3rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    width: 1.6rem;
    height: 100%;
    line-height: 0.44rem;
    color: #222;
  }
  /deep/ .van-button--warning {
    width: 2.4rem;
    height: 0.7rem;
    line-height: 0.7rem;
    background: linear-gradient(
      153deg,
      rgba(255, 210, 0, 1) 0%,
      rgba(252, 202, 55, 1) 100%
    );
    border-radius: 0.7rem;
    border: none;
    color: #fff;
    font-size: 0.3rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /deep/ .van-button--danger {
    width: 2.4rem;
    height: 0.7rem;
    border-radius: 0.7rem;
    border: none;
    color: #fff;
    font-size: 0.3rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.7rem;
  }
}
.shydhn {
  /deep/ .van-submit-bar {
    bottom: 2.05rem;
  }
}
/deep/ .van-dialog {
  width: 4.8rem;
  height: 1.9rem;
  background: rgba(249, 249, 249, 1);
  border-radius: 0.18rem;
  font-size: 0.32rem;

  .van-button {
    font-size: 0.3rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #007aff;
  }
  .van-button:first-child {
    border-right: 0.01rem solid #e0e0e0;
  }
  .van-button:last-child {
    border-left: 0.01rem solid #e0e0e0;
  }
  .van-dialog__content {
    background: #fff;
    font-size: 0.32rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 1rem;
    height: 1rem;
  }
  .van-dialog__footer {
    border-top: 0.02rem solid #e0e0e0;
    height: 0.88rem;
  }
}
/deep/ .van-modal {
  background: rgba(0, 0, 0, 0.5);
}
</style>