<template>
  <div class="shop_details">
    <img src="@/../public/static/shop/shuang11.png" alt="" style="position:fixed;top: 0rem;right: 0;display: block;width: 1.3rem;" @click="get11" >
    <img src="@/../public/static/shop/kefu.png" alt="" style="position:fixed;top: 1rem;right: 0;display: block;width: 1.3rem;" @click="kefu=!kefu">
    <div class="top">
      <img :src="details_list.back_pic_url" alt>
      <div class="shop_list">
        <div class="list_name">{{details_list.act_name}}</div>
        <div class="list_money">
          <div class="prize">{{price}}</div>
          <!--<div-->
            <!--class="discount"-->
            <!--v-if="details_list.goods_cost!='0' && details_list.point=='0' && details_list.goods_cost>details_list.prize"-->
          <!--&gt;促销优惠</div>-->
          <!--<div-->
            <!--class="discount"-->
            <!--v-if="details_list.goods_cost!='0' && details_list.point=='0' && details_list.goods_cost>details_list.prize"-->
          <!--&gt;促销优惠</div>-->
        </div>
        <div class="list_money" v-if="details_list.vip_prize*1 || details_list.vip_point*1">
          <div class="prize1">{{details_list.vip_point*1?details_list.vip_point+'积分':''}}{{details_list.vip_point*1&&details_list.vip_prize*1?'+':''}}{{details_list.vip_prize*1?(details_list.vip_prize*0.01).toFixed(2)+'元':''}}</div>
          <img src="../../../public/static/user/Vip_home.png" alt="" style="width: .43rem;height: .26rem;display: block;margin: 0 0 0 .03rem;" v-if="details_list.vip_prize*1 || details_list.vip_point*1">
        </div>
        <div
          class="shop_prize"
          v-if="details_list.goods_cost!='0' && details_list.point=='0' && details_list.goods_cost>details_list.prize"
        >官方售价
          <del>¥{{details_list.goods_cost/100}}</del>
        </div>
        <div class="list_freight">运费：{{details_list.postage!=0?details_list.postage/100+'元':'免运费'}}</div>
      </div>
    </div>
    <div class="select_choice" @click="choice_open">
      <div class="choice_ing">已选</div>
      <div
        class="choice_answer"
      >{{color_list[deposiy_active]?color_list[deposiy_active].tag_title:''}}  {{deposiy_num}}件</div>
      <img src="../../../public/static/user/more.png" alt>
    </div>
    <div class="details">
      <div class="details_name">商品详情</div>
      <div v-html="details_path" class="content"></div>
    </div>
    <div class="go_purchase">
      <div class="defaults">
        <div class="img_box" @click="open_car">
          <img src="../../../public/static/shop/car.png" alt>
          <div class="red">{{sell_num}}</div>
        </div>
      </div>
      <div class="defaults_box" v-if="button_color==0">
        <div class="defaults" @click="goto_car()">加购物车</div>
        <div class="defaults" @click="goto_buy(details_list.id)">立即购买</div>
      </div>
      <div class="defaults_box" v-if="button_color==1">
        <div class="defaults" @click="goto_car()">加购物车</div>
        <div class="defaults" @click="goto_buy(details_list.id)">立即兑换</div>
      </div>
      <div class="defaults_box_time" v-if="button_color==2">
        <div class="defauits_one">您来早了，抢购未开始！</div>
      </div>
      <div class="defaults_box_time" v-if="button_color==3">
        <div class="defauits_one">抢购已结束，下次请早！</div>
      </div>
      <div class="defaults_box_time" v-if="button_color==4">
        <div class="defauits_one">{{toast_tell}}</div>
      </div>
      <div class="defaults_box_group" v-if="button_color==5">
        <div class="defauits_one" @click="goto_buy(details_list.id)">立即团购</div>
      </div>
    </div>

    <van-popup v-model="show" position="bottom" :overlay="false">
      <div class="choice_box">
        <img :src="color_list[active]?color_list[active].title_url:''" alt>
        <div class="close" @click="close_popup">×</div>
        <div class="choice_class">颜色分类</div>
        <div class="choise_list">
          <div
            v-for="(color_etim,color_index) in  color_list"
            :key="color_index"
            :class="color_index==active?'change_color':''"
            @click="change_color(color_index,color_etim.id)"
          >{{color_etim.tag_title}}</div>
        </div>
        <div class="choise_num">
          <div class="num_left">数量</div>
          <div class="num_right">
            <div class="reduce" @click="change_num(choise_num,'reduce')">-</div>
            <input type="number" v-model="choise_num">
            <div class="plus" @click="change_num(choise_num,'plus')">+</div>
          </div>
        </div>
        <div class="sure" @click="car(details_list.id)">{{popup_sure}}</div>
      </div>
    </van-popup>
    <van-dialog
            v-model="kefu"
            :show-cancel-button="true"
            :show-confirm-button="false"
            cancel-button-text="关闭"
            cancel-button-color="#1989fa"
    >
      <img src="@/../public/static/shop/kefu_qrcode.png" style="width: 2.6rem;height: 2.6rem;margin: auto;padding: .6rem 0 .2rem">
      <p style="font-size: .24rem;color: #666;line-height: .4rem;margin-bottom: .3rem">长按识别二维码， <br>可向客服人员咨询相关产品问题</p>
    </van-dialog>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue"; //这是大佬
import { Popup } from "vant";
import { Toast } from "vant";

Vue.use(Toast);
Vue.use(Popup);
export default {
  name: "shop_details",
  data() {
    return {
        kefu: false,
      show: false,
      choise_num: 1,
      color_list: [],
      active: 0,
      deposiy_num: "1",
      deposiy_active: 0,
      button_color: -1,
      details_list: [],
      price: "",
      details_path: "",
      title_img: "",
      choise_id: "",
      coupon_id: 0,
      aid: "-1",
      sell_num: 0,
      toast_tell: "手慢了，抢光了！",
      popup_sure: "加入购物车"
    };
  },
  methods: {
      get11(){
          window.location.href = 'https://cmcc.51takeit.com/wxmp/act/cmcc_active1911/index.html';
      },
    //打开遮糟
    choice_open() {
      this.show = true;
      this.active = this.deposiy_active;
      this.choise_num = this.deposiy_num;
      // this.popup_sure=''
    },
    //关闭遮糟
    close_popup() {
      this.deposiy_num = this.choise_num;
      this.deposiy_active = this.active;
      this.show = false;
      // if (this.choise_id) {
      //     this.get_details(this.choise_id);
      // }
    },
    //改变数量
    change_num(num, way) {
      if (way == "reduce") {
        this.choise_num = num * 1 - 1;
        if (this.choise_num == 0) {
          this.choise_num = 1;
        }
      } else if (way == "plus") {
        this.choise_num = num * 1 + 1;
      }
    },
    //改变颜色
    change_color(index, id) {
      this.choise_id = id;
      this.choise_num = 1;
      this.active = index;
      if (this.choise_id) {
        this.get_details(this.choise_id);
      }
    },
    contrastTime1(evalue) {
        var arr = evalue.substr(0, 19).split(/[- : \/]/);
        var dB = new Date(arr[0], arr[1]-1, arr[2], arr[3], arr[4], arr[5]);
        var d = new Date();
        if (Date.parse(d) > Date.parse(dB)) {
            //时间戳对比
            return 1;
        }
        return 0;
    },
    //判断时间
    contrastTime(evalue) {
      var myDate = new Date();
      var hours = myDate.getHours();
      var minutes = myDate.getMinutes();
      var seconds = myDate.getSeconds();
      var curDate =
        parseInt(hours) * 3600 + parseInt(minutes) * 60 + parseInt(seconds);
      var active_time = evalue.split(":");
      var active =
        parseInt(active_time[0]) * 3600 +
        parseInt(active_time[1]) * 60 +
        parseInt(active_time[2]);
      if (curDate > active) {
        return 1;
      } else {
        return 0;
      }
    },
    //通过地址获取详情
    get_details_path(id) {
      // eslint-disable-next-line no-undef
      axios
        .get("/wxmp/shop/contentnew.jsp?id=" + id)
        .then(res => {
          console.log(res);
          this.details_path = res.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    //获取详情
    get_details(id) {
      var time = new Date().getTime();
      var obj = {
        id: id,
        stamp: time,
        user_id: localStorage.getItem("userId"),
        sign: MD5(id + "" + time + localStorage.getItem("oKey"))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/info/goods/dogetGoodsinfo", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            //获取详情
            this.color_list = res.data.goodstype;
            for (let i = 0; i < this.color_list.length; i++) {
              if (this.color_list[i].id == id) {
                this.deposiy_active = i;
              }
            }
            this.details_list = res.data.data;
            console.log(this.details_list);
            // let path = '/'+res.data.content;
            this.get_details_path(res.data.goods_id);
            if (this.contrastTime1(res.data.data.begin_time)) {
              if (!this.contrastTime1(res.data.data.end_time)) {
                this.button_color = 0;
                this.popup_sure = "加入购物车";
                if (res.data.goods_num - res.data.sell_num <= 0) {
                  //判断是否还有货
                  this.button_color = 4;
                  this.toast_tell = "手慢了，抢光了！(补货中)";
                  this.popup_sure = "手慢了，抢光了！(补货中)";
                } else {
                  //判断是否会员专享
                  if (res.data.vip_result == 0) {
                    //有货
                    //判断是否团购
                    if (res.data.groupon == "1") {
                      //是团购，显示团购
                      this.button_color = 5;
                      this.popup_sure = "立即团购";
                    } else {
                      //不是团购，正常显示
                      //判断价钱是否纯积分
                      if (res.data.prize == 0) {
                        this.button_color = 1;
                        this.popup_sure = "加入购物车";
                      } else {
                        this.button_color = 0;
                        this.popup_sure = "加入购物车";
                      }
                    }
                    //开始判断时间
                    //先判断开始时间的情况（开始时间为空）
                    if (res.data.start_time_byday == "") {
                      //开始时间为空，结束时间为空，正常
                      if (res.data.end_time_byday == "") {
                        //正常显示
                        // this.button_color = 0
                      } else {
                        //开始时间为空，结束不为空
                        if (!this.contrastTime(res.data.end_time_byday)) {
                          //判断当前时间是否超过结束时间
                          //没超过，正常显示
                          // this.button_color = 0
                        } else {
                          //超过了，结束了
                          this.button_color = 3;
                          this.popup_sure = "抢购已结束，下次请早！";
                        }
                      }
                    } else {
                      //开始不为空
                      //结束为空
                      if (res.data.end_time_byday == "") {
                        //判断是否开始
                        if (this.contrastTime(res.data.start_time_byday)) {
                          //开始了，正常显示
                          // this.button_color = 0
                        } else {
                          //还没开始呢
                          this.button_color = 2;
                          this.popup_sure = "您来早了，抢购未开始！";
                        }
                      } else {
                        //开始不为空，结束不为空
                        //判断是否开始
                        if (this.contrastTime(res.data.start_time_byday)) {
                          //开始了，判断是否结束
                          if (!this.contrastTime(res.data.end_time_byday)) {
                            //判断当前时间是否超过结束时间
                            //没超过，正常显示
                            // this.button_color = 0
                          } else {
                            //超过了，结束了
                            this.button_color = 3;
                            this.popup_sure = "抢购已结束，下次请早！";
                          }
                        } else {
                          //还没开始呢
                          this.button_color = 2;
                          this.popup_sure = "您来早了，抢购未开始！";
                        }
                      }
                    }
                  } else if (res.data.vip_result == 1) {
                    //会员提示语
                    this.button_color = 4;
                    this.toast_tell = res.data.vip_msg;
                    this.popup_sure = res.data.vip_msg;
                  } else if (res.data.vip_result == 2) {
                    //会员提示语
                    this.button_color = 4;
                    this.toast_tell = res.data.vip_msg;
                    this.popup_sure = res.data.vip_msg;
                  } else if (res.data.vip_result == 3) {
                    //会员提示语
                    this.button_color = 4;
                    this.toast_tell = res.data.vip_msg;
                    this.popup_sure = res.data.vip_msg;
                  }
                }
              } else {
                this.button_color = 3;
                this.popup_sure = "抢购已结束，下次请早！";
              }
            } else {
              this.button_color = 2;
              this.popup_sure = "您来早了，抢购未开始！";
            }
            //判断价钱
            if (res.data.point_type == "0") {
              //判断类型，为积分加现金
              if (res.data.point == "0") {
                //积分为零
                this.price = `￥${res.data.prize}`;
              } else {
                if (res.data.prize == "0") {
                  this.price = `${res.data.point}积分`;
                } else {
                  this.price = `￥${res.data.prize}元+${res.data.point}积分`;
                }
              }
            } else if (res.data.point_type == "1") {
              //判断类型，为积分或现金
              if (res.data.point == "0") {
                //积分为零
                this.price = `￥${res.data.prize}`;
              } else {
                if (res.data.prize == "0") {
                  this.price = `${res.data.point}积分`;
                } else {
                  this.price = `￥${res.data.prize}元或${res.data.point}积分`;
                }
              }
            }
            let vm = this;
            window.dataForWeixin = {
              appId: "",
              imgUrl: `${vm.color_list[vm.active].title_url}`, // get_post_weixin_thumb 为微信机器人高级版中的函数
              link:
                "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" +
                Base64.encode(
                  "https://js.51takeit.com/wxmp/index.html#/redirect?state=shop_details&shareId=" +
                    vm.details_list.id
                ),
              title: vm.details_list.act_name,
              desc: "",
              fakeid: ""
            };
            window.setShare();


          }
        });
    },
    //加入购物车
    goto_car() {
      console.log("sdasasjdljas");
      this.show = true;
      this.active = this.deposiy_active;
      this.choise_num = this.deposiy_num;
      this.popup_sure = "确定";
    },
    car(id) {
      if (this.button_color == "2") {
        Toast("您来早了，抢购未开始！");
        return false;
      } else if (this.button_color == "3") {
        Toast("抢购已结束，下次请早！");
        return false;
      } else if (this.button_color == "4") {
        Toast(this.toast_tell);
        return false;
      } else if (this.button_color == "5") {
        var is_gift = 0;
        window.location.href =
          "/wxmp/shop/Settlement.html?id=" +
          id +
          "&aid=" +
          this.aid +
          "&is_gift=" +
          is_gift;
        return false;
      }
      this.deposiy_num = this.choise_num;
      this.deposiy_active = this.active;
      this.show = false;
      if (this.choise_id) {
        this.get_details(this.choise_id);
      }
      var time = new Date().getTime();
      var obj = {
        goods_id: id,
        aid: this.aid,
        user_id: localStorage.getItem("userId"),
        sell_num: this.deposiy_num,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            id +
            time +
            localStorage.getItem("oKey")
        )
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/doShoppingCartAdd", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            Toast("商品成功加入购物车！");
            this.sell_num = this.sell_num * 1 + this.deposiy_num * 1;
          }
        })
        .catch(error => {console.log(error)});
    },
    //打开购物车
    open_car() {
      console.log(1);
      this.$router.push({ path: `/cart` });
      // window.location.href = "/wxmp/index.html#/redirect?state=cart";
    },
    //立即购买
    goto_buy(id) {
        let obj = [{ goods_id: id, goods_num: this.deposiy_num, car_id: -1 }];
        let str = JSON.stringify(obj);
        sessionStorage.setItem('order_list',Base64.encode(str));
        this.$router.push({path:"/sub_order",query:{coupon_id:this.coupon_id}});
    },
    //获取购车数据
    getShopList() {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        pageNum: 1,
        pageSize: 100,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            1 +
            "100" +
            time +
            "" +
            localStorage.getItem("oKey")
        )
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/doShoppingCartList", qs.stringify(obj))
        .then(res => {
          if(res.data.result == 1){
            res.data.data.map(ele => {
              this.sell_num += parseInt(ele.shoppingCar.sell_num);
            });
          }
          
        });
    }
  },
  created() {
    let id;
    if (this.$route.query.id) {
      id = this.$route.query.id;
    } else {
      id = sessionStorage.getItem("shareId");
    }
    if (this.$route.query.coupon_id) {
        this.coupon_id = this.$route.query.coupon_id;
        console.log(this.coupon_id);
    }
    if (id) {
      this.get_details(id);
      this.getShopList();
    }
  },
  mounted() {
    document.title = "商品详情";
  }
};
</script>

<style scoped lang="scss">

.shop_details {
  min-height: calc(100% + 1px);
  padding-bottom: 1rem;
  .top {
    img {
      display: block;
      width: 100%;
      height: 4.17rem;
    }
    .shop_list {
      width: 100%;
      padding: 0.25rem 0.32rem 0.18rem 0.32rem;
      box-sizing: border-box;
      text-align: left;
      border-bottom: 0.16rem solid RGBA(244, 244, 244, 1);
      .list_name {
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        line-height: 0.5rem;
      }
      .list_money {
        display: flex;
        align-items: center;
        .prize {
          color: #333;
          font-size: 0.32rem;
          line-height: 0.45rem;
          margin-right: 0.16rem;
        }
        .prize1 {
          color:rgba(254, 56, 36, 1);
          font-size: 0.32rem;
          line-height: 0.45rem;
          margin-right: 0.16rem;
        }
        .discount {
          width: fit-content;
          padding: 0 0.1rem;
          height: 0.34rem;
          background: rgba(255, 129, 116, 0.09);
          border-radius: 0.04rem;
          border: 0.01rem solid rgba(254, 56, 36, 0.38);
          text-align: center;
          font-size: 0.2rem;
          color: rgba(246, 115, 101, 1);
        }
      }
      .list_freight {
        color: rgba(153, 153, 153, 1);
        font-size: 0.28rem;
        line-height: 0.45rem;
      }
      .shop_prize {
        color: rgba(153, 153, 153, 1);
        font-size: 0.28rem;
        line-height: 0.45rem;
      }
    }
  }
  .select_choice {
    width: 100%;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 0.16rem solid RGBA(244, 244, 244, 1);
    line-height: 0.74rem;
    .choice_ing {
      color: rgba(153, 153, 153, 1);
      font-size: 0.3rem;
    }
    img {
      display: block;
      width: 0.14rem;
      height: 0.25rem;
    }
    .choice_answer {
      color: rgba(51, 51, 51, 1);
      font-size: 0.3rem;
      font-weight: bold;
      position: absolute;
      left: 1.16rem;
    }
  }
  .details {
    width: 100%;
    font-size: 0.16rem;
    .details_name {
      width: 100%;
      height: 0.88rem;
      color: rgba(51, 51, 51, 1);
      font-size: 0.34rem;
      text-align: center;
      line-height: 0.88rem;
      font-weight: bold;
    }
  }
  .go_purchase {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    .defaults {
      width: 33.33333%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .defaults_box {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      align-items: center;
      .defaults {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      /*justify-content: center;*/
    }
    .defaults_box_time {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(209, 212, 218, 1);
      color: rgba(51, 51, 51, 1);
      font-size: 0.3rem;
    }
    .defaults_box_group {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        330deg,
        rgba(254, 6, 88, 1) 0%,
        rgba(255, 73, 100, 1) 100%
      );
      color: rgba(255, 255, 255, 1);
      font-size: 0.3rem;
    }
    .defaults:nth-child(1) {
      background: #ffffff;
      .img_box {
        width: 0.5rem;
        height: 0.5rem;
        position: relative;
        top: 0;
        left: 0;
        img {
          display: flex;
          width: 0.37rem;
          height: 0.38rem;
        }
        .red {
          width: 0.22rem;
          height: 0.22rem;
          background: rgba(254, 56, 36, 1);
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
          color: #ffffff;
          font-size: 0.2rem;
        }
      }
    }
    .defaults_box div:nth-child(1) {
      background: rgba(227, 227, 227, 1);
    }
    .defaults_box div:nth-child(2) {
      background: linear-gradient(
        154deg,
        rgba(255, 210, 0, 1) 0%,
        rgba(252, 202, 55, 1) 100%
      );
    }
  }
  .choice_box {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.15rem 0.15rem 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    background: #ffffff;
    padding-bottom: 1.68rem;
    img {
      display: block;
      width: 1.48rem;
      height: 1.48rem;
      background: rgba(216, 216, 216, 1);
      border-radius: 0.15rem;
      position: absolute;
      left: 0.32rem;
      top: -0.6rem;
    }
    .close {
      font-size: 0.7rem;
      color: RGBA(151, 151, 151, 1);
      /*font-weight: bold;*/
      position: absolute;
      /*top: 0.22rem;*/
      right: 0.22rem;
    }
    .choice_class {
      width: 100%;
      text-align: left;
      color: rgba(51, 51, 51, 1);
      font-size: 0.3rem;
      font-weight: bold;
      margin-left: 0.32rem;
      margin-top: 1.09rem;
    }
    .choise_list {
      width: 100%;
      margin: 0 0.32rem;
      overflow: hidden;
      div {
        width: fit-content;
        height: 0.48rem;
        background: rgba(248, 248, 248, 1);
        border-radius: 0.04rem;
        color: rgba(51, 51, 51, 1);
        line-height: 0.48rem;
        margin-right: 0.33rem;
        margin-top: 0.18rem;
        padding: 0 0.2rem;
        float: left;
      }
      .change_color {
        border: 0.01rem solid rgba(251, 156, 147, 1);
        background: rgba(254, 56, 36, 0.06);
        color: rgba(251, 156, 147, 1);
      }
    }
    .choise_num {
      margin-top: 0.44rem;
      width: 100%;
      padding: 0 0.32rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .num_left {
        color: rgba(51, 51, 51, 1);
        font-size: 0.28rem;
      }
      .num_right {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .reduce {
          width: 0.42rem;
          height: 0.42rem;
          background: rgba(242, 242, 242, 1);
          color: rgba(209, 212, 218, 1);
          font-size: 0.3rem;
          line-height: 0.42rem;
        }
        input {
          border: 0;
          padding: 0;
          margin: 0;
          width: 0.6rem;
          line-height: 0.42rem;
          text-align: center;
          outline: none;
        }
        .plus {
          width: 0.42rem;
          height: 0.42rem;
          background: rgba(242, 242, 242, 1);
          color: rgba(51, 51, 51, 1);
          font-size: 0.3rem;
          line-height: 0.42rem;
        }
      }
    }
    .sure {
      width: 100%;
      height: 0.88rem;
      color: rgba(51, 51, 51, 1);
      font-size: 0.3rem;
      text-align: center;
      line-height: 0.88rem;
      background: #ffd200;
      position: fixed;
      bottom: 0;
    }
  }
  /deep/ .van-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: flex-end;
  }
}
img {
  border: 0;
  // display: block!important;
  width: 100%;
}
</style>