<template>
  <div>

  </div>
</template>
<script>
import { Base64 } from "js-base64";
export default {
  name: 'backurl',
  created () {
    if (sessionStorage.getItem('backurl')) {
      console.log(Base64.decode(decodeURIComponent(sessionStorage.getItem('backurl'))))
      // location.href = Base64.decode(sessionStorage.getItem('backurl'));
      window.location.replace(Base64.decode(decodeURIComponent(sessionStorage.getItem('backurl'))))
    } else {
      this.$router.push({ path: 'index' })
    }
  }
}
</script>