<template>
  <div class="getopenid">
    <van-loading color="blue"
                 type="spinner"
                 size="30px" />
  </div>
</template>
<script>
//引入依赖
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Loading, Toast } from "vant";

Vue.use(Loading);
export default {
  name: "UserAuth",
  data () {
    return {
      state: "",
      sign: "",
      scope: "snsapi_userinfo",
      new_query: "/index"
    };
  },
  created () {
    if (this.GetQueryString('code')) {
      this.APIDoWebToken(this.GetQueryString('code'));
    } else {
      this.getVersion();
    }

  },
  mounted () {
    document.title = "登录中";
    //这里是判断是否是从小程序跳转过来的
    if (sessionStorage.getItem('from')) {
      $(".back_applet").show();
    }
  },
  methods: {
    APIDoWebToken (code) {
      let time = new Date().getTime();
      let vm = this;
      let obj = {
        code: code,
        scope: 'snsapi_userinfo',
        stamp: time,
        sign: MD5(code + 'snsapi_userinfo' + time + localStorage.getItem("oKey"))
      };
      axios
        .post(api + "/doWebToken", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            let user_id = Base64.decode(res.data.user_code);
            this.sign = Base64.decode(res.data.userToken);
            localStorage.setItem('userId', user_id);
            localStorage.setItem('userToken', this.sign);
            let vm = this;
            if (localStorage.getItem("oKey")) {
              //判断 localStorage 是否存有 oKey
              if (localStorage.getItem("Key") && localStorage.getItem("des")) {
                //判断 localStorage 是否存有 Key des
                vm.check();
              } else {
                vm.get_key();
              }
            } else {
              vm.getUserIDKey();
            }
          } else {
            // Toast('loginToken ' + res.data.result);
            console.log(api + "/doWebToken=>接口错误代码" + res.data.result)
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    GetQueryString (name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
      var r = window.location.search ? window.location.search.split('?')[1].substr(0).match(reg) : null;
      if (r != null) {
        return r[2]
      } else {
        return false
      }
    },
    /*
     * 获取版本号
     * 对比版本号 根据条件进行本地缓存的清除
    */
    getVersion () {
      if (!localStorage.getItem('token')) {
        localStorage.clear();
      }
      let times = Date.now();
      let vm = this;
      let obj = { src: 'jushou', stamp: times };
      axios.post(api + '/getWxVersion', qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            vm.version = res.data.version;
            if (localStorage.getItem('version')) {
              // 有缓存版本号
              if (res.data.version != localStorage.getItem('version')) {
                // 版本号不一致
                localStorage.clear();
                localStorage.setItem('version', res.data.version);
              } else {
                // 版本号一致
                if (localStorage.getItem('token') <= Date.now()) {
                  console.log(localStorage.getItem('token') <= Date.now());
                  //有效期已过期
                  localStorage.clear();
                  sessionStorage.setItem('clear', true)
                }
              }
            } else {
              // 针对最初的未缓存版本号的用户
              localStorage.clear();
              localStorage.setItem('version', res.data.version);
            }


            //获取地址信息
            let address = "";
            /* 处理微信分享链接 在index.html拼接?from=singlemessage 等标示 */
            if (/(\?from=singlemessage)|(\?from=timeline)|(\?from=groupmessage)/g.test(window.location.href)) {
              address = window.location.href.replace(/(\?from=singlemessage)|(\?from=timeline)|(\?from=groupmessage)/g, "");
              location.href = address;
            } else {
              address = window.location.href;
            }
            vm.getUrl(address); //处理地址携带的参数 存入session 例如state shareId
          }
        });
    },
    /*
    * 获取url地址信息
    * 处理地址栏携带的参数 重定向路由等
    * */
    getUrl (address) {
      let add_state;
      if (address.split("?")[1] != undefined) {
        let arr = address.split("?")[1].split("&");
        for (let i = 0; i < arr.length; i++) {
          /* 存入session */
          sessionStorage.setItem(arr[i].split("=")[0], arr[i].split("=")[1]);
        }
        add_state = sessionStorage.getItem("state");
      } else {
        add_state = "index";
      }

      if (decodeURIComponent(add_state).slice(0, 1) == "/") {
        this.new_query = decodeURIComponent(add_state);
      } else {
        this.new_query = "/" + decodeURIComponent(add_state);
      }
      sessionStorage.setItem("state", this.new_query);
      let vm = this;
      vm.getUserIDKey();//获取appid
    },
    /*
    * 获取okey appid
    * */
    getUserIDKey () {
      let time = new Date().getTime();
      let vm = this;
      let obj = {
        src: "jushou",
        stamp: time
      };
      axios
        .post(api + "/getOpenIDKey", qs.stringify(obj))
        .then(res => {
          let okey_length = res.data.okey_length;
          let okey = Base64.decode(res.data.okey).trim().substr(0, okey_length);
          let appid = res.data.appid;

          //okey 解码后多一个空格
          localStorage.setItem("appid", appid);
          localStorage.setItem("oKey", okey);
          localStorage.setItem("wx", res.data.wx);
          if (localStorage.getItem("userId")) {
            //判断 localStorage 是否存有 userId
            if (localStorage.getItem("Key") && localStorage.getItem("des")) {
              //判断 localStorage 是否存有 Key des
              vm.check();
              vm.get_msg();
            } else {
              vm.get_key();
            }
          } else {
            vm.get_userId();
          }
          // vm.get_userId();
        })
        .catch(err => {
          console.log(err);
        });
    },
    /*
    * 获取key  通过userId
    * */
    get_key () {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time
      };
      axios
        .post(api + "/wxmp/log/user/getUserIDKey", qs.stringify(obj))
        .then(res => {
          // 如果绑定过用户，就跳到个人中心，否则就跳到绑定用户；
          if (res.data.result == 1) {
            let key_length = res.data.key_length;
            let deskey_length = res.data.deskey_length;
            let Key = Base64.decode(res.data.key).trim().substr(0, key_length);
            localStorage.setItem("Key", Key);
            let des = Base64.decode(res.data.deskey).trim().substr(0, deskey_length);
            localStorage.setItem("des", des);
            this.check();
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /**
    * 判断是否是微信环境
    */
    getIsWxClient () {
      var ua = navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        return true;
      }
      return false;
    },
    /*
    * 获取userId 通过okey  如果获取不到userId重定向到微信获取
    * */
    get_userId () {
      let time = new Date().getTime();
      let obj = {
        src: "jushou",
        code: this.sign,
        stamp: time,
        str: Base64.encode(localStorage.getItem("oKey")),
        sign: MD5("jushou" + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post(api + "/getUserInfo", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            localStorage.setItem("userId", Base64.decode(res.data.user_code).trim());
            this.get_msg();
          } else {
            if (this.getIsWxClient()) {
              const redirectURL = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${localStorage.getItem('appid')}&redirect_uri=${window.location.origin + window.location.pathname}&response_type=code&scope=${this.scope}&state=`;

              window.location.href = redirectURL;
            } else {
              // 应对移动在app上线 1元抽面包机活动 过滤非微信环境下跳转路径
              if (this.$route.query.backurl == "aHR0cHM6Ly9qcy41MXRha2VpdC5jb20vd3htcC9hY3QvMjAxOTExL2VnZ0ZyZW56eUJyZWFkL2luZGV4Lmh0bWw") {
                location.href = 'https://js.51takeit.com/wxmp/act/201911/eggFrenzyBread/index.html';
                return false;
              } else {
                if(this.$route.query.backurl){
                  sessionStorage.setItem('BounceAddress', Base64.decode(this.$route.query.backurl))
                  this.$router.push({ path: '/login' ,query:{type:'act'}})
                }else{
                  this.$router.push({ path: '/login' })
                }
                
              }

            }

          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /*
    * 判断服务器 session 是否存有 user_id
    * 存储token
    * */
    check () {
      //
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        str: localStorage.getItem("userId") + time + localStorage.getItem("Key"),
        sign: MD5(
          localStorage.getItem("userId") +
          "" +
          time +
          localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/log/user/getCheckUserID", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            let token = new Date().getTime() + (24 * 60 * 60 * 1000); //登录有效期 1天
            // let token = new Date().getTime() + (7 * 24 * 60 * 60 * 1000); //登录有效期 7天
            // let token = new Date().getTime() + (60 * 60 * 1000); //登录有效期 1小时
            if (localStorage.getItem("token")) {
              localStorage.getItem("token") < Date.now() ? console.log(localStorage.getItem("token") < Date.now()) : localStorage.setItem("token", token);
            } else {
              localStorage.setItem("token", token);
            }
            this.get_msg();
          } else if (res.data.result == 4502) {
            this.get_userId();
          } else if (res.data.result == 1004) {
            this.uppload_openid();
          }
        });
    },
    /*
    * 更新服务端缓存的userId  成功跳转指定路由页面  失败重定向获取
    * */
    uppload_openid () {
      console.log("/uploadUserID ↓");
      let time = new Date().getTime();
      let obj = {
        stamp: time,
        src: "jushou",
        user_id: localStorage.getItem("userId"),
        sign: MD5(
          "jushou" +
          localStorage.getItem("userId") +
          time +
          localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/uploadUserID", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.$router.push({ path: sessionStorage.getItem('state') });
          } else {
            //上传失败就去重定向
            this.get_userId();
          }
        })
        .catch(error => {

        });
    },
    /*
    * 获取用户信息 存储用户基本信息到本地缓存
    * */
    get_msg () {
      if (localStorage.getItem('Key')) {
        let time = new Date().getTime() + '';
        let a = localStorage.getItem("userId") + time + localStorage.getItem("Key");
        let obj = {
          id: localStorage.getItem("userId"),
          str: a,
          stamp: time,
          sign: MD5(localStorage.getItem("userId") + time + localStorage.getItem("Key"))
        };
        console.log("STRING ===>" + localStorage.getItem("userId") + time + localStorage.getItem("Key"))
        axios
          .post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              let is_vip = res.data.data.vip_lv > 0 && new Date(res.data.data.validity_time.substr(0, 19).replace(/-/g, '/')).getTime() > Date.now() ? 1 : 0;
              sessionStorage.setItem('is_vip', is_vip);
              sessionStorage.setItem("usermessage", JSON.stringify(res.data.data));
              localStorage.setItem("open_id", res.data.data.open_id);
              this.$router.push({ path: sessionStorage.getItem('state'), query: { ...(JSON.parse(sessionStorage.getItem('stateQuery')) ? JSON.parse(sessionStorage.getItem('stateQuery')) : {}) } });
            } else if (res.data.result == 1021) {
              this.uppload_openid();
            } else {
              console.log(res.data.msg);
            }
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        this.get_key();
      }

    }
  }
};
</script>
<style scoped lang="scss">
.getopenid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
