<template>
  <div class="getopenid">
    <van-loading
      color="blue"
      type="spinner"
      size="30px"
    />
  </div>
</template>
<script>
//引入依赖
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Loading } from "vant";
Vue.use(Loading);
export default {
  name: "get_openid",
  data() {
    return {
      state: "",
      new_query: "",
      sign:'',
        code:''
    };
  },
  created() {
    //获取地址信息
    console.log("重定向后回跳页面");
    console.log(location.href);
    this.new_query = sessionStorage.getItem("state");
    this.code = this.$route.query.code;
      console.log(this.code);
      this.APIDoWebToken();

  },
  methods: {
    APIDoWebToken(){
        let time = new Date().getTime();
        let vm = this;
        let obj = {
            code: this.code,
            scope: 'snsapi_userinfo',
            stamp: time,
            sign:MD5(this.code+'snsapi_userinfo'+time+localStorage.getItem("oKey"))
        };
        axios
            .post(api + "/doWebToken", qs.stringify(obj))
            .then(res => {
                if(res.data.result == 1){
                    let user_id = Base64.decode(res.data.user_code);
                    localStorage.setItem('userId',user_id);
                    this.sign = Base64.decode(res.data.userToken);
                    let vm = this;
                    if (localStorage.getItem("oKey")) {
                        //判断 localStorage 是否存有 oKey
                        if (localStorage.getItem("userId")) {
                            //判断 localStorage 是否存有 userId
                            if (localStorage.getItem("Key") && localStorage.getItem("des")) {
                                //判断 localStorage 是否存有 Key des
                                vm.check();
                            } else {
                                vm.get_key();
                            }
                        } else {
                            vm.get_userId();
                        }
                    } else {
                        vm.getUserIDKey();
                    }
                }else{
                    console.log(api + "/doWebToken=>接口错误代码"+res.data.result)
                }
                vm.get_userId();
            })
            .catch(err => {
                console.log(err);
            });
    },
    GetQueryString(name){
      var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
      var r = window.location.href.split('?')[1].substr(1).match(reg);
      //  console.log("GetQueryString == "+unescape(r[2]))
      if(r!=null){this[name] = unescape(r[2])};
    },
    //获取oKey
    getUserIDKey() {
      let time = new Date().getTime();
      let vm = this;
      let obj = {
        src: "jushou",
        stamp: time
      };
      axios
        .post(api + "/getOpenIDKey", qs.stringify(obj))
        .then(res => {
          let okey_length = res.data.okey_length;
          let okey = Base64.decode(res.data.okey).substr(0,okey_length);
          //okey 解码后多一个空格
          localStorage.setItem("oKey", okey);
          localStorage.setItem("wx", res.data.wx);
          vm.get_userId();
        })
        .catch(err => {
          console.log(err);
        });
    },
    get_key() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time
      };
      axios
        .post(api + "/wxmp/log/user/getUserIDKey", qs.stringify(obj))
        .then(res => {
          // 如果绑定过用户，就跳到个人中心，否则就跳到绑定用户；
          if (res.data.result == 1) {
            let key_length = res.data.key_length;
            let deskey_length = res.data.deskey_length;
            let Key = Base64.decode(res.data.key).trim().substr(0,key_length);
            console.log(Key.length);
            localStorage.setItem("Key", Key);
            let des = Base64.decode(res.data.deskey).trim().substr(0,deskey_length);
            localStorage.setItem("des", des);
            this.check();
          } else if (res.data.result == "4503") {
            this.get_userId()
          } else {
            this.uppload_openid();
            // this.get_openId();
            // alert(res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    get_userId() {
      let _this = this;
      let time = new Date().getTime();
      let obj = {
        src: "jushou",
        code: this.sign,
        stamp: time,
        str:Base64.encode(localStorage.getItem("oKey")),
        sign: MD5("jushou" + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post(api + "/getUserInfo", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            console.log("UserID请求成功");
            console.log(Base64.decode(res.data.user_code).trim())
            localStorage.setItem("userId", Base64.decode(res.data.user_code).trim());
            this.get_key();
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    check() {
      //判断服务器 session 是否存有 user_id
      let vm = this;
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId") + "" + time + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/log/user/getCheckUserID", qs.stringify(obj))
        .then(res => {
          console.log("getCheckWxMpID ===>登录状态: " + res.data.result);
          if (res.data.result == 1) {
            let token = new Date().getTime() + 7*24 * 60 * 60 * 1000; //登录有效期 1天
            // let token = new Date().getTime() + 20 * 1000; //登录有效期 20秒
            localStorage.setItem("token", token);
            this.get_msg();
          } else if (res.data.result == 4502) {
              console.log(787978786);
              this.get_userId();
          } else {
            this.uppload_openid();
          }
        });
    },
    uppload_openid() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        src: "jushou",
        stamp: time,
        sign: MD5(
          "jushou" +
            localStorage.getItem("userId") +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/uploadUserID", qs.stringify(obj))
        .then(res => {
          console.log("上传UserId");
          if (res.data.result == 1) {
            console.log("上传UserId 成功");
            this.get_key();
          } else {
            //上传失败就去重定向
            this.get_userId();
          }
        })
        .catch(error => {
          console.log(error)
        });
    },
    get_msg() {
      let time = new Date().getTime()+'';
      let obj = {
        id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId") +time +localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
              let is_vip = res.data.data.vip_lv > 0 && new Date(res.data.data.validity_time.substr(0,19).replace(/-/g,'/')).getTime() > Date.now() ? 1 : 0;
              sessionStorage.setItem('is_vip',is_vip);
            console.log("查询用户信息成功");
            let str = JSON.stringify(res.data.data);
            sessionStorage.setItem("usermessage", str);
            localStorage.setItem("open_id", res.data.data.open_id);
              this.$router.push({ path: this.new_query });
          } else if (res.data.result == 1021) {
            this.uppload_openid();
          } else {
            console.log(res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
    mounted(){
        console.log(sessionStorage.getItem('from')+'这是mounted函数里的');
        if(sessionStorage.getItem('from')){
            $(".back_applet").show();
        }
    }
};
</script>
<style scoped lang="scss">
.getopenid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
