<template>
  <div class="nav">
    <div v-for='(item,index) in nav_list' :key='index' @click='skip(item.url)'>
      <!-- <div class='nav_list' :style="{background: 'url('+item.img+') no-repeat top/100%'}"></div> -->
      <img @click.prevent :src="item.img" alt="" style='width: 100%;'>
    </div>
  </div>
</template>


<script>

  export default {
    data() {
      return {
        nav_list: [{img: './static/psychtest/nav1.png', url: "/testindex"},
          {img: './static/psychtest/nav2.png', url: "/cshOneBegin"},
          {img: './static/psychtest/nav3.jpg', url: "/testindex1"},
          {img: './static/psychtest/nav4.jpg', url: "/testindex2"},
          {img: './static/psychtest/nav5.jpg', url: "/testindex3"}
        ]
      }
    },
    methods: {
      skip(url) {
        this.$router.push({path: url});
      }
    },
    created() {
      this.nav_list.reverse();
      localStorage.setItem('footer', '3');
    },
    mounted() {
      document.title = '心理测试';
      window.dataForWeixin = {
        appId: "",
        imgUrl: 'https://js.51takeit.com/wxmp/static/psychtest/nav2.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: 'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshNav',
        title: '你爱上一个人需要多久',
        desc: "快来测一测",
        fakeid: ""
      };
      window.setShare();
      localStorage.setItem('footer', '3');
    },
    activated() {

      localStorage.setItem('footer', '3')
    }
  }
</script>

<style scoped lang='scss'>
  .nav {
    width: 100%;
    overflow: auto;
    // height: 100%;
    // overflow: hidden;
    background: #f2f2f2;
    padding-bottom: 1.2rem;
    .nav_list {
      width: 100%;
      height: 4.2rem;
      margin-bottom: 0.06rem;
    }
  }
</style>
