<template>
    <div class="begin" :style="{background: 'url('+bg+') repeat top/50%',}">
        <p style='height:0.5rem;'></p>
        <div class="content" :style="{background: 'url('+baise+') no-repeat top/100%'}">
            <p style='height:0.5rem;'></p>
            <div class="title_img" :style="{background: 'url('+title_pic+') no-repeat top/100%'}"></div>
            <p class="title">
                {{ceshi_tittle}}
            </p>
            <div class="selsect" v-for='(item,index) in selsect' :key='index'>
                <p style='height:0.22rem;'></p>
                <p class='sel_bg' :style="{background: 'url('+selsect_pic+') no-repeat top/100%'}" @click='skip(index,item.opt_id)'>
                    <span v-html='item.opt_title'></span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import qs from 'qs'
    import MD5 from 'js-md5'

    export default{
        data(){
            return{
                issue:'20180720164124621',
                bg: './static/psychtest/ceshi1_ti_bg_03.png',
                baise: './static/psychtest/ceshi1_ti_bai.png',
                title_pic: './static/psychtest/ceshi1_ti_pic.png',
                ceshi_tittle: '有一位美女走在街上，突然惊叫一声，你认为是...',
                selsect_pic:'./static/psychtest/selsect.png',
                selsect: [{id:'',opt_title:'A &nbsp;&nbsp;高跟鞋断了，扭伤脚了'},
                        {id:'',opt_title:'B &nbsp;&nbsp;发现自己踩到狗屎了'},
                        {id:'',opt_title:'C &nbsp;&nbsp;一只老鼠从眼前窜过'},
                        {id:'',opt_title:'D &nbsp;&nbsp;看到地上有一大叠钞票'},
                ]
            }
        },
        methods: {
            skip(index,Id){
                var time = new Date().getTime();
                var obj = {
                     user_id: localStorage.getItem("userId"),
                     opt_id: Id,
                     period: this.issue,
                     stamp: time,
                     sign: MD5(localStorage.getItem("userId")+''+time+''+localStorage.getItem('Key'))
                };
                axios.post(api+'/wxmp/info/query/dosaveAdd',qs.stringify(obj))
                    .then( (res)=>{

                        if(res.data.result == 1){

                            this.$router.push({path:'/cshOneResult',query:{select: res.data.queryResult.pic_url}})
                        }
                    })
                    .catch((error) =>{
                        console.log(error)
                    })
            }
        },
        created(){
            //获得题目的期号
            if(this.$route.query.issue){
                this.issue = this.$route.query.issue;
            }
            //获取题目数据
            var time = new Date().getTime();
            var obj = {
                    period: this.issue,
                    stamp: time,
                    sign: MD5(this.issue+''+time+''+localStorage.getItem('Key'))
            };
            axios.post(api+'/wxmp/info/query/getSubjectAndOptInfo',qs.stringify(obj))
                .then( (res)=>{
                    console.log(res.data.data[0].subjectarray)
                    if(res.data.result == 1){
                        this.selsect = res.data.data[0].subjectarray;
                    }
                })
                .catch((error) =>{
                    console.log(error)
                })
        },
        mounted(){
            document.title = '你的人生最适合扮演什么角色';
            window.dataForWeixin={
                appId:	"",
                imgUrl:	'https://js.51takeit.com/wxmp/static/psychtest/nav2.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
                link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshNav',
                title:	'你的人生最适合扮演什么角色',
                desc:	"快来测一测",
                fakeid:	""
            };
            window.setShare();
        }
    }
</script>


<style scoped lang='scss'>
    .begin{
        width: 100%;
        height: 100%;
        overflow: auto;

        .content{
            width: 7.05rem;
            height: 12.15rem;
            margin: 0 auto;
            .title_img{
                width: 6.37rem;
                height: 4.21rem;
                margin: 0rem auto 0.24rem;
            }
            .title{
                width: 6.37rem;
                margin: 0 auto;
                line-height: 0.5rem;
                font-size: 0.34rem;
                text-align: left;
            }
            .selsect{
                .sel_bg{
                    width: 5.55rem;
                    height: 1.05rem;
                    line-height: 1.05rem;
                    font-size: 0.32rem;
                    text-align: left;
                    text-indent: 0.36rem;
                    margin: 0 auto;
                }
            }
        }
    }
</style>
