<template>
    <div class="begin" :style="{background: 'url('+bg+') repeat top/100%',}">
        <p style='height:0.24rem;'></p>
        <!-- <div class="content" :style="{background: 'url('+result+') no-repeat top/100%'}">

        </div> -->
        <img class="content" :src="result" alt="" @click.prevent >
        <p style='line-height:0.7rem;font-size: 0.32rem;'>
            <span style='color:#f66;'>*</span>
            长按图片保存图片
        </p>
        <div class='btn'>
            <div @click='again' class='btn_left' :style="{background: 'url('+btn_left_pic+') no-repeat top/100%'}"></div>
            <div @click='more' class='btn_right' :style="{background: 'url('+btn_right_pic+') no-repeat top/100%'}"></div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                bg: './static/psychtest/ceshi1_ti_bg_03.png',
                btn_left_pic: './static/psychtest/again.png',
                btn_right_pic: './static/psychtest/more.png',
                result: './static/psychtest/ceshi1_result1.png',
                result_list: ['./static/psychtest/ceshi1_result1.png',
                    './static/psychtest/ceshi1_result2.png',
                    './static/psychtest/ceshi1_result3.png',
                    './static/psychtest/ceshi1_result4.png'
                ]
            }
        },
        methods:{
            again(){
                this.$router.push({path:'/cshOneTi'});
            },
            more(){
                this.$router.push({path:'/cshNav'});
            }
        },
        created(){
            console.log(this.$route.query.select)
            if(this.$route.query.select){

                //this.result = this.result_list[this.$route.query.select];
                this.result = this.$route.query.select;
                console.log(this.result)
            }

        },
        mounted(){
            document.title = '你的人生最适合扮演什么角色';
            // window.dataForWeixin={
            //     appId:	"",
            //     imgUrl:	this.result, // get_post_weixin_thumb 为微信机器人高级版中的函数
            //     link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshOneBegin&shareId=20180719111844924',
            //     title:	'心里测试',
            //     desc:	"",
            //     fakeid:	""
            // };
            // window.setShare();
            window.dataForWeixin={
                appId:	"",
                imgUrl:	'https://js.51takeit.com/wxmp/static/psychtest/nav2.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
                link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshNav',
                title:	'你的人生最适合扮演什么角色',
                desc:	"快来测一测",
                fakeid:	""
            };
            window.setShare();
        }
    }
</script>


<style scoped lang='scss'>
    .begin{
        width: 100%;
        height: 100%;
        overflow: auto;
        .content{
            width: 6.37rem;
            height: 9.84rem;
            margin: 0 auto;
        }
        .btn{
            width: 6.37rem;
            margin: 0 auto;
            overflow: hidden;
            div{
                width: 2.64rem;
                height: 0.84rem;
                float: left;
                &:nth-of-type(1){
                    margin-right: 1.08rem;
                }
            }
        }
    }
</style>
