<template>
    <div class="begin" :style="{background: 'url('+bg+') repeat top/50%',}">
        <div class="content" :style="{background: 'url('+ceshi1_bg+') no-repeat top/100%'}">
            <div class='once' @click='skip'></div>
        </div>
        <div class="titshi" v-if='is_ceshi'>
            <div class="bg" :style="{background: 'url('+tishi_bg+') repeat top/100%',}">
                <p style='line-height: 1.12rem; font-size: 0.32rem;'>{{tishi_content}}</p>
                <div class='btn'>
                    <div @click='again' class='btn_left' :style="{background: 'url('+btn_left_pic+') no-repeat top/100%'}"></div>
                    <div @click='look' class='btn_right' :style="{background: 'url('+btn_right_pic+') no-repeat top/100%'}"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import qs from 'qs'
    import MD5 from 'js-md5'
    export default{
        data(){
            return{
                issue: '20180720164124621',
                bg: './static/psychtest/1_02.png',
                ceshi1_bg: './static/psychtest/ceshi1_bg.png',
                tishi_bg: './static/psychtest/ceshi1_tishi.png',
                btn_left_pic: './static/psychtest/tishi_again.png',
                btn_right_pic: './static/psychtest/tishi_look.png',
                tishi_content: '您已参与过本题的测试',
                is_ceshi: false,
                is_result: '',
            }
        },
        methods:{
            skip(){
               this.is_sub();
            },
            //是否提交过
            is_sub(){
                var time = new Date().getTime();
                var obj = {
                     user_id: localStorage.getItem("userId"),
                     period: this.issue,
                     stamp: time,
                     sign: MD5(localStorage.getItem("userId")+''+time+''+localStorage.getItem('Key'))
                };
                axios.post(api+'/wxmp/info/query/getAnswerrecordInfo',qs.stringify(obj))
                    .then( (res)=>{

                        if(res.data.result == 1){
                            this.is_ceshi = true;
                            this.is_result = res.data.queryResult.pic_url;
                            //this.$router.push({path:'/cshOneResult',query:{select: res.data.queryResult.pic_url}})
                        } else {
                            this.$router.push({path:'/cshOneTi',query:{issue:this.issue}})
                        }
                    })
                    .catch((error) =>{
                        console.log(error)
                    })
            },
            again(){
                this.$router.push({path:'/cshOneTi',query:{issue:this.issue}})
            },
            look(){
                this.$router.push({path:'/cshOneResult',query:{select: this.is_result}})
            }
        },
        created(){
            //获得题目的期号
            if(this.$route.query.issue){
                this.issue = this.$route.query.issue;
            } else if(localStorage.getItem('shareId')){
                this.issue = localStorage.getItem('shareId');
            } else {
                //this.$router.push({path:'/cshNav'});
            }
        },
        mounted(){
            document.title = '你的人生最适合扮演什么角色';
            window.dataForWeixin={
                appId:	"",
                imgUrl:	'https://js.51takeit.com/wxmp/static/psychtest/nav2.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
                link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshNav',
                title:	'你的人生最适合扮演什么角色',
                desc:	"快来测一测",
                fakeid:	""
            };
            window.setShare();
        }
    }
</script>


<style scoped lang='scss'>
    .begin{
        width: 100%;
        height: 100%;
        overflow: auto;
        .content{
            width: 100%;
            height: 12.15rem;
        }
    }
    .content{
        position: relative;
    }
    .once{
        width: 3.5rem;
        height: 0.9rem;
        position: absolute;
        bottom: 0.54rem;
        left: 2.12rem;
    }
    .titshi{
        width: 100%;
        height: 100%;
        position:fixed;
        top:0rem;
        background: rgba(0,0,0,0.5);
        .bg{
            width: 5.43rem;
            height: 2.92rem;
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0; margin: auto;
            .btn{
                position: absolute;
                top: 1.58rem;
                // bottom: 0.52rem;


                overflow: hidden;
                div{
                    width: 2.1rem;
                    height: 0.73rem;
                    float:left;
                    &:nth-of-type(1){
                        margin-left: 0.24rem;
                        margin-right: 0.46rem;
                    }
                }
            }
        }
    }
</style>
