<template>
  <div class="test-wrap">
    <img :src="result_url" alt="">
    <div class="click_btn">
      <a class="again-btn"
         @click="againPlay">再玩一次
      </a>
      <div class="more-btn"
           @click="morePlay">更多测试
      </div>
    </div>
    <div class="hongbao" v-if="hongbao" style="width: .75rem;height: .78rem;background: url('./static/psychtest/hongbao.png') no-repeat center/cover;position: fixed;top: 4.5rem;right: .24rem;z-index: 99;" @click="skipHongBao"></div>
  </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'

  export default {
    name: "result",
    data() {
      return {
        period: '',
        result_id: '',
        result_url: '',
        hongbao: false
      }
    },
    created() {
      this.period = this.$route.query.period;
      this.result_id = this.$route.query.result_id;

      this.getResult(this.result_id);
      window.dataForWeixin = {
          appId: "",
          imgUrl: 'https://js.51takeit.com/wxmp/static/psychtest/test2_share.jpg', // get_post_weixin_thumb 为微信机器人高级版中的函数
          link: 'https://js.51takeit.com/wxmp/index.html#/redirect?state=find',
          title: "测你是宫斗剧中的哪个人",
          desc: "快来测一测你属于哪个后宫佳人",
          fakeid: ""
      };
      window.setShare();
    },
    mounted() {
      document.title = "测试结果";

    },
    methods: {
      //查询是否已经领取过红包
      queryLucky() {
        let vm = this;
        let times = Date.now();
        let obj = {
          award_id: 3,
          user_id: localStorage.getItem("userId"),
          stamp: times,
          sign: MD5(3 + '' + localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('oKey'))
        };
        axios.post(api + '/wxmp/log/award/dosfcjAwardRecord', qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.hongbao = true;
            }

          }).catch(error => {
          console.log(error);
        });
      },
      //红包页面跳转
      skipHongBao() {
        let vm = this;
        this.$router.push({path: "/lottery_start",query:{period:vm.period,award_id:3}})
      },
      againPlay() {
        let vm = this;
        vm.$router.push({path: "/testpic3", query: {period: vm.period}});
        // vm.$router.push({path: "/test"});
      },
      morePlay() {
        let vm = this;
        vm.$router.push({path: "/find"});
      },
      getResult(id) {
        let vm = this;
        let times = Date.now();
        let obj = {
          id: id,
          stamp: times,
          sign: MD5(id + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/query/getqueryResultInfo', qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.result_url = res.data.data.pic_url;
              this.queryLucky();
            }

          }).catch(error => {
          console.log(error);
        });
      },
    }
  }
</script>

<style scoped lang="scss">
  .test-wrap {
    width: 100%;
    height: 11.29rem;
    background: #E4E4E2;
    img {
      width: 100%;
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .click_btn {
      width: 100%;
      position: absolute;
      top: 10.51rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size:0.3rem;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(255,255,255,1);
      .again-btn {
        width: 1.96rem;
        height: 0.58rem;
        border-radius: .08rem;
        background: #76A3BD;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 0.3rem;
      }
      .more-btn {
        width: 1.96rem;
        height: 0.58rem;
        border-radius: .08rem;
        background: #E0874D;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 0.3rem;
      }
    }
  }
</style>
