<template>
  <div class="test-wrap" style="background: url('./static/psychtest/test2.png') no-repeat center/cover;">
    <div class="top_number"><span v-text="activeindex+1"></span>/<span v-text="subject_data.length"></span></div>
    <div class="sub_title">{{subject_data[activeindex].subject_title}}</div>
    <div class="sub_opt" v-for="(item,index) in subject_data[activeindex].subjectarray" :key="index"
         @click="selectedOpt(item.opt_id,item.jump_subject_sort)">
      <div class="btn" style="background: url('./static/psychtest/sub_opt_01.png') no-repeat center/cover">
        <div>
          <div v-bind:class="opt_selected_id==item.opt_id?'active':''"></div>
        </div>
      </div>
      <div class="sub_opt_title" style="background: url('./static/psychtest/sub_opt_02.png') no-repeat center/cover">
        {{item.opt_title}}
      </div>
    </div>
  </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'

  export default {
    name: "testpic2",
    data() {
      return {
        activeindex: 0,
        next_index: 0,
        opt_selected_id: 0,
        subject_data: [{subject_title:"你是一个喜欢幻想的人吗？",subjectarray:[{jump_subject_sort: "2",opt_id:"45",opt_score:"1",opt_title:"是的"},{jump_subject_sort: "3",opt_id:"46",opt_score:"1",opt_title:"不是"}],subjectid:"18"}]
      }
    },
    created() {
      this.period = this.$route.query.period;
      this.getData();
    },
    mounted() {
      document.title = "测你是宫斗剧中的哪个人";
    },
    methods: {
      //获取题目数据
      getData() {
        let vm = this;
        let times = Date.now();
        let obj = {
          period: vm.period,
          stamp: times,
          sign: MD5(vm.period + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/query/getSubjectAndOptInfo', qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.subject_data = res.data.data;
            }
          }).catch(error => {
          console.log(error);
        });
      },
      //选择选项
      selectedOpt(id, opt) {
        let vm = this;
        this.opt_selected_id = id;
        if (opt > 0) {
          this.activeindex = opt - 1;
        } else if (opt < 0) {
          let times = Date.now();
          let obj = {
            user_id: localStorage.getItem("userId"),
            opt_id: vm.opt_selected_id,
            period: vm.period,
            stamp: times,
            sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
          };
          axios.post(api + '/wxmp/info/query/dosaveAddTwo', qs.stringify(obj))
            .then(res => {

              if (res.data.result == 1) {
                vm.result_id = res.data.queryResultId;
                vm.$router.push({path: "/testresult2", query: {result_id: res.data.queryResultId, period: vm.period}})
              }

            }).catch(error => {
            console.log(error);
          });
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .test-wrap {
    width: 100%;
    height: 100%;
    .top_number {
      width: 1.78rem;
      height: 1.78rem;
      border-radius: 50%;
      padding-top: 1.15rem;
      box-sizing: border-box;
      transform: translateY(-60%);
      margin: auto;
      background: #3180e9;
      color: #fff;
      font-size: .4rem;
    }
    .sub_title {
      text-align: left;
      width: 5.26rem;
      height: 2.06rem;
      margin: .4rem auto 1.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      letter-spacing: 0.02rem;
      font-size: 0.32rem;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(34, 34, 34, 1);
      line-height: 0.45rem;
    }
    .sub_opt {
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 5.52rem;
      margin: 0 auto .48rem;
      .btn {
        width: .71rem;
        height: .92rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0rem 9rem 1rem 0rem rgba(87, 144, 255, 0.4);
        div {
          width: .38rem;
          height: .38rem;
          border-radius: 50%;
          border: .03rem solid #497bc8;
          display: flex;
          justify-content: center;
          align-items: center;
          /*box-sizing: border-box;*/
          div {
            width: .16rem;
            height: .16rem;
            border-radius: 50%;
            border: .03rem solid #497bc8;
            box-sizing: border-box;
          }
          div.active {
            box-sizing: border-box;
            width: .16rem;
            height: .16rem;
            border-radius: 50%;
            background: #497bc8;
          }
        }

      }
      .sub_opt_title {
        width: 4.73rem;
        height: .92rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0rem 9rem 1rem 0rem rgba(87, 144, 255, 0.4);
        font-size: 0.32rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 0.45rem;
      }
    }
  }
</style>
