<template>
  <div class="test-wrap" style="background: url('./static/psychtest/bg.png') no-repeat center/cover;">
      <div class="paizi" style="background: url('./static/psychtest/paizi.png') no-repeat center/cover;">
        <p>第&nbsp;<span class="index">{{"0"+(activeIndex+1)}}</span>/{{"0"+testList.length}} 题</p>
      </div>
      <div class="box" style="background: url('./static/psychtest/picbox.png') no-repeat center/cover;">
        <p class="title"><span style="font-weight: 600;">题目：</span>{{testList[activeIndex].subject_title}}</p>
        <!--<div v-for="(items,index) in testList" style="background:url('./static/psychtest/opt_bg.png') no-repeat center/cover;"></div>-->
        <div v-for="(items,i) in testList[activeIndex].subjectarray" :key="i" :style="{'background':'url('+(active==i?'./static/psychtest/opt_bg_active.png':'./static/psychtest/opt_bg.png')+') no-repeat center/cover'}" class="options"
             @click="optSelect(i,items.opt_id)"
             v-html="items.opt_title"
        >
        </div>
        <div class="btn" @click="nextTest" v-if="activeIndex != testList.length-1" style="background: url('./static/psychtest/btn1.png') no-repeat center/cover;">下一题</div>
        <div class="btn" @click="getTest" v-else style="background: url('./static/psychtest/btn1.png') no-repeat center/cover;">提交</div>
      </div>
      <div class="dialog" v-show="dialog">
        <div class="cont">
          <p>您还没选择答案，请去选择吧~</p>
          <div
            style="width: 4.73rem;height: 50%;margin: auto;display: flex;justify-content: center;align-items: center;">
            <div class="again-btn"
                 style="background: url('./static/psychtest/again_dialog.png') no-repeat center/cover"
                 @click="close">
              确定
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'

    export default {
        name: "testpic",
      created(){
        this.period = this.$route.query.period;
        if(this.$route.query.index){
          this.activeIndex = this.$route.query.index*1;
        } else{
          this.activeIndex = 0;
        }
        this.getData();
        console.log("索引"+this.activeIndex);
      },
      mounted(){
        document.title  = "测试";
        window.dataForWeixin={
                appId:	"",
                imgUrl:	'https://js.51takeit.com/wxmp/static/psychtest/nav1.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
                link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshNav',
                title:	'你爱上一个人需要多久',
                desc:	"快来测一测",
                fakeid:	""
            };
            window.setShare();
      },
      data(){
          return{
            dialog: false,
            period:'',
            select_id:null,
            activeIndex:0,
            active:-1,
            testList:[
              {subjectid:0,subject_title:"对你来说最重要的一样电器是？",subjectarray:[{opt_id:1,opt_title:"电视"},{opt_id:3,opt_title:"冰箱"},{opt_id:5,opt_title:"洗衣机"}]},
              {subjectid:1,subject_title:"你会选择一张怎样的椅子给自己看电视时坐？",subjectarray:[{opt_id:1,opt_title:"藤制摇椅"},{opt_id:3,opt_title:"古典华丽的靠背椅"},{opt_id:5,opt_title:"完全随意的懒人沙发"}]},
              {subjectid:2,subject_title:"现在让你计算30秒时间选择哪种方法？",subjectarray:[{opt_id:1,opt_title:"凭感觉数"},{opt_id:3,opt_title:"用手表或时钟"},{opt_id:5,opt_title:"用秒表"}]},
              {subjectid:3,subject_title:"紧张或兴奋时，你的身体是否会颤抖？",subjectarray:[{opt_id:1,opt_title:"颤得厉害"},{opt_id:3,opt_title:"说不清"},{opt_id:5,opt_title:"完全不"}]},
            ],
            result:[],
            result_id:0
          }
      },
      methods:{
          //获取题目数据
          getData(){
            let vm = this;
            let times = Date.now();
            let obj = {
              period:vm.period,
              stamp: times,
              sign: MD5(vm.period + '' + times + '' + localStorage.getItem('Key'))
            };
            axios.post(api + '/wxmp/info/query/getSubjectAndOptInfo', qs.stringify(obj))
              .then(res => {

                if(res.data.result == 1){
                  vm.testList = res.data.data;
                  console.log(vm.testList[0].subjectarray[0].opt_title)
                }
              }).catch(error => {
              console.log(error);
            });
          },
        //选择选项
        optSelect(index,id){
            this.active = index;
            this.select_id = id;
        },
        //下一题
        nextTest(){
            let vm = this;
            if(this.select_id === null){
              vm.dialog = true;
            }else {
              let times = Date.now();
              let obj = {
                user_id: localStorage.getItem("userId"),
                opt_id: vm.select_id,
                period:vm.period,
                stamp: times,
                sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
              };
              axios.post(api + '/wxmp/info/query/dosaveAdd', qs.stringify(obj))
                .then(res => {
                  if(res.data.result == 1){
                    vm.activeIndex++;
                    vm.result.push(vm.select_id);
                  }
                }).catch(error => {
                console.log(error);
              });
              // 选项重置
              this.select_id = null;
              this.active = -1;
              console.log(this.result);
            }

        },
        //提交选项 计算分数显示结果
        getTest(){
            let vm = this;
          if(this.select_id === null){
            this.dialog = true;
          }else {
            this.result.push(this.select_id);
            let result = 0;
            this.result.forEach(ele=>{return result+=ele;});
            let times = Date.now();
            let obj = {
              user_id: localStorage.getItem("userId"),
              opt_id: vm.select_id,
              period:vm.period,
              stamp: times,
              sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
            };
            axios.post(api + '/wxmp/info/query/dosaveAdd', qs.stringify(obj))
              .then(res => {
                if(res.data.result == 1){
                  vm.result_id = res.data.queryResult.id;
                  vm.$router.push({path:"/testresult",query:{result_id:vm.result_id,period:vm.period}})
                }

              }).catch(error => {
              console.log(error);
            });
            console.log(result);
          }
        },
        close(){
            this.dialog = false;
        }
      }
    }
</script>

<style scoped lang="scss">
  .test-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    .paizi{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.69rem;
      height: 2.51rem;
      line-height: 2.51rem;
      margin: 0 auto;
      color: #380010;
      font-size: 0.44rem;
      font-weight: normal;
      font-stretch: normal;
      p{
        padding-top: .4rem;
        width: 100%;
        height: 1.26rem;
        line-height: 1.26rem;
      }
      .index{
        font-size: 0.45rem;
        color: #fefefe;
      }
    }
    .box{
      width: 6.9rem;
      height: 9.28rem;
      margin-left: .24rem;
      padding-top: 1.15rem;
      box-sizing: border-box;
      .title{
        width: 5.36rem;
        height: 2.3rem;
        color: #380010;
        font-family: SourceHanSansCN-Regular;
        font-size: 0.34rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.6rem;
        padding: .6rem .28rem 0;
        text-align: left;
        box-sizing: border-box;
        margin: 0 auto .6rem;
      }
      .options{
        width: 4.8rem;
        height: .92rem;
        text-align: left;
        display: flex;
        align-items: center;
        /*line-height: .91rem;*/
        padding-left: .32rem;
        font-size: 0.28rem;
        color: #2b020f;
        margin: 0 auto .38rem;
      }
      .options >>> span{
        font-size: 0.36rem;
        color: #2c001a;
      }
      .btn{
        width: 2rem;
        height: .81rem;
        margin: .47rem auto 0;
        font-size: 0.3rem;
        line-height: 0.81rem;
        text-align: center;
        color: #fefefe;
      }
    }
  }
  .dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 99;
    .cont {
      width: 5.3rem;
      height: 2.8rem;
      background: #ffffff;
      box-shadow: .05rem .05rem 1px #2b020f;
      border-radius: .08rem;
      p {
        line-height: 1.4rem;
        text-align: center;
        color: #2b020f;
        font-size: 0.3rem;
        border-bottom: 1px solid #aa9a9f;
      }
      .again-btn, .result-btn {
        width: 2.1rem;
        height: .73rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
</style>
