<template>
  <div class="test-wrap">
    <img :src="result_url" alt="" style="width: 100%;position: absolute;z-index: 22;">
    <a class="again-btn"
       @click="againPlay">再玩一次
    </a>
    <div class="more-btn"
         @click="morePlay">更多测试 >
    </div>
    <div class="hongbao" v-if="hongbao" style="width: .75rem;height: .78rem;background: url('./static/psychtest/hongbao.png') no-repeat center/cover;position: fixed;top: 4.5rem;right: .24rem;z-index: 99;" @click="skipHongBao"></div>
  </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'

  export default {
    name: "testresult2",
    created() {
      this.period = this.$route.query.period;
      this.result_id = this.$route.query.result_id;
      this.getResult(this.result_id);
      window.dataForWeixin = {
        appId: "",
        imgUrl: 'https://js.51takeit.com/wxmp/static/psychtest/test2_share.jpg', // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: 'https://js.51takeit.com/wxmp/index.html#/redirect?state=find',
        title: "测你是宫斗剧中的哪个人",
        desc: "快来测一测你属于哪个后宫佳人",
        fakeid: ""
      };
      window.setShare();
    },
    mounted() {
      document.title = "测试结果";
    },
    data() {
      return {
        period: '',
        result_id: 0,
        result_url: "",
        hongbao: false
      }
    },
    methods: {
      //查询是否已经领取过红包
      queryLucky() {
        let vm = this;
        let times = Date.now();
        let obj = {
          award_id: 2,
          user_id: localStorage.getItem("userId"),
          stamp: times,
          sign: MD5(2 + '' + localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('oKey'))
        };
        axios.post(api + '/wxmp/log/award/dosfcjAwardRecord', qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.hongbao = true;
            }

          }).catch(error => {
          console.log(error);
        });
      },
      //红包页面跳转
      skipHongBao() {
        let vm = this;
        this.$router.push({path: "/lottery_start",query:{period:vm.period,award_id:2}})
      },
      //查询结果
      getResult(id) {
        let vm = this;
        let times = Date.now();
        let obj = {
          id: id,
          stamp: times,
          sign: MD5(id + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/query/getqueryResultInfo', qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.result_url = res.data.data.pic_url;
              this.queryLucky();
            }
          }).catch(error => {
          console.log(error);
        });
      },
      againPlay() {
        let vm = this;
        vm.$router.push({path: "/testpic2", query: {period: vm.period}});
      },
      morePlay() {
        let vm = this;
        vm.$router.push({path: "/find"});
      }
    }
  }
</script>

<style scoped lang="scss">
  .test-wrap {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      z-index: 22;
      top: 0;
      left: 0;
    }

    .again-btn {
      width: 1.3rem;
      height: .44rem;
      line-height: .44rem;
      border-bottom: .01rem solid #f7f6fb;
      position: absolute;
      top: 10.3rem;
      left: 0;
      right: 0;
      z-index: 99;
      margin: auto;
      color: #f7f6fb;
      font-size: .28rem;
      letter-spacing: .01rem;
    }

    .more-btn {
      /*width: 1.3rem;*/
      display: inline;
      line-height: .44rem;
      /*border-bottom: .01rem solid #f7f6fb;*/
      position: absolute;
      top: .64rem;
      right: .2rem;
      z-index: 99;
      margin: auto;
      color: #f7f6fb;
      font-size: .28rem;
      letter-spacing: .01rem;
    }

  }

</style>
