<template>
    <div class="test_box">
        <div class="test" v-bind:style="{backgroundImage:'url(' + bg_img + ')'}">
            <div class="list" v-on:click="selectedOpt(item.opt_id,item.jump_subject_sort)"
                 v-for="(item,index) in subject_data[activeindex].subjectarray" :key="index">
                <div class="yuan">
                    <div class="small_yuan" v-bind:class="{yuan_click:is_click==item.opt_id}"></div>
                </div>
                <div class="res">{{item.opt_title}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import qs from 'qs'
    import MD5 from 'js-md5'

    export default {
        name: "test",
        data() {
            return {
                bg_img: '',
                is_click: -1,
                activeindex: 0,
                next_index: 0,
                subject_data:'',
                period:''
            }
        },
        mounted() {
            document.title = "回到古代你是什么贵族";
        },
        methods: {
            getData() {
                let vm = this;
                let times = Date.now();
                console.log(times);
                let obj = {
                    period: vm.period,
                    stamp: times,
                    sign: MD5(vm.period + '' + times + '' + localStorage.getItem('Key'))
                };
                axios.post(api + '/wxmp/info/query/getSubjectAndOptInfo', qs.stringify(obj))
                    .then(res => {

                        if (res.data.result == 1) {
                            vm.subject_data = res.data.data;
                            vm.bg_img=vm.subject_data[0].back_url;
                        }
                    }).catch(error => {
                    console.log(error);
                });
            },
            //选择选项
            selectedOpt(id, opt) {
                let vm = this;
                this.is_click = id;

                setTimeout(function () {
                    if (opt > 0) {
                        vm.activeindex = opt - 1;
                        vm.bg_img=vm.subject_data[opt-1].back_url;
                        // this.is_click = -1;
                    } else if (opt < 0) {
                        let times = Date.now();
                        let obj = {
                            user_id: localStorage.getItem("userId"),
                            opt_id: vm.is_click,
                            period: vm.period,
                            stamp: times,
                            sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
                        };
                        axios.post(api + '/wxmp/info/query/dosaveAddTwo', qs.stringify(obj))
                            .then(res => {

                                if (res.data.result == 1) {
                                    vm.result_id = res.data.queryResultId;
                                    vm.$router.push({
                                        path: "/testresult3",
                                        query: {result_id: res.data.queryResultId, period: vm.period}
                                    })
                                }

                            }).catch(error => {
                            console.log(error);
                        });
                    }
                }, 200)
            },
        },
        created() {
            this.period = this.$route.query.period;
            // this.period='20181009155322146'
            this.getData();
        },
    }
</script>

<style scoped lang='scss'>
    .test {
        width: 100%;
        height: 11.30rem;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        .list:first-child {
            margin-top: 6.11rem;
        }
        .list {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 0.69rem;
            box-sizing: border-box;
            margin-bottom: 0.51rem;
            .yuan {
                width: 0.3rem;
                height: 0.3rem;
                border: 0.01rem solid #3D5765;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .small_yuan {
                    width: 0.16rem;
                    height: 0.16rem;
                    border: 0.01rem solid #3D5765;
                    border-radius: 100%;
                }
            }
            .res {
                color: #333333;
                font-size: 0.3rem;
                margin-left: 0.19rem;
            }
        }
    }

    .yuan_click {
        background: #3D5765;
    }
</style>
