<template>
    <div class="temp_wrap" :style="{background:styleData.exbackcolor}">
        <div class="bg" :style="{backgroundImage:'url('+styleData.act_back_url+')'}">
            <div class="btn" 
            :style="{backgroundImage:'url('+styleData.btn_back_url+')'}"
            @click="check"
            ></div>
        </div>
    </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'
  import Vue from "vue";
  import { Base64 } from "js-base64";

  import { Dialog } from 'vant';

Vue.use(Dialog);
export default {
    name:"testScoreTemplete",
    data(){
        return{
            period:"",//期号
            styleData:{
                act_back_url:"",
                btn_back_url:"",
                exbackcolor:''
            },
            result_id:'',
            score:""
        }
    },
    created(){
        //先清除session styleData数据
        sessionStorage.removeItem('styleData');
        if(this.$route.query.period){
            this.period = this.$route.query.period;/* 获取期号 */
        }else{
            this.period = sessionStorage.getItem('shareId');/* 获取期号 */
            console.log(sessionStorage.getItem('shareId'));
        }
        this.getData();
    },
    mounted(){
        if(sessionStorage.getItem('testTitle')){
            document.title = sessionStorage.getItem('testTitle');
        }else{
            document.title = '心理测试';
        }
        
    },
    methods:{
        check(){
            let vm = this;
            let times = Date.now();
            let obj = {
            user_id: localStorage.gtItem("userId"),
            period:vm.period,
            stamp: times,
            sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('oKey'))
            };
            // eslint-disable-next-line no-undef
            axios.post(api + '/wxmp/info/query/getAnswerrecordCurrentInfo', qs.stringify(obj))
            .then(res => {
                if (res.data.result == 1) {
                //做过测试
                    vm.result_id = res.data.queryResult.id;
                    vm.score = res.data.sum;
                    let option = {
                            title: '标题',
                            message: '您已参与过本题测试，您可以',
                            className:'',
                            confirmButtonText:'再玩一次',
                            cancelButtonText:'查看结果',
                        }
                    vm.dialog(option);
                }else if(res.data.result == 4319){
                //未做完测试
                    vm.index = res.data.data.sort;
                    this.dialogConfirm(res.data.data.sort);
                }else if (res.data.result == 1019) {
                //没有做过测试
                    vm.$router.push({path: '/TestTemlpleteScoreSub', query: {period: vm.period}});
                }
            }).catch(error => {
            console.log(error);
            });
            
        },
        getData(){
            
            /* 获取页面样式 */
        
            let vm = this;
            let times = Date.now();
            let obj = {
            period:vm.period,
            stamp: times,
            sign: MD5(vm.period + '' + times + '' + localStorage.getItem('oKey'))
            };
            // eslint-disable-next-line no-undef
            axios.post(api + '/wxmp/info/query/getqueryActCurrentInfoDao', qs.stringify(obj))
            .then(res => {
                if (res.data.result == 1) {
                    vm.styleData = res.data.data;
                     /* 获取到样式数据存入session */
                    sessionStorage.setItem("styleData",JSON.stringify(vm.styleData));
                    /* 分享 */
                    window.dataForWeixin={
                    appId: "",
                    imgUrl: this.styleData.back_url, // get_post_weixin_thumb 为微信机器人高级版中的函数
                    link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl="+Base64.encode('https://js.51takeit.com/wxmp/index.html#/redirect?state=TestTemlpleteScore&shareId='+vm.period),
                    title: sessionStorage.getItem('testTitle')?sessionStorage.getItem('testTitle'):'测试题',
                    desc: vm.styleData.act_desc,
                    fakeid: ""
                    };
                    window.setShare();
                }
            }).catch(error => {
            console.log(error);
            });
            
        },
        dialog(){
            let vm = this;
            //确认提示框 双按钮
            Dialog.confirm({
                message: '您已参与过本题测试，您可以',
                className:'',
                confirmButtonText:'再玩一次',
                cancelButtonText:'查看结果',
            }).then(() => {
            // on confirm 再玩一次
                vm.$router.push({path: '/TestTemlpleteScoreSub', query: {period: vm.period}});
            }).catch(() => {
            // on cancel  查看结果
                vm.$router.push({path: '/TestTemlpleteScoreRes', query:{result_id:vm.result_id,period:vm.period,score:vm.score}});
            });
        },
        dialogConfirm(){
            let vm = this;
            //确认提示框 单按钮
            Dialog.alert({
                    message: '您上次还未完成此项测试，请确认继续',
                    className:'dialogConfirm',
                    closeOnClickOverlay: true
                    }).then(() => {
                        // on close
                        vm.$router.push({path: '/TestTemlpleteScoreSub', query: {period: vm.period,index: vm.index}});
                    });
        }
    }
}
</script>

<style lang="scss" scoped>
.temp_wrap{
    width: 100%;
    height: 100%;
    .bg{
        width: 100%;
        height:11.3rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        .btn{
            width:2.52rem;
            height:0.77rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            position: absolute;
            top: 10.13rem;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

    
    

</style>
<style lang="scss">
.van-dialog{
  width: 72%!important;
    /deep/ .van-dialog__content{
      .van-dialog__message{
          padding: .54rem .3rem;
          text-align: center;
          font-size: .28rem;
          line-height: normal;
      }
    }
    .van-dialog__confirm, .van-dialog__confirm:active{
      color: #222;
    }
}
</style>
