<template>
  <div class="about">
    <h1>A 问藏书房</h1>
    <h1>问藏書房</h1>
    <h1>C问藏書房</h1>
    <h1 @click="resize">问藏書房</h1>
  </div>
</template>
<script>
import { _debounce, confirm } from "@/decorator/debounce.js";
export default {
  methods: {
    // @_throttle(500)
    @confirm()
    @_debounce(500)
    resize() {
      console.log("问藏書房");
    }
  }
};
</script>
<style lang="scss" scoped>
.about {
  display: grid;
  // grid: var(--响应式);
  h1 {
    font-family: "ZJD", "WZSF", "SYgoogle";
    // background: var(--极光绿);
  }
}
</style>
