<template>
    <div class="subject_wrap" :style="{background:styleData.exbackcolor}">
        <div class="bg" :style="{backgroundImage:'url('+subData.back_url+')'}">
            <div class="content">
                <ul class="opt">
                    <li v-for="(opts,index) in subData.subjectarray" 
                    :key="index" 
                    @click="subOpt(opts.opt_id,opts.jump_subject_sort)"
                    :style="{backgroundImage:'url('+styleData.opt_back_url+')'}"
                    >
                        <span v-if="index==0" :style="{color:styleData.opttitle_back_color?styleData.opttitle_back_color:'#222'}">A</span>
                        <span v-if="index==1" :style="{color:styleData.opttitle_back_color?styleData.opttitle_back_color:'#222'}">B</span>
                        <span v-if="index==2" :style="{color:styleData.opttitle_back_color?styleData.opttitle_back_color:'#222'}">C</span>
                        <span v-if="index==3" :style="{color:styleData.opttitle_back_color?styleData.opttitle_back_color:'#222'}">D</span>
                        <div :style="{color:styleData.opt_back_color}">{{opts.opt_title}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import qs from 'qs'
  import MD5 from 'js-md5'
  import Vue from "vue";

  import { Dialog } from 'vant';
  Vue.use(Dialog);
export default {
    name:"subject",
    data(){
        return{
            period:"",//期号,
            subData:[{subject_title:''}],//题目数据
            styleData:{
                subject_back_url:'',
                opt_back_url:'',
            },
            active:0,
            flag:true
        }
    },
    created(){
        this.styleData = JSON.parse(sessionStorage.getItem('styleData'));
        if(this.$route.query.index){
            this.active = this.$route.query.index*1;
        }
        this.period = this.$route.query.period;/* 获取期号 */
        this.getSubData();
    },
    mounted(){
        if(sessionStorage.getItem('testTitle')){
            document.title = sessionStorage.getItem('testTitle');
        }else{
            document.title = '心理测试';
        }
        window.dataForWeixin={
            appId: "",
            imgUrl: this.styleData.back_url, // get_post_weixin_thumb 为微信机器人高级版中的函数
            link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl="+Base64.encode(window.location.href.split('index.html')[0]+'index.html#/redirect?state=SkipTestTemplete&shareId='+this.period),
            title: JSON.parse(sessionStorage.getItem('styleData')).act_name,
            desc: JSON.parse(sessionStorage.getItem('styleData')).act_desc,
            fakeid: ""
        };
        window.setShare();
    },
    methods:{
        getSubData(){
            let vm = this;
            let times = Date.now();
            let obj = {
            period:vm.period,
            stamp: times,
            sign: MD5( vm.period + '' + times + '' + localStorage.getItem('oKey'))
            };
            axios.post(api + '/wxmp/info/query/getSubjectAndOptCurrentInfo', qs.stringify(obj))
            .then(res => {
                if(res.data.result == 1){
                    vm.subData = res.data.data[0];
                }else{
                    vm.subData = [];
                }
            })
            .catch(error => {
                console.log(error);
            });
        },
        subOpt(id,sort){
            if(sort > 0){
                this.active = sort-1;
            }else if(sort < 0){
                if(this.flag){
                    this.flag = false;
                    let vm = this;
                    let times = Date.now();
                    let obj = {
                    user_id: localStorage.getItem("userId"),
                    opt_id: id,
                    period:vm.period,
                    stamp: times,
                    sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('oKey'))
                    };
                    axios.post(api + '/wxmp/info/query/dosaveCurrentAdd', qs.stringify(obj))
                    .then(res => {
                        if(res.data.result == 1){
                            vm.result_id = res.data.queryResultId;
                            this.$router.push({path:"/SkipTestTempleteRes",query:{result_id:vm.result_id,period:vm.period}});
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
                }
            }
            
        }
    },
}
</script>

<style lang="scss" scoped>
.subject_wrap{
    width: 100%;
    height: 100%;
    .bg{
        width: 100%;
        height:11.3rem;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        padding-top: 5.76rem;
        box-sizing: border-box;
        .count{
            margin: 0 auto .44rem;
            width:3.08rem;
            height:0.83rem;
            background:rgba(242,188,41,1);
            font-size:0.36rem;
            font-family:SourceHanSansCN-Medium;
            font-weight:500;
            line-height:.82rem;
            color: #FFFFFF;
            span{
                color:#fe412b;
            }
        }
        .content{
            width:7.02rem;
            height:5.28rem;
            margin: auto;
            padding: .18rem .76rem 0;
            box-sizing: border-box;
            font-size:0.4rem;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color: #101010;
            text-align: left;
            .sub_title{
                padding-top: .32rem;
                padding-bottom: .62rem;
                box-sizing: border-box;
                height:2.54rem;
                color:#380010;
                font-size:0.32rem;
                font-family:PingFangSC-Regular;
                font-weight:400;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .opt{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                li{
                    width: 100%;
                    height: 1.08rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    font-size:0.34rem;
                    span{
                        text-align: center;
                        line-height: .9rem;
                        margin-right: .19rem;
                        margin-left: .23rem;
                    }
                    div{
                        height:.91rem;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        font-size:0.3rem;
                        color:rgba(34,34,34,1);
                        box-sizing: border-box;
                    }
                }
                
            }
            
        }
    }
}
</style>
