<template>
  <div class="content">
    <div class="nav">
      <p class="yue">余额:¥<span>{{balance/100}}</span></p>
      <p class="ts1">单笔充值金额大于等于1元</p>
      <div class="money">
        <span>¥</span>
        <input class="how" type="tel" placeholder="请输入充值金额" v-model="moeny" required @blur="balanceSure">
      </div>
      <p class="ts2">*充值即时到账</p>
    </div>
    <div  class="btn balance" v-if="moeny" @click="balanceSub">立即充值</div>
    <div  class="btn" v-if="!moeny" @click="balanceSub">立即充值</div>
    <div class="dialog" v-if="dialog" >
      <img src="@/../public/static/active314/push_suc.png" alt="" v-if="success">
      <img src="@/../public/static/active314/push_fail.png" alt="" v-if="fail">
      <p v-if="success">充值成功</p>
      <h5 v-if="success">请至个人中心-我的钱包中查看</h5>
      <h6 v-if="success"></h6>
      <p v-if="!success">充值失败</p>
      <div class="close" @click="getIndex" v-if="success">去逛逛</div>
      <div class="close" @click="close" v-if="!success">关闭</div>
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import Des from "@/style/des.js";
import qs from "qs";
import Vue from "vue";
import {Toast} from 'vant';

Vue.use(Toast);
export default {
  name: "balance",
  data () {
    return {
      moeny: '',
      balance: 0,
      success: false,
      dialog: false,
    };
  },
  created(){
    this.get_msg();
  },
  mounted(){},
  methods:{
    close(){
      this.dialog = false;
      this.success = false;
    },
    getIndex(){
      this.$router.push({path:'/index'});
    },
    get_msg() {
      var time = new Date().getTime();
      var obj = {
          id: localStorage.getItem("userId"),
          stamp: time,
          sign: MD5(
              localStorage.getItem("userId") +
              "" +
              time +
              localStorage.getItem("Key")
          )
      };
      axios.post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
          .then((res) => {
              if (res.data.result == 1) {
                  console.log('查询成功');
                  if (res.data.data.balance != '') {
                    var num = Des.decryptByDES(res.data.data.balance,localStorage.getItem("des"));
                      if (num == '') {
                          this.balance = 0;
                      } else {
                          this.balance = num;
                      }
                  } else {
                      this.balance = 0;
                  }
              } else if (res.data.result == 1021) {
                  //重定向
              } else {
                  console.log(res.data.msg)
              }
          })
          .catch((error) => {
              console.log(error)
          })
    },
    balanceSure(){
      if(this.moeny < 1){
        Toast('单笔最小充值金额为1元');
        this.moeny = 1;
      }
    },
    balanceSub(){
      if(this.moeny){
        let time = new Date().getTime();
        let obj = {
            user_id: localStorage.getItem("userId"),
            money: this.moeny,
            pay_channel: 1,
            stamp: time,
            sign: MD5(localStorage.getItem("userId")+''+this.moeny+''+1+time+localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/user/balance/createBalance', qs.stringify(obj))
            .then((res) => {
                console.log(res.data.data);
                if(res.data.result==1){
                  this.order_pay(res.data.data.id);
                }else if(res.data.result==5011){
                  Toast('余额不足')
                }else if(res.data.result==6500){
                  Toast(res.data.msg)
                }
            })
            .catch(function (err) {
              console.log(err);
            })
      }else{
        Toast('请输入充值金额')
      }
    },
    //拉取订单是否支付成功
    order_stush(oid){
        let time = new Date().getTime();
        let obj = {
            user_id: localStorage.getItem("userId"),
            oid:oid,
            stamp: time,
            sign: MD5(localStorage.getItem("userId")+''+oid + ''+time + localStorage.getItem('Key')
            )
        };
        axios.post(api+'/wxmp/info/order/orderPayType', qs.stringify(obj))
            .then(res=>{
                console.log(res);
                if(res.data.result==1){
                    if(res.data.is_pay==1  ||  res.data.is_pay==2){
                        // window.location.href=`https://vote.com/wxmp/index.html#/pay_suc`;
                        if(res.data.data.forward_url){
                            if(/(https:\/)|(http:\/)/g.test(res.data.data.forward_url)){
                                window.location.href = res.data.data.forward_url;
                            }else {
                                this.$router.push({path:res.data.data.forward_url,query:{vip_type:this.act_name}});
                            }
                        }else {
                            this.dialog = true;
                            this.success = true;
                        }

                    }else{
                        this.order_stush(oid);
                    }
                }
            })

    },
    //订单支付
    order_pay(oid){
      let that=this;
      let time = new Date().getTime();
      let obj = {
          user_id: localStorage.getItem("userId"),
          oid:oid,
          stamp: time,
          sign: MD5(localStorage.getItem("userId")+''+oid + ''+time + localStorage.getItem('Key')
          )
      };
      axios.post(api+'/wxmp/info/order/payOrder', qs.stringify(obj))
          .then(res=>{
              if(res.data.result==1){
                WeixinJSBridge.invoke(
                    "getBrandWCPayRequest", {
                        "appId":res.data.appId,
                        "timeStamp":res.data.timeStamp,
                        "nonceStr":res.data.nonceStr,
                        "package":res.data.package,
                        "signType":res.data.signType,
                        "paySign":res.data.paySign
                    },
                    function(res_suc){
                        console.log(res_suc)
                        if(res_suc.err_msg == "get_brand_wcpay_request:ok" ) {
                            if(res.data.wait_pay){
                                that.order_stush(oid);
                            }else{
                                if(res.data.data.forward_url){
                                    if(/(https:\/)|(http:\/)/g.test(res.data.data.forward_url)){
                                        window.location.href = res.data.data.forward_url;
                                    }else {
                                        this.$router.push({path:res.data.data.forward_url,query:{vip_type:this.act_name}});
                                    }
                                }else {
                                    this.dialog = true;
                                    this.success = true;
                                }
                            }
                        }
                    }
                );
              }else {
                  Toast('支付失败！');
              }
          })
    },
  }
}
</script>
<style lang="scss" scoped>
  .content {
    width:7.13rem;
    height:100%;
    background:#fff;
    padding-left:.37rem;
    text-align: left;
  }

  .yue {
    font-size:.36rem;
    color:rgba(51,51,51,1);
    margin-top:.63rem;
    margin-bottom:.11rem;
    font-weight: bold;
  }

  .ts1 {
    font-size:.26rem;
    font-weight:400;
    color:rgba(153,153,153,1);
    margin-bottom:.45rem;
  }

  .money{
    width:7.13rem;
    overflow: hidden;
    /* height:.8rem; */
  }

  .money span {
    font-size:.4rem;
    float:left;
    font-weight: bold;
  }

  .money .how {
    width:5.03rem;
    height:.55rem;
    border:none;
    padding-left:.15rem;
    border-bottom:.03rem #E0E0E0 solid;
    font-size:.34rem;
    float:left;
  }

  .money .btn_all {
    width:1.11rem;
    text-align: center;
    height:.40rem;
    line-height:.40rem;
    font-size:.24rem;
    color:#333;
    border-radius:.04rem;
    border:.01rem solid rgba(51,51,51,1);
    float:right;
    margin-right:.4rem;
    margin-top:.11rem;
  }

  .ts2 {
    width:7.13rem;
    font-size:.28rem;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-top:.6rem;
  }

  .btn {
    display: block;
    width:5rem;
    height:.88rem;
    line-height:.88rem;
    text-align: center;
    font-size:.32rem;
    color:#333;
    font-weight: bold;
    /* background:#FFD200; */
    background:#D1D4DA;
    border-radius:.08rem;
    margin-left:.89rem;
    margin-top:1.45rem;
  }
  .balance{
    background:linear-gradient(161deg,rgba(250,217,97,1) 0%,rgba(255,210,0,1) 100%);
  }
  .dialog{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,1);
      padding-top: 3rem;
      box-sizing: border-box;
      img{
        width: 2.97rem;
        display: block;
        margin: auto;
      }
      p{
        margin-top: .68rem;
        text-align: left;
        font-size:0.32rem;
        font-family:PingFangSC-Medium;
        font-weight:600;
        color:rgba(51,51,51,1);
        text-align: center;
      }
      h5{
        font-size:0.28rem;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:0.4rem;
        text-align: center;
        margin-top: .34rem;
      }
      h6{
        font-size:0.28rem;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(153,153,153,1);
        line-height:0.4rem;
        text-align: center;
        margin-top: .13rem;
      }
      .close{
        width:2.05rem;
        height:0.58rem;
        background:rgba(255,218,0,1);
        border-radius:0.04rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto 0;
        font-size:0.28rem;
        font-family:PingFangSC-Medium;
        font-weight: 600;
        color:rgba(52,52,52,1);
      }
  }
</style>