<!--
 * @Author: your name
 * @Date: 2020-07-21 13:51:49
 * @LastEditTime: 2020-07-27 10:56:23
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \20200721merchant\src\App.vue
-->
<template>
  <div id="app">
    <router-view class="appwrap" />
  </div>
</template>

<style lang="scss">
/* 问藏书房 */
@font-face {
  font-family: "WZSF";
  src: url("./assets/font/WenCangShuFang-2.ttf");
}
/* 字体管家纸胶带 */
@font-face {
  font-family: "ZJD";
  src: url("./assets/font/ZiTiGuanJiaZhiJiaoDai-2.ttf");
}
/* 思源黑体 */
@font-face {
  font-family: "SYgoogle";
  src: url("./assets/font/NotoSansCJK-Regular-1.otf");
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  padding-bottom: constant(safe-area-inset-bottom);
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}
img {
  display: block;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}
input {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
}
.back_applet {
  position: fixed;
  bottom: 20%;
  right: 0.3rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.3rem;
  /*display: none;*/
  img {
    width: 100%;
    height: 100%;
    display: block;
    border: 0.04rem solid rgba(10, 232, 223, 0.51);
    border-radius: 50%;
    box-sizing: border-box;
  }
}
#app {
  height: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 0.26rem;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}
p {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-moz-scrollbar {
  width: 0px;
  height: 0px;
}
::scrollbar {
  width: 0px;
  height: 0px;
}
.appwrap {
  height: calc(100% - 92px);
  height: 100%;
}
</style>
