<template>
  <div class="guess">
    <div class="top">
      <img src="@/../public/static/active314/banner.png" alt />
      <div class="my_guess" @click="skip('/GuessList')">我的竞猜</div>
      <div class="guess_rule" @click="skip('/guess_rule')">竞猜规则</div>
    </div>
    <div class="content">
      <div class="choice">
        <div
          class="left"
          v-on:click="is_play=0"
          :style="{background:is_play==0?'linear-gradient(180deg, #61DFE9, #45B2B4)':'#449495'}"
        >
          <span>牵引索挑战</span>
          <div class="jiojio" v-if="is_play==0"></div>
        </div>
        <div
          class="right"
          v-on:click="is_play=1"
          :style="{background:is_play==1?'linear-gradient(180deg, #61DFE9, #45B2B4)':'#449495'}"
        >
          <span>举手数字猜</span>
          <div class="jiojio" v-if="is_play==1"></div>
        </div>
      </div>
      <div class="choice_left" v-if="is_play==0">
        <div class="play">
          <div class="title">请竞猜第二根断的是哪根钢索？</div>
          <div class="before_list" v-for="(etim,index)  in  choice_list" :key="index">
            <div class="tag">{{etim.tag}}钢索</div>
            <div class="is_choice" v-if="etim.is_choice==0" v-on:click="select(etim,index)"></div>
            <img
              src="@/../public/static/active314/duigou.png"
              alt
              v-if="etim.is_choice==1"
              v-on:click="etim.is_choice=0"
            />
            <div class="input_box">
              <div class="reduce" v-on:click="etim.num<=1?1:etim.num--">-</div>
              <input type="number" v-model="etim.num" @change="numberHandel(etim.num)" readonly />
              <div
                class="plus"
                v-on:click="etim.num>=5?5:etim.num++"
                :style="{background:etim.num>=5?'rgba(179,179,179,1)':'#d4eebf'}"
              >+</div>
            </div>
            <div class="max" v-on:click="etim.num=5">MAX</div>
          </div>
          <div class="money">竞猜次数：{{guess_money_left}}次</div>
        </div>
        <!-- <div class="play_text">玩法说明：</div> -->
        <!-- <div class="text_details">选定字母后，可增加倍率， 每1根每个倍率，消耗1元，获得相应数量的举手优选1元现金券，附赠1次竞猜机会，最终猜对者可平分所有猜错者所投金额。</div> -->
      </div>
      <div class="choice_right" v-if="is_play==1">
        <div class="play">
          <div class="title">请竞猜最后哪个数字会切断这根牵引索?</div>
          <div class="random" v-on:click="random">
            <img src="@/../public/static/active314/jixuan.png" alt />
            <div class="random_text">机选5个数字</div>
          </div>
          <div class="random_list" v-for="(etim,index)  in  random_list" :key="index">
            <div class="letter">
              <div class="letter_box" v-on:click="choice_tag = choice_tag==index? 10 : index">
                <div class="letter_tag">{{etim.tag}}</div>
                <img src="@/../public/static/active314/select_btn.png" alt />
              </div>
              <div class="choice_tag" v-if="choice_tag==index" v-on:click="choice_tag=10">
                <div
                  class="list"
                  v-for="(tag_etim,tag_index)  in  tag_list"
                  :key="tag_index"
                  v-on:click="etim.tag_num=tag_index"
                >
                  <div v-if="etim.tag_num==tag_index"></div>
                  <span v-on:click="etim.tag=tag_etim+'钢索'">{{tag_etim}}钢索</span>
                </div>
              </div>
            </div>
            <input
              type="tel"
              v-model="etim.num"
              placeholder="请输入数字"
              v-on:blur="sure"
              v-on:click="choice_tag=10"
              maxlength="8"
              @input="etim.num=etim.num.replace(/[^\d]/g,'')"
            />
            <div class="reduce" v-on:click="close(index)">-</div>
          </div>
          <div class="money">竞猜次数：{{guess_money_right}}次</div>
        </div>
        <!-- <div class="play_text">玩法说明：</div> -->
        <!-- <div class="text_details">先选择钢索，随后自行输入数字，每个数字，消耗1元，获得相应数量的举手优选1元现金券，附赠1次竞猜机会，最终竞猜数字最接近的可获得大奖。</div> -->
      </div>
      <div style="width:100%;display:flex;align-items: center;justify-content: space-between;">
        <div class="play_sure" v-on:click="get_car_info(1)">竞 猜</div>
        <div class="play_sure" v-on:click="skip('/play_index')">返回主页</div>
      </div>
    </div>
    <div class="dialog" v-if="pay==1">
      <div
        class="not_lottery dialog-item"
        style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;"
      >
        <h3 class="dialog_title">温馨提示</h3>
        <p style="height: 2.56rem;">
          您可以通过购买举手优选无门槛
          <br />现金券的形式，获得竞猜机会
          <br />每购买1元现金券可获得1次竞猜机会
          <br />现金券可至“举手优选”-“我的”查看
          <br />
          <br />
          本次购买{{guess_money_left}}元现金券
          获得{{guess_money_left}}次竞猜机会
        </p>
        <div class="caouzo">
          <div class="caouzo_left" v-on:click="pay=0">修改</div>
          <div class="caouzo_right" @click="order_pay">支付</div>
        </div>
        <div
          @click="pay=0"
          class="close"
          style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;"
        ></div>
      </div>
    </div>
    <div class="dialog" v-if="pay==2">
      <div
        class="not_lottery dialog-item"
        style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;"
      >
        <h3 class="dialog_title">温馨提示</h3>
        <p style="height: 2.56rem;">
          您可以通过购买举手优选无门槛
          <br />现金券的形式，获得竞猜机会
          <br />每购买1元现金券可获得1次竞猜机会
          <br />现金券可至“举手优选”-“我的”查看
          <br />
          <br />
          本次购买{{guess_money_right}}元现金券
          获得{{guess_money_right}}次竞猜机会
        </p>
        <div class="caouzo">
          <div class="caouzo_left" v-on:click="pay=0">修改</div>
          <div class="caouzo_right" @click="order_pay">支付</div>
        </div>
        <div
          v-on:click="pay=0"
          class="close"
          style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
Vue.use(Toast);
export default {
  name: "index",
  data() {
    return {
      pay: "0", //支付显示
      random_list: [
        { tag: "请选择", num: "", tag_num: "" },
        { tag: "请选择", num: "", tag_num: "" },
        { tag: "请选择", num: "", tag_num: "" },
        { tag: "请选择", num: "", tag_num: "" },
        {tag: "请选择",num: "",tag_num: ""}
      ],
      choice_tag: 10, //选择钢索
      tag_num: "0", //tag红短线
      tag_list: ["A", "B", "C", "D", "E"],
      guess_money_right: "0", //数字猜
      guess_money_left: "0", //数字猜
      is_play: 0, //玩哪个游戏
      choice_list: [
        { tag: "A", is_choice: 0, num: "1" },
        { tag: "B", is_choice: 0, num: "1" },
        { tag: "C", is_choice: 0, num: "1" },
        { tag: "D", is_choice: 0, num: "1" },
        { tag: "E", is_choice: 0, num: "1" },
        // { tag: "E", is_choice: 0, num: "1" }
      ],
      left_result: "",
      right_result: "",
      end_flag: 0,
      end_num: 2,
      goods_info_data: "",
      id: "" //订单id
    };
  },
  methods: {
    /* 监听input */
    numberHandel(num) {
      if (num >= 5) {
        num = 5;
      }
    },
    select(ele, index) {
    console.log("select -> this.gangsuo", this.gangsuo)
      Toast("竞猜已结束~");
      return false;
      if (this.gangsuo[index].end_flag == 1) {
        Toast(ele.tag + "钢索已被砍断了哦~");
      } else {
        console.log("select -> this.end_flag", this.end_flag)
        console.log("select -> this.end_num", this.end_num)
        if (this.end_flag < this.end_num) {
          ele.is_choice = 1;
        } else {
          Toast("竞猜已结束~");
        }
      }
    },
    skip(link) {
      if (link == "/guess") {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link });
      }
    },
    order_stush() {
      let that = this;
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        oid: this.id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.id +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/orderPayType", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.is_pay == 1 || res.data.is_pay == 2) {
              that.$router.push({
                path: "/GuessList",
                query: { active: that.is_play }
              });
            } else {
              this.order_stush();
            }
          }
        });
    },
    //机选5注
    random() {
      Toast("竞猜已结束~");
      return false;
      if (!this.tag_list.length) {
        Toast("竞猜已结束~");
        return false;
      }
      let arr = ["A", "B", "C", "D"];
      let len = this.tag_list.length;
      let mm = 999999999;
      const asort = Math.floor(Math.random() * len);
      const bsort = Math.floor(Math.random() * len);
      const csort = Math.floor(Math.random() * len);
      const dsort = Math.floor(Math.random() * len);
      const esort = Math.floor(Math.random() * len);
      this.random_list = [
        {
          tag: this.tag_list[asort] + "牵引",
          num: Math.floor(Math.random() * mm),
          tag_num: asort
        },
        {
          tag: this.tag_list[bsort] + "牵引",
          num: Math.floor(Math.random() * mm),
          tag_num: bsort
        },
        {
          tag: this.tag_list[csort] + "牵引",
          num: Math.floor(Math.random() * mm),
          tag_num: csort
        },
        {
          tag: this.tag_list[dsort] + "牵引",
          num: Math.floor(Math.random() * mm),
          tag_num: dsort
        },
        {
          tag: this.tag_list[esort] + "牵引",
          num: Math.floor(Math.random() * mm),
          tag_num: esort
        }
      ];
      console.log(this.tag_list);
    },
    //清空一行
    close(index) {
      this.random_list.splice(index, 1, { tag: "请选择", num: "" });
      console.log(this.random_list);
    },
    //
    sure() {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
    },
    
    //查询砍车进度
    get_car_info(a) {
      // if (this.end_flag < this.end_num) {
      //     if (this.is_play == 0) {
      //       console.log(this.left_result.length);
      //       if (!this.left_result.length) {
      //         Toast("请至少选择一个");
      //         return false;
      //       }
      //     } else {
      //       if (!this.right_result.length) {
      //         Toast("请至少选择一个");
      //         return false;
      //       }
      //     }
      //   } else {
      //     Toast("竞猜已结束~");
      //   }
      let time = new Date().getTime();
      let obj = {
        game_code: "drf520",
        stamp: time,
        sign: MD5("drf520" + time + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/user/game/cut/getCutDeviceList", qs.stringify(obj))
        .then(res => {
          let cut_arr = [];
          if (res.data.result == 1) {
            this.gangsuo = res.data.dataList;
            this.end_flag = 0;
            // this.end_flag = res.data.dataList.findIndex(ele=>{return ele.end_flag > 0});
            for (let i = 0; i < 4; i++) {
              if (res.data.dataList[i].end_flag == 0) {
                if (i == 0) {
                  cut_arr.push("A");
                } else if (i == 1) {
                  cut_arr.push("B");
                } else if (i == 2) {
                  cut_arr.push("C");
                } else if (i == 3) {
                  cut_arr.push("D");
                } else if (i == 4) {
                  cut_arr.push("E");
                }
              } else {
                this.end_flag++;
              }
            }
            // this.end_flag = 1
            console.log("get_car_info -> this.end_flag", this.end_flag)
            console.log(this.end_flag);
            this.tag_list = cut_arr;
            console.log("get_car_info -> cut_arr", cut_arr)
            if (a) {
              this.guess();
            }
          }else{
            Toast(res.data.msg)
          }
        })
        .catch(function(err) {});
    },
    //竞猜
    guess() {
      Toast("竞猜已结束~");
      return false;
      //最先断
      if (this.is_play == 0 && this.end_flag < this.end_num) {
        if (!this.left_result.length) {
          Toast("请至少选择一个");
          return false;
        }
        var str = Base64.encode(JSON.stringify(this.left_result));
        console.log("guess -> str", this.left_result)
        let time = new Date().getTime();
        let obj = {
          game_code: "drf520",
          guess_type: "1",
          guesslist2: str,
          user_id: localStorage.getItem("userId"),
          stamp: time,
          sign: MD5(
            "drf520" +
              "1" +
              localStorage.getItem("userId") +
              "" +
              time +
              localStorage.getItem("Key")
          )
        };
        axios
          .post(
            "/api/wxmp/user/game/cutguess/addGameCutGuessRecord",
            qs.stringify(obj)
          )
          .then(res => {
            if (res.data.result == 1) {
              let obj = [
                {
                  goods_id: res.data.goods_id,
                  goods_num: res.data.stakessum,
                  car_id: -1
                }
              ];
              let str = JSON.stringify(obj);
              this.goods_info_data = Base64.encode(str);
              this.creat_order(res.data.back_trade_no);
              this.pay = 1;
            }
          })
          .catch(function(err) {});
      } else if (this.is_play == 1) {
        //哪个数字先断
        if (!this.tag_list.length) {
          Toast("竞猜已截止~");
          return false;
        }
        if (!this.right_result.length) {
          Toast("请至少选择一个");
          return false;
        }

        var str = Base64.encode(JSON.stringify(this.right_result));
        let time = new Date().getTime();
        let obj = {
          game_code: "drf520",
          guess_type: "2",
          guesslist2: str,
          user_id: localStorage.getItem("userId"),
          stamp: time,
          sign: MD5(
            "drf520" +
              "2" +
              localStorage.getItem("userId") +
              "" +
              time +
              "jushou2018shrosun"
          )
        };
        axios
          .post(
            api + "/wxmp/user/game/cutguess/addGameCutGuessRecord",
            qs.stringify(obj)
          )
          .then(res => {
            if (res.data.result == 1) {
              let obj = [
                {
                  goods_id: res.data.goods_id,
                  goods_num: res.data.stakessum,
                  car_id: -1
                }
              ];
              let str = JSON.stringify(obj);
              this.goods_info_data = Base64.encode(str);
              this.creat_order(res.data.back_trade_no);
              this.pay = 2;
            }else{
              Toast(res.data.msg);
            }
          })
          .catch(function(err) {});
      } else {
        Toast("竞猜已结束~");
      }
    },
    creat_order(back_trade_no) {
      let time = new Date().getTime();
      let obj = {
        back_trade_no,
        user_id: localStorage.getItem("userId"),
        goods_info_data: this.goods_info_data,
        coupon_id: -1,
        is_deduction: 0,
        g_oid: -1,
        is_gift: 0,
        aid: -1,
        pay_channel: "1",
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.goods_info_data +
            "" +
            "-1" +
            "" +
            0 +
            "" +
            "-1" +
            "0" +
            "-1" +
            "1" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/createOrder", qs.stringify(obj))
        .then(res => {
          this.id = res.data.data.id;
          console.log(res);
        });
    },
    order_pay() {
      let that = this;
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        oid: this.id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.id +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/payOrder", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            WeixinJSBridge.invoke(
              "getBrandWCPayRequest",
              {
                appId: res.data.appId,
                timeStamp: res.data.timeStamp,
                nonceStr: res.data.nonceStr,
                package: res.data.package,
                signType: res.data.signType,
                paySign: res.data.paySign
              },
              function(res_suc) {
                console.log(res_suc);
                if (res_suc.err_msg == "get_brand_wcpay_request:ok") {
                  if (res.data.wait_pay) {
                    that.order_stush();
                  } else {
                    that.$router.push({
                      path: "/GuessList",
                      query: { active: that.is_play }
                    });
                    // that.$router.push({path:'/GuessList',query:{active:that.is_play}})
                    // window.location.href=`https://vote.com/wxmp/index.html#/pay_suc`;
                  }
                }
              }
            );
          } else {
            Toast("支付失败！");
          }
        });
    }
  },
  watch: {
    random_list: {
      handler(newName, oldName) {
        let brr = ["A牵引", "B牵引", "C牵引", "D牵引", "E牵引"];
        var arr = [];
        var true_num = 0;
        for (let i = 0; i < newName.length; i++) {
          if (newName[i].tag != "请选择" && newName[i].num != "") {
            true_num = true_num + 1;
            var obj = {
              guess_sort:
                brr.findIndex(ele => {
                  return ele == newName[i].tag;
                }) *
                  1 +
                1,
              guess_tag: newName[i].tag.substring(0, 1),
              multiple: 1,
              guess_number: newName[i].num
            };
            arr.push(obj);
          }
        }
        this.guess_money_right = true_num * 1;
        this.right_result = arr;
        console.log("handler -> arr", arr)
        console.log(this.right_result);
      },
      deep: true,
      immediate: true
    },
    choice_list: {
      handler(newName, oldName) {
        var arr = [];
        var true_num = 0;
        for (let i = 0; i < newName.length; i++) {
          if (newName[i].is_choice != 0) {
            true_num = true_num + newName[i].num * 1;
            var obj = {
              guess_sort: i + 1,
              guess_tag: newName[i].tag,
              multiple: newName[i].num
            };
            arr.push(obj);
          }
        }
        this.left_result = arr;
        console.log("handler -> arr", arr)
        this.guess_money_left = true_num * 1;
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    this.get_car_info();
  },
  mounted() {
    document.title = "举手乐猜";
    window.dataForWeixin = {
        appId: "",
        imgUrl: "https://" + window.location.host + "/wxmp/static/active314/400.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=kvindex"),
        title: '砍它！百分百中奖！汽车大奖会不会是你？',
        desc: "“举手来了”第二届火爆进行中！！！",
        fakeid: ""
    };
    window.setShare();
  }
};
</script>

<style scoped lang="scss">
$theme-color: #adf5f1;
.guess {
  width: 100%;
  min-height: 100vh;
  background: $theme-color;
  text-align: left;
  .top {
    width: 100%;
    height: 3.6rem;
    position: relative;
    top: 0;
    left: 0;
    img {
      width: 100%;
      height: 3.6rem;
      display: block;
      background: #fffff0;
    }
    .my_guess {
      width: 1.61rem;
      height: 0.48rem;
      background: #449495;
      border-radius: 0 0.24rem 0.24rem 0;
      color: rgba(255, 254, 254, 1);
      font-size: 0.3rem;
      font-family: Source Han Sans CN;
      font-weight: 300;
      text-align: center;
      line-height: 0.48rem;
      position: absolute;
      left: 0;
      top: 2.68rem;
    }
    .guess_rule {
      width: 1.61rem;
      height: 0.48rem;
      background: #449495;
      border-radius: 0.24rem 0 0 0.24rem;
      color: rgba(255, 254, 254, 1);
      font-size: 0.3rem;
      text-align: center;
      line-height: 0.48rem;
      position: absolute;
      right: 0;
      top: 2.68rem;
    }
  }
  .content {
    width: 100%;
    .choice {
      width: 100%;
      height: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left,
      .right {
        width: 50%;
        height: 100%;
        color: rgba(254, 254, 255, 1);
        line-height: 0.8rem;
        text-align: center;
        font-size: 0.36rem;
        background: #449495;
        position: relative;
        top: 0;
        left: 0;
        .jiojio {
          width: 0;
          height: 0;
          border-top: 0.2rem solid #45b2b4;
          border-left: 0.2rem solid transparent;
          border-right: 0.2rem solid transparent;
          border-bottom: 0.2rem solid transparent;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: -0.4rem;
        }
      }
    }
    .choice_left {
      width: 100%;
      height: auto;
      .play {
        width: 6.48rem;
        height: 7.2rem;
        overflow: hidden;
        background: linear-gradient(
          -7deg,
          rgba(59, 168, 174, 1),
          rgba(42, 186, 191, 1)
        );
        border-radius: 0.2rem;
        margin: 0 auto;
        margin-top: 0.46rem;
        .title {
          width: 100%;
          color: rgba(255, 255, 255, 1);
          font-size: 0.36rem;
          text-align: center;
          margin-top: 0.42rem;
          margin-bottom: 0.48rem;
        }
        .before_list {
          width: 100%;
          padding: 0 0.44rem 0 0.38rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.47rem;
          .tag {
            color: rgba(255, 255, 255, 1);
            font-size: 0.36rem;
          }
          .is_choice {
            width: 0.56rem;
            height: 0.56rem;
            border: 0.03rem solid #d4eebf;
            border-radius: 0.03rem;
            box-sizing: border-box;
          }
          img {
            width: 0.56rem;
            height: 0.56rem;
            display: block;
          }
          .input_box {
            width: 2.46rem;
            height: 0.56rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .reduce {
              width: 0.56rem;
              height: 0.56rem;
              background: #d4eebf;
              line-height: 0.4rem;
              color: #ffffff;
              text-align: center;
              font-size: 0.8rem;
            }
            input {
              width: 1.34rem;
              height: 100%;
              background: #9fbf85;
              color: #fff;
              font-size: 0.36rem;
              text-align: center;
              line-height: 0.56rem;
            }
            .plus {
              width: 0.56rem;
              height: 0.56rem;
              background: #d4eebf;
              line-height: 0.56rem;
              color: #ffffff;
              text-align: center;
              font-size: 0.6rem;
            }
          }
          .max {
            color: rgba(255, 255, 255, 1);
            font-size: 0.3rem;
          }
        }
        div:nth-last-child(2) {
          margin-bottom: 0rem !important;
        }
        .money {
          color: rgba(255, 255, 255, 1);
          font-size: 0.3rem;
          width: 100%;
          text-align: center;
          margin-top: 0.3rem;
        }
      }
      .play_text {
        width: fit-content;
        margin-left: 0.73rem;
        font-size: 0.3rem;
        margin-top: 0.34rem;
        color: rgba(255, 255, 255, 1);
      }
      .text_details {
        width: 100%;
        padding: 0 0.79rem 0 0.73rem;
        box-sizing: border-box;
        font-size: 0.3rem;
        margin-top: 0.2rem;
        color: rgba(255, 255, 255, 1);
      }
    }
    .choice_right {
      width: 100%;
      height: auto;
      .play {
        width: 6.48rem;
        // height: 8rem;
        background:linear-gradient(-7deg,rgba(59,168,174,1),rgba(42,186,191,1));
        border-radius: 0.2rem;
        margin: 0 auto;
        margin-top: 0.46rem;
        padding-top: 0.42rem;
        padding-bottom: 0.42rem;
        .title {
          width: 100%;
          color: rgba(255, 255, 255, 1);
          font-size: 0.36rem;
          text-align: center;
          /*margin-top: 0.42rem;*/
        }
        .random {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: fit-content;
          margin: 0 auto;
          margin-top: 0.42rem;
          margin-bottom: 0.38rem;
          width: 2.8rem;
          img {
            width: 0.48rem;
            height: 0.48rem;
            display: block;
            margin-right: 0.17rem;
          }
          .random_text {
            color: rgba(255, 255, 255, 1);
            font-size: 0.36rem;
          }
        }
        .random_list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0.48rem;
          width: 100%;
          box-sizing: border-box;
          margin-bottom: 0.47rem;
          .letter {
            width: 1.88rem;
            height: 0.56rem;
            background: #d4eebf;
            border-radius: 0.03rem;
            color: #297c80;
            font-size: 0.36rem;
            line-height: 0.56rem;
            text-align: center;
            position: relative;
            top: 0;
            left: 0;
            .choice_tag {
              width: 1.88rem;
              height: auto;
              position: absolute;
              top: 0.58rem;
              z-index: 999;
              .list {
                width: 100%;
                height: 0.56rem;
                line-height: 0.56rem;
                border-bottom: 0.01rem solid #D4EEBF;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: #297C80;
                font-size: 0.32rem;
                background: #D4EEBF;
                padding-left: 0.2rem;
                box-sizing: border-box;
                position: relative;
                top: 0;
                left: 0;
                div {
                  width: 0.04rem;
                  height: 0.29rem;
                  background: rgba(252, 73, 180, 1);
                  border-radius: 0.02rem;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0.05rem;
                }
              }
              .list:last-child {
                border-bottom: 0;
              }
            }
            .letter_box {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .letter_tag {
                width: 1.32rem;
                height: 100%;
                font-size: 0.36rem;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: rgba(41, 124, 128, 1);
              }
              img {
                width: 0.56rem;
                height: 0.56rem;
                display: block;
                background: aquamarine;
              }
            }
          }
          input {
            width: 2.46rem;
            height: 0.56rem;
            border: 0.01rem solid #d4eebf;
            border-radius: 0.03rem;
            color: rgba(255, 255, 255, 1);
            font-size: 0.36rem;
            text-align: center;
            background: transparent;
          }
          input::placeholder {
            color: #d4eebf;
            font-size: 0.32rem;
          }
          .reduce {
            width: 0.46rem;
            height: 0.46rem;
            background: #9fbe88;
            border-radius: 50%;
            line-height: 0.4rem;
            text-align: center;
            color: #ffffff;
            font-size: 0.6rem;
          }
        }
        div:nth-last-child(2) {
          margin-bottom: 0rem !important;
        }
        .money {
          color: rgba(255, 255, 255, 1);
          font-family: Source Han Sans CN;
          font-weight: 300;
          width: 100%;
          text-align: center;
          margin: 0.5rem auto 0;
          font-size: 0.3rem;
        }
      }
      .play_text {
        width: fit-content;
        margin-left: 0.73rem;
        font-size: 0.3rem;
        margin-top: 0.34rem;
        color: rgba(255, 255, 255, 1);
      }
      .text_details {
        width: 100%;
        padding: 0 0.79rem 0 0.73rem;
        box-sizing: border-box;
        font-size: 0.3rem;
        margin-top: 0.2rem;
        color: rgba(255, 255, 255, 1);
      }
    }
    .play_sure {
      width: 2.78rem;
      height: 0.92rem;
      width: 3rem;
      height: 0.92rem;
      background: linear-gradient(
        0deg,
        rgba(55, 172, 178, 1),
        rgba(27, 131, 137, 1)
      );
      border-radius: 0.46rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.38rem;
      line-height: 0.92rem;
      text-align: center;
      margin: 0 auto;
      margin-top: 0.8rem;
    }
  }
  .dialog {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .dialog-item {
      width: 6.44rem;
      height: 6.74rem;
      .dialog_title {
        color: #5f0f9e;
        font-size: 0.6rem;
        text-align: center;
        padding-top: 1.1rem;
      }
      p {
        font-size: 0.32rem;
        height: 2.56rem;
        line-height: 0.5rem;
        text-align: center;
        padding-top: 0.2rem;
      }
      .caouzo {
        width: 100%;
        height: 0.88rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.48rem;
        box-sizing: border-box;
        margin-top: 0.7rem;
        div {
          width: 2.65rem;
          height: 100%;
          line-height: 0.88rem;
          text-align: center;
          font-size: 0.42rem;
          border-radius: 0.5rem;
          color: #ffffff;
        }
        .caouzo_left {
          background:rgba(93,201,207,1);
        }
        .caouzo_right {
          background:linear-gradient(0deg,rgba(55,172,178,1),rgba(27,131,137,1));
        }
      }
      .close {
        width: 0.7rem;
        height: 0.7rem;
        margin: 1.46rem auto 0;
      }
    }
  }
}
</style>