<!--
 * @Author: your name
 * @Date: 2019-11-20 11:40:10
 * @LastEditTime: 2019-11-21 14:21:43
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \hand-up-3.0\src\components\drag.vue
 -->
<template>
  <div
    id="moveDiv"
    @mousedown="down"
    @touchstart="down"
    @mousemove="move"
    @touchmove="move"
    @mouseup="end"
    @touchend="end"
  >
    <slot></slot>
  </div>
</template>
<script>
export default {
  name:'drag',
  data() {
    return {
      flags: false,
      position: { x: 0, y: 0 },
      nx: '', ny: '', dx: '', dy: '', xPum: '', yPum: '',
    }
  },
  methods: {
    // 实现移动端拖拽
    down(){
      this.flags = true;
      var touch;
      if(event.touches){
          touch = event.touches[0];
      }else {
          touch = event;
      }
      this.position.x = touch.clientX;
      this.position.y = touch.clientY;
      this.dx = moveDiv.offsetLeft;
      this.dy = moveDiv.offsetTop;
    },
    move(){
      if(this.flags){
        var touch ;
        if(event.touches){
            touch = event.touches[0];
        }else {
            touch = event;
        }
        this.nx = touch.clientX - this.position.x;
        this.ny = touch.clientY - this.position.y;
        this.xPum = this.dx+this.nx;
        this.yPum = this.dy+this.ny;
        if(this.xPum<=-30){
          this.xPum = -30;
        }
        if(this.xPum>=window.innerWidth - 30){
          this.xPum = window.innerWidth - 30;
        }
        if(this.yPum<=-30){
          this.yPum = -30;
        }
        if(this.yPum>=window.innerHeight - 30){
          this.yPum = window.innerHeight - 30;
        }
        moveDiv.style.left = this.xPum+"px";
        moveDiv.style.top = this.yPum +"px";
        //阻止页面的滑动默认事件
        document.addEventListener("touchmove",function(){ // 1.2 如果碰到滑动问题，请注意是否获取到 touchmove
            event.preventDefault();//jq 阻止冒泡事件
            // event.stopPropagation(); // 如果没有引入jq 就用 stopPropagation()
        },false);
      }
    },
  //鼠标释放时候的函数
    end(){
      this.flags = false;
    },
  }
}
</script>
<style lang="scss" scope>
  #moveDiv{
    width:1.07rem;
    height:1.11rem;
    position:fixed;
    top:3.95rem;
    right:.1rem;
    z-index:999;
    *{
      width: 100%;
    }
  }
</style>