<template>
  <div id="wrap" v-if="is_bind">
    <h1 class="title">{{ title }}</h1>
    <van-form>
      <div class="form-item">
        <van-field
          v-model="phone"
          maxlength="11"
          type="number"
          left-icon="contact"
          placeholder="phone / 手机号"
          :rules="[{ pattern: pattern, message: '手机号格式错误' }]"
        />
      </div>
      <div class="form-item">
        <van-field
          v-model="password"
          type="password"
          left-icon="closed-eye"
          placeholder="password / 绑定密码"
        />
      </div>
    </van-form>
    <div class="btn">
      <div class="login-button" @click="bindUser">绑定</div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Field } from "vant";
import { Button } from "vant";
import { Form } from "vant";
import { Toast } from "vant";
Vue.use(Field)
  .use(Toast)
  .use(Button)
  .use(Form);
export default {
  name: "Bind",
  data() {
    return {
      title: "绑定",
      is_bind: false,
      pattern: /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-7|9])|(?:5[0-3|5-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1|8|9]))\d{8}$/,
      phone: "18144444444",
      password: "123456"
    };
  },
  created() {
    if (localStorage.getItem("open_id")) {
      this.checkUser();
    } else {
      // this.$router.push({ path: "/redirect", query: { state: "bind" } });
    }
  },
  methods: {
    bindUser() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(
        localStorage.getItem("open_id") + STAMP + localStorage.getItem("oKey")
      );
      FormDate.append("stamp", STAMP);
      FormDate.append("open_id", localStorage.getItem("open_id"));
      FormDate.append("mobile", this.phone);
      FormDate.append("password", this.password);
      FormDate.append("sign", sign);
      this.axios
        .post("/api/merchant/mng/checkerRegister", FormDate)
        .then(res => {
          if (res.result === 1) {
            this.$store.commit("changStoreUserInfo", {
              merchant_id: res.merchant_id
            });
            this.$router.push({ path: "/index/goodsClass" });
          } else {
            Toast(res.msg);
          }
        });
    },
    checkUser() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(
        localStorage.getItem("open_id") + STAMP + localStorage.getItem("oKey")
      );
      FormDate.append("stamp", STAMP);
      FormDate.append("open_id", localStorage.getItem("open_id"));
      FormDate.append("sign", sign);
      this.axios.post("/api/merchant/mng/findRegister", FormDate).then(res => {
        if (res.result === 1004) {
          this.$store.commit("changStoreUserInfo", {
            merchant_id: res.merchant_id
          });
          console.log("checkUser -> this.$store", this.$store);
          this.$router.push({ path: "/index/goodsClass" });
        } else if (res.result === 1005) {
          this.is_bind = true;
        } else {
          Toast(res.msg);
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
#wrap {
  width: 100%;
  font-size: 0.3rem;
  background-image: url("../../assets/image/login_bg.png");
  background-size: 7.5rem 16rem;
  background-repeat: no-repeat;
  background-color: #442794;
  .title {
    color: #442794;
    text-align: left;
    padding-left: 0.8rem;
    padding-top: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
  }
  .form-item {
    margin-top: 0.5rem;
    width: 60%;
    border-bottom: 0.02rem solid #eeeeee;
    margin-left: 0.5rem;
    /deep/ .van-field__control {
      font-size: 0.3rem;
    }
    /deep/ .van-cell {
      padding-left: 0.2rem;
    }
    /deep/ .van-field__left-icon .van-icon,
    .van-field__right-icon .van-icon {
      font-size: 0.46rem;
      font-weight: 400;
      color: #442794;
    }
  }
  .btn {
    width: 5.8rem;
    height: 0.98rem;
    display: flex;
    place-items: center;
    border-radius: 0.98rem;
    margin: 0.8rem auto 0;
    overflow: hidden;
    background: #eef7ff;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  }
  .login-button {
    border-bottom-right-radius: 4rem;
    display: flex;
    place-content: center;
    place-items: center;
    width: 4.6rem;
    height: 2rem;
    background-color: #6a41da;
    color: #ffffff;
    font-family: Source Han Sans CN;
    font-size: 0.34rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
  }
  .desc {
    font-size: 0.26rem;
    width: 100%;
    margin-top: 0.3rem;
    text-align: left;
    padding-left: 1rem;
  }
}
</style>
