<template>
  <div id="wrap">
    <h1 class="title">{{ title }}</h1>
    <van-form>
      <div class="form-item">
        <van-field
          v-model="phone"
          maxlength="11"
          type="number"
          left-icon="contact"
          placeholder="phone / 手机号"
          :rules="[{ pattern: pattern, message: '手机号格式错误' }]"
        />
      </div>
      <div class="form-item">
        <van-field
          v-model="password"
          type="password"
          left-icon="closed-eye"
          placeholder="password / 登录密码"
        />
      </div>
    </van-form>

    <div class="btn">
      <div class="login-button" @click="login">登陆</div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Field } from "vant";
import { Button } from "vant";
import { Form } from "vant";
import { Toast } from "vant";
import { Base64 } from "js-base64";
Vue.use(Field)
  .use(Button)
  .use(Toast)
  .use(Form);
// 装饰器
import { loading } from "@/decorator/loding.js";
/**
 * loading 装饰器
 * @param {*} message 提示信息
 * @param {function} errorFn 异常处理逻辑
 */

export default {
  name: "login",
  data() {
    return {
      title: "登录",
      pattern: /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-7|9])|(?:5[0-3|5-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1|8|9]))\d{8}$/,
      phone: 18144444444,
      password: "123456"
    };
  },
  created() {
    if (this.Util.isWxJSBridge()) {
      this.$router.push({ path: "/redirect?state=bind" });
    }
    if (!localStorage.getItem("oKey")) {
      this.getUserIDKey();
    }
  },
  methods: {
    @loading()
    async login() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("mobile", this.phone);
      FormDate.append("password", this.password);
      FormDate.append("sign", sign);
      const res = await this.axios.post(
        "/api/merchant/mng/loginMerchantStaff",
        FormDate
      );
      // response.then(res => {
      if (res.result === 1) {
        this.$store.commit("changStoreUserInfo", {
          merchant_id: res.merchant_id
        });
        this.$router.push({ path: "/index/goods" });
      } else {
        Toast(res.result + res.msg);
      }
      // });
    },
    check() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("open_id", localStorage.getItem("open_id"));
      FormDate.append("sign", sign);
      this.axios.post("/api/merchant/mng/findRegister", FormDate).then(res => {
        if (res.result === 1) {
          this.$store.commit("changStoreUserInfo", {
            merchant_id: res.merchant_id
          });
          this.$router.push({ path: "/index/goodsClass" });
        } else {
          Toast(res.result + res.msg);
        }
      });
    },
    getUserIDKey() {
      let time = new Date().getTime();
      let FormDate = new FormData();
      FormDate.append("stamp", time);
      FormDate.append("src", "jushou");
      this.axios
        .post("/api/getOpenIDKey", FormDate)
        .then(res => {
          let okey_length = res.okey_length;
          let okey = Base64.decode(res.okey)
            .trim()
            .substr(0, okey_length);
          let appid = res.appid;

          //okey 解码后多一个空格
          localStorage.setItem("appid", appid);
          localStorage.setItem("oKey", okey);
          localStorage.setItem("wx", res.wx);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
#wrap {
  width: 100%;
  font-size: 0.3rem;
  background-image: url("../../assets/image/login_bg.png");
  background-size: 7.5rem 16rem;
  background-repeat: no-repeat;
  background-color: #442794;
  .title {
    color: #442794;
    text-align: left;
    padding-left: 0.8rem;
    padding-top: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
  }
  .form-item {
    margin-top: 0.5rem;
    width: 60%;
    overflow: hidden;
    border-bottom: 0.02rem solid #eeeeee;
    margin-left: 0.5rem;
    /deep/ .van-field__control {
      font-size: 0.3rem;
    }
    /deep/ .van-cell {
      padding-left: 0.2rem;
    }
    /deep/ .van-field__left-icon .van-icon,
    .van-field__right-icon .van-icon {
      font-size: 0.46rem;
      font-weight: 400;
      color: #442794;
    }
  }
  .btn {
    width: 5.8rem;
    height: 0.98rem;
    display: flex;
    place-items: center;
    border-radius: 0.98rem;
    margin: 0.8rem auto 0;
    overflow: hidden;
    background: #eef7ff;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  }
  .login-button {
    border-bottom-right-radius: 4rem;
    display: flex;
    place-content: center;
    place-items: center;
    width: 4.6rem;
    height: 2rem;
    background-color: #6a41da;
    color: #ffffff;
    font-family: Source Han Sans CN;
    font-size: 0.34rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
  }
  .desc {
    font-size: 0.26rem;
    width: 100%;
    margin-top: 0.3rem;
    text-align: left;
    padding-left: 1rem;
  }
}
</style>
