<template>
  <div class="wrap">
    <van-form :scroll-to-error="true" :colon="true" id="form">
      <van-field
        :is-link="true"
        required
        readonly
        clickable
        label="分类"
        :value="formData.classname"
        placeholder="选择分类"
        @click="showPicker = true"
      />
      <!-- 商品名称 -->
      <van-field
        required
        clearable
        label="商品名称"
        name="act_name"
        v-model="formData.act_name"
        placeholder="商品名称"
      />
      <!-- 商品价格 -->
      <van-field
        required
        label="商品价格(分)"
        name="prize"
        type="number"
        placeholder="商品价格"
        v-model="formData.prize"
      />
      <!-- 商品库存 -->
      <van-field
        required
        label="商品库存"
        name="stock"
        v-model="formData.stock"
        placeholder="商品库存"
      />
      <!-- 聚合标签分组 -->
      <van-field name="is_hidden" label="标签分组" input-align="right">
        <template #input>
          <van-dropdown-menu v-if="TagList.length">
            <van-dropdown-item v-model="formData.tag_id" :options="TagList" />
          </van-dropdown-menu>
          <div style="margin-right:20px" v-else>暂无分组标签</div>
          <van-icon name="add-o" size="26" @click="tagAdd = true" />
        </template>
      </van-field>
      <!--商品规格 标签名称 -->
      <van-field
        v-if="formData.tag_id"
        clearable
        label="标签名称"
        name="tag_name"
        v-model="formData.tag_name"
        placeholder="标签名称"
      />
      <!--商品规格 标签名称 -->
      <van-field
        v-if="formData.tag_id"
        clearable
        label="标签排序"
        name="tag_sort"
        v-model="formData.tag_sort"
        placeholder="标签排序"
      />
      <!-- 商品小图 -->
      <van-field name="title_url" label="商品小图" :is-link="true" required>
        <template #input>
          <van-uploader
            v-model="fileList"
            multiple
            :max-count="1"
            accept="image/*"
            :before-read="beforeRead"
            :after-read="afterRead"
          />
        </template>
      </van-field>
      <!-- 商品大图 -->
      <van-field name="back_pic_url" label="商品大图" :is-link="true" required>
        <template #input>
          <van-uploader
            class="large"
            v-model="fileList1"
            multiple
            :max-count="1"
            accept="image/*"
            :before-read="beforeRead1"
            :after-read="afterRead1"
          />
        </template>
      </van-field>
      <!-- 上架时间 -->
      <van-field
        required
        clickable
        name="begin_time"
        :value="formData.begin_time"
        label="上架时间"
        placeholder="点击选择时间"
        @click="showPickerStartTime = true"
      />
      <van-popup v-model="showPickerStartTime" position="bottom">
        <van-datetime-picker
          type="datetime"
          @confirm="onConfirmStartTime"
          @cancel="showPickerStartTime = false"
        />
      </van-popup>
      <!-- 下架时间 -->
      <van-field
        clickable
        required
        name="end_time"
        :value="formData.end_time"
        label="下架时间"
        placeholder="点击选择时间"
        @click="showPickerEndTime = true"
      />
      <van-popup v-model="showPickerEndTime" position="bottom">
        <van-datetime-picker
          type="datetime"
          @confirm="onConfirmEndTime"
          @cancel="showPickerEndTime = false"
        />
      </van-popup>
      <!-- 是否隐藏 -->
      <van-field name="is_hidden" label="是否隐藏" input-align="right" required>
        <template #input>
          {{ formData.is_hidden == "1" ? "是 " : "否 " }}
          <van-switch
            v-model="formData.is_hidden"
            active-value="1"
            inactive-value="0"
            size="24px"
            style="margin-left: 20px;"
            active-color="#442794"
          />
        </template>
      </van-field>
      <!-- 商品描述 -->
      <van-field
        autosize
        clearable
        type="textarea"
        rows="1"
        name="descr"
        label="描述"
        v-model="formData.descr"
        placeholder="描述"
      />
      <div
        style="margin: 50px;box-shadow:0 0 0.2rem rgba(68,39,148,0.98);border-radius:100%;"
      >
        <van-button
          @click="submitHandle"
          round
          block
          type="info"
          native-type="submit"
          color="#442794"
          loading-text="提交中..."
          :loading="submitComplete"
          :disabled="submitComplete"
          >提交</van-button
        >
      </div>
    </van-form>
    <!-- 分类 popup -->
    <van-popup v-model="showPicker" round position="bottom">
      <van-picker
        show-toolbar
        :columns="columns"
        @cancel="showPicker = false"
        @confirm="onConfirm"
      />
    </van-popup>
    <!-- 小图裁剪 -->
    <div class="mask" v-if="cropperImg">
      <vueCropper
        style="width:100%;"
        ref="cropper2"
        :img="cropperImg"
        :infoTrue="true"
        :canScale="true"
        :autoCrop="true"
        :fixed="true"
        :fixedNumber="[1, 1]"
        :enlarge="10"
        :centerBox="true"
        name="sss"
      />
      <div class="crop" @click="crop(1)">裁剪</div>
      <div class="crop-close" @click="CropClose(1)">取消裁剪</div>
    </div>
    <!-- 大图裁剪 -->
    <div class="mask" v-if="cropperImglage">
      <vueCropper
        style="width:100%;"
        ref="cropper2"
        :img="cropperImglage"
        :infoTrue="true"
        :canScale="true"
        :autoCrop="true"
        :fixed="true"
        :fixedNumber="[4, 3]"
        :enlarge="10"
        :centerBox="true"
        name="sss"
      />
      <div class="crop" @click="crop(2)">裁剪</div>
      <div class="crop-close" @click="CropClose(2)">取消裁剪</div>
    </div>
    <!-- 新增标签 -->
    <van-popup
      closeable
      close-icon="arrow"
      close-icon-position="top-left"
      v-model="tagAdd"
      round
      position="right"
      :style="{
        width: '90%',
        height: '3rem',
        padding: '40px 20px',
        boxSizing: 'border-box'
      }"
      @closed="onClose"
    >
      <van-field
        v-model="tagname"
        label="标签名称"
        placeholder="请在此处输入标签名称"
      />
      <van-button
        color="linear-gradient(to right, #7232dd, #5656d2)"
        block
        @click="AddTag"
        >添加标签</van-button
      >
    </van-popup>
  </div>
</template>

<script>
import { VueCropper } from "vue-cropper";
import Vue from "vue";
import { Form } from "vant";
import { Field } from "vant";
import { Uploader } from "vant";
import { Switch } from "vant";
import { Picker } from "vant";
import { Popup } from "vant";
import { DatetimePicker } from "vant";
import { Stepper } from "vant";
import { NumberKeyboard } from "vant";
import { DropdownMenu, DropdownItem } from "vant";
import { Icon } from "vant";
import { Toast } from "vant";

Vue.use(Toast);
Vue.use(Icon);
Vue.use(DropdownMenu);
Vue.use(DropdownItem);
Vue.use(NumberKeyboard);
Vue.use(Stepper);
Vue.use(DatetimePicker);
Vue.use(Popup);
Vue.use(Picker);
Vue.use(Switch);
Vue.use(Uploader);
Vue.use(Form).use(Field);
export default {
  name: "goodsClassAdd",
  components: {
    VueCropper
  },
  data() {
    return {
      show: false,
      showStock: false,
      tagAdd: false,
      tagname: "",
      formData: {
        act_name: "1111",
        prize: "11111",
        descr: "1111",
        is_hidden: "0",
        stock: 100,
        classname: "",
        back_pic_url: "",
        title_url: "",
        tag_id: "",
        class_id: this.$route.query.cid,
        begin_time: this.Util.dateFormat(new Date(), "yyyy/MM/dd hh:mm:ss"),
        end_time: this.Util.dateFormat(new Date(), "yyyy/MM/dd hh:mm:ss")
      },
      TagList: [{text: "下拉选择", value: "0"}],
      fileList: [],
      fileList1: [],
      columns: [],
      showPicker: false, // 展示分类选项框
      showPickerStartTime: false, // 展示时间选择框
      showPickerEndTime: false, // 展示时间选择框
      submitComplete: false, // 提交是否完成
      cropperImgFile: "", // 小图文件
      cropperImgFile1: "", // 大图文件
      cropperImg: "", // 小图预览路径 base64
      cropperImglage: "", // 大图预览路径 base64
      formDate: new FormData()
    };
  },
  created() {
    this.GetClassList();
    this.getTagList();
  },
  methods: {
    /* 格式化价格 */
    formatter(value) {
      return (value / 100).toFixed(2);
    },
    /* 新增标签 */
    AddTag() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("sign", sign);
      FormDate.append("tag_name", this.tagname);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      this.axios
        .post("/api/merchant/mng/merchantGoodsTagAdd", FormDate)
        .then(res => {
          if (res.result === 1) {
            this.tagAdd = false;
            this.tagname = "";
            this.getTagList();
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    /* 查询标签 */
    getTagList() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("sign", sign);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      this.axios
        .post("/api/merchant/mng/merchantGoodsTagLook", FormDate)
        .then(res => {
          if (res.result === 1) {
            this.TagList = [
              { text: "下拉选择", value: "" },
              ...res.datalist.map(ele => {
                return { text: ele.tag_name, value: ele.id };
              })
            ];
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    /* 获取商品分类列表 */
    GetClassList() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("sign", sign);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      this.axios
        .post("/api/merchant/mng/merchantGoodsClassLook", FormDate)
        .then(res => {
          if (res.result === 1) {
            res.datalist.forEach(ele => {
              this.columns.push({ text: ele.classname, className: ele.id });
            });
            if (this.$route.query.cid) {
              this.$set(
                this.formData,
                "classname",
                this.columns.filter(ele => {
                  return ele.className === this.$route.query.cid;
                })[0].text
              );
            }
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    // 校验函数返回 true 表示校验通过，false 表示不通过
    validator(val) {
      return /1\d{10}/.test(val);
    },
    /* 小图处理函数 */
    // 上传文件处理前置函数
    beforeRead(file) {
      if (file.type !== "image/jpeg") {
        return false;
      } else {
        this.cropperImg = this.getObjectURL(file);
        return true;
      }
    },
    // 上传文件处理结束函数
    afterRead(file) {
      console.log(file);
    },
    /* 大图处理函数 */
    // 上传文件处理前置函数  大图
    beforeRead1(file) {
      if (file.type !== "image/jpeg") {
        return false;
      } else {
        this.cropperImglage = this.getObjectURL(file);
        return true;
      }
    },
    // 上传文件处理结束函数
    afterRead1(file) {
      console.log(file);
    },
    // 文件转路径
    getObjectURL(file) {
      var url = null;
      if (window.createObjectURL != undefined) {
        url = window.createObjectURL(file);
      } else if (window.URL != undefined) {
        url = window.URL.createObjectURL(file);
      } else if (window.webkitURL != undefined) {
        url = window.webkitURL.createObjectURL(file);
      }
      return url;
    },
    // 裁剪
    crop(type) {
      this.$refs.cropper2.startCrop();
      this.$refs.cropper2.getCropBlob(data => {
        // do something
        console.log(this.formDate.values().next());
        if (type === 1) {
          this.cropperImgFile = data;
          this.formDate.append("title_url", data);
          this.cropperImg = "";
        } else if (type === 2) {
          this.cropperImgFile1 = data;
          this.formDate.append("back_pic_url", data);
          this.cropperImglage = "";
        }
      });
      this.$refs.cropper2.getCropData(data => {
        if (type === 1) {
          this.fileList = [{ content: data }];
        } else if (type === 2) {
          this.fileList1 = [{ content: data }];
        }
      });
    },
    CropClose(type) {
      if (type === 1) {
        this.cropperImg = "";
        this.fileList = [];
      } else if (type === 2) {
        this.cropperImglage = "";
        this.fileList1 = [];
      }
    },
    // 提交
    submitHandle() {
      this.submitComplete = true;
      let FormDate = this.formDate;
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("sign", sign);
      FormDate.append("act_name", this.formData.act_name);
      FormDate.append("class_id", this.formData.class_id);
      FormDate.append("classname", this.formData.classname);
      FormDate.append("descr", this.formData.descr);
      FormDate.append("begin_time", this.formData.begin_time);
      FormDate.append("end_time", this.formData.end_time);
      FormDate.append("is_hidden", this.formData.is_hidden);
      FormDate.append("prize", this.formData.prize);
      FormDate.append("tag_id", this.formData.tag_id);
      FormDate.append("tag_name", this.formData.tag_name);
      FormDate.append("tag_sort", this.formData.tag_sort);
      FormDate.append("stock", this.formData.stock);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      this.axios
        .post("/api/merchant/mng/merchantGoodsAdd", FormDate)
        .then(res => {
          console.log(res);
          console.log(res.result === 1);
          if (res.result === 1) {
            this.$router.push({
              path: "/index/goods",
              query: this.$route.query
            });
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    // 新增标签窗口 关闭回调函数
    onClose(value) {
      console.log("onConfirm -> value", value);
      this.tagname = "";
    },
    // 弹出框确认回调函数 商品分类
    onConfirm(value) {
      console.log("onConfirm -> value", value);
      this.formData.classname = value.text;
      this.formData.class_id = value.className;
      this.showPicker = false;
    },
    // 弹出框确认回调函数 上架时间
    onConfirmStartTime(value) {
      console.log("onConfirmStartTime -> value", value);
      const time = this.Util.dateFormat(value, "yyyy/MM/dd hh:mm:ss");
      console.log("onConfirmStartTime -> time", time);
      this.$set(this.formData, "begin_time", time);
      this.showPickerStartTime = false;
    },
    // 弹出框确认回调函数 下架时间
    onConfirmEndTime(value) {
      console.log("onConfirmStartTime -> value", value);
      const time = this.Util.dateFormat(value, "yyyy/MM/dd hh:mm:ss");
      console.log("onConfirmEndTime -> time", time);
      this.$set(this.formData, "end_time", time);
      this.showPickerEndTime = false;
    }
  }
};
</script>

<style scoped lang="scss">
.wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  touch-action: pan-y;
  padding: 0.56rem 0.2rem 0.2rem;
  box-sizing: border-box;
  background-image: url("../../assets/image/login_bg.png");
  background-size: 7.5rem 16rem;
  background-repeat: no-repeat;
  background-color: #442794;
  #form {
    padding: 0.2rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 0 0.26rem rgba(181, 161, 235, 0.3);
    background: #fff;
  }
  /deep/.van-dropdown-menu {
    width: 80%;
    .van-dropdown-menu__bar {
      height: 0.7rem;
      // box-shadow: none;
      .van-dropdown-menu__item {
        justify-content: flex-start;
      }
    }
  }
  /deep/ .van-field__label {
    color: #4d37cc;
    font-size: 0.3rem;
    font-weight: bold;
  }
  /deep/ .van-field {
    .van-field__control--custom {
      justify-content: space-between;
    }
    .van-stepper--round .van-stepper__minus {
      color: #4d37cc;
      border: 1px solid #4d37cc;
    }
    .van-stepper--round .van-stepper__plus {
      color: #fff;
      background-color: #4d37cc;
    }
  }
  /deep/ .van-dropdown-item__content {
    width: 7.1rem;
    right: 0;
    margin: auto;
  }
  .large {
    width: 3.2rem;
    height: 2.4rem;
    /deep/ .van-uploader__wrapper {
      width: 100%;
      height: 100%;
      .van-uploader__upload,
      .van-uploader__preview {
        width: 100%;
        height: 100%;
        .van-uploader__preview-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 999;
    .crop {
      width: 2rem;
      height: 0.78rem;
      background: #b6a9ff;
      border-radius: 10%;
      border: 2px solid #ffffff;
      color: rgb(80, 4, 4);
      position: absolute;
      bottom: 0.8rem;
      left: 1rem;
      margin: auto;
      display: flex;
      place-content: center;
      place-items: center;
      font-size: 0.32rem;
    }
    .crop-close {
      width: 2rem;
      height: 0.78rem;
      background: #ff7676;
      border-radius: 10%;
      border: 2px solid #ffffff;
      color: rgb(255, 255, 255);
      position: absolute;
      bottom: 0.8rem;
      right: 1rem;
      margin: auto;
      display: flex;
      place-content: center;
      place-items: center;
      font-size: 0.32rem;
    }
  }
}
</style>
