<template>
  <div class="wrap">
    <van-sticky
      style="padding: 10px 16px;box-shadow:0 2px 12px rgba(100,101,102,.08);"
    >
      <van-dropdown-menu>
        <van-dropdown-item
          v-model="cid"
          :options="option1"
          @change="OnChange"
        />
      </van-dropdown-menu>
      <van-icon name="add-o" size="26" @click="AddProduct" color="#fff" />
    </van-sticky>
    <div class="content">
      <van-list
        v-model="loading"
        :finished="finished"
        finished-text="没有更多了"
        @load="onLoad"
      >
        <van-collapse v-model="activeNames" :accordion="true">
          <van-collapse-item
            :name="item.id"
            v-for="(item, index) in list"
            :key="index"
          >
            <template #title>
              <img
                :src="item.back_pic_url"
                alt
                style="width:1rem;height:1rem;display:block;"
              />
            </template>
            <template #value>
              <p>{{ item.act_name }}</p>
              <!-- <van-icon name="setting-o" size="20" @click.stop="OperaHandle(item)" /> -->
            </template>
            <!-- 内容 -->
            <van-grid :column-num="3">
              <van-grid-item>
                价格
                <van-field
                  v-if="item.readonlyPrize"
                  type="number"
                  :autofocus="!item.readonlyPrize"
                  v-model="item.prizeToFixed"
                  :readonly="item.readonlyPrize"
                  label-width="20px"
                >
                  <template #right-icon>
                    <van-icon
                      name="edit"
                      size="22"
                      @click="EditHandle(1, item)"
                      color="#442794"
                    />
                  </template>
                </van-field>
                <van-field
                  v-else
                  type="number"
                  :autofocus="!item.readonlyPrize"
                  v-model="item.prize"
                  @change="PrizeOnChange($event, item)"
                  style="border:1px solid #07c160"
                  label-width="20px"
                >
                  <template #right-icon>
                    <van-icon
                      name="success"
                      @click="SaveHandle(1, item)"
                      size="22"
                      color="#07c160"
                    />
                  </template>
                </van-field>
              </van-grid-item>
              <van-grid-item>
                库存
                <van-field
                  v-if="item.readonly"
                  type="number"
                  :autofocus="!item.readonly"
                  format-trigger="onBlur"
                  v-model="item.stock"
                  :readonly="item.readonly"
                  label-width="20px"
                >
                  <template #right-icon>
                    <van-icon
                      name="edit"
                      size="22"
                      @click="EditHandle(2, item)"
                      color="#442794"
                    />
                  </template>
                </van-field>
                <van-field
                  v-else
                  type="number"
                  :autofocus="!item.readonly"
                  format-trigger="onBlur"
                  v-model="item.stock"
                  style="border:1px solid #07c160"
                  label-width="20px"
                >
                  <template #right-icon>
                    <van-icon
                      name="success"
                      @click="SaveHandle(2, item)"
                      size="22"
                      color="#07c160"
                    />
                  </template>
                </van-field>
              </van-grid-item>
              <van-grid-item>
                销量
                <p
                  style="padding:10px;line-height:24px;color:#333;font-size: 14px;"
                >
                  {{ item.sell_num }}
                </p>
              </van-grid-item>
              <van-grid-item>
                是否隐藏
                <van-switch
                  v-model="item.is_hidden"
                  size="20"
                  style="margin:10px"
                  active-value="1"
                  inactive-value="0"
                  @change="SaveHandle(3, item)"
                />
              </van-grid-item>
              <van-grid-item>
                是否下架
                <p
                  style="padding:10px;line-height:24px;color:#333;font-size: 14px;"
                >
                  {{ item.offTime == 1 ? "已下架" : "未下架" }}
                </p>
              </van-grid-item>
              <van-grid-item>
                操作
                <van-icon
                  style="margin: 8px"
                  name="setting-o"
                  size="30"
                  @click.stop="OperaHandle(item)"
                />
              </van-grid-item>
            </van-grid>
          </van-collapse-item>
        </van-collapse>
      </van-list>
    </div>
    <van-popup
      :safe-area-inset-bottom="true"
      v-model="show"
      round
      closeable
      close-icon="close"
      position="bottom"
    >
      <div style="height:0.8rem;"></div>
      <van-button
        plain
        hairline
        type="default"
        size="large"
        style="margin-top:0.1rem"
        @click="UpateGoods()"
        >修改</van-button
      >
      <van-button
        plain
        hairline
        type="default"
        size="large"
        style="margin-top:0.1rem;color:red"
        @click="deleteGoods()"
        >删除</van-button
      >
      <van-button
        plain
        hairline
        type="default"
        size="large"
        style="margin-top:0.1rem"
        @click="LookGoods()"
        >查看商品详细信息</van-button
      >
    </van-popup>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Vue from "vue";
import { List } from "vant";
import { Cell } from "vant";
import { Grid, GridItem } from "vant";
import { Popup } from "vant";
import { Divider } from "vant";
import { Sticky } from "vant";
import { Collapse, CollapseItem } from "vant";
import { Icon } from "vant";
import { DropdownMenu, DropdownItem } from "vant";
import { Switch } from "vant";
import { Toast } from "vant";

Vue.use(Toast);
Vue.use(Switch);
Vue.use(DropdownMenu);
Vue.use(DropdownItem);
Vue.use(Icon);
Vue.use(Collapse);
Vue.use(CollapseItem);
Vue.use(Sticky);
Vue.use(Divider);
Vue.use(Grid);
Vue.use(GridItem);
Vue.use(List).use(Cell);
Vue.use(Popup);
export default {
  name: "Goods",
  components: {
    // HelloWorld
  },
  data() {
    return {
      readonly: true,
      SelectGoodData: null,
      list: [],
      cid: "0",
      pageNum: 1,
      pageSize: 20,
      option1: [{ text: "全部商品", value: "0" }],
      activeNames: ["1"],
      loading: false,
      finished: false,
      show: false
    };
  },
  created() {
    this.cid = this.$route.query.cid ? this.$route.query.cid : "0";
    this.GetClassList();
  },
  methods: {
    /* 获取分类列表 */
    GetClassList() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("sign", sign);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      this.axios
        .post("/api/merchant/mng/merchantGoodsClassLook", FormDate)
        .then(res => {
          if (res.result === 1) {
            res.datalist.forEach(ele => {
              this.option1.push({ text: ele.classname, value: ele.id });
            });
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    /* 获取商品列表 */
    GetGoodsList() {
      this.finished = true;
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("pageNum", this.pageNum);
      FormDate.append("pageSize", this.pageSize);
      FormDate.append("class_id", this.cid !== "0" ? this.cid : "");
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      FormDate.append("sign", sign);
      this.axios
        .post("/api/merchant/mng/merchantGoodsLook", FormDate)
        .then(res => {
          if (res.result === 1) {
            this.pageNum++;
            res.dataList.forEach(ele => {
              this.list.push({
                ...ele,
                is_hidden: ele.is_hidden + "",
                readonlyPrize: true,
                readonly: true,
                prizeToFixed: (ele.prize / 100).toFixed(2)
              });
            });
            this.finished = false;
          } else if (res.result === 1005) {
            this.finished = true;
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    PrizeOnChange(e, value) {
      this.$set(value, "prizeToFixed", (e.target.value / 100).toFixed(2));
    },
    onLoad() {
      // 异步更新数据
      this.GetGoodsList();
      this.loading = false;
    },
    OperaHandle(val) {
      this.SelectGoodData = { ...val };
      this.show = true;
    },
    AddProduct() {
      this.$router.push({ path: "/goodsAdd", query: { cid: this.cid } });
    },
    OnChange(value) {
      this.$router.push({ path: "/index/goods", query: { cid: value } });
    },
    EditHandle(type, value) {
      if (type === 1) {
        this.$set(value, "readonlyPrize", false);
      } else if (type === 2) {
        this.$set(value, "readonly", false);
      }
    },
    SaveHandle(type, value) {
      let formdata = new FormData();
      let stamp = Date.now();
      formdata.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      formdata.append("sign", this.MD5(stamp + localStorage.getItem("oKey")));
      formdata.append("stamp", stamp);
      formdata.append("id", value.id);
      if (type === 1) {
        formdata.append("prize", value.prize);
        formdata.append("changeType", 3);
        this.UpdteGoods(3, formdata);
        this.$set(value, "readonlyPrize", true);
      } else if (type === 2) {
        formdata.append("stock", value.stock);
        formdata.append("changeType", 1);
        this.UpdteGoods(1, formdata);
        this.$set(value, "readonly", true);
      } else {
        formdata.append("is_hidden", value.is_hidden);
        formdata.append("changeType", 2);
        this.UpdteGoods(2, formdata);
      }
    },
    UpdteGoods(type, data) {
      this.axios
        .post("/api/merchant/mng/merchantGoodsChange", data)
        .then(res => {
          if (res.result === 1) {
            if (type === 1) {
              // 库存
            } else if (type === 2) {
              // 隐藏状态
            } else if (type === 3) {
              // 价格
            }
          } else {
            this.$router.reload();
            Toast(res.result + res.msg);
          }
        });
    },
    deleteGoods() {
      let formdata = new FormData();
      let stamp = Date.now();
      formdata.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      formdata.append("sign", this.MD5(stamp + localStorage.getItem("oKey")));
      formdata.append("stamp", stamp);
      formdata.append("id", this.SelectGoodData.id);
      this.axios
        .post("/api/merchant/mng/merchantGoodsDel", formdata)
        .then(res => {
          if (res.result === 1) {
            Toast(res.msg);
            this.list = this.list.filter(ele => {
              return ele.id !== this.SelectGoodData.id;
            });
            this.SelectGoodData = null;
          } else {
            this.$router.reload();
            Toast(res.result + res.msg);
          }
        });
    },
    UpateGoods() {
      this.$store.commit("changStoreGoodsUpdateData", this.SelectGoodData);
      this.$router.push({ path: "/goodsUpdate" });
    },
    LookGoods() {
      this.$store.commit("changStoreGoodsUpdateData", this.SelectGoodData);
      this.$router.push({ path: "/goodsLook" });
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/image/login_bg.png");
  background-size: 7.5rem 16rem;
  background-repeat: no-repeat;
  background-color: #442794;
  font-family: "SYgoogle";
  /deep/ .van-skeleton__row,
  .van-skeleton__title {
    height: 26px;
  }
  .content {
    width: 100%;
    height: calc(100% - 2rem);
    background: #ffffff;
    overflow-y: scroll;
    text-align: left;
    /deep/ .van-cell {
      align-items: center;
      .van-cell__title {
        flex: 0.3;
        display: flex;
        place-content: center;
        place-items: center;
        flex-wrap: wrap;
      }
      .van-cell__value {
        line-height: 0.38rem;
        color: #666;
        text-align: left;
      }
    }
    /deep/ .van-field {
      align-items: center;
      padding: 10px;
      .van-field__right-icon {
        padding-right: 0;
      }
      .van-cell__value {
        flex: 1;
        display: flex;
        place-content: center;
        place-items: center;
        flex-wrap: wrap;
      }
    }
    /deep/ .van-collapse-item__content {
      background: #faf1fe;
    }
  }
  /deep/ .van-sticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .van-dropdown-menu {
      width: 80%;
    }
  }
}
</style>
