<template>
  <div class="wrap">
    <van-form :scroll-to-error="true" :colon="true" id="form">
      <van-field
        :is-link="true"
        required
        clearable
        label="分类名称"
        name="classname"
        v-model="formData.classname"
        placeholder="分类名称"
      />
      <van-field
        :is-link="true"
        autosize
        clearable
        type="textarea"
        rows="1"
        name="descr"
        label="分类描述"
        v-model="formData.descr"
        placeholder="分类描述"
      />
      <!-- <van-field name="uploader" label="文件上传" :is-link="true">
        <template #input>
          <van-uploader
            v-model="fileList"
            multiple
            :max-count="1"
            accept="image/*"
            :before-read="beforeRead"
            :after-read="afterRead"
          />
        </template>
      </van-field> -->
      <van-field name="is_hidden" label="是否隐藏" :is-link="true">
        <template #input>
          <van-switch
            v-model="formData.is_hidden"
            active-value="1"
            inactive-value="0"
            size="20px"
            style="margin-right: 20px;"
            active-color="#442794"
          />
          {{ formData.is_hidden == "1" ? "是" : "否" }}
        </template>
      </van-field>
      <div
        style="margin: 50px;box-shadow:0 0 0.2rem rgba(68,39,148,0.98);border-radius:100%;"
      >
        <van-button
          @click="submitHandle"
          round
          block
          type="info"
          native-type="submit"
          color="#442794"
          loading-text="提交中..."
          :loading="submitComplete"
          :disabled="submitComplete"
          >修改</van-button
        >
      </div>
    </van-form>
    <div class="mask" v-if="cropperImg">
      <vueCropper
        style="width:100%;"
        ref="cropper2"
        :img="cropperImg"
        :infoTrue="true"
        :canScale="true"
        :autoCrop="true"
        :fixed="true"
        :fixedNumber="[4, 3]"
        :enlarge="10"
        :centerBox="true"
        name="sss"
      />
      <div class="crop" @click="crop">裁剪</div>
    </div>
  </div>
</template>

<script>
import { VueCropper } from "vue-cropper";
import Vue from "vue";
import { Form } from "vant";
import { Field } from "vant";
import { Uploader } from "vant";
import { Switch } from "vant";
import { Toast } from "vant";

Vue.use(Switch);
Vue.use(Toast);
Vue.use(Uploader);
Vue.use(Form).use(Field);
export default {
  name: "goodsClassUpdate",
  components: {
    VueCropper
  },
  data() {
    return {
      formData: {
        classname: "测试分类1",
        descr: "测试分类1描述",
        is_hidden: "0"
      },
      fileList: [],
      submitComplete: false,
      cropperVisible: false,
      cropperImgSrc: "",
      cropperImg: "",
      cropperData: null,
      formDate: new FormData()
    };
  },
  created() {
    this.formData = this.$store.state.StoreClassUpdateData;
  },
  methods: {
    // 校验函数返回 true 表示校验通过，false 表示不通过
    validator(val) {
      return /1\d{10}/.test(val);
    },
    // 上传文件处理前置函数
    beforeRead(file) {
      if (file.type !== "image/jpeg") {
        return false;
      } else {
        this.cropperImg = this.getObjectURL(file);
        return true;
      }
    },
    // 上传文件处理结束函数
    afterRead(file) {
      console.log(file);
    },
    // 文件转路径
    getObjectURL(file) {
      var url = null;
      if (window.createObjectURL != undefined) {
        url = window.createObjectURL(file);
      } else if (window.URL != undefined) {
        url = window.URL.createObjectURL(file);
      } else if (window.webkitURL != undefined) {
        url = window.webkitURL.createObjectURL(file);
      }
      return url;
    },
    // 裁剪
    crop() {
      this.$refs.cropper2.startCrop();
      this.$refs.cropper2.getCropBlob(data => {
        // do something
        this.formDate.append("file", data);
        console.log(this.formDate.values().next());
        this.cropperImgSrc = data;
        this.cropperImg = "";
      });
      this.$refs.cropper2.getCropData(data => {
        this.fileList = [{ content: data }];
      });
    },
    // 提交
    submitHandle() {
      this.submitComplete = true;
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("id", this.formData.id);
      FormDate.append("is_hidden", this.formData.is_hidden);
      FormDate.append("classname", this.formData.classname);
      FormDate.append("descr", this.formData.descr);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      FormDate.append("sign", sign);
      this.axios
        .post("/api/merchant/mng/merchantGoodsClassUpdate", FormDate)
        .then(res => {
          this.submitComplete = false;
          if (res.result === 1) {
            Toast(res.msg);
            this.$store.commit("changStoreClassUpdateData", {});
            this.$router.push({ path: "/index/goodsClass" });
          } else {
            Toast(res.result + res.msg);
          }
        });
    }
  }
};
</script>

<style scoped lang="scss">
.wrap {
  width: 100%;
  height: 100%;
  padding: 0.56rem 0.2rem 0.2rem;
  box-sizing: border-box;
  // background: linear-gradient(#4d37cc, #361592c9);
  #form {
    padding: 0.2rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 0 0.26rem rgba(181, 161, 235, 0.3);
  }
  /deep/ .van-field__label {
    color: #4d37cc;
    font-size: 0.3rem;
    font-weight: bold;
  }
  .mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    .crop {
      width: 3rem;
      height: 1rem;
      background: #eeeeee;
      color: #333;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
</style>
