<template>
    <div class="test_box" :style="{background:styleData.exbackcolor}">
        <div class="test" v-bind:style="{backgroundImage:'url(' + subData[activeindex].back_url + ')'}">
            <div class="list" v-on:click="selectedOpt(item.opt_id,item.jump_subject_sort)"
                 v-for="(item,index) in subData[activeindex].subjectarray" :key="index">
                <div class="yuan">
                    <div class="small_yuan" v-bind:class="{yuan_click:is_click==item.opt_id}"></div>
                </div>
                <div class="res">{{item.opt_title}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import qs from 'qs'
    import MD5 from 'js-md5'

    export default {
        name: "SkipTempleteSub",
        data() {
            return {
                is_click: -1,
                activeindex: 0,
                next_index: 0,
                period:"",//期号,
                subData:[{subject_title:''}],//题目数据
                styleData:{
                    subject_back_url:'',
                    opt_back_url:'',
                },
            }
        },
        mounted() {
            if(sessionStorage.getItem('testTitle')){
                document.title = sessionStorage.getItem('testTitle');
            }else{
                document.title = '心理测试';
            }
            window.dataForWeixin={
                appId: "",
                imgUrl: this.styleData.back_url, // get_post_weixin_thumb 为微信机器人高级版中的函数
                link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl="+Base64.encode(window.location.href.split('index.html')[0]+'index.html#/redirect?state=SkipTemplete&shareId='+this.period),
                title: JSON.parse(sessionStorage.getItem('styleData')).act_name,
                desc: JSON.parse(sessionStorage.getItem('styleData')).act_desc,
                fakeid: ""
            };
            window.setShare();
        },
        methods: {
            getSubData() {
                let vm = this;
                let times = Date.now();
                console.log(times);
                let obj = {
                    period: vm.period,
                    stamp: times,
                    sign: MD5(vm.period + '' + times + '' + localStorage.getItem('Key'))
                };
                axios.post(api + '/wxmp/info/query/getSubjectAndOptInfo', qs.stringify(obj))
                    .then(res => {
                        if (res.data.result == 1) {
                            vm.subData=res.data.data;
                        }
                    }).catch(error => {
                    console.log(error);
                });
            },
            //选择选项
            selectedOpt(id, opt) {
                let vm = this;
                this.is_click = id;
                setTimeout(function () {
                    if (opt > 0) {
                        vm.activeindex = opt - 1;
                        vm.bg_img=vm.subject_data[opt-1].back_url;
                        // this.is_click = -1;
                    } else if (opt < 0) {
                        let times = Date.now();
                        let obj = {
                            user_id: localStorage.getItem("userId"),
                            opt_id: id,
                            period: vm.period,
                            stamp: times,
                            sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
                        };
                        axios.post(api + '/wxmp/info/query/dosaveAddTwo', qs.stringify(obj))
                            .then(res => {

                                if (res.data.result == 1) {
                                    vm.result_id = res.data.queryResultId;
                                    vm.$router.push({
                                        path: "/SkipTempleteRes",
                                        query: {result_id: res.data.queryResultId, period: vm.period}
                                    })
                                }

                            }).catch(error => {
                            console.log(error);
                        });
                    }
                }, 200)
            },
        },
        created() {
            this.styleData = JSON.parse(sessionStorage.getItem('styleData'));
            this.period = this.$route.query.period;/* 获取期号 */
            this.getSubData();
        }
    }
</script>

<style scoped lang='scss'>
    .test {
        width: 100%;
        height: 11.30rem;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        .list:first-child {
            margin-top: 6.11rem;
        }
        .list {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 0.69rem;
            box-sizing: border-box;
            margin-bottom: 0.51rem;
            .yuan {
                width: 0.3rem;
                height: 0.3rem;
                border: 0.01rem solid #3D5765;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .small_yuan {
                    width: 0.16rem;
                    height: 0.16rem;
                    border: 0.01rem solid #3D5765;
                    border-radius: 100%;
                }
            }
            .res {
                color: #333333;
                font-size: 0.3rem;
                margin-left: 0.19rem;
            }
        }
    }

    .yuan_click {
        background: #3D5765;
    }
</style>
